<basic-menu></basic-menu>

<div class="container" ng-controller="addressEditor">
    <pagetitle ng-if="strikeIronAddressFound" title="Edit Suggested Address"></pagetitle>
    <pagetitle ng-if="!strikeIronAddressFound" title="Please Edit If Needed"></pagetitle>
    
    <div class="row">
        <div class="col-md-6">
            <form action="${continue_url}" method="post" class="form-horizontal" role="form">
                <fieldset>
                    <div class="form-group" ng-if="addressUserRejectionCount > 1 || !strikeIronAddressFound">
                        <label class="col-md-4 control-label">Street Number</label>
                        <div class="col-md-5">
                            <input 
                                class="form-control"
                                name="streetNumber"
                                type="text"
                                tabindex="1"
                                value="{{ output.streetNumber }}">
                            </input>
                        </div>
                    </div>

                    <div class="form-group" ng-if="addressUserRejectionCount > 1 || !strikeIronAddressFound">
                        <label class="col-md-4 control-label"><strong>Street Name</strong></label>
                        <div class="col-md-5">
                            <input 
                                class="form-control"
                                name="streetName"
                                type="text"
                                tabindex="2"
                                value="{{ output.streetName }}">
                            </input>
                        </div>
                    </div>

                    <div class="form-group" ng-if="addressUserRejectionCount > 1 || !strikeIronAddressFound">
                        <label class="col-md-4 control-label">Building Name</label>
                        <div class="col-md-5">
                            <input 
                                class="form-control"
                                name="buildingName"
                                type="text"
                                tabindex="3"
                                value="{{ output.buildingName }}">
                            </input>
                        </div>
                    </div>

                    <div class="form-group" ng-if="addressUserRejectionCount > 1 || !strikeIronAddressFound">
                        <label class="col-md-4 control-label">City / Town / Village</label>
                        <div class="col-md-5">
                            <input 
                                class="form-control"
                                name="locality"
                                type="text"
                                tabindex="4"
                                value="{{ output.locality }}">
                            </input>
                        </div>
                    </div>

                    <div class="form-group" ng-if="addressUserRejectionCount < 2 && strikeIronAddressFound">
                        <label class="col-md-4 control-label"><strong>Address</strong></label>
                        <div class="col-md-5">
                            <textarea
                                class="form-control"
                                name="address"
                                rows="3"
                                tabindex="5">{{ output.addressBlob }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"><strong>Postal Code</strong></label>
                        <div class="col-md-5">
                            <input 
                                class="form-control"
                                name="postalCode"
                                type="text"
                                tabindex="6"
                                value="{{ output.postalCode }}">
                            </input>
                        </div>
                    </div>

                    <div class="form-group" ng-if="addressUserRejectionCount > 1 || !strikeIronAddressFound">
                        <label class="col-md-4 control-label">State / Province</label>
                        <div class="col-md-5">
                            <input 
                                class="form-control"
                                name="province"
                                type="text"
                                tabindex="7"
                                value="{{ output.province }}">
                            </input>
                        </div>
                    </div>

                    <div class="form-group">
                        <s:set var="selected_country" value="'Canada'" />
                        <s:set var="countries" value="{'Australia', 'Canada', 'United States'}" />

                        <label class="col-md-4 control-label"><strong>Country</strong></label>
                        <div class="col-md-5">
                            <select name="country" class="form-control select2" tabindex="8">
                                <option 
                                    ng-if="country.isoCode == output.countryIso"
                                    ng-repeat="country in countryList"
                                    value="country.isoCode"
                                    selected>
                                    {{ country.name }}
                                </option>
                                <option
                                    ng-if="country.isoCode != output.countryIso"
                                    ng-repeat="country in countryList"
                                    value="country.isoCode">
                                    {{ country.name }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4 form-actions">
                            <button type="submit" class="btn btn-success" tabindex="9">Continue</button>
                            <a href="#" class="btn btn-default">Back</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-5">
            <div class="well">
                <div class="col-md-12">
                    <p class="title">You Entered:</p>
                </div>
                <dl class="employee-guard-information">
                    <dt class="col-md-4">
                        <label>Address</label>
                    </dt>
                    <dd class="col-md-8">
                        <span ng-repeat-start="line in addressLines">
                            {{ line }}
                        </span>
                        <br ng-repeat-end>
                    </dd>
                    <dt class="col-md-4">
                        <label>Postal Code</label>
                    </dt>
                    <dd class="col-md-8">
                        {{ input.postalCode }}
                    </dd>
                    <dt class="col-md-4">
                        <label>Country</label>
                    </dt>
                    <dd class="col-md-8">
                        {{ input.country }}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<ugly-footer></ugly-footer>