// available field modal
$available_field_modal_border_color: #333;

// available field modal - header
$available_field_modal_header_background_color: #454545;
$available_field_modal_header_text_color: #fff;

// available field modal - search
$available_field_modal_search_background_color: #eaeaea;

// available field modal - search icon
$available_field_modal_search_icon_search_text_color: #ccc;

// available field list - group
$available_field_list_group_background_color: #454545;
$available_field_list_group_border_color_bottom: #333;
$available_field_list_group_border_color_top: #333;
$available_field_list_group_text_color: #fff;

// available field list - group num items
$available_field_list_group_num_items_text_color: #999;

// available field list - row
$available_field_list_row_background_color: #fff;
$available_field_list_row_border_color_right: #dcdcdc;
$available_field_list_row_text_color: #333;

// available field list - row selected
$available_field_list_row_selected_background_color: #c3e0f9;

// available field modal - footer
$available_field_modal_footer_background_color: #454545;

#available_field_modal
{
	border: 1px solid $available_field_modal_border_color;
	@include border-radius(0px);
}

#available_field_modal_header
{
	background: $available_field_modal_header_background_color;
	border: 0px;
	@include border-radius(0px);
	padding: 10px;
}

#available_field_modal_header span
{
	color: $available_field_modal_header_text_color;
	font-size: 18px;
	font-weight: bold;
}

#available_field_search
{
	background: $available_field_modal_search_background_color;
}

#available_field_search label
{
	line-height: 16px;
	padding: 7px 0px 0px;
}

#available_field_search .icon-search
{
	color: $available_field_modal_search_icon_search_text_color;
	font-size: 16px;
}

#available_field_search .x-form-text
{
	@include border-radius(15px);
	height: 25px;
	padding: 0px 7px;
}

#available_field_modal-body,
#available_field_list-body
{
	border: 0px;
}

.x-grid-group-hd-collapsible .x-grid-group-title
{
	background-image: url('../../app/resources/images/grid/group-expand.gif');
	background-position: 100% 0px;
	padding: 0px;
}

.x-grid-group-hd-collapsible.x-over .x-grid-group-title
{
	background-position: 100% -14px;
}

.x-grid-group-hd-collapsed .x-grid-group-title
{
	background-image: url('../../app/resources/images/grid/group-collapse.gif');
}

.x-grid-group-hd-collapsed.x-over .x-grid-group-title
{
	background-position: 100% -14px;
}

#available_field_list
{
	.x-grid-row .x-grid-cell-special
	{
		background: $available_field_list_row_background_color;
		background-image: none !important;
		border-right: 1px solid $available_field_list_row_border_color_right;
	}
	
	.x-grid-cell-special .x-grid-cell-inner
	{
		padding-left: 6px;
	}
	
	.x-grid-row-alt .x-grid-cell-special,
	.x-grid-row-over .x-grid-cell-special,
	{
		background: $grid-row-cell-alt-background;
	}
	
	.x-grid-row-selected .x-grid-cell,
	.x-grid-row-selected .x-grid-rowwrap-div
	{
		background: $available_field_list_row_selected_background_color;
	}
	
	.x-grid-cell-inner
	{
		color: $available_field_list_row_text_color;
		font-size: 14px;
		padding: 5px;
	}
	
	.x-grid-group-hd .x-grid-cell-inner
	{
		background: $available_field_list_group_background_color;
		border: 0px;
		border-bottom: 1px solid $available_field_list_group_border_color_bottom;
		border-top: 1px solid $available_field_list_group_border_color_top;
		padding: 7px;
	}
	
	.x-grid-group-title
	{
		color: $available_field_list_group_text_color;
	}
	
	.number-of-items
	{
		color: $available_field_list_group_num_items_text_color;
		margin-left: 5px;
	}
}


#available_field_modal_footer
{
	background: $available_field_modal_footer_background_color;
}