#available_field_modal
{
	border: 1px solid #333;
	@include border-radius(0px);
}

#available_field_modal_header
{
	background: #454545;
	border: 0px;
	@include border-radius(0px);
	padding: 10px;
}

#available_field_modal_header span
{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

#available_field_search
{
	background: #eaeaea;
}

#available_field_search label
{
	line-height: 16px;
	padding: 7px 0px 0px;
}

#available_field_search .icon-search
{
	color: #ccc;
	font-size: 16px;
}

#available_field_search .x-form-text
{
	@include border-radius(15px);
	height: 25px;
	padding: 0px 7px;
}

#available_field_modal-body,
#available_field_list-body
{
	border: 0px;
}

.x-grid-group-hd-collapsible .x-grid-group-title
{
	background-image: url('../../app/resources/images/grid/group-expand.gif');
	background-position: 100% 0px;
	padding: 0px;
}

.x-grid-group-hd-collapsible.x-over .x-grid-group-title
{
	background-position: 100% -14px;
}

.x-grid-group-hd-collapsed .x-grid-group-title
{
	background-image: url('../../app/resources/images/grid/group-collapse.gif');
}

.x-grid-group-hd-collapsed.x-over .x-grid-group-title
{
	background-position: 100% -14px;
}

#available_field_list
{
	.x-grid-row .x-grid-cell-special
	{
		background: #fff;
		background-image: none !important;
		border-right: 1px solid #dcdcdc;
	}
	
	.x-grid-cell-special .x-grid-cell-inner
	{
		padding-left: 6px;
	}
	
	.x-grid-row-alt .x-grid-cell-special,
	.x-grid-row-over .x-grid-cell-special,
	{
		background: $grid-row-cell-alt-background;
	}
	
	.x-grid-row-selected .x-grid-cell,
	.x-grid-row-selected .x-grid-rowwrap-div
	{
		background: #c3e0f9;
	}
	
	.x-grid-cell-inner
	{
		color: #333;
		font-size: 14px;
		padding: 5px;
	}
	
	.x-grid-group-hd .x-grid-cell-inner
	{
		background: #454545;
		border: 0px;
		border-bottom: 1px solid #333;
		border-top: 1px solid #333;
		padding: 7px;
	}
	
	.x-grid-group-title
	{
		color: #fff;
	}
	
	.number-of-items
	{
		color: #999;
		margin-left: 5px;
	}
}


#available_field_modal_footer
{
	background: #454545;
}