#Tutorial_navigationMenu_page
{
	background-color: #454545;
	padding-top: 0;
	
	header
	{
		background-color: #f1f1f2;
		margin: 0 -20px;
		overflow: hidden;
		padding: 30px 20px;
	}
	
	.page-title
	{
		float: left;

		h1
		{
			color: #808285;
			font-size: 60px;
			font-weight: normal;
			line-height: 1;
			margin: 0;
		}
		
		h2
		{
			color: #a84d10;
			font-size: 14px;
			line-height: 1;
		}
	}
	
	.logo
	{
		float: right;
		margin: 30px 30px 0 0;
		width: 165px;
	}
	
	.content
	{
		background-color: #f1f1f2;
		margin: 0 -20px;
		padding: 20px;
	
		.row
		{
			margin-bottom: 60px;
			margin-top: 60px;
		}
	}
	
	.row.dashboard
	{
		margin-top: 40px;
	}
	
	.dashboard
	{
		.image-container
		{
			float: right;
			text-align: right;
		}
		
		img
		{
			margin-right: -20px;
		}
	}
	
	.settings
	{
		.image-container
		{
			text-align: left;
		}
		
		img
		{
			margin-left: -20px;
		}
	}
	
	.row.support
	{
		margin-bottom: 40px;
	}
	
	.support
	{
		
		.image-container
		{
			float: right;
			text-align: center;
		}
	}
	
	.overview
	{
		h1
		{
			color: #73bbe8;
			font-size: 24px;
			font-weight: normal;
			line-height: 1;
			margin-top: 0;
		}
		
		p
		{
			color: #666;
		}
	}
	
	footer
	{
		background-color: #ccc;
		@include background-image(linear-gradient(#eaeaea, #ccc));
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeaeaea', endColorstr='#ffcccccc', GradientType=0);
		border-top: 1px solid #999;
		margin: 0 -20px;
		padding: 30px 20px;
		text-align: center;
		
		a
		{
			margin-bottom: 10px;
		}
		
		p
		{
			color: #808285;
		}
	}
}

@media (max-width: 767px) {
	#Tutorial_navigationMenu_page
	{
		background-color: #f1f1f2;
		
		header
		{
			text-align: center;
		}
		
		.page-title
		{
			float: none;
			
			h1
			{
				font-size: 40px;
			}
		}
		
		.logo
		{
			float: none;
			margin-bottom: 30px;
			width: 100px;
		}
		
		.content
		{
			.row
			{
				margin-bottom: 30px;
				margin-top: 30px;
			}
		}
		
		.dashboard img
		{

		}
		
		.settings
		{
			margin-bottom: 30px;
		}
		
		.settings img
		{

		}
		
		.support
		{
			margin-top: 30px;
		}
		
		.support img
		{

		}
		
		footer
		{
			margin: 0 -20px;
		}
	}
}