<div ng-controller="operatorEmployeeCtrl" class="operator-employee-page">
    <div class="container">
        <pagetitle title="Live ID"></pagetitle>
        <div class="page-subheader">
            <div class="row">
                <div class="col-md-8">
                    <ol class="breadcrumb">
                        <li><a href="/employee-guard/operators/dashboard">EmployeeGUARD</a></li>
                        <li class="active">{{ employee.firstName }} {{employee.lastName}}</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row employee-info">
            <div class="col-md-3">
                <figure class="employee-image img-thumbnail">
                    <img src="{{ employee.image }}" class="img-responsive" alt="{{ employee.firstName }} {{employee.lastName}}" width="250" height="250"/>
                </figure>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-9">
                        <p class="name">{{ employee.firstName }} {{employee.lastName}}</p>
                        <ul class="list-unstyled">
                            <li class="company" ng-repeat-start="company in employee.companies">
                                {{ company.name }}
                            </li>
                            <li class="title" ng-repeat-end>
                                {{ company.title }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <skillstatusicon status="{{ employeeStatusIcon }}" class="pull-right"></skillstatusicon>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary" ng-show="user === 'corporate'">
                    <div class="panel-heading ">
                        <h3 class="panel-title">Site Selection</h3>
                    </div>
                    <div class="panel-body">
                        <select ui-select2="{ minimumResultsForSearch: -1, width: '100%' }" ng-model="selected_site" ng-change="loadSelectedSiteData(selected_site)">
                            <option ng-repeat="site in siteList | orderBy:'name'" ng-selected="{{ site.id === selected_site }}" value="{{ site.id }}">{{ site.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="bs-sidebar">
                    <nav id="side-navigation" class="navbar bs-sidenav" role="navigation" ng-switch="user">
                        <ul class="nav" role="menu" ng-switch-when="corporate">
                            <li ng-class="{active: selectedMenuItem == 'all'}">
                                <a href="/employee-guard/operators/employees/{{ employee.id }}/sites/{{ selected_site }}">All
                                    <skillstatusicon status="{{ employee.status }}" class="pull-right"></skillstatusicon>
                                </a>
                            </li>
                            <li class="nav-divider"></li>
                            <li ng-show="roles">
                                <span class="nav-title">Job Roles</span>
                            </li>
                            <li ng-repeat="role in roles" ng-class="{active: selectedMenuItem == role.slug}">
                                <a href="/employee-guard/operators/employees/{{ employee.id }}/sites/{{ selected_site }}/roles/{{ role.slug }}">
                                    {{ role.name }}
                                    <skillstatusicon status="{{ role.status }}" class="pull-right"></skillstatusicon>
                                </a>
                            </li>
                            <li class="nav-divider" ng-show="roles"></li>
                            <li ng-show="projects">
                                <span class="nav-title">Projects</span>
                            </li>

                            <li ng-repeat="project in projects" ng-class="{active: selectedMenuItem == project.slug}">
                                <a href="/employee-guard/operators/employees/{{ employee.id }}/sites/{{ selected_site }}/projects/{{ project.name | removeInvalidCharactersFromUrl }}">
                                    {{ project.name }}
                                    <skillstatusicon status="{{ project.status }}" class="pull-right"></skillstatusicon>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav" role="menu" ng-switch-default>
                            <li ng-class="{active: selectedMenuItem == 'all'}">
                                <a href="/employee-guard/operators/employees/{{ employee.id }}/">All
                                    <skillstatusicon status="{{ employee.status }}" class="pull-right"></skillstatusicon>
                                </a>
                            </li>
                            <li class="nav-divider"></li>
                            <li ng-show="roles">
                                <span class="nav-title">Job Roles</span>
                            </li>
                            <li ng-repeat="role in roles" ng-class="{active: selectedMenuItem == role.slug}">
                                <a href="/employee-guard/operators/employees/{{ employee.id }}/roles/{{ role.slug }}">
                                    {{ role.name }}
                                    <skillstatusicon status="{{ role.status }}" class="pull-right"></skillstatusicon>
                                </a>
                            </li>
                            <li class="nav-divider" ng-show="roles"></li>
                            <li ng-show="projects">
                                <span class="nav-title">Projects</span>
                            </li>

                            <li ng-repeat="project in projects" ng-class="{active: selectedMenuItem == project.slug}">
                                <a href="/employee-guard/operators/employees/{{ employee.id }}/projects/{{ project.name | removeInvalidCharactersFromUrl }}">
                                    {{ project.name }}
                                    <skillstatusicon status="{{ project.status }}" class="pull-right"></skillstatusicon>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-9">
                <div ng-switch on="getSelectedView()">
                    <employeeskillsection ng-show="requiredSkills" title="{{ requiredTitle }}" skills="requiredSkills" icon="map-marker" url-prefix="/employee-guard/employees/{{ employee.id }}/skill/"></employeeskillsection>

                    <div ng-switch-when="role">
                        <employeeskillsection title="{{ viewTitle }}" skills="skillGroup.skills" icon="group" url-prefix="/employee-guard/employees/{{ employee.id }}/skill/"></employeeskillsection>
                    </div>
                    <div ng-switch-when="project">
                        <span ng-repeat="role in skillGroup.roles">
                            <employeeskillsection title="{{ role.name }}" skills="role.skills" icon="group" url-prefix="/employee-guard/employees/{{ employee.id }}/skill/"></employeeskillsection>
                        </span>
                    </div>
                    <div ng-switch-default>
                        <span ng-repeat="project in skillGroup.skills">
                            <employeeskillsection title="{{ project.name }}" skills="project.skills" icon="group" url-prefix="/employee-guard/employees/{{ employee.id }}/skill/"></employeeskillsection>
                        </span>

                        <span ng-repeat="role in roles">
                            <employeeskillsection title="{{ role.name }}" skills="role.skills" icon="group" url-prefix="/employee-guard/employees/{{ employee.id }}/skill/"></employeeskillsection>
                        </span>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>