<div ng-controller="groupListCtrl" class="grouplist">
    <div class="container">
        <pagetitle title="{{ 'GROUP_LIST.TITLE' | translate }}"></pagetitle>
        <div class="page-subheader">
            <div class="row">
                <div class="col-md-8">
                    <ol class="breadcrumb">
                        <li><a href="/employee-guard/operators/dashboard" translate="GROUP_LIST.BREADCRUMB.EMPLOYEEGUARD"></a></li>
                        <li class="active" translate="GROUP_LIST.BREADCRUMB.GROUPS"></li>
                    </ol>
                </div>
                <div class="col-md-4">
                    <div class="page-actions">
                        <a ng-if="userType === 'corporate'" href="/employee-guard/operators/role/create" class="btn btn-default" target="_self"><i class="icon-plus-sign"></i> {{'GROUP_LIST.BUTTON.ADD_GROUP' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="table-search-section employee-guard-section">
            <header>
                <div class="row">
                    <div class="col-md-8">
                        <h1>
                            <i class="icon-group icon-large"></i>{{'GROUP_LIST.GROUPS.TITLE' | translate }}
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <form name="group_search" action="#" class="search-query" role="search">
                            <fieldset>
                                <div class="search-wrapper">
                                    <input name="searchTerm" type="text" class="form-control" ng-model="search" placeholder="{{ 'GROUP_LIST.GROUPS.SEARCH' | translate }}" />
                                    <i class="icon-search"></i>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </header>
            <div class="content no_padding">
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table-hover table-sort" ng-init="orderByField = 'name'; reverseSort = false;" >
                        <thead>
                            <tr>
                                <th ng-class="{'sort-active' : orderByField=='employees'}" class="text-center" tooltip title="{{ 'GROUP_LIST.GROUPS.EMPLOYEES' | translate }}" ng-click="orderByField='employees'; reverseSort = !reverseSort">
                                    <i class="icon-large icon-user"></i>
                                    <i ng-show="orderByField == 'employees'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                                </th>
                                <th ng-class="{'sort-active' : orderByField=='name'}" ng-click="orderByField='name'; reverseSort = !reverseSort"><span translate="GROUP_LIST.GROUPS.GROUP"></span>
                                    <i ng-show="orderByField == 'name'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                                </th>
                                <th translate="GROUP_LIST.GROUPS.REQUIRED_SKILLS"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="group in groups | orderBy:orderByField:reverseSort | filter:search ">
                                <td class="text-center">{{ group.employees.length }}</td>
                                <td>
                                    <a href="/employee-guard/contractor/employee-group/{{ group.id }}" target="_self">{{ group.name }}</a>
                                </td>
                                <td>
                                    <ul class="employee-guard-list skills">
                                        <li ng-repeat="skill in group.skills">
                                        <a href="/employee-guard/contractor/skill/{{ skill.id }}" target="_self"><span class="label label-pics">{{ skill.name }} </span></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>