.well {
  background-color: #E6E6E6;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
    .title {
        color: #666666;
    }
}

.well-required-for {
    border: 0px;
}

.well-required-for ul {
    list-style-type: none;
    padding-left: 0px;
}