/* optiontransferselect */

div.double-list
{
	margin: 10px 0px;
}

div.double-list-left,
div.double-list-action,
div.double-list-right
{
	float: left;
}

div.double-list label
{
	font-size: 13px !important;
	font-weight: normal !important;
}

div.double-list-action
{
	margin: 0px 10px;
}

div.double-list-action input.add-left,
div.double-list-action input.add-right
{
	display: block;
	margin-bottom: 10px;
	position: relative;
	top: 115px;
	width: 75px;
}

/* radio */
 
ul.radio
{
	list-style-type: none;
	margin: 0px;
	overflow: hidden;
}

ul.radio li
{
	padding-left: 0px !important;
}

ul.radio input
{
	float: left;
	margin: 2px 5px 0px 5px;
}

ul.radio.inline li
{
	clear: none !important;
	display: inline !important;
	overflow: hidden;
	padding: 5px 5px 10px 0px !important;
}

ul.radio.inline input
{
	margin: 3px 5px 0px 0px;
}

ul.radio.inline label
{
	float: left !important;
	line-height: 20px !important;
	margin: 0px 8px 0px 0px !important;
}

/* Table */

.table
{
	border-collapse: collapse;
	width: 100%;
}

.table th,
.table td
{
	border: 1px solid #DDDDDD;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 7px 7px 6px;
}

.table th
{
	color: #404040;
	font-weight: bold;
	padding: 10px 10px 9px;
	text-align: center;
}

.table td
{
	vertical-align: middle;
}

.table .odd td
{
	background-color: #EFEFEF;
}

.table tfoot td
{
	background-color: #FFF6D9;
}