/******************** New Primary class="forms"  ************************/
fieldset.form, form.form fieldset {
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	border-style: none;
	border-top: 2px solid #81b2da;
	background-color: #F6F6F0;
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	color: #404245;
}

fieldset.alt {
	background-color: #F0F0F0;
}

fieldset.form h2, form.form h2 {
	color: white;
	font-weight:bold;
	font-size:125%;
	display:block;
	background-color:#81b2da;
	padding:0.2em 0;
	text-indent:5px;
	letter-spacing:0px;
	min-height:25px;
	height:expression(this.height<25?25:true);
}

fieldset.form ol, form.form ol {
	padding-left: 5px;
	list-style: none;
}

fieldset.form ol li, form.form ol li {
	font-size: 15px;
	padding: 4px 5px 12px 10px;
	float: left;
	clear: left;
}

fieldset.form li.required, form.form li.required {
	padding-right: 20px;
	background-image: url(../images/required.png);
	background-repeat: no-repeat;
	background-position: right 28px;
}

.required-info {
	padding-left: 20px;
	background: url(../images/required.png) no-repeat left center;
}

fieldset.form ol li.required.hasdata, form.form li.required.hasdata {
	background-image: none;
}

fieldset.submit, form.form fieldset.submit {
	padding: 1em 0;
	border-bottom: 2px solid #4686bf;
	border-top:2px solid #4686bf;
	background-color:#F2F2F2;
	margin-bottom: 10px;
	float: none;
}

fieldset.submit .picsbutton.positive {
	float: left;
	margin-left: 5em;
}
fieldset.submit .picsbutton.neutral {
	float: left;
	margin-left: 5em;
	background-color: gray;
}
fieldset.submit .picsbutton.negative {
	float: right;
	margin-right: 5em;
}

fieldset.bottom {
	border-bottom: 2px solid #012142;
	margin-bottom: 10px;
	float: none;
	width: auto;
}

fieldset.form label, form.form label, ol.form-style label {
	float: none;
	width: 100%;
	display: block;
	margin: 0 0 5px 0;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: #012142;
	line-height: 15px;
	white-space: nowrap;
	width: auto;
}

fieldset.form label.checkbox, form.form label.checkbox {
	float: none;
	width: auto;
	margin-right: auto;
	text-align: left;
	font-size: inherit;
	font-weight: normal;
	color: inherit;
	line-height: inherit;
}

fieldset.form label.input, form.form label.input {
	float: none;
	width: inherit;
	margin-right: auto;
	text-align: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	display: inherit;
}

form.form input[type=text],form.form input[type=password], form.form textarea,
fieldset.form input[type=text],fieldset.form input[type=password], fieldset.form textarea {
	width: 320px;
	font-size: 14px;
	padding: 2px;
}

/**
* We have to separate these because IE 6 can't see the rules with input[type=text]
**/
fieldset.form select, form.form select {
	width: 320px;
	font-size: 14px;
	padding: 2px;
}
fieldset.form input.input-edit-field, form.form input.input-edit-field {
	width: 320px;
	font-size: 14px;
	padding: 2px;
}

/** Sortable list items **/
.list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.list li {
	margin: 5px;
	padding: 10px;
	border: 1px solid #888;
	cursor: move;
	line-height: 1em;
}

/** Field Help **/
fieldset.form .fieldhelp-focused, form.form .fieldhelp-focused {
	background-color: #ffff99;
}

fieldset.form .fieldhelp-focused input, form.form .fieldhelp-focused input {
	outline: none;
}

.fieldhelp {
	z-index: 99999;
	max-width: 250px;
	width: 250px;
	padding: 10px;
	background-color: #ffff99;
	display: block;
	font-size: 12px;
	line-height: 20px;
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 4px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#666666)";
	/* For IE 5.5 - 7 */
}

fieldset.form .fieldhelp, form.form .fieldhelp {
	display: none;
}

fieldset.form .fieldhelp-focused .fieldhelp, form.form .fieldhelp-focused .fieldhelp {
	position: absolute;
	display: block
}

form.form .fieldhelp.hover, form.form .fieldhelp.mousedown,
fieldset.form .fieldhelp.hover, fieldset.form .fieldhelp.mousedown {
	position: absolute;
	display: block;
	z-index: 1001;
}

div.fieldhelp {
	margin-left: 10px;
	float:none;
	clear:both;
}

div.fieldhelp li {
	font-size: 12px !important;
	list-style-position: inside;
	list-style-type: disc;
	margin: 0px !important;
	padding: 0px !important;
	text-indent:none;
}

div.fieldhelp p {
	clear : both;
	line-height:16px;
}

/*
 * Login form changes
 */
#login fieldset.form input.login {
	padding: 3px;
	font-size: 16px;
	font-weight: bold;
}

div.loginForm {
	width: 500px;
}

.overlay .other {
	display: none
}

/*
 * Jump To Styles for form headers
 */

h2 span.form-title {
	float: left;
}

h2 span.jump-to {
	float: right;
	font-size: 80%;
	margin-right: 5px;
	padding-right: 18px;
	background: url(../images/arrow-360.png) no-repeat right center;
	z-index: 1005;
}

h2.hover span.jump-to
{
	background-color:#012142;
	cursor: pointer;
}

span.jump-to ul.jump-header-list {
	display: none;
	position: absolute;
	right:5px;
	background-color: #ececec;
	color: #464646;
	list-style: none;
	margin-left:-5px;
	line-height:28px;
	border-top:2px solid #012142;
	border-bottom:2px solid #012142;
	font-weight:normal;
}

span.jump-to ul.jump-header-list li a {
	display:block;
	white-space: nowrap;
	cursor:pointer;
	color: #464646;
}

span.jump-to.hover ul.jump-header-list {
	display: block;
	z-index: 1005;
}

ul.jump-header-list li a {
	display:block;
	padding-left:16px;
	padding-right: 4px;
	color: #464646;
	text-decoration:none;
}

ul.jump-header-list li.hover {
	background-color: #ffff99;
	cursor: pointer;
}

ul.jump-header-list li a.jump-top {
	background: url(../images/arrow-up-top.png) no-repeat left center;
	color:#012142;
	font-weight:bold;
}

ul.jump-header-list li a.jump-bottom {
	background: url(../images/arrow-down-bottom.png) no-repeat left center;
	color:#012142;
	font-weight:bold;
}

ul.jump-header-list li.hover a.jump-up {
	background: url(../images/arrow-up.png) no-repeat left center;
	color: #000;
}

ul.jump-header-list li a.jump-current {
	font-weight: bold;
	background-color: #ffc;
	border-top:1px solid white;
	border-bottom:1px solid white;
}

ul.jump-header-list li.hover a.jump-current {
	background: url(../images/arrow-right.png) no-repeat left center;
	color: #000;
}

ul.jump-header-list li.hover a.jump-down {
	background: url(../images/arrow-down.png) no-repeat left center;
	color: #000;
}
