body {
	background-color: #eeeeee;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
}

a img {
	border: 0px none;
	margin: 0px;
	padding: 0px;
}

p {
	padding-top: 1px;
	padding-bottom: 5px;
}

#content div.clear {
	float: none;
	clear: both;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.closeButton {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#systemMessage {
	background-color: #FFF6CC;
	border-bottom: 2px solid #A74D0F;
	color: #A74D0F;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 21px;
	padding-top: 5px;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#systemMessage .system-message-container
{
	display: inline;
}

/********************  Header Styles  ************************/
#header {
	width: 100%;
	height: 52px;
	background-color: #fff;
	background-image: none;
	border-bottom: 2px solid #9e9fa3;
	padding: 0 20px;
}

#header td {
	vertical-align: middle;
	white-space: nowrap;
}

/*#logo {
	border: 0px;
	margin: 0;
	width: 120px;
	padding-top: 1px;
}*/

.head-phone {
	color: #80b3da;
	background-image: url(../images/phone-icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 26px;
	margin-right: 20px;
	padding-left: 20px;
	padding-bottom: 6px;
}

#name {
	margin-right: 5px;
	font-size: 12px;
	color: #464646;
	font-weight: bold;
}

#headersearch {
	text-align: right;
	width: 100%;
	padding-right: 25px;
}

/********************  NEW Header Search Styles  ************************/
#search_box {
	background: #fff;
	border: 1px solid #AAA;
	width: auto;
	height: 18px;
	background-image: url(../images/searchimg.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-position-x: 3px;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 22px;
}

#search_box.ac_loading {
	background-image: url(../images/ajax_process.gif);
}

#search_button {
	font-size: 12px;
	font-style: normal;
	color: #555;
	background: url('../images/search_gradient.gif') repeat-x;
	border: 1px solid #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: 22px;
	position: relative;
	cursor: pointer;
	cursor: hand;
	text-shadow: 1px 0px 0 #DDD;
	font-family: Helvetica, Arial, sans-serif;
	padding-top: 2px;
}

/* Hack for Mozilla! */
@
-moz-document url-prefix () { #search_button { padding-bottom:2px;

}

}

.ac_results .accountDeactivated
{
	text-decoration: line-through;
}

.ac_results .accountDemo,
.ac_results .accountPending
{
	font-style: italic;
}

/********************  SIDEBOX STYLES - OLD SMALLNAV  ************************/
#sidebox {
	text-align: right;
	margin: 11px auto 0 auto;
	height: 30px;
	background: none;
}

#sidebox p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464646;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 7px;
}

#sidebox a,#sidebox a:link,#sidebox a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #343434;
	padding: 5px;
	background-color: none;
	text-decoration: underline;
}

#sidebox a:hover,#sidebox a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #343434;
	padding: 5px;
	background-color: #fff;
	text-decoration: none;
}

#profile_summary {
	color: #1B3665;
	background-color: #eeeeee;
	position: absolute;
	top: 38px;
	right: 100px;
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 5px;
	border: white 1px solid;
}

/********************  Main body Styles  ************************/
#bodyholder {
	margin: 0 auto;
	background-color: white;
	border: solid 1px #c3c3c3;
}

#main {
	margin: 0 20px;
}

#content {
	margin: 0;
	padding: 45px;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #4C4D4D;
}

#content button {
	line-height: normal;
}

#content div.container {
	margin: 0px;
	margin-bottom: 5px;
	padding: 15px;
	border: 1px solid #6699CC;
	background-color: white;
}

#companyinfo {
	position: relative;
}

div#maincontainer {
	padding: 40px;
	background-color: #797B7A;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 28px;
	color: #F7F7F7;
}

.left {
	float: left;
}

.right {
	float: right;
	clear: right;
}

/******************** Footer Styles  ************************/
div.footer {
	background-color: #012142;
	padding: 25px;
	margin-top: 35px;
	color: #6699CC;
	font-weight: normal;
	font-family: sans-serif;
	font-size: 11px;
	border-top: 3px solid #4686bf;
}

#footermain {
	margin: 0 10px;
}

#footercontent {
	margin: 0 auto;
}

a.footer:link {
	font-size: 11px;
	color: #6699CC;
	text-decoration: none;
	padding: 2px;
}

a.footer:visited {
	font-size: 11px;
	color: #6699CC;
	text-decoration: none;
	padding: 2px;
}

a.footer:hover {
	font-size: 11px;
	color: rgb(168, 77, 16);
	padding: 2px;
	text-decoration: none;
}

/******************** Headers, Text and Links  ************************/
h1,h2,h3,h4,h5,h6 {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
}

h1 {
	font-size: 32px;
	color: rgb(168, 77, 16);
	padding: 0 0 10px 0;
	line-height: 1em;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	border-bottom: solid 2px rgb(168, 77, 16);
}

h2 {
	font-size: 28px;
	color: rgb(168, 77, 16);
}

h3 {
	font-size: 22px;
	color: rgb(168, 77, 16);
}

h4 {
	font-size: 18px;
	color: #4686bf;
}

h5 {
	font-size: 14px;
	color: #808285;
}

h6 {
	font-size: 12px;
	color: #012142;
}

a:link,a:visited {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #012142;
	text-decoration: underline;
}

a:hover,a:active {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: rgb(168, 77, 16);
	text-decoration: underline;
}

b,strong {
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left: 10px;
}

ul li {

}

.sub { /* used as a sub-header title */
	font-size: 18px;
	display: block;
	margin-top: -5px;
	margin-left: 2px;
	color: #012142;
}

a[href $=".doc"] {
	background: url('../images/icon_link_word.png') no-repeat left center;;
	padding-left: 14px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	zoom: 1;
}

a[href $=".pdf"],a.pdf {
	background: url('../images/icon_link_pdf.png') no-repeat left center;
	padding-left: 14px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	zoom: 1;
}

a[href $=".xls"],a.excel {
	background: url('../images/icon_link_excel.png') no-repeat left center;
	padding-left: 14px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	zoom: 1;
}

a.email {
	background: url('../images/icon_link_email.png') no-repeat right center;
	padding-left: 0;
	padding-right: 15px;
	padding-top: 0;
	padding-bottom: 0;
	zoom: 1;
}

a.email2 {
    padding-left: 17px;
    margin-left: 5px;
    background: url('../images/icon_link_email.png') no-repeat left center;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
    zoom: 1;
}

a.email_left {
    background: url('../images/icon_link_email.png') no-repeat left center;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    zoom: 1;
}

a.ext {
	padding-right: 13px;
	margin-right: 2px;
	background: url('../images/icon_link_ext.png') no-repeat right center;
	zoom: 1;
}

a.print {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/print_icon.gif') no-repeat left center;;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	zoom: 1;
}

a.remove {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/cross.png') no-repeat left center;
	zoom: 1;
}

a.preview {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/preview.gif') no-repeat left center;
	zoom: 1;
}

a.note {
	padding-left: 18px;
	margin-left: 2px;
	background: url('../images/postit.png') no-repeat left center;
	zoom: 1;
}

a.add {
	padding-left: 18px;
	margin-left: 2px;
	background: url('../images/plus.png') no-repeat left center;
	zoom: 1;
}

a.addremove {
	padding-left: 18px;
	margin-left: 5px;
	background: url('../images/add_remove.png') no-repeat left center;
	zoom: 1;
}

a.edit {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/edit_pencil.png') no-repeat left center;
	zoom: 1;
}

a.edit1 {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/edit_pencil1.png') no-repeat left center;
	zoom: 1;
}

a.edit2 {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/edit_pencil2.png') no-repeat left center;
	zoom: 1;
}

a.filter {
	padding-left: 24px;
	margin-left: 5px;
	background: url('../images/filter.png') no-repeat left center;
	zoom: 1;
}

a.calendar {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/calendar.png') no-repeat left center;
	zoom: 1;
}

a.file {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/file.png') no-repeat left center;
	zoom: 1;
}

a.percent {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/percent.png') no-repeat left center;
	zoom: 1;
}

a.uploadreq {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/upload.png') no-repeat left center;
	zoom: 1;
}

a.refresh {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/arrow-360.png') no-repeat left center;
	zoom: 1;
}

a.go {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/arrow-right.gif') no-repeat left center;
	zoom: 1;
}

a.save {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/save.gif') no-repeat left center;
	zoom: 1;
}

a.verify {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/okCheck.png') no-repeat left center;
	zoom: 1;
}

a.view {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/edit_pencil.png') no-repeat left center;
	zoom: 1;
}

a.help {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/help.gif') no-repeat left center;
	zoom: 1;
	cursor: help;
}

a.helpBig {
	padding: 5px 12px 12px;
	margin-left: 2px;
	background: url('../images/help-question.png') no-repeat left center;
	zoom: 1;
	cursor: help;
}

a.insurance {
	background: url('../images/icon_insurance.gif') no-repeat left center;
	padding: 3px 0 3px 20px;
	zoom: 1;
}

a.watch {
	background: url('../images/binoculars.png') no-repeat left center;
	padding-left: 17px;
}

a.clearfield {
	background: url('../images/clear.png') no-repeat left center;
	padding-left: 17px;
}

a.up-arrow {
	background: url(../images/arrow-up.png) no-repeat left center;
	padding-left: 20px;
}

a.down-arrow {
	background: url(../images/arrow-down.png) no-repeat left center;
	padding-left: 20px;
}

a.top {
	padding-left: 18px;
	margin-left: 2px;
	background: url('../images/arrow-up-top.png') no-repeat left center;
	zoom: 1;
}

a.processing {
	background: url('../images/ajax_process.gif') no-repeat left center;
}

label.tooltipped {
	background: url('../images/icon_text_alert.png') no-repeat left center;
	zoom: 1;
}

.okayCheck {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/okCheck.png') no-repeat left center;
	zoom: 1;
}

/******************** Styles for vCard  ************************/ /*
.vcard p{
 line-height: 15px;
  margin-bottom: -5px;
} */
p.email a {
	background: url('../images/icon_link_email.png') no-repeat right center;;
	padding-left: 0;
	padding-right: 15px;
	padding-top: 0;
	padding-bottom: 0;
	zoom: 1;
}

p.url a {
	padding-right: 13px;
	margin-right: 2px;
	background: url('../images/icon_link_ext.png') no-repeat right center;
	zoom: 1;
}

div.contact {
	position: relative;
	top: -3px;
}

#vcardimage {
	position: absolute;
	left: 650px;
}

.infobox {
	width: 380px;
}

div.message_info {
	width: 380px;
	border: 1px solid black;
}

/******************** Internal Page Navigation  ************************/
#internalnavcontainer {
	height: 30px;
}

ul#navlist {
	float: right;
	position: relative;
	white-space: nowrap;
	display: block;
	padding-top: 0px;
	margin-top: -14px;
	margin-right: 0px;
	line-height: 30px
}

#navlist li
{
	border: 0px;
	display: inline;
	font-size: 13px;
	list-style-type: none;
	margin-left: 3px;
}

#navlist a {
	padding: 8px 10px;
}

#navlist li#last {
	margin-left: 5px;
}

#navlist a:link,#navlist a:visited {
	color: #fff;
	background-color: #012142;
	text-decoration: none;
}

#navlist a:hover,#navlist a:active {
	color: #fff;
	background-color: rgb(168, 77, 16);
	text-decoration: none;
}

#navlist a.dropdown,#navlist a.dropdown:active,#navlist a.dropdown:visited,#navlist a.dropdown:hover
	{
	background-image: url('../images/down.gif');
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 18px;
}

#navlist a.current {
	color: #fff;
	background-color: rgb(168, 77, 16);
	text-decoration: none;
}

#navlist span.inactive {
	color: #FFFFFF;
	background-color: #C0C0C0;
	text-decoration: none;
	font-weight: bold;
	padding: 6px 10px 8px 10px;
}

#navlist a.inactive:hover,#navlist a.inactive:active {
	padding: 8px 10px;
}

#navlist .current {
	color: #fff;
	background-color: rgb(168, 77, 16);
	text-decoration: none;
}

#navlist .inactive {
	color: #FFFFFF;
	background-color: #C0C0C0;
	text-decoration: none;
	font-weight: bold;
}

.accountDemo,table.report td a.accountDemo {
	font-style: italic;
}

.accountPending,table.report td a.accountPending {
	background-color: #FFA;
}

table.report td a.inactive,
table.report td a.accountDeactivated,
table.report td a.accountDeleted,
table.report td a.userActiveNo
{
	color: #4C4D4D;
	text-decoration: line-through;
}

table.report tr.future {
	background-color: #FFA;
	color: #4C4D4D;
}

/************* Search *************/
#search {
	display: block;
	background-color: #EEEEEE;
	border-top: 1px solid #A84D10;
	border-bottom: 1px solid #A84D10;
	padding: 5px;
}

/*** FLAG Colors ***/
.Green {
	color: #272;
}

.Amber {
	color: #770;
}

.Red {
	color: #900;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
	padding: 5px;
}

/********************** Special Styles ******************************/
div#info,div#alert,div#error,div.info,div.alert,div.error,div.helpbox {
	padding: 1em 1em 1em 4em;
	margin: 10px 0;
	width: 86%;
	clear: left;
}

div#info,div.info {
	border-top: 2px solid #b7d2f2;
	border-bottom: 2px solid #b7d2f2;
	background: #dbe7f8 url('../images/icon-info.gif') no-repeat 10px 10px;
	zoom: 1;
}

div#alert,div.alert {
	border-top: 2px solid #D0AE10;
	border-bottom: 2px solid #D0AE10;
	background: #FBF2C9 url('../images/icon-warning.gif') no-repeat 10px
		10px;
	zoom: 1;
}

div#error,div.error {
	border-top: 2px solid #feabab;
	border-bottom: 2px solid #feabab;
	background: #ffdfdf url('../images/icon-error.gif') no-repeat 10px 10px;
	zoom: 1;
}

div.helpbox {
	border-top: 2px solid #F6E385;
	border-bottom: 2px solid #F6E385;
	background: #FBF2C9 url('../images/help-question.png') no-repeat 15px 15px;
	width: auto;
}

td.money,th.money {
	text-align: right;
}

.showPointer {
	cursor: pointer;
}

span.block {
	margin: 0;
	position: relative;
}

span.block span.whatsthis {
	text-decoration: underline;
	color: rgb(0, 55, 104);
}

span.block span.whatsthis:hover {
	color: rgb(168, 77, 16);
}

span.hoverhelp {
	text-align: left;
	width: 190px;
	height: 120px;
	padding: 15px;
	position: absolute;
	bottom: 5px;
	left: -80px;
	display: none;
	margin: 0 auto;
	background-image: url('../images/hovertip.png');
	text-decoration: none !important;
	font-size: 11px;
	line-height: 18px;
	color: #333;
	zoom: 1;
}

span.hoverhelp a {
	width: 90%;
	display: block;
	text-align: right;
}

span.block:hover .hoverhelp {
	display: block;
}

/* PREVIOUS & NEXT */
.navigationButtons
{
	overflow: hidden;
	padding: 10px 0;
}

.navigationButtons .previous
{
	float: left;
}

.navigationButtons .next
{
	float: right;
}

.navigationButtonsBottom
{
	margin-top: 10px;
}

/********************** LIVE HELP BOX ******************************/
#helpbox
{
	background-color: #ECECEC;
	border-bottom: 1px solid #C3C3C3;
	border-left: 1px solid #C3C3C3;
	font-size: 12px;
	line-height: 18px;
	padding: 5px;
	position: absolute;
	right: 21px;
	text-align: right;
	z-index: 9;
}

#helpbox a
{
	background: url('../images/help.gif') no-repeat left center;
	margin-left: 2px;
	padding-left: 17px;
	zoom: 1;
}

#content div.helpOnRight {
	border-top: 2px solid #b7d2f2;
	border-bottom: 2px solid #b7d2f2;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 5em;
	margin-top: 10px;
	float: right;
	font-size: 12px;
	background: #dbe7f8 url('../images/icon-info.gif') no-repeat 10px 10px;
	width: 25%;
	zoom: 1;
}

#unsupportedBrowser {
	font-size: 11px;
	position: absolute;
	top: 0px;
	left: 150px;
	width: 315px;
	background-color: white;
}

div.pageStats {
	float: right;
	line-height: 14px;
	position: relative;
	top: -8px;
}

/**** Legacy Styles ****/
.blueSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 15px;
}

a.blueSmall:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 15px;
}

.blueMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
}

.redMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(168, 77, 16);
	line-height: 23px;
}

.redMain img {
	padding-right: 2px;
	position: relative;
	top: 4px;
}

.whiteMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
}

.whiteTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a.whiteTitle:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a.whiteTitle:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a.whiteTitle:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

.forms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
}

.blueHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
	font-weight: bold;
}

a.blueHeader:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
	font-weight: bold;
}

table.report tr.clickable:hover,table.notes tr.clickable:hover,.tr-hover-clickable
	{
	background-color: #FFC;
	color: black;
	cursor: pointer;
}

button .ui-icon {
	float: left;
	margin-right: 0.5em;
}

/****** No - Linewrap *******/
.nobr {
	white-space: nowrap;
}

.hide {
	display: none;
}

/****** ClearFix *************/
/* float clearing for IE6 */
* html .clearfix {
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix {
	min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

/** blockUI ajaxDialog **/
div.blockDialog {
	display: none;
	cursor: default;
	height: 250px;
	text-align: left;
	padding: 15px 10px;
	overflow-y: auto;
}

/***************** Debugging *******************/

.debug {
	display: none;
}

.debugging .debug {
	display: inline-block;
}

#debug-menu span:after {
	content: " OFF";
}

.debugging #debug-menu span:after {
	content: " ON";
}

/* locales */

.locales
{
	list-style-type: none;
	margin: 0px 0px 20px 0px;
}

.locales li
{
	display: inline;
	margin-right: 10px;
}

.locales a,
.locales a:visited,
.locales a:hover,
.locales a:active
{
	text-decoration: none;
	font-weight: bold;
	color: #404040;
}

.locales a:hover,
.locales a:active
{
	text-decoration: underline;
}

/* workflow */
.previous-status
{
	color: #AAA;
}

/* email subscriptions */
#tab_subscriptions div
{
	clear: both;
	overflow: hidden;
}

#tab_subscriptions h4
{
	margin-top: 10px;
}

/* Operator Tags */

#operatorTagForm .tag-info
{
	margin: 30px 0px;
}

#operatorTagForm .tag-info ul
{
	margin-left: 20px;
}

#operatorTagForm .table td.tag-id
{
	color: #404040;
	font-weight: bold;
	text-align: right;
}

#operatorTagForm .table td.tag-name
{
	width: 45%;
}

#operatorTagForm .table td.tag-name span.info
{
	float: right;
	padding: 2px 6px;
}

#operatorTagForm .table td.visible-client-site,
#operatorTagForm .table td.visible-contractor,
#operatorTagForm .table td.inherit-client-site
{
	text-align: center;
}

#operatorTagForm .table .actions
{
	white-space: nowrap;
}

#operatorTagForm .table input
{
	height: 20px;
	padding: 0px 3px;
	width: 250px;
}

#operatorTagForm .table .actions a
{
	text-decoration: none;
}

#operatorTagForm .table td.add-new-tag
{
	font-weight: bold;
}

#operatorTagForm .table td.add-new-tag span
{
	display: block;
	margin-bottom: 10px;
}

#operatorTagForm .btn
{
	margin: 0px;
}

#operatorTagForm .table .btn
{
	margin-right: 5px;
	padding: 2px 9px 3px;
}

#operatorTagForm ul.actions
{
	list-style: none;
	margin: 20px 0px;
}

.operator-tag-modal table
{
	margin: 0px !important;
}

/* Contractor Safety Statistics */

.contractor-safety-statistics td span.rate-type
{
	float: left;
}

.contractor-safety-statistics a.rate-type-tooltip
{
	display: block;
	float: right;
	height: 16px;
	width: 16px;
}

.contractor-safety-statistics .panel_header .hurdle-rate
{
	float: right;
}

.contractor-safety-statistics a.weighted-industry-average
{
	float: right;
	margin: 10px;
}

.trir-weighted-industry-average-modal table .trade-name
{
	width: 60%
}

.trir-weighted-industry-average-modal table .naics-average
{
	text-align: right;
}

.trir-weighted-industry-average-modal table tfoot td
{
	font-size: 16px;
	font-weight: bold;
	padding: 14px 7px 13px;
	text-align: right;
}

/* Contractor Flag Matrix */

.contractor-flag-matrix td.green-flag,
.contractor-flag-matrix td.amber-flag,
.contractor-flag-matrix td.red-flag
{
	text-align: center;
}

#content .contractor-flag-matrix div.panel_content
{
	max-height: 300px;
	overflow-y: scroll;
}

.print-contractor-flag-matrix
{
	float: right;
}

/* Translations */

.translation-list
{
	width: 100%;
	word-break: break-word;
}

.translation-list td
{
	vertical-align: top !important;
}

.translation-list .translation-key
{
	width: 20%;
}

.translation-list .translation-from,
.translation-list .translation-to
{
	width: 40%;
}

.translation-list .suggestTranslation
{
	position: absolute;
	text-decoration: none;
}

.translation-list .view-mode.view-more
{
	cursor: pointer;
}

.translation-list .content
{
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.translation-list .content.view-mode .view
{
	height: 21px;
	overflow: hidden;
}

.translation-list .content.view-mode .view.all
{
	height: auto;
}

.translation-list.dirty .view .text
{
	display: none;
}

.translation-list .content.view-mode .view .text
{
	float: left;
	padding-right: 20px;
	position: relative;
}

.translation-list .content .see-more
{
	line-height: 11px !important;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0px;
	width: 20px;
}

.translation-list .view .actions
{
	float: right;
}

.translation-list .rate
{
	float: left;
	font-size: 11px;
	margin-right: 5px;
	overflow: hidden;
	width: 180px;
}

.translation-list .applicable .is-applicable,
.translation-list .applicable label
{
	float: left;
}

.translation-list .quality-rating
{
    float: left;
    margin: 0 0 0 5px;
}

.translation-list .content.view-mode .view .text *
{
	line-height: normal;
}

.translation-list .content.edit-mode .edit textarea
{
	height: 150px;
	max-height: 300px;
	max-width: 80%;
	padding: 5px;
	width: 80%;
}

.translation-list .content.edit-mode .edit .actions
{
	list-style-type: none;
	margin: 5px 0px 0px;
	overflow: hidden;
}

.translation-list .content.edit-mode .edit .actions li
{
	float: left;
}

.translation-list .translation-changed
{
	font-size: 11px;
}

.translation-list .translation-changed input
{
	position: relative;
	top: 2px;
}

.translation-list .content.view-mode div.view,
.translation-list .content.edit-mode div.edit
{
	display: block;
}

.translation-list .content.view-mode div.edit,
.translation-list .content.edit-mode div.view
{
	display: none;
}

.translation-list .info
{
	background: #CCCCCC;
	border: 1px solid #AAAAAA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	font-size: 11px;
	list-style-type: none;
	margin: 10px 0px 0px;
	padding: 5px;
	overflow: hidden;
}

.translation-list .info li
{
	line-height: 22px;
}

.translation-list .source
{
	font-weight: bold;
}

.translation-list .preview-translation
{
    float: left;
}

/* translation list summary */

.translation-list-summary
{
	border: 1px solid #404040;
}

.translation-list-summary h1
{
	background: #B7D2F2;
	border: 0px;
	border-bottom: 1px solid #404040;
	color: #404040;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0px;
	margin: 0px;
	padding: 5px;
	text-decoration: none;
}

.translation-list-summary ul
{
	list-style-type: none;
}

.translation-list-summary ul,
.translation-list-summary li
{
	float: none !important;
	font-size: 10px !important;
	margin: 0px !important;
	padding: 0px !important;
}

.translation-list-summary li
{
	line-height: normal;
	padding: 5px !important;
}

/* facilities edit */

.operator-approve-relationship-modal
{
	font-size: 13px;
	line-height: 16px;
}

/* profile edit */
#saveProfileForm .change-password
{
	float: right;
	margin-right: 50px;
	text-decoration: none;
}

.ProfileEdit-page ul,
.UsersManage-page ul
{
    margin-left: 0px;
    padding: 5px;
    list-style: none;
}

.ProfileEdit-page #tab_profile li,
.UsersManage-page #UserSave li
{
    clear: left;
    float: left;
    font-size: 15px;
    padding: 4px 5px 12px 10px;
}

/* user change password */
#userSavePassword .cancel-password
{
	float: right;
	margin-right: 50px;
}

/* referral program */

.referral-program img
{
	float: left;
	margin-right: 20px;
}

.referral-program .summary
{
	float: left;
	width: 70%;
}

.referral-program p
{
	font-size: 15px;
	padding: 12px 0px;
}

.ui-datepicker {
	z-index: 12000 !important;
}

/* Contractor Edit page */
.ContractorEdit-page #vat_wrapper
{
  display: none;
}

/* keeps float on multi-select from clearing when within fieldset.form ol li, or form.form ol li  */
.ContractorEdit-page .select2-container-multi .select2-choices li {
    clear: none;
    font-size: 12px;
}

.ContractorEdit-page .select2-container-multi .select2-choices {
	background-image: none;
}

/* End Contractor Edit page */

.search-result-status.account-demo
{
	font-style: italic;
}

.search-result-status.account-deleted,
.search-result-status.account-deactivated,
.search-result-status.user-inactive,
.search-result-status.employee-inactive,
.search-result-status.employee-deleted
{
	text-decoration: line-through;
}

.search-result-status.account-pending
{
	background-color: #FFA;
}

.ac_over .search-result-status.account-pending
{
	background-color: inherit;
}

/* approve contractor form */
#approveContractorForm #operatorNotes
{
    margin: 10px 0px;
    vertical-align: middle;
}

/* audit data upload */
.AuditDataUpload-page p
{
    margin: 0px;
}

.AuditDataUpload-page .upload-reminder
{
    font-weight: bold;
    margin-bottom: 5px;
}

.AuditDataUpload-page .upload-reminder small
{
    font-weight: normal;
    display: block;
}

/* Sesssion Timer */
.session-timeout-notification.alert {
    background: #FCF3CC;
    border: 1px solid #E67E1C;
    color: #E67E1C;
    display:none;
    font-size: 13px;
	left: 0;
    margin: 0px;
    padding: 8px 35px 8px 14px;
	right: 0;
	position: fixed;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    top: 0px;
    width: auto;
    z-index: 99999;
}

.session-timeout-notification.alert strong,
.session-timeout-notification.alert b
{
    font-weight: bold;
}

.session-timeout-notification.alert h4
{
        color: #e67e1c;
        font-size: 18px;
        line-height: 18px;
}

.session-timeout-notification.alert p
{
    padding: 0px;
}

.session-timeout-notification.alert .close
{
    background: transparent;
    border: 0;
    color: #000000;
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    position: relative;
    right: -21px;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-appearance: none;
}

.session-timeout-notification.alert .close:hover
{
    cursor: pointer;
    color: #000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    text-decoration: none;
}

.session-timeout-notification.alert button.close
{
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    -webkit-appearance: none;
}

.session-timeout-notification.alert a
{
    color: #226396;
    text-decoration: none;
}

.session-timeout-notification.alert a:hover
{
    color: #73BBE8;
}

.ConfigChanges-page .deleted {
	background-color: #FBF2C9;
}

/* Registration Request Page */
.RequestNewContractorAccount-page #email_preview_modal th {
	font-weight: bold;
}

.RequestNewContractorAccount-page #email_preview_modal th,
.RequestNewContractorAccount-page #email_preview_modal td {
	padding: 5px;
}

.RequestNewContractorAccount-page #email_preview_modal #email_body {
	background-color: #EEE;
	border: 1px solid #DDD;
}

.RequestNewContractorAccount-page p.matched-on {
	color: #A84D10 !important;
}

.RequestNewContractorAccount-page #duplicated_contractor_cancel_button {
	margin: 0 20px 0 0;
}

.RequestNewContractorAccount-page .address-zip {
	display: none;
}

/*FROM FORM.CSS WHICH REMOVED FROM MAIN.JSP*/
/* optiontransferselect */

div.double-list
{
	margin: 10px 0px;
}

div.double-list-left,
div.double-list-action,
div.double-list-right
{
	float: left;
}

div.double-list label
{
	font-size: 13px !important;
	font-weight: normal !important;
}

div.double-list-action
{
	margin: 0px 10px;
}

div.double-list-action input.add-left,
div.double-list-action input.add-right
{
	display: block;
	margin-bottom: 10px;
	position: relative;
	top: 115px;
	width: 75px;
}

/* radio */

ul.radio
{
	list-style-type: none;
	margin: 0px;
	overflow: hidden;
}

ul.radio li
{
	padding-left: 0px !important;
}

ul.radio input
{
	float: left;
	margin: 2px 5px 0px 5px;
}

ul.radio.inline li
{
	clear: none !important;
	display: inline !important;
	overflow: hidden;
	padding: 5px 5px 10px 0px !important;
}

ul.radio.inline input
{
	margin: 3px 5px 0px 0px;
}

ul.radio.inline label
{
	float: left !important;
	line-height: 20px !important;
	margin: 0px 8px 0px 0px !important;
}

/* Table */
.table
{
	border-collapse: collapse;
	width: 100%;
}

.table th,
.table td
{
	border: 1px solid #DDDDDD;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 7px 7px 6px;
}

.table th
{
	color: #404040;
	font-weight: bold;
	padding: 10px 10px 9px;
	text-align: center;
}

.table td
{
	vertical-align: middle;
}

.table .odd td
{
	background-color: #EFEFEF;
}

.table tfoot td
{
	background-color: #FFF6D9;
}
/*END FORM.CSS*/
/*FROM FORMS.CSS WHICH REMOVED FROM MAIN.JSP*/
/******************** New Primary class="forms"  ************************/
fieldset.form, form.form fieldset {
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	border-style: none;
	border-top: 2px solid #81b2da;
	background-color: #F6F6F0;
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	color: #404245;
}

fieldset.alt {
	background-color: #F0F0F0;
}

fieldset.form h2, form.form h2 {
	color: white;
	font-weight:bold;
	font-size:125%;
	display:block;
	background-color:#81b2da;
	padding:0.2em 0;
	text-indent:5px;
	letter-spacing:0px;
	min-height:25px;
	height:expression(this.height<25?25:true);
}

fieldset.form ol, form.form ol {
	padding-left: 5px;
	list-style: none;
}

fieldset.form ol li, form.form ol li {
	font-size: 15px;
	padding: 4px 5px 12px 10px;
	float: left;
	clear: left;
}

fieldset.form li.required, form.form li.required {
	padding-right: 20px;
	background-image: url(../images/required.png);
	background-repeat: no-repeat;
	background-position: right 28px;
}

.required-info {
	padding-left: 20px;
	background: url(../images/required.png) no-repeat left center;
}

fieldset.form ol li.required.hasdata, form.form li.required.hasdata {
	background-image: none;
}

fieldset.submit, form.form fieldset.submit {
	padding: 1em 0;
	border-bottom: 2px solid #4686bf;
	border-top:2px solid #4686bf;
	background-color:#F2F2F2;
	margin-bottom: 10px;
	float: none;
}

fieldset.submit .picsbutton.positive {
	float: left;
	margin-left: 5em;
}
fieldset.submit .picsbutton.neutral {
	float: left;
	margin-left: 5em;
	background-color: gray;
}
fieldset.submit .picsbutton.negative {
	float: right;
	margin-right: 5em;
}

fieldset.bottom {
	border-bottom: 2px solid #012142;
	margin-bottom: 10px;
	float: none;
	width: auto;
}

fieldset.form label, form.form label, ol.form-style label {
	float: none;
	width: 100%;
	display: block;
	margin: 0 0 5px 0;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: #012142;
	line-height: 15px;
	white-space: nowrap;
	width: auto;
}

fieldset.form label.checkbox, form.form label.checkbox {
	float: none;
	width: auto;
	margin-right: auto;
	text-align: left;
	font-size: inherit;
	font-weight: normal;
	color: inherit;
	line-height: inherit;
}

fieldset.form label.input, form.form label.input {
	float: none;
	width: inherit;
	margin-right: auto;
	text-align: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	display: inherit;
}

form.form input[type=text],form.form input[type=password], form.form textarea,
fieldset.form input[type=text],fieldset.form input[type=password], fieldset.form textarea {
	width: 320px;
	font-size: 14px;
	padding: 2px;
}

/**
* We have to separate these because IE 6 can't see the rules with input[type=text]
**/
fieldset.form select, form.form select {
	width: 320px;
	font-size: 14px;
	padding: 2px;
}
fieldset.form input.input-edit-field, form.form input.input-edit-field {
	width: 320px;
	font-size: 14px;
	padding: 2px;
}

/** Sortable list items **/
.list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.list li {
	margin: 5px;
	padding: 10px;
	border: 1px solid #888;
	cursor: move;
	line-height: 1em;
}

/** Field Help **/
fieldset.form .fieldhelp-focused, form.form .fieldhelp-focused {
	background-color: #ffff99;
}

fieldset.form .fieldhelp-focused input, form.form .fieldhelp-focused input {
	outline: none;
}

.fieldhelp {
	z-index: 99999;
	max-width: 250px;
	width: 250px;
	padding: 10px;
	background-color: #ffff99;
	display: block;
	font-size: 12px;
	line-height: 20px;
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 4px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#666666)";
	/* For IE 5.5 - 7 */
}

fieldset.form .fieldhelp, form.form .fieldhelp {
	display: none;
}

fieldset.form .fieldhelp-focused .fieldhelp, form.form .fieldhelp-focused .fieldhelp {
	position: absolute;
	display: block
}

form.form .fieldhelp.hover, form.form .fieldhelp.mousedown,
fieldset.form .fieldhelp.hover, fieldset.form .fieldhelp.mousedown {
	position: absolute;
	display: block;
	z-index: 1001;
}

div.fieldhelp {
	margin-left: 10px;
	float:none;
	clear:both;
}

div.fieldhelp li {
	font-size: 12px !important;
	list-style-position: inside;
	list-style-type: disc;
	margin: 0px !important;
	padding: 0px !important;
	text-indent:none;
}

div.fieldhelp p {
	clear : both;
	line-height:16px;
}

/*
 * Login form changes
 */
#login fieldset.form input.login {
	padding: 3px;
	font-size: 16px;
	font-weight: bold;
}

div.loginForm {
	width: 500px;
}

.overlay .other {
	display: none
}

/*
 * Jump To Styles for form headers
 */

h2 span.form-title {
	float: left;
}

h2 span.jump-to {
	float: right;
	font-size: 80%;
	margin-right: 5px;
	padding-right: 18px;
	background: url(../images/arrow-360.png) no-repeat right center;
	z-index: 1005;
}

h2.hover span.jump-to
{
	background-color:#012142;
	cursor: pointer;
}

span.jump-to ul.jump-header-list {
	display: none;
	position: absolute;
	right:5px;
	background-color: #ececec;
	color: #464646;
	list-style: none;
	margin-left:-5px;
	line-height:28px;
	border-top:2px solid #012142;
	border-bottom:2px solid #012142;
	font-weight:normal;
}

span.jump-to ul.jump-header-list li a {
	display:block;
	white-space: nowrap;
	cursor:pointer;
	color: #464646;
}

span.jump-to.hover ul.jump-header-list {
	display: block;
	z-index: 1005;
}

ul.jump-header-list li a {
	display:block;
	padding-left:16px;
	padding-right: 4px;
	color: #464646;
	text-decoration:none;
}

ul.jump-header-list li.hover {
	background-color: #ffff99;
	cursor: pointer;
}

ul.jump-header-list li a.jump-top {
	background: url(../images/arrow-up-top.png) no-repeat left center;
	color:#012142;
	font-weight:bold;
}

ul.jump-header-list li a.jump-bottom {
	background: url(../images/arrow-down-bottom.png) no-repeat left center;
	color:#012142;
	font-weight:bold;
}

ul.jump-header-list li.hover a.jump-up {
	background: url(../images/arrow-up.png) no-repeat left center;
	color: #000;
}

ul.jump-header-list li a.jump-current {
	font-weight: bold;
	background-color: #ffc;
	border-top:1px solid white;
	border-bottom:1px solid white;
}

ul.jump-header-list li.hover a.jump-current {
	background: url(../images/arrow-right.png) no-repeat left center;
	color: #000;
}

ul.jump-header-list li.hover a.jump-down {
	background: url(../images/arrow-down.png) no-repeat left center;
	color: #000;
}
/*END FORMS.CSS*/
/*FROM MENU1.CSS WHICH WAS REMOVED FROM MAIN.JSP*/
/* Navigation */
#MainMenu {
	height: 31px;
	background-color: #5D9BCE;
	background-image: url("../images/bmid_022.gif");
	background-repeat: repeat-x;
	margin: 0 0px 20px 0;
	min-width: 1000px;
	border: 0;
}

#tab {
	margin: 0;
	min-width: 890px;
	max-width: 1150px;
}

#navbar {
	margin-left: 20px;
}

#tab ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

#tab li {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	cursor: default;
}

#tab a {
	background: #5D9BCE url("../images/bright_022.gif") no-repeat right top;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
	display: block;
	float: left;
}

#tab a span {
	display: block;
	background: url("../images/bleft_022.gif") no-repeat left top;
	padding: 0 18px 0 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 31px;
}

#tab a:hover,#tab li.item_active a {
	background-position: right bottom;
	border-color: #000000;
}

#tab a:hover span,#tab li.item_active a span {
	background-position: left bottom;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

.dropmenudiv {
	position: absolute;
	top: 0;
	float: left;
	display: block;
	visibility: hidden;
	border: 0 solid #330066;
	background: #FFFFFF url("../images/bmid_022.gif");
	color: #FFFFFF;
	z-index: 105;
	text-decoration: none;
	padding: 0;
}

.dropmenudiv ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dropmenudiv li {
	display: inline;
	margin: 0;
	padding: 0;
}

.dropmenudiv a:link,.dropmenudiv a:visited {
	width: auto;
	margin: 0;
	padding: 0;
	display: block;
	border: 0 solid #000000;
	color: #FFFFFF;
	background: url("../images/bleft_022.gif") no-repeat left top;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

.dropmenudiv a span {
	float: left;
	display: block;
	line-height: 31px;
	background: url("../images/bright_022.gif") no-repeat right top;
	padding: 0 18px 0 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}

.dropmenudiv a span {
	float: none;
}

.dropmenudiv a:hover {
	border: 0 solid #000000;
	background-position: left bottom;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #ffffff;
}

.dropmenudiv a:hover span {
	background-position: right bottom;
	color: #ffffff;
	font-weight: bold;
}

div.auditSubMenu {
	position: absolute;
	float: left;
	display: block;
	visibility: hidden;
	z-index: 100;
	text-decoration: none;
	padding: 0;
}

div.auditSubMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.auditSubMenu li {
	display: inline;
	margin: 0;
	padding: 0;
}

div.auditSubMenu a, div.auditSubMenu a:link, div.auditSubMenu a:visited {
	margin: 0;
	padding: 0 10px;
	display: block;
	border: 1px solid white;
	color: #FFFFFF;
	background-color: #012142;
	text-decoration: none;
	font-size: 13px;
	line-height: 28px;
}

div.auditSubMenu a.audit {
	padding-left: 18px;
}

div.auditSubMenu a.done {
	background-image: url("../images/okCheck.gif");
	background-repeat: no-repeat;
	background-position: left center;
}

div.auditSubMenu a:hover {
	border: 1px solid white;
	background-color: #A84D10;
	text-decoration: none;
	color: #ffffff;
}

div.auditSubMenu a.current {
	color: #fff;
	background-color: rgb(168, 77, 16);
	text-decoration: none;
}

/************* Toolbox *************/
#toolbox {
	background-color: #79A7D0;
	border-top: 3px solid #4686BF;
	border-bottom: 3px solid #4686BF;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 3px;
	margin-top: 7px;
	line-height: 30px;
}

#toolbox ul {
	text-align: center;
	padding: 0;
	margin: 0;
	display: block;
	white-space: nowrap;
	list-style-type: none;
}

#toolbox li {
	list-style: none;
	display: inline;
	margin: 0;
}

#toolbox a {
	background-repeat: no-repeat;
	background-position: center 3px;
	background-image: url('../images/default.gif');
	background-color: #79A7D0;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	margin: 1px;
	padding-top: 19px;
	padding-bottom: 6px;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid #79A7D0;
	font-weight: bold;
}

#toolbox a:hover {
	text-decoration: none;
	background-color: #C4D5E3;
	font-weight: bold;
	color: #012142;
	border-color: white;
}

#toolbox a.default {
	background-image: url('../images/default.gif');
}

#toolbox a.save {
	background-image: url('../images/save.gif');
}

#toolbox a.exit {
	background-image: url('../images/cross.png');
}

#toolbox a.edit {
	background-image: url('../images/edit_pencil.gif');
}

#toolbox a.system_edit {
	background-image: url('../images/system_edit.gif');
}

#toolbox a.email {
	background-image: url('../images/icon_link_email.gif');
}

#toolbox a.print {
	background-image: url('../images/print_icon.gif');
}

#toolbox a.categories {
	background-image: url('../images/categories.gif');
}

#toolbox a.cancel {
	background-image: url('../images/cross.png');
}

#toolbox a.pay {
	background-image: url('../images/visa.gif');
}

#toolbox a.upgrade {
	background-image: url('../images/upgrade.gif');
}

#toolbox a.void {
	background-image: url('../images/void.gif');
}

#toolbox a.preview {
	background-image: url('../images/preview.gif');
}

#toolbox a.bad {
    background-image: url('../images/icon-16-remove.png');
}

#toolbox a.refund {
    background-image: url('../images/add_remove.png');
}

.slugifier-target ~ .error {
	margin-left: 5px;
	color: #ff0000;
}