#primary_navigation {
    .search-form {
        position: relative;

        input[type="text"] {
            background-color: #FFFFFF !important; /* override twitter typeahead style */
            border-radius: 17px;
            font-size: 14px;
            padding: 4px 14px 4px 30px;

            &:focus {
                border: 1px solid $pics_light_blue;
                @include box-shadow(rgba(0, 0, 0, 0.075) 0 1px 1px, rgba(115, 187, 232, 0.6) 0 0 8px);
                outline: 0;
            }
        }

        input::-webkit-input-placeholder { /* WebKit browsers */
            color: $default_silver;
        }
        input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $default_silver;
        }
        input::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $default_silver;
        }
        input:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $default_silver;
        }

        .icon-search {
            color: $default_silver;
            left: 24px;
            position: absolute;
            top: 7px;
        }

        .icon-search.selected {
            color: $pics_light_blue;
        }
    }
}