<div ng-controller="operatorProjectListCtrl">
    <div class="container">
        <pagetitle title="Projects"></pagetitle>
        <div class="page-subheader">
            <div class="row">
                <div class="col-md-8">
                    <ol class="breadcrumb">
                        <li><a href="/employee-guard/operators/dashboard">EmployeeGUARD</a></li>
                        <li class="active">Projects</li>
                    </ol>
                </div>
                <div class="col-md-4">
                    <div class="page-actions">
                        <a href="/employee-guard/operators/project/create" class="btn btn-default" target="_self"><i class="icon-plus-sign"></i> Project</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="table-search-section employee-guard-section">
            <header>
                <div class="row">
                    <div class="col-md-8">
                        <h1>
                            <i class="icon-sitemap icon-large"></i>Projects
                        </h1>
                    </div>
                    <div class="col-md-4" ng-show="projects.length > 0">
                        <form name="operator_project_search" action="#" class="search-query" role="search">
                            <fieldset>
                                <div class="search-wrapper">
                                    <input name="searchTerm" type="text" class="form-control" ng-model="search" placeholder="Search Project" />
                                    <i class="icon-search"></i>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </header>

            <div class="content" ng-class="{no_padding: projects.length > 0}">
                <div class="table-responsive" ng-show="projects.length > 0">
                    <table class="table table-striped table-condensed table-hover table-sort" ng-init="orderByField = 'name'; reverseSort = false;" >
                        <thead>
                                <th ng-show="(user.type | lowercase) == 'corporate'" ng-class="{'sort-active' : orderByField=='site'}" ng-click="orderByField='site'; reverseSort = !reverseSort">Site
                                    <i ng-show="orderByField == 'site'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                                </th>
                                <th ng-class="{'sort-active' : orderByField=='name'}" ng-click="orderByField='name'; reverseSort = !reverseSort">Name
                                    <i ng-show="orderByField == 'name'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                                </th>
                                <th ng-class="{'sort-active' : orderByField=='location'}" ng-click="orderByField='location'; reverseSort = !reverseSort">Location
                                    <i ng-show="orderByField == 'location'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                                </th>
                                <th ng-class="{'sort-active' : orderByField=='startDate'}" ng-click="orderByField='startDate'; reverseSort = !reverseSort">Start Date
                                    <i ng-show="orderByField == 'startDate'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                                </th>
                                <th ng-class="{'sort-active' : orderByField=='endDate'}" ng-click="orderByField='endDate'; reverseSort = !reverseSort">End Date
                                    <i ng-show="orderByField == 'endDate'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in projects | orderBy:orderByField:reverseSort | filter:search ">
                                <td ng-show="user.type == 'CORPORATE'">{{ project.site }}</td>
                                <td>
                                    <a href="/employee-guard/operators/project/{{ project.id }}" target="_self">{{ project.name }}</a>
                                </td>
                                <td>{{ project.location }}</td>
                                <td>{{ project.startDate | date:'yyyy-MM-dd' }}</td>
                                <td>{{ project.endDate | date:'yyyy-MM-dd' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" ng-show="projects.length <= 0">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="alert alert-info">
                            <h4>No Projects</h4>

                            <p>Projects allow for more control over your assignments. You can select what Job Roles will be needed and what companies you'd like assigning employees.</p>

                            <p>Get started with Projects by selecting <strong><i class="icon-plus-sign"></i> Project</strong> at the top of the page.</p>

                            <p>
                                <a href="#"><i class="icon-question-sign"></i> Learn more about Projects</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>