.operator-assignmentlist {
    .employee-guard-section {
        header {
            background-color: $default_platinum;
            color: $pics_warm_grey;
            padding: 0px 10px;
            margin-bottom: 0px;
            margin-top: 20px;

            h1 {
                font-size: 14px;
                font-weight: bold;
                line-height: 44px;
                margin: 0px;

                i {
                    margin-right: 5px;
                }
            }
        }

        .edit {
            text-align: right;

            i:hover {
                color: $info_med;
            }
        }

        .content {
            padding: 0px;
        }

        &.info-toolbar {
            .row {
                line-height: 24px;
            }

            a.btn {
                margin-left: 5px;
                margin-right: 0px;
            }

            ul {
                margin-bottom: 0px;

                li {
                    &.success,
                    &.warning,
                    &.danger {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .employee-guard-section:first-child > h1 {
        margin-top: 0;
    }

    @media (max-width: 767px) {
        .employee-guard-section {
            .content {
                padding: 20px 0px;
            }
        }
    }
}