<section class="employee-guard-section">
    <h1>
        <i class="icon-map-marker icon-large"></i>{{ 'OPERATOR.ASSIGNMENTS.SITE_ASSIGNMENTS.TITLE' | translate }}
    </h1>
    <div class="content" ng-class="{no_padding: totalAssignments > 0}">
         <div class="row" ng-if="totalAssignments > 0">
            <div class="col-md-2 col-md-offset-2 text-center tile-container">
                <div class="tile primary">
                    <a href="/employee-guard/operators/project/site-assignment/{{ selected_site }}" target="_self">
                        <i class="icon-user"></i>
                        <p class="title">{{ site_assignments.employees }}</p>
                        <p class="subtitle" translate="OPERATOR.ASSIGNMENTS.SITE_ASSIGNMENTS.ASSIGNED"></p>
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center tile-container">
                <div class="tile success">
                    <i class="icon-ok-sign"></i>
                    <p class="title">{{ site_assignments.completed }}</p>
                    <p class="subtitle" translate="OPERATOR.ASSIGNMENTS.SITE_ASSIGNMENTS.COMPLETED"></p>
                </div>
            </div>
            <div class="col-md-2 text-center tile-container">
                <div class="tile warning">
                    <i class="icon-warning-sign"></i>
                    <p class="title">{{ site_assignments.expiring }}</p>
                    <p class="subtitle" translate="OPERATOR.ASSIGNMENTS.SITE_ASSIGNMENTS.EXPIRING"></p>
                </div>
            </div>
            <div class="col-md-2 text-center tile-container">
                <div class="tile danger">
                    <i class="icon-minus-sign-alt"></i>
                    <p class="title">{{ site_assignments.expired }}</p>
                    <p class="subtitle" translate="OPERATOR.ASSIGNMENTS.SITE_ASSIGNMENTS.EXPIRED"></p>
                </div>
            </div>
        </div>
        <div class="row" ng-if="totalAssignments <= 0">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-info" ng-show="userType === 'corporate'">
                    <h4 translate="OPERATOR.ASSIGNMENTS.SITE_ASSIGNMENTS.NO_ASSIGNMENTS.TITLE"></h4>

                    <p translate="OPERATOR.ASSIGNMENTS.CORPORATE.SITE_ASSIGNMENTS.NO_ASSIGNMENTS.MESSAGE"></p>

                    <p>
                        <a href="#"><i class="icon-question-sign"></i> {{ 'OPERATOR.ASSIGNMENTS.SITE_ASSIGNMENTS.NO_ASSIGNMENTS.LEARN_MORE' | translate }}</a>
                    </p>
                </div>
                <div class="alert alert-info" ng-show="userType === 'operator'">
                    <h4 translate="OPERATOR.ASSIGNMENTS.SITE_ASSIGNMENTS.NO_ASSIGNMENTS.TITLE"></h4>

                    <p translate="OPERATOR.ASSIGNMENTS.SITE.SITE_ASSIGNMENTS.NO_ASSIGNMENTS.MESSAGE"></p>

                    <p>
                        <a href="#"><i class="icon-question-sign"></i> {{ 'OPERATOR.ASSIGNMENTS.SITE_ASSIGNMENTS.NO_ASSIGNMENTS.LEARN_MORE' | translate }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="employee-guard-section">
    <header>
        <div class="row">
            <div class="col-md-8">
                <h1>
                    <i class="icon-sitemap icon-large"></i>{{ 'OPERATOR.ASSIGNMENTS.PROJECT_ASSIGNMENTS.TITLE' | translate }}
                </h1>
            </div>
            <div class="col-md-4" ng-show="project_assignments.length > 0">
                <form name="operator_assignment_search" action="#" class="nabar-form search-query" role="search">
                    <fieldset>
                        <div class="search-wrapper">
                            <input name="searchTerm" type="text" class="form-control" ng-model="search" placeholder="{{ 'OPERATOR.ASSIGNMENTS.PROJECT_ASSIGNMENTS.SEARCH' | translate }}" />
                            <i class="icon-search"></i>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </header>
    <div class="content" ng-class="{no_padding: project_assignments.length > 0}">
        <div class="table-responsive" ng-if="project_assignments.length > 0">
            <table class="table table-striped table-condensed table-hover table-sort" ng-init="orderByField = 'name'; reverseSort = false;" >
                <thead>
                        <th class="primary text-center" ng-class="{'sort-active' : orderByField=='employees'}" ng-click="orderByField='employees'; reverseSort = !reverseSort">
                            <i class="icon-user icon-large" data-toggle="tooltip" data-placement="top" title="" data-original-title="Number of Employees"></i>
                        </th>
                        <th class="success text-center" ng-class="{'sort-active' : orderByField=='completed'}" ng-click="orderByField='completed'; reverseSort = !reverseSort">
                            <i class="icon-ok-sign icon-large" data-toggle="tooltip" data-placement="top" title="" data-original-title="Approved"></i>
                        </th>
                        <th ng-class="{'sort-active' : orderByField=='expiring'}" ng-click="orderByField='expiring'; reverseSort = !reverseSort" class="warning text-center" >
                            <i class="icon-warning-sign icon-large" data-toggle="tooltip" data-placement="top" title="" data-original-title="Expiring Soon"></i>
                        </th>
                        <th class="danger text-center" ng-class="{'sort-active' : orderByField=='expired'}" ng-click="orderByField='expired'; reverseSort = !reverseSort">
                            <i class="icon-minus-sign-alt icon-large" data-toggle="tooltip" data-placement="top" title="" data-original-title="Expired or Incomplete"></i>
                        </th>
                        <th ng-class="{'sort-active' : orderByField=='name'}" ng-click="orderByField='name'; reverseSort = !reverseSort">{{'OPERATOR.ASSIGNMENTS.PROJECT_ASSIGNMENTS.NAME' | translate }}
                            <i ng-show="orderByField == 'name'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                        </th>
                        <th ng-class="{'sort-active' : orderByField=='location'}" ng-click="orderByField='location'; reverseSort = !reverseSort">{{'OPERATOR.ASSIGNMENTS.PROJECT_ASSIGNMENTS.LOCATION' | translate }}
                            <i ng-show="orderByField == 'location'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                        </th>
                        <th ng-class="{'sort-active' : orderByField=='startDate'}" ng-click="orderByField='startDate'; reverseSort = !reverseSort">{{'OPERATOR.ASSIGNMENTS.PROJECT_ASSIGNMENTS.START_DATE' | translate }}
                            <i ng-show="orderByField == 'startDate'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                        </th>
                        <th ng-class="{'sort-active' : orderByField=='endDate'}" ng-click="orderByField='endDate'; reverseSort = !reverseSort">{{'OPERATOR.ASSIGNMENTS.PROJECT_ASSIGNMENTS.END_DATE' | translate }}
                            <i ng-show="orderByField == 'endDate'" class="pull-right" ng-class="{'icon-sort-down' : !reverseSort, 'icon-sort-up' : reverseSort}"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in project_assignments | orderBy:orderByField:reverseSort | filter:search ">
                        <td class="text-center">{{ project.completed + project.pending + project.expiring + project.expired }}</td>
                        <td class="text-center" ng-class="{'success' : project.completed > 0}">{{ project.completed }}</td>
                        <td class="text-center" ng-class="{'warning' : project.expiring > 0}">{{ project.expiring }}</td>
                        <td class="text-center" ng-class="{'danger' : project.expired > 0}">{{ project.expired }}</td>
                        <td>
                            <a href="/employee-guard/operators/project/{{ project.id }}" target="_self">{{ project.name }}</a>
                        </td>
                        <td>{{ project.location }}</td>
                        <td>{{ project.startDate | date:'yyyy-MM-dd' }}</td>
                        <td>{{ project.endDate | date:'yyyy-MM-dd' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" ng-if="project_assignments.length <= 0">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-info">
                    <h4 translate="OPERATOR.ASSIGNMENTS.PROJECT_ASSIGNMENTS.NO_ASSIGNMENTS.TITLE"></h4>

                    <p translate="OPERATOR.ASSIGNMENTS.PROJECT_ASSIGNMENTS.NO_ASSIGNMENTS.MESSAGE"></p>

                    <p>
                        <a href="#"><i class="icon-question-sign"></i> {{ 'OPERATOR.ASSIGNMENTS.PROJECT_ASSIGNMENTS.NO_ASSIGNMENTS.LEARN_MORE' | translate }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>