<div class="operator-assignmentlist" ng-controller="operatorAssignmentsCtrl">
    <div class="container">
        <pagetitle title="{{ 'OPERATOR.ASSIGNMENTS.PAGE_TITLE' | translate }}"></pagetitle>
        <div class="page-subheader">
            <div class="row">
                <div class="col-md-8">
                    <ol class="breadcrumb">
                        <li><a href="/employee-guard/operators/dashboard" translate="OPERATOR.ASSIGNMENTS.BREADCRUMB.EMPLOYEEGUARD"></a></li>
                        <li class="active" translate="OPERATOR.ASSIGNMENTS.BREADCRUMB.ASSIGNMENTS"></li>
                    </ol>
                </div>
                <div class="col-md-4">
                    <div class="page-actions">
                        <a href="/employee-guard/operators/project/site-assignment/{{ selected_site }}" class="btn btn-warning pull-right" target="_self">
                            <i class="icon-map-marker icon-large"></i> {{ 'OPERATOR.ASSIGNMENTS.BUTTON.VIEW_SITE_ASSIGNMENTS' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="siteList.length > 0">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading ">
                        <h3 class="panel-title" translate="OPERATOR.ASSIGNMENTS.CORPORATE.SITE_SELECTION"></h3>
                    </div>
                    <div class="panel-body">
                        <select ui-select2="{ minimumResultsForSearch: -1, width: '100%' }" ng-model="selected_site" ng-change="loadAssignmentsBySiteId(selected_site)">
                            <option ng-repeat="site in siteList | orderBy:'name'" ng-selected="{{ site.id === selected_site }}" value="{{ site.id }}">{{ site.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <ng-include src="'/employee-guard/src/app/employeeguard/operator/assignmentlist/_site_assignments.tpl.html'"></ng-include>
    </div>
</div>