<html>
<head>
<title>Welcome</title>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="10" marginheight="10" marginwidth="0">
<DIV align=center>
<CENTER>
<TABLE id=AutoNumber9 style="BORDER-COLLAPSE: collapse" borderColor=#000000 
cellSpacing=0 cellPadding=0 border=0>
  <TBODY>
  <TR>
    <TD><A 
      href="${rootUrlStr}"><IMG src="http://affiliates.reunion.com/ads/images/peopleheader.jpg" alt="Krystalark.com" 
      width=500 
      height=76 border=0></A></TD>
  </TR></TBODY></TABLE></CENTER></DIV>
<DIV align=center>
<CENTER>
<TABLE style="BORDER-COLLAPSE: collapse" borderColor=#000000 cellSpacing=0 
cellPadding=0 width=494 border=1>
  <TBODY>
  <TR>
    <TD vAlign=center>
      <TABLE height="100%" cellSpacing=0 cellPadding=0 width="100%" border=0>
        <TBODY>
        <TR>
          <TD align=left>
            <TABLE style="BORDER-COLLAPSE: collapse" borderColor=#195C79 
            cellSpacing=0 cellPadding=10 border=0>
              <TBODY>
              <TR>
                <TD valign=top width="60%"><FONT 
                  face="Verdana, Arial, Helvetica, sans-serif" size=-1>
                  <DIV align=center>
                  <CENTER>
                  <TABLE style="BORDER-COLLAPSE: collapse" borderColor=#195C79 
                  cellSpacing=0 cellPadding=0 width=425 border=0>
                    <TBODY>
                    <TR>
                      <TD vAlign=top>
                        <P><B><FONT face="Verdana, Arial, Helvetica, sans-serif" color=#cc0000 size=4>Welcome {firstName},</FONT></B></P>
                        <P><FONT size=-1>Thank you for registering for a F<font face="Verdana, Arial, Helvetica, sans-serif">ree Krystalark.com.</font></B></FONT></P>
                        <P><FONT face="Verdana, Arial, Helvetica, sans-serif" 
                        size=-1><B>Make sure you&#39;re listed in the correct High 
                        School Class.<FONT 
                        color=#cc0000><BR></FONT></B></FONT><B><FONT 
                        face="Verdana, Arial, Helvetica, sans-serif" 
                        color=#cc0000 size=4>Choose Your High School 
                        State:</FONT></B><FONT 
                        face="Verdana, Arial, Helvetica, sans-serif" 
                        size=-1><BR></FONT><FONT 
                        face="Verdana, Arial, Helvetica, sans-serif" 
                        color=#ffffff 
                  size=1>-</FONT></P></TD></TR></TBODY></TABLE></CENTER></DIV>
                  <DIV align=center>
                  <CENTER>
                  <TABLE style="BORDER-COLLAPSE: collapse" borderColor=#111111 
                  cellSpacing=0 cellPadding=0 width="90%" border=0>
                    <TBODY>
                    <tr>
					

      <td valign = top ><font face="verdana" size = -1>
   	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=AL">Alabama</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=AK">Alaska</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=AZ">Arizona</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=AR">Arkansas</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=CA">California</a><br>
  	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=CO">Colorado</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=CT">Connecticut</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=DE">Delaware</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=DC">District of Columbia</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=FL">Florida</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=GA">Georgia</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=HI">Hawaii</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=ID">Idaho</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=IL">Illinois</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=IN">Indiana</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=IA">Iowa</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=KS">Kansas</a><br>
        </font>
      </td>
      <td valign = top ><font face="verdana" size = -1>
    &nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=KY">Kentucky</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=LA">Louisiana</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=ME">Maine</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=MD">Maryland</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=MA">Massachusetts</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=MI">Michigan</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=MN">Minnesota</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=MS">Mississippi</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=MO">Missouri</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=MT">Montana</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=NE">Nebraska</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=NV">Nevada</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=NH">New Hampshire</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=NJ">New Jersey</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=NM">New Mexico</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=NY">New York</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=NC">North Carolina</a><br>
        </font>
      </td>
      <td valign = top ><font face="verdana" size = -1>
   	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=ND">North Dakota</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=OH">Ohio</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=OK">Oklahoma</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=OR">Oregon</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=PA">Pennsylvania</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=RI">Rhode Island</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=SC">South Carolina</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=SD">South Dakota</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=TN">Tennessee</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=TX">Texas</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=UT">Utah</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=VT">Vermont</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=VA">Virginia</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=WA">Washington</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=WV">West Virginia</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=WI">Wisconsin</a><br>
 	&nbsp;&#9642;&nbsp;<a class=states href="${rootUrlStr}/dispatch?coreguserid=${coregId}&action=getAlphabets&state=WY">Wyoming</a><br>

        <br>
      </font>
      </td></tr>

                    <TR>
                      <TD vAlign=top colSpan=3><FONT color=#ffffff 
                        size=1>-</FONT></TD></TR></TBODY></TABLE></CENTER></DIV></FONT><FONT 
                  face=Verdana size=-1>
                  <DIV align=center>
                  <CENTER>
                  <TABLE style="BORDER-COLLAPSE: collapse" borderColor=#111111 
                  border=0><FONT size=-1></FONT>
                    <TBODY></TBODY></TABLE></CENTER></DIV></FONT></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD align=middle bgColor=#0555C8 style="font: 10px verdana,arial; color: #FFFFFF;">You have received this message because you indicated that you wanted to register 
      for a Free Krystalark.com Membership. To complete your registration, click any link above, otherwise you can also <a href="${rootUrlStr}/cr?act=u&coreguserid=${coregId}&e=${email}" style="color: #FFFFFF; text-decoration: underline;"><FONT color=#ffffff>remove yourself</FONT></A>. 
      </td>
      </tr>
      </table>
      </center>
	  </div>
      </BODY>
      </html>