// site menu
$site_menu_background_color: #eaeaea;
$site_menu_box_shadow_color: #cccccc;
$site_menu_gradient_color_top: #ffffff;
$site_menu_gradient_color_bottom: #eaeaea;
$site_menu_text_color: #002441;

// site menu - over
$site_menu_over_background_color: #eaeaea;
$site_menu_over_box_shadow_color: #cccccc;
$site_menu_over_gradient_color_top: #ffffff;
$site_menu_over_gradient_color_bottom: #eaeaea;
$site_menu_over_text_color: #c66603;

// site menu - active
$site_menu_active_background_color: #f1f1f2;
$site_menu_active_border_color: #aeaeae;
$site_menu_active_border_color_top: #999999;
$site_menu_active_gradient_color_top: #eaeaea;
$site_menu_active_gradient_color_bottom: #f1f1f2;
$site_menu_active_text_color: #c66603;

// site menu - separator
$site_menu_separator_border_color_left: #e7e7e7;

// site menu - search icon
$site_menu_search_icon_search_text_color: #cccccc;
$site_menu_search_icon_search_text_shadow_color: #bcbcbc;

// site menu - search list
$site_menu_search_list_border_color: #a7a7a7;

// site menu - search item
$site_menu_search_item_background_color: #a84d10;
$site_menu_search_item_border_color_bottom: #a84d10;
$site_menu_search_item_border_color_top: #c66603;
$site_menu_search_item_even_background_color: #f1f1f2;
$site_menu_search_item_gradient_color_bottom: #a84d10;
$site_menu_search_item_gradient_color_top: #c66603;
$site_menu_search_item_text_color: #fff;

// site menu - search list - more results
$site_menu_search_more_results_text_color: #333;


#site_navigation
{
	height: 50px;
}

#site_menu
{
	background: $site_menu_background_color;
    @include background-image(linear-gradient($site_menu_gradient_color_top, $site_menu_gradient_color_bottom));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeaeaea', GradientType=0);
    @include box-shadow($site_menu_box_shadow_color 0px 2px 2px 0px);
    
    .x-btn-arrow
	{
	    background: none;
	    padding: 0px !important;
	}
	
	.x-btn
	{
	    margin: 0px;
	    padding: 0px 10px;
	    top: 0px !important;
	    
	    .x-btn-inner
		{
		    color: $site_menu_text_color;
		    font-weight: bold;
		}
	}
	
	.x-btn.x-over
	{
		background: $site_menu_over_background_color;
	    @include background-image(linear-gradient($site_menu_over_gradient_color_top, $site_menu_over_gradient_color_bottom));
	    border: 1px solid transparent;
	    border-bottom: 0px;
	    border-top: 1px solid transparent;
	    @include border-radius(0px);
	    
	    .x-btn-inner
		{
			color: $site_menu_over_text_color;
		}
	}
	
	.x-btn.x-menu-active,
	.x-btn.x-pressed
	{
		background: $site_menu_active_background_color;
	    @include background-image(linear-gradient($site_menu_active_gradient_color_top, $site_menu_active_gradient_color_bottom));
	    @include border-radius(0px);
	    border: 1px solid $site_menu_active_border_color;
	    border-top: 1px solid $site_menu_active_gradient_color_top;
	    border-bottom: 0px;
	    
	    .x-btn-inner
		{
		    color: $site_menu_active_text_color;
		}
	}
	
	.x-toolbar-separator-horizontal
	{
	    border-left: 1px solid $site_menu_separator_border_color_left;
	    border-right: 0px;
	}
}

.dashboard .x-btn-inner
{
    padding: 0px 0px 0px 50px;
}

.site-menu-search
{
	label
	{
		line-height: 14px;
		padding: 7px 0px 0px !important;
	}
	
	.icon-search
	{
		color: $site_menu_search_icon_search_text_color;
		font-size: 14px;
		@include text-shadow(0px -1px 0px $site_menu_search_icon_search_text_shadow_color);
	}
	
	.x-form-text
	{
	    @include border-radius(15px);
	    height: 25px !important;
		line-height: 20px;
	    padding: 0px 7px;
	}
}

.site-menu-search-list
{
	border: 1px solid $site_menu_search_list_border_color;
	@include border-radius(5px);
	
	li:first-child
	{
		@include border-top-left-radius(4px);
		@include border-top-right-radius(4px);
	}
	
	li:last-child
	{
		@include border-bottom-left-radius(4px);
		@include border-bottom-right-radius(4px);
	}
	
	.even
	{
	    background: $site_menu_search_item_even_background_color;
	}
	
	.x-boundlist-item
	{
		border: 1px solid transparent;
	}
	
	.x-boundlist-item-over
	{
		background: $site_menu_search_item_background_color;
		@include background-image(linear-gradient($site_menu_search_item_gradient_color_top, $site_menu_search_item_gradient_color_bottom));
		border: 0px;
		border-bottom: 1px solid $site_menu_search_item_border_color_bottom;
		border-top: 1px solid $site_menu_search_item_border_color_top;
		color: $site_menu_search_item_text_color;
	}
	
	.search-item
	{
	    line-height: 15px;
	    overflow: hidden;
	    padding: 5px 15px;
	
	    div
	    {
	        clear: both;
	    }
	
	    em
	    {
	        font-weight: bold;
	    }
	
	    .name,
	    .location
	    {
	        float: left;
	        width: 175px;
	    }
	
	    .id
	    {
	        float: right;
	    }
	
	    .type
	    {
	        float: right;
	        font-style: italic;
	    }
	}

    .account-deactivated,
    .account-inactive
    {
       color: #AEAEAE;
    }

    .account-deleted
    {
        .name,
        .id,
        .location,
        .type
        {
            text-decoration:line-through;
        }
    }
    
	.more-results,
	.no-results
	{
        line-height: 15px;
        overflow: hidden;
        padding: 5px 15px;
	}

    .more-results
    {
        a
        {
            color: $site_menu_search_more_results_text_color;
            display: block;
            font-weight: bold;
            padding: 3px 0px;
        }

        p
        {
            color: #999;
            font-size: 13px;
            margin: 0px;
        }
    }
}

.x-menu-overflow .icon-cog
{
    margin: 0px 0px 0px 5px;
}