@include keyframes(loader) {
    0% { @include rotate(0deg) }
    25% { @include rotate(90deg) }
    50% { @include rotate(180deg) }
    75% { @include rotate(270deg) }
    100% { @include rotate(360deg) }
}

#loading_page {
    height: 100px;
    left: 50%;
    margin: -150px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 100px;

    svg {
        @include animation('loader 3s infinite cubic-bezier(0.5, 0, 0, 1)');
    }

    .loading {
        color: #b3b3b3;
        font-size: 18px;
        margin-top: 30px;
        text-align: center;
    }
}