#About__page
{
	
	.product-description
	{
		color: #808285;
		margin-bottom: 30px;
		text-align: center;
		
		img
		{
			margin: 40px 0;
		}
		
		span
		{
			display: block;
		}
		
		.version
		{
			font-size: 18px;
		}
		
		.copyright
		{
			margin-bottom: 30px;
		}
	}
}