#secondary_navigation
{
    top: 50px;
    
    .navbar-inner
    {
    	background: #333;
    	@include background-image(linear-gradient(#252525, #333));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff252525',endColorstr='#ff333333',GradientType=0);
	    border-bottom: 0;
	    border-top: 1px solid #000;
	    color: $pics_cool_grey;
	    line-height: 29px;
	    min-height: 29px;
	    padding-bottom: 0;
	    padding-top: 0;
    }
    
    [data-toggle=collapse]
	{
	    background-color: transparent;
	    border: 0;
	    color: $pics_cool_grey;
	    display: none;
	    float: right;
	    line-height: 28px;
	}
	
	.nav > li > a
	{
	    border: 0;
	    color: #ccc;
	    padding: 4px 15px 5px;
	    text-shadow: none;
	    
	    &:hover
	    {
	    	color: $pics_cool_grey;
	    }
	}
	
	.nav li.dropdown.open > .dropdown-toggle,
    .nav li.dropdown.active > .dropdown-toggle, 
    .nav li.dropdown.open.active > .dropdown-toggle
	{
	    color: $pics_light_blue;
	    background: #252525;
	    @include background-image(linear-gradient(#000, #252525));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000',endColorstr='#ff252525',GradientType=0);
	}
	
	.nav.account span
	{
	    color: #73bbe8;
	    display: block;
	    font-size: 13px;
	    font-weight: bold;
	    padding: 4px 15px 5px;
	}
}

@media (max-width: 979px) {
    #secondary_navigation
    {
        margin-bottom: 0;
        
        .navbar-inner
        {
            background: #252525;
        }
        
        [data-toggle=collapse]
        {
            display: block;
        }
        
        .nav > li > a
        {
            @include border-radius(0);
            padding: 6px 5px;
            
            &:hover
            {
            	background-color: #252525;
            }
            
            &[data-toggle="dropdown"]:after
            {
				bottom: 1px;
            	content: '\2304';
				font-size: 20px;
				margin-left: 2px;
            	position: relative;
            }
        }
        
        .secondary-navigation-items
        {
            .nav > li > .dropdown-menu
            {
                background: #131313;
                display: none;
            }
        
            .nav > .open > .dropdown-menu
            {
                display: block;
            }
            
            .dropdown-menu a
            {
                @include border-radius(0);
                color: $pics_cool_grey;
                font-weight: normal;
                
                &:hover
                {
                    background: #000;
                    color: #fff;
                }
            }
            
            .dropdown-submenu > a:after
            {
            	margin: 0;
            }
            
            .dropdown-submenu:hover > a,
            .dropdown-submenu:focus > a
            {
                background: #131313;
            }
        }
        
        .nav li.dropdown.open > .dropdown-toggle,
        .nav li.dropdown.active > .dropdown-toggle, 
        .nav li.dropdown.open.active > .dropdown-toggle
        {
            background: #252525;
            border: 1px solid transparent;
            border-bottom: 0;
            color: #fff;
        }
        
        .nav.account
        {
        	float: left;
        	
        	span
        	{
        		padding: 5px;
        	}
        }
    }
}