#ContractorBadge-page
{
	padding-bottom: 40px;
}

#ContractorBadge-page h3,
#ContractorBadge-page h4
{
    margin-bottom: 20px;	
}

#ContractorBadge-page a,
#ContractorBadge-page .pics_badge_container a 
{
    font-size: 12px;
}

#ContractorBadge-page #badgeInformation
{
	float: left;
	width: 70%;
}

#ContractorBadge-page #badgeInformation sup
{
    vertical-align: super;
    line-height: 1em;
    font-size: smaller;
}


#ContractorBadge-page #badgeSteps
{
    background-color: #ACACAC;
	float: left;
	margin: 30px 0px 0px 10px;
	overflow: hidden;
	padding: 20px;
	width: 18%;
}

#ContractorBadge-page #badgeSteps h3
{
	color: #FFF;
	text-align: center;
}

#ContractorBadge-page #badgeSteps ol li
{
	margin-bottom: 5px;
}

#ContractorBadge-page .badges,
#ContractorBadge-page .badgeActions
{
	list-style-type: none;
    overflow: hidden;
    text-align: center;
    width: 70%;	
}

#ContractorBadge-page ul.badges li,
#ContractorBadge-page ul.badgeActions li
{
    float: left;
    overflow: hidden;
    width: 33%;
}

#ContractorBadge-page .code a
{
	font-size: 12px;
	text-align: center;
}

#ContractorBadge-page .badges .pics_badge_container
{
	margin: 0px auto;
}

#ContractorBadge-page .badgeActions textarea
{
	display: none;
    height: 120px;
	width: 50%;
}

#ContractorBadge-page .badges .clip_container
{
	text-align: center;	
}

#ContractorBadge-page .badges #pics_badge_container_80
{
    margin-top: 70px;
}

#ContractorBadge-page .badges #pics_badge_container_100
{
	margin-top: 50px;
}

#ContractorBadge-page #badgeControls
{
	margin-top: 30px;
	text-align: center;
    width: 70%;	
}

#ContractorBadge-page #badgeControls .picsbutton {
	font-size: 14px;
    margin-bottom: 20px;
	padding: 10px;
}

#ContractorBadge-page .badges .clip_container embed
{
	float: left;
}