#ContractorBadge-page
{
	padding-bottom: 40px;
}

#ContractorBadge-page a {
    font-size: 12px;
}

#ContractorBadge-page #badgeInformation
{
	float: left;
	width: 70%;
}

#ContractorBadge-page #badgeSteps
{
    background-color: #ACACAC;
	float: left;
	margin: 30px 0px 0px 10px;
	overflow: hidden;
	padding: 20px;
	width: 15%;
}

#ContractorBadge-page #badgeSteps h3
{
	color: #FFF;
	text-align: center;
}

#ContractorBadge-page .badges
{
	list-style-type: none;
	overflow: hidden;
	margin: 40px 0px 20px 20px;
}

#ContractorBadge-page .badges li
{
    float: left;
    overflow: hidden;
    text-align: center;
    width: 33%;
}

#ContractorBadge-page .code
{
	/*float: left;*/
}

#ContractorBadge-page .code a
{
	font-size: 12px;
	text-align: center;
}

#ContractorBadge-page .badges .pics_badge_container
{
	margin: 0px auto;
}

#ContractorBadge-page .badges textarea
{
	display: none;
    height: 120px;
	width: 50%;
}

#ContractorBadge-page .badges .clip_container
{
	text-align: center;	
}

#ContractorBadge-page .badges #pics_badge_container_80
{
    margin-top: 70px;
}

#ContractorBadge-page .badges #pics_badge_container_100
{
	margin-top: 50px;
}

#ContractorBadge-page #badgeControls
{
	margin-top: 10px;
	text-align: center;
}

#ContractorBadge-page #badgeControls .picsbutton {
	font-size: 14px;
    margin-bottom: 20px;
	padding: 10px;
}

#ContractorBadge-page .badges .clip_container embed
{
	float: left;
}