#ContractorBadge-page
{
	padding-bottom: 40px;
}

#ContractorBadge-page h3
{
	margin-bottom: 40px;
}

#ContractorBadge-page h4
{
    margin-bottom: 20px;	
}

#ContractorBadge-page #badge_80,
#ContractorBadge-page #badge_150
{
	display: none;
}

#ContractorBadge-page .badges
{
	float: left;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    width: 30%; 
}

#ContractorBadge-page select#badgeSize
{
	margin-bottom: 40px;
}

#ContractorBadge-page .badges textarea
{
	display: none;
	width: 75%;
	height: 150px;
}

#ContractorBadge-page .badges .clip_container
{
	margin-top: 30px;
    text-align: center;
}

#ContractorBadge-page .badges .pics_badge_container
{
    margin: 0px auto;
}

#ContractorBadge-page a,
#ContractorBadge-page .pics_badge_container a 
{
    font-size: 12px;
}

#ContractorBadge-page .badges .clip_container embed
{
    float: left;
}

#ContractorBadge-page #badgeControls
{
    margin-top: 20px;
}

#ContractorBadge-page #badgeControls .picsbutton {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px;
}

#ContractorBadge-page #badgeSteps
{
    width: 60%;	
}

#ContractorBadge-page #badgeSteps h2
{
    color: #4686BF;
    margin-bottom: 15px;
}

#ContractorBadge-page #badgeSteps li
{
    font-size: 18px;
    padding-bottom: 10px;
}


#ContractorBadge-page #badgeInformation
{
    float: left;
    margin-top: 20px;
    width: 60%;
}

#ContractorBadge-page #badgeInformation sup
{
    vertical-align: super;
    line-height: 1em;
    font-size: smaller;
}