.ManageAppProperty-page
{
    #app_property_list
    {
        .name
        {
            width: 20%;
        }

        .value
        {
            width: 70%;
        }

        .actions
        {
            width: 10%;
        }

        .value p
        {
            width: 400px;
            word-wrap: break-word;
        }
    }

    #app_property_create_form,
    #app_property_edit_form
    {
        .form-actions
        {
            text-align: right;
        }

        .form-actions .btn
        {
            margin-left: 5px;
        }

        textarea
        {
            @include box-sizing(border-box);
        }

        input
        {
            @include box-sizing(border-box);
            height: 30px;
            padding: 4px 6px;
        }
    }

    #app_property_edit_form span
    {
        height: 30px;
    }
}