// report summary
$report_summary_name_text_color: #73bbe8;

$report_summary_description_text_color: #808285;

#report_summary
{
	padding: 18px 30px;
}

#report_summary .name
{
	color: $report_summary_name_text_color;
	font-size: 30px;
	font-weight: normal;
}

#report_summary .description
{
	color: $report_summary_description_text_color;
	font-size: 14px;
	font-weight: normal;
}