.label-pics {
	background-color: $pics_link_blue;
}

.label-pics:hover {
	background-color: $pics_light_blue;
}

/* Form labels, override default bold */
label {
	font-weight: normal;
}

/* Search Field */
.search-query {
	background-color: $pics_cool_grey;
	padding-left: 0px;
    position: relative;
}

.search-query .search-wrapper {
	padding: 5px;
}

.search-query .form-control {
	@include border-radius(20px);
	padding-left: 29px;
}

.search-query .icon-search {
	color: $default_silver;
    left: 15px;
    position: absolute;
    top: 15px;
}

.search-query .form-control:focus ~ .icon-search {
	color: $pics_light_blue;
}

.search-query .search-results {
	margin: 0px;
}

/* Form actions */
.form-actions {
	padding-top: 5px;
}

.form-group .date-picker {
	min-width: 0px;
}

.form-control:focus {
	border-color: $pics_light_blue;
}

@media (min-width: 768px) {
	.form-group .date div {
		padding-right: 0px;
	}
}

.filename-display p {
	margin: 10px 0 0 0;
}