// site colors
$pics_burnt_orange: #a84d10;
$pics_blue: #002441;
$pics_light_blue: #73bbe8;
$pics_link_blue: #226396;
$pics_warm_grey: #808285;
$pics_cool_grey: #f1f1f2;

// default tag overrides
body
{
    color: #454545;
}

a
{
    color: $pics_link_blue;
}

a:hover,
a:focus
{
    color: $pics_light_blue;
    text-decoration: none;
}