/*
 * My Reports
 */
 
#ManageReports_myReportsList_page
{
	#my_reports_filter
	{
		margin: 0px 0px 20px;
		text-align: center;
	}
	
	#my_reports_filter .btn-group
	{
		display: inline-block;
	}
	
	.lt-ie8 #my_reports_filter .btn-group
	{
		display: inline;
	}
}