/**
 * My Ext Theme
 *
 * IMPORTANT: Important to understand sass / compass and css structure before modification.
 * Menu file contains core css, general theme contains styling specific to the reporting tool.
 *
 * Variables and mixins are included for sass to function properly.
 * Please be aware of your configuration alterations.
 *
 * @author: Carey Hinoki
 * @date: 2012-06-25
 */

// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

// Insert your custom variables here.
// $base-color: #aa0000;

@import 'compass';

/***
 * Start ExtJS4 variable overwrites
 * Override: ext4/default/all
 * Author: Carey Hinoki
 */

$form-field-height: 25px !default;
$grid-header-background-color: #454545;
$grid-header-background-gradient: null !default;
$grid-header-over-border-color: #454545;
$grid-header-over-background-gradient: null !default;
$grid-header-color: #ffffff !default;

// End ExtJS4 Overwrites

@import "compass/css3";
@import "blueprint/typography";

$include-default: true !default;
$include-default-uis: true !default;

@import 'ext4/default/functions';
@import 'ext4/default/variables';
@import 'ext4/default/mixins';

//core
@import 'ext4/default/core/core';

//layout
@import 'ext4/default/layout/layout';

//utils
@import 'ext4/default/util/tool';
@import 'ext4/default/util/messagebox';
@import 'ext4/default/util/splitter';
@import 'ext4/default/util/resizable';
@import 'ext4/default/util/dragdrop';
@import 'ext4/default/util/scroller';
@import 'ext4/default/util/focus';

//widgets
@import 'ext4/default/widgets';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-grid;
@include extjs-form-fieldset;
@include extjs-form-file;
@include extjs-form-checkboxfield;
@include extjs-form-checkboxgroup;
@include extjs-form-triggerfield;
@include extjs-form-htmleditor;
@include extjs-qtip;
@include extjs-window;
@include extjs-messagebox;
@include extjs-viewport;

/***
 * Start Custom
 * Author: Carey Hinoki
 */

@import 'my-ext-theme/report_header';
@import 'my-ext-theme/report_filter_options';
@import 'my-ext-theme/report_toolbar';
@import 'my-ext-theme/report_paging_toolbar';
@import 'my-ext-theme/report_grid';

// End Custom

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true