// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

// Insert your custom variables here.
// $base-color: #aa0000;

@import 'compass';

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 13px;

$button-large-font-size: 13px;
$panel-body-font-size: 13px;
$toolbar-font-size: 13px;

$form-field-height: 25px !default;

#header
{
	padding: 0px;
}

#site_menu
{
	@include background-image(linear-gradient(#ffffff, #eaeaea));
	@include box-shadow(#cccccc 0px 2px 2px 0px);
}

#site_menu .x-btn-default-toolbar-large
{
	margin: 0px;
	padding: 0px 10px;
	top: 0px !important;
}

#site_menu .x-btn-default-toolbar-large-menu-active,
#site_menu .x-btn-default-toolbar-large-over,
#site_menu .x-btn-default-toolbar-large-pressed
{
	@include background-image(linear-gradient(#bbbbbb, #eaeaea));
	@include border-radius(0px);
	border: 1px solid #bbbbbb;
	border-top: 2px solid #bbbbbb;
	border-bottom: 0px;
}

#site_menu .x-btn-default-toolbar-large .x-btn-inner
{
	color: #002441;
	font-weight: bold;
}

#site_menu .x-form-text
{
	@include border-radius(12px);
	height: 22px;
	padding: 12px 5px;
}

#site_menu .x-toolbar-separator-horizontal
{
	border-left-color: #e7e7e7;
	border-right-color: #fcfcfc;
}

#report_summary .name
{
	color: #73bbe8;
	font-size: 30px;
	font-weight: normal;
	margin: 18px 20px 0px;
}

#report_summary .description
{
	color: #808285;
	font-size: 14px;
	font-weight: normal;
	margin: 0px 20px 20px;
}

#report_actions
{
	text-align: right;
}

#report_actions .edit,
#report_actions .save
{
	margin-top: 25px;
}

#report_actions .edit
{
	@include background-image(linear-gradient(#f1f1f1, #dcdcdc));
	margin-right: 10px;
}

#report_actions .save
{
	@include background-image(linear-gradient(#33c033, #229322));
	border-color: #229322;
	margin-right: 20px;
}

#report_actions .edit button span
{
	font-size: 16px;
	line-height: 34px !important;
	padding: 0px !important;
}

#report_header .edit .icon-cog
{
	color: #666666;
}

#report_actions .save button span
{
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

#report_filter_options
{
	background: #454545;
}

#report_filter_options .x-panel-body-default
{
	background: transparent;
}

#report_filter_options-body
{
	border: 1px solid #cccccc;
	border-top: 0px;
}

#report_filter_options_header
{
	background: #73bbe8;
	border: 1px solid #808285 !important;
	@include box-shadow(none);
	height: 50px;
	padding: 10px 0px 10px 20px;
}

#report_filter_options_header span
{
	color: #ffffff;
	font-size: 18px;
}

#report_filter_actions
{
	background: #f1f1f1;
	border: 1px solid #cccccc !important;
	padding: 0px;
}

#report_filter_actions .add-filter
{
	@include background-image(linear-gradient(#f1f1f1, #dcdcdc));
	border: 1px solid #bcbcbc;
	margin-left: 10px;
}

#report_filter_actions .add-filter em
{
	background-image: url('../images/button/s-arrow.gif');
}

#report_filter_actions .add-filter button span
{
	color: #333333;
	font-size: 11px;
	line-height: 20px !important;
}

#report_filter_actions .add-filter .icon-plus
{
	color: #2caf2c;
	margin-right: 5px;
}

#report_filter_actions .search
{
	@include background-image(linear-gradient(#33c033, #229322));
	border-color: #229322;
	margin-right: 10px;
}

#report_filter_actions .search button span
{
	color: #ffffff;
	font-size: 11px;
	line-height: 20px !important;
}

#report_filter_expression
{
	padding: 20px 20px 10px;
}

#report_filter_expression .actions
{
	margin-top: 5px;
}

#report_filter_expression .update
{
	@include background-image(linear-gradient(#73bbe8, #226396));
	border: 1px solid #226396;
}

#report_filter_expression .update span
{
	color: #ffffff;
}

#report_filter_expression .hide,
#report_filter_expression .more-information
{
	background: transparent;
	border: 0px;
	padding: 0px;
}

#report_filter_expression .hide.x-btn-default-small-over span,
#report_filter_expression .more-information.x-btn-default-small-over span
{
	text-decoration: underline;
}

#report_filter_expression .hide span,
#report_filter_expression .more-information span
{
	color: #ffffff;
	font-size: 11px;
	padding: 0px;
}

#report_filters
{
	border-bottom: 1px solid #999999;
}

#report_filters-body,
#report_filters .filter-container-body,
#report_filters .filter-body,
#report_filters .x-box-inner
{
	width: 100% !important;
}

#report_filters .x-box-inner div:first-child
{
	width: auto !important;
}

#report_filters .filter
{
	background: #f1f1f1;
	border-top: 1px solid #999999;
}

#report_filters .filter-number label
{
	color: #999999;
	font-size: 18px;
	font-weight: bold;
	margin: 0px !important;
	text-align: center;
}

#report_filters .filter-name div
{
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}

#report_filters .remove-filter
{
	background: transparent;
	border: 0px;
	padding: 0px;
}

#report_filters .remove-filter span
{
	padding: 0px;
}

#report_toolbar
{
	background: #73bbe8;
	border: 1px solid #808285 !important;
	padding: 10px 20px;
}

#report_toolbar .header
{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

#report_toolbar .add-column
{
	@include background-image(linear-gradient(#f1f1f1, #dcdcdc));
	border: 1px solid #bcbcbc;
	margin-left: 10px;
}

#report_toolbar .add-column em
{
	background-image: url('../images/button/s-arrow.gif');
}

#report_toolbar .add-column button span
{
	color: #333333;
	font-size: 11px;
	line-height: 20px !important;
}

#report_toolbar .add-column .icon-plus
{
	color: #2caf2c;
	margin-right: 5px;
}

#data_grid .paging-toolbar
{
	background: #f1f1f1;
	border: 1px solid #cccccc !important;
	padding: 0px 20px;
}

#data_grid .paging-toolbar .x-btn-default-toolbar-large-over
{
	background: transparent;
	border: 0px;
}

#data_grid .paging-toolbar .x-btn
{
	border: 0px;
}

#data_grid .paging-toolbar .x-btn-disabled span
{
	opacity: 1;
}

#data_grid .paging-toolbar button,
#data_grid .paging-toolbar button span
{
	width: 20px;
}

#data_grid .paging-toolbar button .x-btn-inner
{
	padding-top: 7px !important;
}

#data_grid .paging-toolbar .icon-large
{
	color: #666666;
}

#data_grid .paging-toolbar .x-btn-default-toolbar-large-over .icon-large
{
	color: #73bbe8;
}

#data_grid .paging-toolbar .x-disabled .icon-large
{
	color: #cccccc;
}

#data_grid .paging-toolbar .refresh button,
#data_grid .paging-toolbar .refresh button span
{
	width: 28px;
}

#data_grid .paging-toolbar .refresh .x-btn-inner
{
	padding-top: 7px !important;
}

#data_grid .paging-toolbar .refresh .icon-refresh
{
	font-size: 19px;
}

/*
#data_grid .paging-toolbar .refresh button .x-tbar-loading
{
	background: url(/js/pics/app/resources/images/refresh.png) 50% 50% no-repeat !important;
}

#data_grid .paging-toolbar .page-first button .x-tbar-page-first
{
	background: url(/js/pics/app/resources/images/page-first.png) 50% 50% no-repeat !important;
}

#data_grid .paging-toolbar .page-first.x-disabled button .x-tbar-page-first
{
	background: url(/js/pics/app/resources/images/page-first-disabled.png) 50% 50% no-repeat !important;
}

#data_grid .paging-toolbar .page-prev button .x-tbar-page-prev
{
	background: url(/js/pics/app/resources/images/page-prev.png) 50% 50% no-repeat !important;
}

#data_grid .paging-toolbar .page-prev.x-disabled button .x-tbar-page-prev
{
	background: url(/js/pics/app/resources/images/page-prev-disabled.png) 50% 50% no-repeat !important;
}

#data_grid .paging-toolbar .page-next button .x-tbar-page-next
{
	background: url(/js/pics/app/resources/images/page-next.png) 50% 50% no-repeat !important;
}

#data_grid .paging-toolbar .page-next.x-disabled button .x-tbar-page-next
{
	background: url(/js/pics/app/resources/images/page-next-disabled.png) 50% 50% no-repeat !important;
}

#data_grid .paging-toolbar .page-last button .x-tbar-page-last
{
	background: url(/js/pics/app/resources/images/page-last.png) 50% 50% no-repeat !important;
}

#data_grid .paging-toolbar .page-last.x-disabled button .x-tbar-page-last
{
	background: url(/js/pics/app/resources/images/page-last-disabled.png) 50% 50% no-repeat !important;
}
*/

#data_grid .paging-toolbar .x-toolbar-separator
{
	border: 0px;
	border-left: 1px solid #cccccc;
}

#data_grid .paging-toolbar .x-toolbar-text
{
	color: #666666;
	font-size: 14px;
}

#data_grid .paging-toolbar .x-form-text
{
	height: 25px;
}

#data_grid .paging-toolbar .rows-per-page
{
	margin-left: 10px;
}


@import 'ext4/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
//@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    @include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    @include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
//@include extjs-slider;
//@include extjs-progress;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
//@include extjs-tabbar;
//@include extjs-tab;
//@include extjs-tree;
//@include extjs-drawcomponent;
@include extjs-viewport;

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true