/*
 * Templates
 *
 * Manages all jsp templates based off file structure.
 * Place all page templates in this file, including widget overrides.
 *
 * @author: Carey Hinoki
 * @date: 2012-07-10
 */
 
@import 'app-property/app-property';
@import 'cron-dashboard/cron-dashboard';
@import 'frontend-development-guide/frontend-development-guide';
@import 'general/about';
@import 'login/login';
@import 'recommend-csr/recommend-csr';
@import 'report/report';
@import 'reference/reference';
@import 'user/user';