#basic_menu {
    line-height: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    .header-components {
        margin-top: 5px;

        li {
            float: left;
            list-style: none;
            margin-right: 15px;
        }

        .chat a,
        .phone {
            color: $pics_light_blue;
            font-size: 15px;
            font-weight: bold;
            margin-right: 15px;
        }

        .welcome-message {
            font-weight: bold;
            margin-right: 15px;
        }

        i {
            margin-right: 5px;
        }
    }

    .actions {
        margin-top: 30px;
    }
}