body
{
    padding-top: 55px;
    padding-bottom: 26px;
}

@media (max-width: 979px) and (min-width: 768px), (max-width: 767px) {
    body
    {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .alert[class*="offset"]
    {
        margin: 0;
    }
}

@import 'environment';
@import 'menu';
@import "page-header";