body {
	padding-top: 55px;
	padding-bottom: 26px;
	position: relative;
}

@media (max-width: 979px) and (min-width: 768px), (max-width: 767px) {
	body {
		padding-top: 0;
	}
}

// layouts
@import 'simple-layout';

// components
@import 'environment';
@import 'menu';
@import 'page-header';