// report filter toolbar
$report_filter_toolbar_background_color: #454545;
$report_filter_toolbar_border_color_bottom: #333;
$report_filter_toolbar_border_color_top: #333;

// report filter toolbar - button
$report_filter_toolbar_button_text_color: #ccc;

// report filter toolbar - button over
$report_filter_toolbar_button_over_text_color: #fff;

#report_filter_toolbar
{
	background: $report_filter_toolbar_background_color;
	
	.x-btn
	{
		background: none;
		border: 0px;
		@include border-radius(0px);
		
		span
		{
			color: $report_filter_toolbar_button_text_color;
			font-size: 11px;
			font-weight: bold;
		}
	}
	
	.x-btn.x-over
	{
		span
		{
			color: $report_filter_toolbar_button_over_text_color;
		}
	}
}

#report_filter_toolbar > div
{
	border-bottom: 1px solid $report_filter_toolbar_border_color_bottom !important;
	border-top: 1px solid $report_filter_toolbar_border_color_top !important;
}