// report filter formula
$report_filter_formula_background_color: #454545;
$report_filter_formula_border_color_bottom: #333;
$report_filter_formula_border_color_top: #333;

// report filter formula - info
$report_filter_formula_icon_info_text_color: #73bbe8;

// report filter formula - remove
$report_filter_formula_icon_cancel_text_color: #ac030c;

#report_filter_formula
{
	background: $report_filter_formula_background_color;
	
	.x-form-field
	{
		padding-left: 3px;
	}
	
	.info,
	.cancel
	{
		background: none;
		border: 0px;
		@include border-radius(0px);
	}
	
	.info span,
	.cancel span
	{
		padding: 0px;
	}
	
	.info i,
	.cancel i
	{
		font-size: 18px;
		line-height: 18px;
	}
	
	.icon-info-sign
	{
		color: $report_filter_formula_icon_info_text_color;
	}
	
	.icon-remove-sign
	{
		color: $report_filter_formula_icon_cancel_text_color;
	}
}

#report_filter_formula > div
{
	border-bottom: 1px solid $report_filter_formula_border_color_bottom !important;
	border-top: 1px solid $report_filter_formula_border_color_top !important;
}

.filter-formula-tooltip
{
	h4
	{
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	
	span,
	p
	{
		font-size: 11px;
	}
	
	span
	{
		font-style: italic;
	}
}