// report filters
$report_filters_border_color_bottom: #cccccc;

// report filter
$report_filter_border_color_bottom: #999999;

$report_filter_number_color: #999999;

$report_filter_name_color: #333333;

// report filter - remove button
$report_filter_remove_filter_icon_minus_color: #ffffff;


#report_filters
{
	border-bottom: 1px solid $report_filters_border_color_bottom;
}

#report_filters-body,
#report_filters .filter-container-body,
#report_filters .filter-body,
#report_filters .x-box-inner
{
	width: 100% !important;
}

#report_filters .x-box-inner div:first-child
{
	width: auto !important;
}

#report_filters .filter
{
	background: #f1f1f1;
	border-top: 1px solid $report_filter_border_color_bottom;
}

#report_filters .filter-number label
{
	color: $report_filter_number_color;
	font-size: 18px;
	font-weight: bold;
	margin: 0px !important;
	text-align: center;
}

#report_filters .filter-name div
{
	color: $report_filter_name_color;
	font-size: 14px;
	font-weight: bold;
}

#report_filters .remove-filter
{
	padding: 0px;
}

#report_filters .remove-filter span
{
	padding: 0px;
}

#report_filters .remove-filter .icon-minus
{
	color: $report_filter_remove_filter_icon_minus_color;
}

#report_filters .filter-name {
    white-space: nowrap;
}