// report filters
$report_filters_border_color_bottom: #ccc;

// report filter
$report_filter_background_color: #eaeaea;
$report_filter_border_color_bottom: #ccc;
$report_filter_border_color_top: #fff;

// report filter focus
$report_filter_focus_background_color: #f1f1f2;
$report_filter_focus_border_color_bottom: #999;
$report_filter_focus_border_color_top: #999;
$report_filter_focus_box_shadow_color: #ccc;

// report filter - number
$report_filter_number_text_color: #999;

// report filter - name
$report_filter_name_text_color: #333;

// report filter -input
$report_filter_input_border_color: #bcbcbc;

// report filter - remove button
$report_filter_remove_filter_text_color: #ac030c;

// report filter - advanced filter button
$report_filter_advanced_button_color: #dcdcdc;
$report_filter_advanced_button_hover_color: #ccc;
$report_filter_advanced_button_selected_color: #76bae7;

#report_filters
{
	.filter
	{
		background: $report_filter_background_color;
		border-bottom: 1px solid $report_filter_border_color_bottom;
		border-top: 1px solid $report_filter_border_color_top;
	}
	
	.filter-content
	{
		top: -9px !important;
	}

	.filter-number
	{
		display: none;
		top: 25px !important;
		
		label
		{
			color: $report_filter_number_text_color;
			font-size: 18px;
			font-weight: bold;
			margin: -5px 0px 0px 0px !important;
			text-align: center;
		}
	}
	
	.filter-name
	{
		white-space: nowrap;
		
		div
		{
			color: $report_filter_name_text_color;
			font-size: 14px;
			font-weight: bold;
		}
	}
	
	.x-form-field
	{
		border-color: $report_filter_input_border_color;
		padding-left: 3px;
	}
	
	.remove-filter
	{
		background: none;
		border: 0px;
		@include border-radius(0px);
		display: none;
		padding: 0px;
		
		span
		{
			padding: 0px;
		}
		
		.icon-remove-sign
		{
			color: $report_filter_remove_filter_text_color;
			font-size: 20px;
			line-height: 20px;
		}
	}

	.advanced-filter-button
	{
		background: none;
		border: 0px;
		@include border-radius(0px);
		display: none;
		padding: 0px;
		
		span
		{
			padding: 0px;
		}
		
		.icon-pencil
		{
			color: $report_filter_advanced_button_color;
			font-size: 20px;
			line-height: 20px;
			
			&:hover
			{
				color: $report_filter_advanced_button_hover_color;
			}
			
			&.selected
			{
				color: $report_filter_advanced_button_selected_color
			}
		}
	}
}

#report_filters-body
{
	width: 100% !important;
}


#report_filters.x-active .filter-number
{
	display: block;
}

#report_filters .filter.x-over,
#report_filters .filter.x-form-focus
{
	background: $report_filter_focus_background_color;
	border-bottom: 1px solid $report_filter_focus_border_color_bottom;
	border-top: 1px solid $report_filter_focus_border_color_top;
	@include box-shadow(0px 1px 1px $report_filter_focus_box_shadow_color);
	z-index: 1;
}

#report_filters .filter.x-over .remove-filter,
#report_filters .filter.x-form-focus .remove-filter,
#report_filters .filter.x-over .advanced-filter-button,
#report_filters .filter.x-form-focus .advanced-button
{
	display: block;
}