// report filters
$report_filters_border_color_bottom: #cccccc;

// report filter
$report_filter_border_color_bottom: #ccc;
$report_filter_border_color_top: #ccc;

$report_filter_number_color: #999999;

$report_filter_name_color: #333333;

// report filter - remove button
$report_filter_remove_filter_text_color: #ac030c;

#report_filters-body,
#report_filters .filter-container-body,
#report_filters .filter-body,
#report_filters .x-box-inner
{
	width: 100% !important;
}

#report_filters .x-box-inner div:first-child
{
	width: auto !important;
}

#report_filters
{
	.filter
	{
		background: #f1f1f1;
		border-bottom: 1px solid $report_filter_border_color_bottom;
		border-top: 1px solid $report_filter_border_color_top;
	}
	
	.filter-number
	{
		display: none;
		top: 25px !important;
		
		label
		{
			color: $report_filter_number_color;
			font-size: 18px;
			font-weight: bold;
			margin: 0px !important;
			text-align: center;
		}
	}
	
	.filter-name div
	{
		color: $report_filter_name_color;
		font-size: 14px;
		font-weight: bold;
	}
	
	.remove-filter
	{
		background: none;
		border: 0px;
		@include border-radius(0px);
		display: none;
		padding: 0px;
		
		span
		{
			padding: 0px;
		}
		
		.icon-remove-sign
		{
			color: $report_filter_remove_filter_text_color;
			font-size: 18px;
			line-height: 18px;
		}
	}
}


#report_filters.x-active .filter-number
{
	display: block;
}

#report_filters .filter.x-over .filter-number,
#report_filters .filter.x-form-focus .filter-number,
#report_filters .filter.x-over .remove-filter,
#report_filters .filter.x-form-focus .remove-filter
{
	display: block;
}