// report filter options
$report_filter_options_background_color: #454545;

$report_filter_options_body_border_color: #cccccc;

#report_filter_options
{
	background: $report_filter_options_background_color;
}

#report_filter_options .x-panel-body-default
{
	background: transparent;
}

#report_filter_options-body
{
	border: 1px solid $report_filter_options_body_border_color;
	border-top: 0px;
}

@import 'placeholder';
@import 'header';
@import 'actions';
@import 'expression';
@import 'filters';