#report_filter_toolbar
{
	background: #454545;
	border: 1px solid #333;
}

#report_filter_toolbar .x-btn
{
	background: none;
	border: 0px;
	@include border-radius(0px);
}

#report_filter_toolbar .x-btn span
{
	color: #999;
	font-size: 11px;
	font-weight: bold;
}