@import 'address-confirmation/address-confirmation';

#main-form {
    .autofill {
        margin-top: 20px;
    }

    .main-heading {
        background-color: #93c1e2;
        @include background-image(linear-gradient(to top, #93c1e2, #e0eff8));
        border-bottom: 7px solid #7daacb;
        border-top: 2px solid #aeafb2;
        color: #ffffff;
        font-family: Franklin Gothic Medium, Arial;
        font-size: 40px;
        margin: 0 auto;
        position: relative;
        text-align: center;
        text-shadow: #39749b 2px 2px 5px;
        text-transform: uppercase;
        padding: 20px;
    }

    .call-outs {
        p {
            margin-top: 40px;
            color: #002d4f;
            font-family: Franklin Gothic Medium, Arial;
            font-size: 20px;
            line-height: 24px;
            height: 109px;
            background: url(https://alpha.picsorganizer.com/images/registration/info_arrow_bg_right1.png) no-repeat;
            background-position: right;
            padding-right: 35px;
            padding-top: 15px;
        }

        dl {
            background-color: #e3eff8;
            background-color: rgba(145, 192, 224, 0.25);
            padding: 10px;
            padding: 1px 20px 20px 20px;
            margin-top: 40px;

            &:last-child {
                margin-top: 50px;
            }

            dt {
                color: #39749b;
                font-size: 32px;
                font-weight: bold;
                line-height: 33px;
                margin: 20px 0;
            }

            dd {
                color: #76a7c9;
                font-size: 18px;
                font-weight: bold;
                margin: 10px;
                text-shadow: #ffffff 1px 1px 2px;
            }
        }
    }

    form {
        margin-top: 35px;

        section {
            border: 1px solid #bbd3e3;
            margin-top: 20px;

            h1 {
                position: absolute;
                z-index: 9999;
                background-color: #be804d;
                background-color: rgba($pics_burnt_orange, 0.7);
                color: #ffffff;
                font-size: 25px;
                font-weight: bold;
                height: 50px;
                line-height: 50px;
                margin: 30px 0 20px 0;
                text-shadow: #a85008 2px 2px 5px;

                span {
                    background-color: #c46600;
                    background-color: rgba(197, 98, 26, 1);
                    margin: 0 10px 0 20px;
                    padding: 2px 12px;
                }
            }
        }

        fieldset {
            background: #f5f5f5;
            margin: 2px;
            padding: 100px 20px 30px 20px;
        }

        button[type="submit"] {
            margin-top: 18px;
        }

        textarea {
            resize: none;
        }
    }
}

@media (max-width: 991px) {
    #main-form .call-outs {
        display: none;
    }
}