<!-- <head>
    <title>PICS - {{ text['ContractorRegistration.title'] }}</title>
</head> -->

<div id="main-form" ng-controller="registrationCtrl">
    <basic-menu country-id="registrationForm.countryISOCode" language-id="localeForm.language"></basic-menu>

    <h1 class="main-heading" translate>{{ text['Registration.BecomeAMember'] }}</h1>

    <div class="container">
        <div class="col-md-offset-1 col-md-4 call-outs">
                <p translate ng-bind-html="text['Registration.JoinInfo']"></p>
            <div class="col-md-offset-3">
                <dl>
                    <dt translate ng-bind-html="text['Registration.Qualify']"></dt>
                    <dd translate>{{ text['Registration.CountryCount'] }}</dd>
                    <dd translate>{{ text['Registration.OperatorCount'] }}</dd>
                    <dd translate>{{ text['Registration.UserCount'] }}</dd>
                </dl>
            </div>
            <dl class="why-contractors-choose-pics">
                <dt translate ng-bind-html="text['Registration.Why']"></dt>
                <dd translate>{{ text['Registration.Reason1'] }}</dd>
                <dd translate>{{ text['Registration.Reason2'] }}</dd>
                <dd translate>{{ text['Registration.Reason3'] }}</dd>
                <dd translate>{{ text['Registration.Reason4'] }}</dd>
                <dd translate>{{ text['Registration.Reason5'] }}</dd>
                <dd translate>{{ text['Registration.Reason6'] }}</dd>
                <dd translate>{{ text['Registration.Reason7'] }}</dd>
            </dl>
        </div>

        <div class="col-md-7">
            <a ng-show="isDevEnvironment()" ng-click="autofillForDev()" class="btn btn-default autofill">Autofill</a>

            <form ng-submit="onSubmitClick()" class="registration-form form-horizontal" validation-errors="validationErrors" inline-validation="validateInline" role="form">
                <!-- Company Information -->
                <section>
                    <div class="row">
                        <h1 class="col-md-9 col-sm-12 col-xs-12" translate>
                            <span>{{ text['Number.1'] }}</span>{{ text['Registration.CompanyInformation'] }}
                        </h1>
                    </div>

                    <fieldset>
                        <div class="form-group">
                            <label name="localeForm.language" class="col-md-4 control-label"><strong translate>{{ text['User.locale'] }}</strong></label>
                            <div class="col-md-5">
                                <select
                                    tabindex="1"
                                    ui-select2="{ minimumResultsForSearch: -1, width: '100%' }"
                                    ng-model="localeForm.language"
                                    ng-init="localeForm.language='en'">
                                    <option ng-repeat="language in languages" ng-selected="{{ language.id === localeForm.language }}" value="{{ language.id }}">{{ language.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div ng-show="dialects" class="form-group">
                            <label name="localeForm.dialect" class="col-md-4 control-label"><strong translate>{{ text['Registration.dialect'] }}</strong></label>
                            <div class="col-md-5">
                                <select
                                    tabindex="2"
                                    ui-select2="{ minimumResultsForSearch: -1, width: '100%' }"
                                    ng-model="localeForm.dialect"
                                    ng-init="localeForm.dialect='US'">
                                    <option ng-repeat="dialect in dialects" ng-selected="{{ dialect.id === localeForm.dialect }}" value="{{ dialect.id }}">{{ dialect.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label name="registrationForm.countryISOCode" class="col-md-4 control-label"><strong translate>{{ text['global.country'] }}</strong></label>
                            <div class="col-md-5">
                                <select
                                    tabindex="3"
                                    ui-select2="{ width: '100%' }"
                                    ng-model="registrationForm.countryISOCode"
                                    ng-init="registrationForm.countryISOCode='US'">
                                    <option ng-repeat="country in countries" ng-selected="{{ country.id === registrationForm.countryISOCode }}" value="{{ country.id }}">{{ country.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label name="registrationForm.timezoneId" class="col-md-4 control-label"><strong translate>{{ text['global.timezone'] }}</strong></label>
                            <div class="col-md-7">
                                <input
                                    tabindex="tabindex"
                                    ng-model="registrationForm.timezoneId"
                                    time-zone-select>
                                </input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label name="registrationForm.legalName" class="col-md-4 control-label"><strong translate>{{ text['ContractorAccount.name'] }}</strong></label>
                            <div class="col-md-5">
                                <input
                                    type="text"
                                    class="form-control"
                                    tabindex="5"
                                    ng-model="registrationForm.legalName"
                                    ng-init="registrationForm.legalName=''"
                                    value="My Company1396568471986" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label name="registrationForm.addressBlob" class="col-md-4 control-label"><strong translate>{{ text['ContractorAccount.address'] }}</strong></label>
                            <div class="col-md-5">
                                <textarea
                                    class="form-control"
                                    tabindex="6"
                                    ng-model="registrationForm.addressBlob"
                                    ng-init="registrationForm.addressBlob=''">123 Main Street</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label name="registrationForm.zip" class="col-md-4 control-label"><strong translate>{{ text['ContractorAccount.zip'] }}</strong></label>
                            <div class="col-md-5">
                                <input
                                    type="text"
                                    class="form-control"
                                    tabindex="7"
                                    ng-model="registrationForm.zip"
                                    ng-init="registrationForm.zip=''"
                                    value="12345" />
                            </div>
                        </div>

                        <div class="form-group" ng-show="vatRequired">
                            <label name="registrationForm.vatId" class="col-md-4 control-label"><strong translate>{{ vatIdLabel }}</strong></label>
                            <div class="col-md-5">
                                <input
                                    type="text"
                                    class="form-control"
                                    tabindex="8"
                                    ng-model="registrationForm.vatId"
                                    ng-init="registrationForm.vatId=''"
                                    value="999999999" />
                            </div>
                        </div>
                    </fieldset>
                </section>

                <!-- Contact Information -->
                <section>
                    <div class="row">
                        <h1 class="col-md-9 col-sm-12 col-xs-12" translate>
                            <span>{{ text['Number.2'] }}</span>{{ text['Registration.ContactInformation'] }}
                        </h1>
                    </div>

                    <fieldset>
                        <div class="form-group">
                            <label name="registrationForm.firstName" class="col-md-4 control-label"><strong translate>{{ text['User.firstName'] }}</strong></label>
                            <div class="col-md-5">
                                <input
                                    type="text"
                                    class="form-control"
                                    tabindex="9"
                                    ng-model="registrationForm.firstName"
                                    ng-init="registrationForm.firstName=''"
                                    value="John" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label name="registrationForm.lastName" class="col-md-4 control-label"><strong translate>{{ text['User.lastName'] }}</strong></label>
                            <div class="col-md-5">
                                <input
                                    type="text"
                                    class="form-control"
                                    tabindex="10"
                                    ng-model="registrationForm.lastName"
                                    ng-init="registrationForm.lastName=''"
                                    value="Smith" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label name="registrationForm.email" class="col-md-4 control-label"><strong translate>{{ text['User.email'] }}</strong></label>
                            <div class="col-md-5">
                                <input
                                    type="text"
                                    class="form-control"
                                    tabindex="11"
                                    ng-model="registrationForm.email"
                                    ng-init="registrationForm.email=''"
                                    ng-blur="setUsernameDefault()"
                                    value="my.email1396568471982@test.com" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label name="registrationForm.phone" class="col-md-4 control-label"><strong translate>{{ text['User.phone'] }}</strong></label>
                            <div class="col-md-5">
                                <input
                                    type="text"
                                    class="form-control"
                                    tabindex="12"
                                    ng-model="registrationForm.phone"
                                    ng-init="registrationForm.phone=''"
                                    value="555-555-5555" />
                            </div>
                        </div>            
                    </fieldset>
                </section>

                <!-- Account Information -->
                <section>
                    <div class="row">
                        <h1 class="col-md-9 col-sm-12 col-xs-12" translate>
                            <span>{{ text['Number.3'] }}</span>{{ text['Registration.AccountInformation'] }}
                        </h1>
                    </div>

                    <fieldset>
                        <div class="form-group">
                            <label name="registrationForm.username" class="col-md-4 control-label"><strong translate>{{ text['global.Username'] }}</strong></label>
                            <div class="col-md-5">
                                <input
                                    type="text"
                                    class="form-control"
                                    tabindex="13"
                                    ng-model="registrationForm.username"
                                    ng-init="registrationForm.username=''" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label name="registrationForm.password" class="col-md-4 control-label"><strong translate>{{ text['global.Password'] }}</strong></label>
                            <div class="col-md-5">
                                <input
                                    type="password"
                                    class="form-control"
                                    tabindex="14"
                                    ng-model="registrationForm.password"
                                    ng-init="registrationForm.password=''"
                                    value="password1" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label name="registrationForm.passwordConfirmation" class="col-md-4 control-label"><strong translate>{{ text['global.ConfirmPassword'] }}</strong></label>
                            <div class="col-md-5">
                                <input
                                    type="password"
                                    class="form-control"
                                    tabindex="15"
                                    ng-model="registrationForm.passwordConfirmation"
                                    ng-init="registrationForm.passwordConfirmation=''"
                                    value="password1" />
                            </div>
                        </div>
                    </fieldset>                
                </section>

                <div class="form-group">
                    <button translate type="submit" class="btn btn-success pull-right" tabindex="16">{{ text['button.GetStarted'] }}</button>
                </div>
            </form>
        </div>
    </div>
    
    <ugly-footer text-end></ugly-footer>
</div>