.timezone-select {
    .select2-choice {
        display: block;
        height: auto !important;

        .select2-arrow {
            top: 20px !important;
        }
    }
}

.timezone_input {
    width: 300px;
}

.select2-results .timezone-data {
    height: 45px;
}

.timezone-data {
    font-size: 14px;
}

.timezone-data p {
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    margin: 5px 0px;
    padding: 0px;
    text-overflow: ellipsis;
    width: 75%;
    white-space: normal;
}

.timezone-data .zone {
    display: block;
}

.timezone-data .date {
    display: block;
    font-size: 11px;
    margin-top: 2px;
}

.timezone-data .time {
    text-align: right;
    width: 25%;
}