.FrontendDevelopmentGuide-page
{
	.side-bar > .nav-list
	{
		width: 220px;
	}
	
	.side-bar > .nav-list.affix
	{
		top: 75px;
	}
	
	section
	{
		margin-bottom: 60px;
		
		h2
		{
			margin: 20px 0;
		}
	}
}

@media (min-width: 1200px) {
	.FrontendDevelopmentGuide-page
	{
		.span3 > .nav-list
		{
			width: 270px;
		}
	}
}

@import 'page-layout/page-layout';
@import 'style-guide/style-guide';