#Login__page #newsfeed_wrapper
{
    margin-bottom: 48px;
    margin-top: 96px;
}

#Login__page #newsfeed
{
    display: inline-block;
    float: none;
}

.lt-ie8 #Login__page #newsfeed
{
    display: inline;
}