#Login__page
{
    #newsfeed_wrapper
    {
        margin-bottom: 48px;
        margin-top: 96px;
    }

    #newsfeed
    {
        display: inline-block;
        float: none;
    }

    .rssFeed
    {
        margin-left: 5px;
        float: left;
    }

    .rssFeed a
    {
        text-decoration: none;
    }

    .rssFeed a:hover
    {
        text-decoration: underline;
    }

    .rssHeader
    {
        padding: 0.2em 0;
        font-size: 20px;
        color: #6BA3C6;
        text-align: center;
    }

    .rssHeader a
    {
        color: #73BBE8;
    }

    .rssHeader a:hover
    {
        color: #73BBE8;
    }

    .rssBody ul
    {
        list-style: none;
    }

    .rssBody ul,
    .rssRow,
    .rssRow h4,
    .rssRow p
    {
        margin: 0px;
        padding: 0px;
        line-height: 16px;
    }

    .rssRow {
        padding: 10px;
        border-bottom: 1px solid #373737;
    }

    .rssRow:last-of-type
    {
        border-bottom-style: none;
    }

    .rssRow .title-date-wrapper {
        width: 100%;
    }

    .rssRow h4 {
        float: left;
    }

    /* article title */
    .rssRow h4 a {
        color: #CCC;
        font-size: 14px;
    }

    .rssRow div .pub-date
    {
        font-size: 10px;
        font-style: italic;
    }

    .rssRow div
    {
        color: #CCC;
        float: right;
    }

    /* article preview */
    .rssRow p {
        clear: both;
        color: #999;
        font-size: 13px;
        text-align: left;
    }

    .rssRow .rssMedia
    {
        padding: 0.5em;
        font-size: 12px;
    }
}

.lt-ie8 #Login__page #newsfeed
{
    display: inline;
    width: 600px;
}
