.chart-section {
   .current-assignments {
        font-size: 36px;
        font-weight: bold;
        text-align: left;

        .row {
            margin-bottom: 20px;
        }

        .icon-user {
            color: $info_med;
        }

        .success,
        .warning,
        .danger {
            background: transparent;
        }
    }

    .chart-container {
        position:relative;

        .assignment-chart {
            path {
                stroke: #ffffff;
                stroke-width: 5px;
            }
        }

        .number-of-employees {
            font-size: 36px;
            font-weight: bold;
            position:absolute;
            top: 50%;

            .icon-user {
                color: $info_med;
                display: block;
            }
        }
    }
}