#loading_page
{
    height: 140px;
    left: 50%;
    margin: -70px 0 0 -90px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 180px;
}

#loading_page h1
{
    color: #333;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:13px;
    margin:0px;
    padding:0px;
}