.ScheduleAudit-page #auditHeader,
.ScheduleAudit-page #auditHeaderNav 
{
	display: none;
}

/* ScheduleAudit */

#ScheduleAudit__page .schedule-audit-address-form #submitButton,
#ScheduleAudit__page .schedule-audit-address-form #verifyButton
{
	display: none;
}

/* ScheduleAuditSelect */

#ScheduleAudit_address_page #li_availability {
	width: 100%;
	margin: 5px;
	padding: 5px;
}

#ScheduleAudit_address_page #li_availability .cal_day {
	border: 1px dashed #999;
	float: left;
	height: 154px;
	margin: 10px;
	padding: 10px 20px;
	width: 224px;
}

#ScheduleAudit_address_page #li_availability .cal_day.rush-date
{
	height: 150px;
	width: 220px;
}

#ScheduleAudit_address_page #li_availability .cal_day.rush-date,
#ScheduleAudit_address_page #li_availability .cal_day.rush-date:hover
{
	border: 3px solid red;
}

#ScheduleAudit_address_page #li_availability .cal_day.rush-date p
{
	color: red;
	float: right;
	font-size: 10px;
	line-height: 10px;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

#ScheduleAudit_address_page #li_availability .cal_day .cal_times {
	height:80%;
	margin: 0;
	overflow:auto;
	padding: 0;
}

#ScheduleAudit_address_page #li_availability .cal_day:hover {
	background-color: white;
	border: 1px solid #002240;
}

#ScheduleAudit_address_page #li_availability a {
	padding: 5px;
	border: 1px solid #4686BF;
	white-space: nowrap;
	text-decoration: none;
	line-height: 35px;
}

#ScheduleAudit_address_page #li_availability a:hover {
	background-color: #ffffbb;
}

/* ScheduleAuditConfirm */

#ScheduleAudit_selectTime_page .schedule-audit-confirm-form #ScheduleAudit__confirm
{
	display: none;
}

/* ScheduleAuditEdit google map preview */

#ScheduleAudit_edit_page #mappreview
{
	border: 2px solid #003768;
    float: right;
    height: 350px;
    width: 350px;
}

#ScheduleAudit_edit_page #mappreview div
{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#ScheduleAudit_edit_page div#needsReschedulingFee
{
    display: none;
}

.schedule-audit-expedite-modal
{
	font-size: 13px;
	line-height: 16px;
}