.operatorlocation
{
    padding-left: 10px;
    font-size: x-small;
    color: gray;
}

#results
{
    padding-top: 10px;
}

#contractor_facilities_search_box
{
    height: 18px;
    background-color: #fff;
    background-image: url(../../images/searchimg.gif);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 3px;
    padding-left: 22px;
    width: 75%;
}