.notice
{
    background: $pics_cool_grey;
    @include box-shadow(#131313 0px 2px 8px);
    color: #666;
    margin: 100px auto 20px;
    padding: 60px;
    text-align: center;
    width: 330px;

    h1
    {
        color: $pics_burnt_orange;
        font-weight: normal;
        margin: 30px 0px;
    }

    p
    {
        text-align: left;
    }
}

@media (max-width: 480px)
{
    .notice
    {
        background: transparent;
        @include box-shadow(none);
        margin: 0;
        padding: 30px 0px;
        width: 100%;
    }
}