<div class="operator-dashboard" ng-controller="operatorDashboardCtrl">
    <div class="container">
        <pagetitle title="{{ 'OPERATOR.DASHBOARD.PAGE_TITLE' | translate }}" subtitle="{{ 'OPERATOR.DASHBOARD.PAGE_SUBTITLE' | translate}}"></pagetitle>

        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="/employee-guard/operators/assignments">
                            <i class="icon-map-marker icon-large"></i>{{ 'OPERATOR.DASHBOARD.SECONDARY_NAV_MENU.ASSIGNMENTS' | translate}}
                        </a>
                    </li>
                    <li class="nav-divider"></li>
                    <li>
                        <span class="nav-title">{{ 'OPERATOR.DASHBOARD.SECONDARY_NAV_MENU.MANAGE' | translate}}</span>
                    </li>
                    <li>
                        <a href="/employee-guard/operators/projects">
                            <i class="icon-sitemap icon-large"></i>{{ 'OPERATOR.DASHBOARD.SECONDARY_NAV_MENU.PROJECTS' | translate}}
                        </a>
                    </li>
                    <li>
                        <a href="/employee-guard/operators/role" target="_self">
                            <i class="icon-group icon-large"></i>{{ 'OPERATOR.DASHBOARD.SECONDARY_NAV_MENU.JOB_ROLES' | translate}}
                        </a>
                    </li>
                    <li>
                        <a href="/employee-guard/operators/skill" target="_self">
                            <i class="icon-certificate icon-large"></i>{{ 'OPERATOR.DASHBOARD.SECONDARY_NAV_MENU.SKILLS' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row" ng-show="siteList.length > 0">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading ">
                                <h3 class="panel-title" translate="OPERATOR.CORPORATE.DASHBOARD.SITE_SELECTION"></h3>
                            </div>
                            <div class="panel-body">
                                <select ui-select2="{ minimumResultsForSearch: -1, width: '100%' }" ng-model="selected_site" ng-change="loadAssignmentsBySiteId(selected_site)">
                                    <option ng-repeat="site in siteList | orderBy:'name'" ng-selected="{{ site.id === selected_site }}" value="{{ site.id }}">{{ site.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-include src="'/employee-guard/src/app/employeeguard/operator/dashboard/_site-status.tpl.html'"></ng-include>

                <div class="row beta-section">
                    <div class="col-md-8" ng-show="userType === 'operator'">
                        <section class="employee-guard-section">
                            <h1>
                                <i class="icon-wrench icon-large"></i>Beta Updates (Thursday 2014-05-29)
                            </h1>
                            <div class="content">
                                <ul class="list-unstyled">
                                    <li class="issue-known">
                                        <span><i class="icon-lemon"></i> Known Issue:</span>
                                        Adding extremely large amounts of text in certain fields can cause an error or not allow items to be deleted.
                                    </li>
                                    <li class="issue-fixed">
                                        <span><i class="icon-smile"></i> Fixed:</span>
                                        Live ID displays assigned employee's information.
                                    </li>
                                    <li class="issue-more">
                                        <a href="/employee-guard/operators/changelog">
                                            <i class="icon-list"></i> View more update history in the Change Log...
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-8" ng-show="userType === 'corporate'">
                        <section class="employee-guard-section" >
                            <h1>
                                <i class="icon-wrench icon-large"></i>Beta Updates (Thursday 2014-05-29)
                            </h1>
                            <div class="content">
                                <ul class="list-unstyled">
                                    <li class="issue-known">
                                        <span><i class="icon-lemon"></i> Known Issue:</span>
                                        Adding extremely large amounts of text in certain fields can cause an error or not allow items to be deleted.
                                    </li>
                                    <li class="issue-known">
                                        <span><i class="icon-lemon"></i> Known Issue:</span>
                                        An assigned employee's profile image does not display in Internet Explorer 8.
                                    </li>
                                    <li class="issue-fixed">
                                        <span><i class="icon-smile"></i> Fixed:</span>
                                        Trying to create a duplicate item will now display an alert.
                                    </li>
                                    <li class="issue-fixed">
                                        <span><i class="icon-smile"></i> Fixed:</span>
                                        You can now re-name something with a deleted item's name.
                                    </li>
                                    <li class="issue-more">
                                        <a href="/employee-guard/operators/changelog">
                                            <i class="icon-list"></i> View more update history in the Change Log...
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <betafeedback></betafeedback>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>