<div ng-controller="employeeSkillListCtrl" class="employee-skills-page">
    <div class="container">
        <pagetitle title="{{ 'EMPLOYEE.SKILLS.PAGE_TITLE' | translate }}"></pagetitle>
        <div class="page-subheader">
            <div class="row">
                <div class="col-md-8">
                    <ol class="breadcrumb">
                        <li><a href="/employee-guard/employee/dashboard" translate="EMPLOYEE.SKILLS.BREADCRUMB.DASHBOARD"></a></li>
                        <li class="active" translate="EMPLOYEE.SKILLS.BREADCRUMB.SKILLS"></li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row" ng-if="skillList">
            <div class="col-md-3">
                <div class="bs-sidebar">
                    <nav id="side-navigation" class="navbar bs-sidenav" role="navigation">
                        <ul class="nav" role="menu">
                            <li ng-class="{active: selectedMenuItem == 'all'}">
                                <a href="/employee-guard/employee/skills" translate="EMPLOYEE.SKILLS.SECONDARY_NAV_MENU.ALL">
                                {{ skillModel }}
                                    <skillstatusicon status="{{ overallStatus }}" class="pull-right"></skillstatusicon>
                                </a>
                            </li>
                            <li class="nav-divider"></li>
                            <li ng-repeat="site in sites" ng-class="{active: selectedMenuItem == site.slug}">
                                <a href="/employee-guard/employee/skills/sites/{{ site.slug }}">
                                    {{ site.name }}
                                    <skillstatusicon status="{{ site.status }}" class="pull-right"></skillstatusicon>
                                </a>
                                <ul class="nav" role="submenu">
                                    <li ng-repeat="project in site.projects" ng-class="{active: selectedMenuItem == site.slug + '-' + project.slug}">
                                        <a href="/employee-guard/employee/skills/sites/{{ site.slug }}/projects/{{ project.slug }}">
                                            {{ project.name }}
                                            <skillstatusicon status="{{ project.status }}" class="pull-right"></skillstatusicon>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-9">
                <div ng-switch on="getSelectedView()">
                    <div ng-switch-when="site">
                        <employeeskillsection title="{{ viewTitle }}" skills="skillList.skills" url-prefix="/employee-guard/employee/skill/" target="_self"></employeeskillsection>
                    </div>
                    <div ng-switch-when="project">
                        <employeeskillsection title="{{ viewTitle }}" skills="skillList.skills" url-prefix="/employee-guard/employee/skill/" target="_self"></employeeskillsection>
                    </div>
                    <div ng-switch-default>
                        <span ng-repeat="site in sites">
                            <employeeskillsection title="{{ site.name }}" skills="site.skills" url-prefix="/employee-guard/employee/skill/" target="_self"></employeeskillsection>
                        </span>
                    </div>
               </div>
            </div>
        </div>
        <div class="row" ng-if="!skillList">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-info">
                    <h4 translate="EMPLOYEE.SKILLS.NO_SKILLS.TITLE"></h4>
                    <p translate="EMPLOYEE.SKILLS.NO_SKILLS.MESSAGE"></p>
                    <p translate="EMPLOYEE.SKILLS.NO_SKILLS.MESSAGE2" translate-values="{ url: '/employee-guard/employee/file', target: '_self'}"></p>
                    <p>
                        <a href="#"><i class="icon-question-sign"></i> {{ 'EMPLOYEE.SKILLS.NO_SKILLS.LEARN_MORE' | translate}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>