#ManageReports_search_page {
    #search_reports_instructions {
        background: #EBF5FE;
        border-radius: 5px;
        color: #75B9E8;
        margin-bottom: 28px;
        margin-top: 28px;
        padding: 10px 20px;
    }

    #search_reports_instructions p {
        font-size: 13px;
    }

    #search_reports_instructions h1 {
        font-size: 17px;
        line-height: 1;
        margin-bottom: 5px;
    }

    #report_search
    {
        margin-bottom: 40px;
        text-align: left;
    }

    #report_search_form
    {
        margin-left: 5px;
        position: relative;

        ::-webkit-input-placeholder { /* WebKit browsers */
            color: $default_silver;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $default_silver;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $default_silver;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $default_silver;
        }

        input
        {
            background: #ffffff;
            padding-left: 30px;
        }

        .icon-search
        {
            bottom: 8px;
            color: $default_silver;
            left: 10px;
            position: absolute;
        }

        input:focus ~ .icon-search
        {
            color: #73bbe8;
        }
    }

    .lt-ie8 #report_search_form
    {
        display: inline;
    }

    .report-list
    {
        .report
        {
            line-height: 28px;
        }

        .report > .favorite,
        .report > .unfavorite
        {
            float: left;
            line-height: 56px;
            margin: 0 10px;
        }

        .summary
        {
            margin: 0 120px 0 40px;
            line-height: 32px;
        }

        .name
        {
            float: none;
            line-height: 14px;
        }

        .created-by
        {
            line-height: 14px;
        }

        .description
        {
            color: $pics_warm_grey;
            font-size: 12px;
            line-height: 14px;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .number-favorites
        {
            color: #e67e1c;
            font-size: 14px;
            float: right;
            line-height: 56px;
            margin-right: 20px;
        }
    }
}