// menu body
$menu_body_border_color: #a7a7a7;

// menu title
$menu_title_text_color: #999999;

// menu item
$menu_item_active_background_color: #a84d10;
$menu_item_active_gradient_color_top: #c66603;
$menu_item_active_gradient_color_bottom: #a84d10;
$menu_item_active_text_color: #ffffff;

.x-menu-body
{
	border: 1px solid $menu_body_border_color;
	@include border-radius(5px);
}

.menu-title
{
	color: $menu_title_text_color;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 15px 4px 15px;
	text-transform: uppercase;
}

.x-menu-item-text
{
	font-size: 13px;
}

.x-menu-item-active .x-menu-item-link
{
	background: $menu_item_active_background_color;
	@include background-image(linear-gradient($menu_item_active_gradient_color_top, $menu_item_active_gradient_color_bottom) !important);
	border: 1px solid transparent !important;
	@include border-radius(0px !important);
}

.x-menu-item:first-child.x-menu-item-active .x-menu-item-link
{
	@include border-top-left-radius(3px !important);
	@include border-top-right-radius(3px !important);
}

.x-menu-item:last-child.x-menu-item-active .x-menu-item-link
{
	@include border-bottom-left-radius(3px !important);
	@include border-bottom-right-radius(3px !important);
}

.x-menu-item-active .x-menu-item-link span
{
	color: $menu_item_active_text_color;
}