#report_toolbar
{
	background: #73bbe8;
	border: 1px solid #808285 !important;
	padding: 10px 20px;
}

#report_toolbar .header
{
	color: #ffffff;
	font-size: 18px;
	font-weight: normal;
	top: 6px !important;
}

#report_sorts
{
	padding: 0px;
}

#report_sorts,
#report_sorts .x-toolbar-default
{
	background: none;
}

#report_sorts .sort
{
	@include background-image(linear-gradient(#f1f1f1, #dcdcdc));
	border: 1px solid #bcbcbc;
}

#report_sorts .sort.x-btn-over
{
	background: #dcdcdc;
}

#report_sorts .x-btn-split-right
{
	background-image: url('../images/button/s-arrow.gif');
	padding-right: 14px !important;
}

#report_sorts .x-btn-icon-text-left .x-btn-icon
{
	background-position: center;
	margin-left: 3px;
}

#report_toolbar .add-column
{
	@include background-image(linear-gradient(#f1f1f1, #dcdcdc));
	border: 1px solid #bcbcbc;
	margin-left: 10px;
}

#report_toolbar .add-column.x-btn-over
{
	background: #dcdcdc;
}

#report_toolbar .add-column em
{
	background-image: url('../images/button/s-arrow.gif');
}

#report_toolbar .add-column button span
{
	color: #333333;
	font-size: 11px;
	line-height: 20px !important;
}

#report_toolbar .add-column .icon-plus
{
	color: #2caf2c;
	margin-right: 5px;
}