#report_summary .name
{
	color: #73bbe8;
	font-size: 30px;
	font-weight: normal;
	margin: 18px 20px 0px;
}

#report_summary .description
{
	color: #808285;
	font-size: 14px;
	font-weight: normal;
	margin: 0px 20px 20px;
}