#report_filter_options
{
	background: #454545;
}

#report_filter_options .x-panel-body-default
{
	background: transparent;
}

#report_filter_options-body
{
	border: 1px solid #cccccc;
	border-top: 0px;
}

#report_filter_options-placeholder
{
	background: #acacac;
	border: 1px solid #666666 !important;
	@include border-top-right-radius(5px);
	@include border-bottom-right-radius(5px);
	@include box-shadow(none);
	height: 100px !important;
	padding: 5px;
	top: 100px !important;
}

#report_filter_options-placeholder .x-tool img
{
	background: url(../../app/resources/images/collapse-arrow-off.gif) no-repeat center;
}

#report_filter_options-placeholder text
{
	fill: #ffffff;
	font-size: 13px;
	letter-spacing: 1px;
}

#report_filter_options_header
{
	background: #73bbe8;
	border: 1px solid #808285 !important;
	@include box-shadow(none);
	height: 50px;
	padding: 10px 0px 10px 20px;
}

#report_filter_options_header span
{
	color: #ffffff;
	font-size: 18px;
	font-weight: normal;
}

#report_filter_options_header .x-tool
{
	left: 273px !important;
	top: 0px !important;
}

#report_filter_options_header .x-tool,
#report_filter_options_header .x-tool-collapse-left
{
	height: 28px !important;
	width: 26px !important;
}

#report_filter_options_header .x-tool-collapse-left
{
	background: url(../../app/resources/images/collapse-off.gif) no-repeat;
}

@import 'report_filter_actions';
@import 'report_filter_expression';
@import 'report_filters';