#report_actions
{
	text-align: right;
}

#report_actions .edit,
#report_actions .save
{
	margin-top: 25px;
}

#report_actions .edit
{
	@include background-image(linear-gradient(#f1f1f1, #dcdcdc));
	margin-right: 10px;
}

#report_actions .edit button span
{
	font-size: 16px;
	line-height: 34px !important;
	padding: 0px !important;
}

#report_header .edit .icon-cog
{
	color: #666666;
}

#report_actions .save
{
	@include background-image(linear-gradient(#33c033, #229322));
	border-color: #229322;
	margin-right: 20px;
}

#report_actions .save .x-btn-split-right
{
	background-image: url(../../app/resources/images/splitbutton/arrow-green-off.png);
	padding-right: 39px !important;
}

#report_actions .save button span
{
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}