#Reference_navigationMenu_page
{
	background-color: #454545;
	padding-top: 0;
	
	p
	{
		line-height: 24px;
	}

	header,
	.content,
	footer
	{
		margin: 0 -20px;
		padding: 20px;
		overflow: hidden;
	}
	
	header
	{
		background-color: #f1f1f2;

		h1
		{
			color: #808285;
			font-size: 60px;
			font-weight: normal;
			line-height: 1;
			margin: 0;
		}
		
		h2
		{
			color: #a84d10;
			font-size: 14px;
			line-height: 1;
		}
	}
	
	.content
	{
		background-color: #f1f1f2;
	
		.row
		{
			margin-bottom: 80px;
			margin-top: 80px;
		}
	}
	
	.row.dashboard
	{
		margin-top: 40px;
	}
	
	.dashboard
	{
		.image-container
		{
			float: right;
			text-align: right;
		}
		
		img
		{
			margin-right: -20px;
		}
	}
	
	.settings
	{
		.image-container
		{
			text-align: left;
		}
		
		img
		{
			margin-left: -20px;
		}
	}
	
	.row.support
	{
		margin-bottom: 60px;
	}
	
	.support
	{
		
		.image-container
		{
			float: right;
			text-align: center;
		}
	}
	
	.overview
	{
		h1
		{
			color: #73bbe8;
			font-size: 24px;
			font-weight: normal;
			line-height: 1;
			margin-top: 0;
		}
		
		p
		{
			color: #666;
		}
	}
	
	footer
	{
		background-color: #ccc;
		@include background-image(linear-gradient(#eaeaea, #ccc));
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeaeaea', endColorstr='#ffcccccc', GradientType=0);
		border-top: 1px solid #999;
		text-align: center;
		
		a
		{
			margin-bottom: 10px;
		}
		
		.icon-circle-arrow-right
		{
			margin-left: 5px;
			vertical-align: middle;
		}
		
		p
		{
			color: #808285;
		}
	}
}

@media (min-width: 1200px) {
	#Reference_navigationMenu_page
	{
		header,
		.content,
		footer
		{
			margin: 0 -30px;
			padding: 30px;
		}
		
		.dashboard
		{
			img
			{
				margin-right: -30px;
			}
		}
		
		.settings
		{
			img
			{
				margin-left: -30px;
			}
		}
	}
}

@media (max-width: 767px) {
	#Reference_navigationMenu_page
	{
		.content
		{
			.row
			{
				margin-top: 40px;
				margin-bottom: 40px;
			}
		}
		
		.row.dashboard
		{
			margin-top: 0;
		}
		
		.image-container
		{
			margin-bottom: 20px;
		}
	}
}