/*
 * PICS Stylesheet
 *
 * Compiles all 'custom' PICS css into a pics.css file
 *
 * @author: Carey Hinoki
 * @date: 2012-07-09
 */
/* line 2, ../sass/pics/layout/_layout.scss */
body {
  padding-top: 55px;
}

@media (max-width: 979px) and (min-width: 768px), (max-width: 767px) {
  /* line 8, ../sass/pics/layout/_layout.scss */
  body {
    padding-top: 0;
  }
}
/* line 2, ../sass/pics/layout/_environment.scss */
#environment {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #252525), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#252525, #333333);
  background-image: -moz-linear-gradient(#252525, #333333);
  background-image: -o-linear-gradient(#252525, #333333);
  background-image: linear-gradient(#252525, #333333);
  color: #f1f1f2;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
}
/* line 10, ../sass/pics/layout/_environment.scss */
#environment a {
  color: #ccc;
  float: right;
  padding: 0 10px;
  text-decoration: none;
}
/* line 17, ../sass/pics/layout/_environment.scss */
#environment a:hover {
  color: #f1f1f2;
}
/* line 25, ../sass/pics/layout/_environment.scss */
#environment .active.localhost {
  color: #f6303c;
}
/* line 30, ../sass/pics/layout/_environment.scss */
#environment .active.alpha {
  color: #33c033;
}
/* line 35, ../sass/pics/layout/_environment.scss */
#environment .active.config {
  color: #fcc033;
}
/* line 40, ../sass/pics/layout/_environment.scss */
#environment .active.beta {
  color: #73bbe8;
}
/* line 45, ../sass/pics/layout/_environment.scss */
#environment .active.qa-beta {
  color: #ff6600;
}
/* line 50, ../sass/pics/layout/_environment.scss */
#environment .active.qa-stable {
  color: #996fff;
}

@media (max-width: 979px) {
  /* line 58, ../sass/pics/layout/_environment.scss */
  #environment.navbar-fixed-bottom {
    margin: 0;
    position: fixed;
  }
}
/* line 4, ../sass/pics/layout/_menu.scss */
.navbar .brand {
  padding-right: 15px;
}
/* line 9, ../sass/pics/layout/_menu.scss */
.navbar .nav > li > a {
  border: 1px solid transparent;
  border-bottom: 0;
  color: #002441;
  font-size: 13px;
  font-weight: bold;
  padding: 16px 15px;
}
/* line 19, ../sass/pics/layout/_menu.scss */
.navbar .nav > li > a:hover {
  color: #C66603;
}
/* line 26, ../sass/pics/layout/_menu.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: #f1f1f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(100%, #f1f1f2));
  background-image: -webkit-linear-gradient(#eaeaea, #f1f1f2);
  background-image: -moz-linear-gradient(#eaeaea, #f1f1f2);
  background-image: -o-linear-gradient(#eaeaea, #f1f1f2);
  background-image: linear-gradient(#eaeaea, #f1f1f2);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #aeaeae;
  border-top: 1px solid #999999;
  border-bottom: 0px;
  color: #C66603;
}
/* line 37, ../sass/pics/layout/_menu.scss */
.navbar .navbar-search {
  border-right: 1px solid #e7e7e7;
  margin: 0;
  padding: 11px 15px;
}
/* line 43, ../sass/pics/layout/_menu.scss */
.navbar .navbar-search .icon-search {
  color: #ccc;
  margin-right: 2px;
  position: relative;
  top: 8px;
}
/* line 51, ../sass/pics/layout/_menu.scss */
.navbar .navbar-search .search-query {
  line-height: normal;
}

/* line 62, ../sass/pics/layout/_menu.scss */
#user_searchbox .user a {
  font-size: 13px;
  overflow: hidden;
  white-space: normal;
}
/* line 69, ../sass/pics/layout/_menu.scss */
#user_searchbox .user .name {
  float: left;
  width: 175px;
}
/* line 75, ../sass/pics/layout/_menu.scss */
#user_searchbox .user .id {
  float: right;
}
/* line 80, ../sass/pics/layout/_menu.scss */
#user_searchbox .user .company {
  float: left;
  width: 175px;
}
/* line 86, ../sass/pics/layout/_menu.scss */
#user_searchbox .user .type {
  float: right;
  font-style: italic;
}

/* line 96, ../sass/pics/layout/_menu.scss */
#user_menu .icon-cog {
  font-size: 16px;
  position: relative;
  top: 4px;
}

@media (max-width: 1199px) and (min-width: 980px) {
  /* line 107, ../sass/pics/layout/_menu.scss */
  .navbar .brand {
    padding-right: 10px;
  }
  /* line 112, ../sass/pics/layout/_menu.scss */
  .navbar .nav > li > a {
    padding: 16px 10px;
  }
}
/* line 2, ../sass/pics/layout/_page-header.scss */
.page-header {
  border: 0px;
  margin: 20px 0px;
  padding: 0px;
}

/* line 9, ../sass/pics/layout/_page-header.scss */
h1.title {
  color: #73bbe8;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 0;
}

/* line 17, ../sass/pics/layout/_page-header.scss */
p.subtitle {
  color: #808285;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0px;
}

/*
 * Overrides for Default Buttons
 */
/* line 113, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn {
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  *margin-left: 0.3em;
  margin-left: 5px;
  border-color: #bcbcbc;
  text-shadow: none;
  color: #333333;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f2), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: -moz-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: -o-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: linear-gradient(#f1f1f2, #dcdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f2, endColorstr=gainsboro);
}

/* line 129, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn:hover {
  color: #333333;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f8), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(#f7f7f8, #ececec);
  background-image: -moz-linear-gradient(#f7f7f8, #ececec);
  background-image: -o-linear-gradient(#f7f7f8, #ececec);
  background-image: linear-gradient(#f7f7f8, #ececec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f7f8, endColorstr=#ececec);
}

/* line 139, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn.active,
.btn:active {
  color: #333333;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(100%, #cdcdcd));
  background-image: -webkit-linear-gradient(#dcdcdc, #cdcdcd);
  background-image: -moz-linear-gradient(#dcdcdc, #cdcdcd);
  background-image: -o-linear-gradient(#dcdcdc, #cdcdcd);
  background-image: linear-gradient(#dcdcdc, #cdcdcd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=gainsboro, endColorstr=#cdcdcd);
}

/*
 * Overrides for Primary Buttons
 */
/* line 152, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-primary {
  border-color: #226396;
  text-shadow: 0px -1px 1px #226396;
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #73bbe8), color-stop(100%, #226396));
  background-image: -webkit-linear-gradient(#73bbe8, #226396);
  background-image: -moz-linear-gradient(#73bbe8, #226396);
  background-image: -o-linear-gradient(#73bbe8, #226396);
  background-image: linear-gradient(#73bbe8, #226396);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#73bbe8, endColorstr=#226396);
}

/* line 166, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-primary:hover {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60c9f3), color-stop(100%, #396cc9));
  background-image: -webkit-linear-gradient(#60c9f3, #396cc9);
  background-image: -moz-linear-gradient(#60c9f3, #396cc9);
  background-image: -o-linear-gradient(#60c9f3, #396cc9);
  background-image: linear-gradient(#60c9f3, #396cc9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#60c9f3, endColorstr=#396cc9);
}

/* line 176, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-primary.active,
.btn-primary:active {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #336f9c), color-stop(100%, #09366f));
  background-image: -webkit-linear-gradient(#336f9c, #09366f);
  background-image: -moz-linear-gradient(#336f9c, #09366f);
  background-image: -o-linear-gradient(#336f9c, #09366f);
  background-image: linear-gradient(#336f9c, #09366f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#336f9c, endColorstr=#09366f);
}

/*
 * Overrides for Warning Buttons
 */
/* line 189, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-warning {
  border-color: #e67e1c;
  text-shadow: 0px -1px 1px #e67e1c;
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcc033), color-stop(100%, #e67e1c));
  background-image: -webkit-linear-gradient(#fcc033, #e67e1c);
  background-image: -moz-linear-gradient(#fcc033, #e67e1c);
  background-image: -o-linear-gradient(#fcc033, #e67e1c);
  background-image: linear-gradient(#fcc033, #e67e1c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcc033, endColorstr=#e67e1c);
}

/* line 203, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-warning:hover {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcd100), color-stop(100%, #f1a300));
  background-image: -webkit-linear-gradient(#fcd100, #f1a300);
  background-image: -moz-linear-gradient(#fcd100, #f1a300);
  background-image: -o-linear-gradient(#fcd100, #f1a300);
  background-image: linear-gradient(#fcd100, #f1a300);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcd100, endColorstr=#f1a300);
}

/* line 213, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-warning.active,
.btn-warning:active {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ea9000), color-stop(100%, #d66000));
  background-image: -webkit-linear-gradient(#ea9000, #d66000);
  background-image: -moz-linear-gradient(#ea9000, #d66000);
  background-image: -o-linear-gradient(#ea9000, #d66000);
  background-image: linear-gradient(#ea9000, #d66000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ea9000, endColorstr=#d66000);
}

/*
 * Overrides for Info Buttons
 */
/* line 226, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-info {
  border-color: #6ca6f6;
  text-shadow: 0px -1px 1px #6ca6f6;
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70cfff), color-stop(100%, #6ca6f6));
  background-image: -webkit-linear-gradient(#70cfff, #6ca6f6);
  background-image: -moz-linear-gradient(#70cfff, #6ca6f6);
  background-image: -o-linear-gradient(#70cfff, #6ca6f6);
  background-image: linear-gradient(#70cfff, #6ca6f6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#70cfff, endColorstr=#6ca6f6);
}

/* line 240, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-info:hover {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #73ddff), color-stop(100%, #73d0f6));
  background-image: -webkit-linear-gradient(#73ddff, #73d0f6);
  background-image: -moz-linear-gradient(#73ddff, #73d0f6);
  background-image: -o-linear-gradient(#73ddff, #73d0f6);
  background-image: linear-gradient(#73ddff, #73d0f6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#73ddff, endColorstr=#73d0f6);
}

/* line 250, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-info.active,
.btn-info:active {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #55a9ff), color-stop(100%, #5599fc));
  background-image: -webkit-linear-gradient(#55a9ff, #5599fc);
  background-image: -moz-linear-gradient(#55a9ff, #5599fc);
  background-image: -o-linear-gradient(#55a9ff, #5599fc);
  background-image: linear-gradient(#55a9ff, #5599fc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55a9ff, endColorstr=#5599fc);
}

/*
 * Overrides for Success Buttons
 */
/* line 263, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-success {
  border-color: #229322;
  text-shadow: 0px -1px 1px #229322;
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33c033), color-stop(100%, #229322));
  background-image: -webkit-linear-gradient(#33c033, #229322);
  background-image: -moz-linear-gradient(#33c033, #229322);
  background-image: -o-linear-gradient(#33c033, #229322);
  background-image: linear-gradient(#33c033, #229322);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33c033, endColorstr=#229322);
}

/* line 277, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-success:hover {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33d000), color-stop(100%, #25b000));
  background-image: -webkit-linear-gradient(#33d000, #25b000);
  background-image: -moz-linear-gradient(#33d000, #25b000);
  background-image: -o-linear-gradient(#33d000, #25b000);
  background-image: linear-gradient(#33d000, #25b000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33d000, endColorstr=#25b000);
}

/* line 287, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-success.active,
.btn-success:active {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #299600), color-stop(100%, #1c7600));
  background-image: -webkit-linear-gradient(#299600, #1c7600);
  background-image: -moz-linear-gradient(#299600, #1c7600);
  background-image: -o-linear-gradient(#299600, #1c7600);
  background-image: linear-gradient(#299600, #1c7600);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#299600, endColorstr=#1c7600);
}

/*
 * Overrides for Danger Buttons
 */
/* line 300, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-danger {
  border-color: #ac030c;
  text-shadow: 0px -1px 1px #ac030c;
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6303c), color-stop(100%, #ac030c));
  background-image: -webkit-linear-gradient(#f6303c, #ac030c);
  background-image: -moz-linear-gradient(#f6303c, #ac030c);
  background-image: -o-linear-gradient(#f6303c, #ac030c);
  background-image: linear-gradient(#f6303c, #ac030c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6303c, endColorstr=#ac030c);
}

/* line 314, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-danger:hover {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f92626), color-stop(100%, #d00900));
  background-image: -webkit-linear-gradient(#f92626, #d00900);
  background-image: -moz-linear-gradient(#f92626, #d00900);
  background-image: -o-linear-gradient(#f92626, #d00900);
  background-image: linear-gradient(#f92626, #d00900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f92626, endColorstr=#d00900);
}

/* line 324, ../sass/pics/widgets/twitter-bootstrap/_button.scss */
.btn-danger.active,
.btn-danger:active {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c60c0c), color-stop(100%, #8c0600));
  background-image: -webkit-linear-gradient(#c60c0c, #8c0600);
  background-image: -moz-linear-gradient(#c60c0c, #8c0600);
  background-image: -o-linear-gradient(#c60c0c, #8c0600);
  background-image: linear-gradient(#c60c0c, #8c0600);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c60c0c, endColorstr=#8c0600);
}

/* line 2, ../sass/pics/widgets/twitter-bootstrap/_dropdown.scss */
.dropdown-menu {
  z-index: 9999;
}
/* line 8, ../sass/pics/widgets/twitter-bootstrap/_dropdown.scss */
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #a84d10;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c66603), color-stop(100%, #a84d10));
  background-image: -webkit-linear-gradient(#c66603, #a84d10);
  background-image: -moz-linear-gradient(#c66603, #a84d10);
  background-image: -o-linear-gradient(#c66603, #a84d10);
  background-image: linear-gradient(#c66603, #a84d10);
}

/* line 2, ../sass/pics/widgets/twitter-bootstrap/_form.scss */
label {
  color: #666;
}

/* line 23, ../sass/pics/widgets/twitter-bootstrap/_form.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: #333;
}

/* line 28, ../sass/pics/widgets/twitter-bootstrap/_form.scss */
.form-actions {
  background-color: transparent;
  border-top: 0;
  margin: 0;
  padding: 0;
}

/* line 3, ../sass/pics/widgets/twitter-bootstrap/_pagination.scss */
.pagination li [class^=icon-],
.pagination li [class*=icon-] {
  line-height: 28px;
  width: auto;
}

/* line 9, ../sass/pics/widgets/twitter-bootstrap/_pagination.scss */
.pagination a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f2), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: -moz-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: -o-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: linear-gradient(#f1f1f2, #dcdcdc);
  color: #333;
}

/* line 2, ../sass/pics/widgets/twitter-bootstrap/_tabs.scss */
.nav-tabs {
  border-color: #ccc;
}

/* line 7, ../sass/pics/widgets/twitter-bootstrap/_tabs.scss */
.nav-tabs > li {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 13, ../sass/pics/widgets/twitter-bootstrap/_tabs.scss */
.nav-tabs > li > a {
  background: #eaeaea;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f2), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(#f1f1f2, #eaeaea);
  background-image: -moz-linear-gradient(#f1f1f2, #eaeaea);
  background-image: -o-linear-gradient(#f1f1f2, #eaeaea);
  background-image: linear-gradient(#f1f1f2, #eaeaea);
  border: 1px solid #ccc;
  color: #808285;
  font-size: 16px;
  padding-bottom: 13px;
  padding-top: 13px;
}

/* line 24, ../sass/pics/widgets/twitter-bootstrap/_tabs.scss */
.nav-tabs > li > a:hover {
  background: #f1f1f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f2));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f2);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f2);
  background-image: -o-linear-gradient(#ffffff, #f1f1f2);
  background-image: linear-gradient(#ffffff, #f1f1f2);
  border-color: #ccc #ccc #ccc;
}

/* line 32, ../sass/pics/widgets/twitter-bootstrap/_tabs.scss */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background: #fff;
  border-color: #ccc;
  border-bottom-color: transparent;
  color: #333;
}

/*
 * Templates
 *
 * Manages all jsp templates based off file structure.
 * Place all page templates in this file, including widget overrides.
 *
 * @author: Carey Hinoki
 * @date: 2012-07-10
 */
/* line 6, ../sass/pics/templates/app-property/_app-property.scss */
.ManageAppProperty-page #app_property_list .name {
  width: 20%;
}
/* line 11, ../sass/pics/templates/app-property/_app-property.scss */
.ManageAppProperty-page #app_property_list .value {
  width: 70%;
}
/* line 16, ../sass/pics/templates/app-property/_app-property.scss */
.ManageAppProperty-page #app_property_list .actions {
  width: 10%;
}
/* line 21, ../sass/pics/templates/app-property/_app-property.scss */
.ManageAppProperty-page #app_property_list .value p {
  width: 400px;
  word-wrap: break-word;
}
/* line 31, ../sass/pics/templates/app-property/_app-property.scss */
.ManageAppProperty-page #app_property_edit_form .form-actions,
.ManageAppProperty-page #app_property_create_form .form-actions {
  text-align: right;
  width: 220px;
}
/* line 37, ../sass/pics/templates/app-property/_app-property.scss */
.ManageAppProperty-page #app_property_edit_form .form-actions .btn,
.ManageAppProperty-page #app_property_create_form .form-actions .btn {
  margin-left: 10px;
}

/* line 4, ../sass/pics/templates/contractor/edit/_edit.scss */
.ContractorEdit-page #vat_wrapper {
  display: none;
}

/* line 2, ../sass/pics/templates/login/_login.scss */
#Login__page {
  background: #454545;
  padding-top: 0;
}
/* line 7, ../sass/pics/templates/login/_login.scss */
#Login__page #server_id {
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}
/* line 16, ../sass/pics/templates/login/_login.scss */
#Login__page .login-container {
  text-align: center;
}
/* line 21, ../sass/pics/templates/login/_login.scss */
#Login__page #login_form {
  background: #f1f1f2;
  -webkit-box-shadow: #131313 0px 2px 8px;
  -moz-box-shadow: #131313 0px 2px 8px;
  box-shadow: #131313 0px 2px 8px;
  margin: 100px auto 20px;
  padding: 40px 60px;
  text-align: left;
  width: 220px;
}
/* line 31, ../sass/pics/templates/login/_login.scss */
#Login__page .register {
  color: #ccc;
  text-decoration: none;
}
/* line 37, ../sass/pics/templates/login/_login.scss */
#Login__page .register:hover {
  color: #73BBE8;
}

@media (max-width: 480px) {
  /* line 44, ../sass/pics/templates/login/_login.scss */
  #Login__page {
    background: #f1f1f2;
  }
  /* line 48, ../sass/pics/templates/login/_login.scss */
  #Login__page #login_form {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 40px 0;
    text-align: center;
    width: 100%;
  }
  /* line 58, ../sass/pics/templates/login/_login.scss */
  #Login__page #login_form #forgot_password,
  #Login__page #login_form .form-actions {
    text-align: center;
  }
  /* line 64, ../sass/pics/templates/login/_login.scss */
  #Login__page .register {
    display: none;
  }
}
/* line 4, ../sass/pics/templates/login/_login-form.scss */
#login_form .logo {
  margin-bottom: 40px;
}
/* line 9, ../sass/pics/templates/login/_login-form.scss */
#login_form .form-inline {
  margin-bottom: 9px;
}
/* line 14, ../sass/pics/templates/login/_login-form.scss */
#login_form .icon-globe {
  font-size: 20px;
  margin-right: 5px;
  position: relative;
  top: 3px;
}
/* line 22, ../sass/pics/templates/login/_login-form.scss */
#login_form #supported_locales {
  width: 195px;
}
/* line 27, ../sass/pics/templates/login/_login-form.scss */
#login_form #forgot_password {
  margin: -5px 0 5px;
  text-align: right;
}
/* line 32, ../sass/pics/templates/login/_login-form.scss */
#login_form #forgot_password a {
  color: #999;
}
/* line 38, ../sass/pics/templates/login/_login-form.scss */
#login_form .form-actions {
  text-align: right;
}

/*** Login Modal Styling ***/
/* line 4, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form {
  left: 55%;
}

/* line 9, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form h2 {
  display: none;
}

/* line 14, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form > .modal-header {
  background-color: #454545;
  text-align: left;
}

/* line 20, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form > .modal-header > h3 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 0px;
  text-align: left;
}

/* line 31, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form > .modal-header > .close {
  color: #666;
  cursor: pointer;
  filter: alpha(opacity=100);
  font-size: 20px;
  opacity: 1;
  text-shadow: none;
}

/* line 41, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form > .modal-header > .close:hover {
  color: #999;
}

/* line 46, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form .modal-body {
  background: #EAEAEA;
  color: #666;
  font-size: 13px;
  text-align: left;
  padding: 10px 15px 0px 15px;
}

/* line 55, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form .well {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0px;
}

/* line 63, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form .control-group {
  padding-right: 25px;
}

/* line 68, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form #control_password {
  margin-bottom: 0px;
}

/* line 73, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form .control-label {
  width: 100px;
}

/* line 78, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form .controls {
  margin-left: 109px;
}

/* line 83, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form .icon-globe {
  color: #666;
  font-size: 20px;
  text-align: right;
  vertical-align: middle;
}

/* line 93, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form select,
.modal-login-form input[type="text"],
.modal-login-form input[type="password"] {
  width: 200px;
}

/* line 98, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form #forgotPassword {
  margin: 10px 0px 5px 0px;
  padding: 0px 25px;
  text-align: right;
}

/* line 105, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form #forgotPassword a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}

/* line 112, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form #forgotPassword a:hover {
  color: #226396;
}

/* line 117, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form .form-actions {
  background: none;
  border: none;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

/* line 126, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form .btn-primary {
  margin-left: 6px;
}

/* line 131, ../sass/pics/templates/login/_login-modal.scss */
.modal-login-form .modal-footer {
  display: none;
}

/*
 * Manage Report Controller
 */
/* line 6, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page {
  /*
   * Description
   */
  /*
   * List
   */
  /*.pagination > ul
  {
  	display: inline-block;
  }
  
  .lt-ie8 .pagination > ul
  {
  	display: inline;
  }*/
}
/* line 12, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page h3 {
  color: #a84310;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px;
}
/* line 26, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list {
  list-style: none;
  margin: 0px auto 20px;
  text-align: left;
}
/* line 32, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .report {
  background: #f1f1f2;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 2px;
}
/* line 40, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .favorite {
  line-height: normal;
  float: left;
  margin: 8px 5px 0px;
  text-decoration: none;
}
/* line 48, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .icon-star {
  color: #ccc;
  font-size: 12px;
}
/* line 54, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .icon-star.selected {
  color: #a84d10;
}
/* line 59, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .summary {
  float: left;
  margin-right: 10px;
}
/* line 65, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .name {
  color: #333;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  margin: 0px 10px 0px 0px;
}
/* line 75, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .created-by {
  color: #999;
  font-size: 11px;
  font-style: italic;
  line-height: 30px;
  white-space: nowrap;
}
/* line 84, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .description {
  max-width: 400px;
}
/* line 89, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .options {
  border-left: 1px solid #ccc;
  float: right;
  height: 30px;
  padding: 0px 5px;
}
/* line 96, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .options:hover {
  background: #eaeaea;
}
/* line 102, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .options.open {
  background: #ccc;
}
/* line 106, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .options.open:hover {
  background: #ccc;
}
/* line 112, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .report-list .options .dropdown-toggle {
  color: #999;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 30px;
  text-decoration: none;
}
/* line 122, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .lt-ie8 .report-list {
  display: inline;
}
/* line 127, ../sass/pics/templates/report/manage-report/_manage-report.scss */
.ManageReports-page .pagination {
  margin-bottom: 30px;
}

/*
 * My Reports
 */
/* line 8, ../sass/pics/templates/report/manage-report/_my-reports-list.scss */
#ManageReports_myReportsList_page #my_reports_filter {
  margin: 0px 0px 20px;
  text-align: center;
}

/*
 * Favorites
 */
/* line 6, ../sass/pics/templates/report/manage-report/_favorites-list.scss */
#ManageReports_favoritesList_page {
 	/*
	 * Excluded Reports
	 */
}
/* line 12, ../sass/pics/templates/report/manage-report/_favorites-list.scss */
#ManageReports_favoritesList_page #report_favorites_list_excluded {
  margin: 0px auto;
  width: 60%;
}
/* line 17, ../sass/pics/templates/report/manage-report/_favorites-list.scss */
#ManageReports_favoritesList_page #report_favorites_list_excluded h1 {
  border-bottom: 1px solid #ccc;
  color: #999;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: left;
}
/* line 26, ../sass/pics/templates/report/manage-report/_favorites-list.scss */
#ManageReports_favoritesList_page #report_favorites_list_excluded p {
  color: #999;
  font-size: 12px;
  text-align: center;
}

/*
 * Search
 */
/* line 6, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page {
  /*
   * Search box
   */
}
/* line 12, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page #report_search {
  margin: 30px 0px 0px;
  text-align: center;
}
/* line 18, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page #report_search_form {
  margin: 0px 0px 35px;
}
/* line 22, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page #report_search_form .icon-search {
  color: #666;
  position: relative;
  right: 2px;
  top: 8px;
}
/* line 30, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page #report_search_form input {
  background: #f1f1f2;
  color: #999;
  height: 18px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 39, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page .lt-ie8 #report_search_form {
  display: inline;
}
/* line 46, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page .report-list .report {
  padding: 0px 20px;
}
/* line 51, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page .report-list .summary {
  padding-top: 7px;
}
/* line 57, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page .report-list .name,
#ManageReports_searchList_page .report-list .created-by {
  line-height: 18px;
}
/* line 62, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page .report-list .name {
  float: none;
}
/* line 67, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page .report-list .description {
  font-size: 13px;
}
/* line 72, ../sass/pics/templates/report/manage-report/_search-list.scss */
#ManageReports_searchList_page .report-list .number-favorites {
  color: #a84d10;
  font-size: 12px;
  float: right;
  margin: 18px 0px;
}
