/*
 * PICS Stylesheet
 *
 * Compiles all 'custom' PICS css into a pics.css file
 *
 * @author: Carey Hinoki
 * @date: 2012-07-09
 */
/* line 2, ../sass/pics/core/_core.scss */
.page-header {
  border: 0px;
  margin: 18px 0px;
  padding: 0px; }

/* line 9, ../sass/pics/core/_core.scss */
h1.title {
  color: #73bbe8;
  font-size: 36px;
  font-weight: normal; }

/* line 16, ../sass/pics/core/_core.scss */
p.subtitle {
  color: #808285;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0px; }

@media (max-width: 767px) {
  /* line 2, ../sass/pics/layout/_layout.scss */
  body {
    padding: 0px; }

  /* line 6, ../sass/pics/layout/_layout.scss */
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px; } }
/* line 4, ../sass/pics/widgets/twitter_bootstrap/_dropdown.scss */
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #a84d10;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c66603), color-stop(100%, #a84d10));
  background-image: -webkit-linear-gradient(#c66603, #a84d10);
  background-image: -moz-linear-gradient(#c66603, #a84d10);
  background-image: -o-linear-gradient(#c66603, #a84d10);
  background-image: linear-gradient(#c66603, #a84d10); }

/* line 3, ../sass/pics/widgets/twitter_bootstrap/_pagination.scss */
.pagination li [class^=icon-],
.pagination li [class*=icon-] {
  line-height: 28px;
  width: auto; }

/* line 9, ../sass/pics/widgets/twitter_bootstrap/_pagination.scss */
.pagination a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f2), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: -moz-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: -o-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: linear-gradient(#f1f1f2, #dcdcdc);
  color: #333; }

/* line 2, ../sass/pics/widgets/twitter_bootstrap/_tabs.scss */
.nav-tabs {
  border-color: #ccc; }

/* line 7, ../sass/pics/widgets/twitter_bootstrap/_tabs.scss */
.nav-tabs > li {
  margin-left: 5px;
  margin-right: 5px; }

/* line 13, ../sass/pics/widgets/twitter_bootstrap/_tabs.scss */
.nav-tabs > li > a {
  background: #eaeaea;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f2), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(#f1f1f2, #eaeaea);
  background-image: -moz-linear-gradient(#f1f1f2, #eaeaea);
  background-image: -o-linear-gradient(#f1f1f2, #eaeaea);
  background-image: linear-gradient(#f1f1f2, #eaeaea);
  border: 1px solid #ccc;
  color: #808285;
  font-size: 16px;
  padding-bottom: 13px;
  padding-top: 13px; }

/* line 24, ../sass/pics/widgets/twitter_bootstrap/_tabs.scss */
.nav-tabs > li > a:hover {
  background: #f1f1f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f2));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f2);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f2);
  background-image: -o-linear-gradient(#ffffff, #f1f1f2);
  background-image: linear-gradient(#ffffff, #f1f1f2);
  border-color: #ccc #ccc #ccc; }

/* line 32, ../sass/pics/widgets/twitter_bootstrap/_tabs.scss */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background: #fff;
  border-color: #ccc;
  border-bottom-color: transparent;
  color: #333; }

/*
 * Templates
 *
 * Manages all jsp templates based off file structure.
 * Place all page templates in this file, including widget overrides.
 *
 * @author: Carey Hinoki
 * @date: 2012-07-10
 */
/* line 6, ../sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_list .name {
  width: 20%; }
/* line 11, ../sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_list .value {
  width: 70%; }
/* line 16, ../sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_list .actions {
  width: 10%; }
/* line 21, ../sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_list .value p {
  width: 400px;
  word-wrap: break-word; }
/* line 31, ../sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_edit_form .form-actions,
.ManageAppProperty-page #app_property_create_form .form-actions {
  text-align: right;
  width: 220px; }
/* line 37, ../sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_edit_form .form-actions .btn,
.ManageAppProperty-page #app_property_create_form .form-actions .btn {
  margin-left: 10px; }

/*
 * Manage Report Controller
 */
/* line 6, ../sass/pics/templates/report/_manage.scss */
.ManageReports-page {
  /*
   * Menu
   */
  /*
   * Description
   */
  /*
   * List
   */
  /*.pagination > ul
  {
  	display: inline-block;
  }
  
  .lt-ie8 .pagination > ul
  {
  	display: inline;
  }*/ }
  /* line 11, ../sass/pics/templates/report/_manage.scss */
  .ManageReports-page #manage_report_menu_container {
    border-bottom: 1px solid #CCC;
    margin: 0px auto 20px;
    text-align: center;
    width: 60%; }
  /* line 19, ../sass/pics/templates/report/_manage.scss */
  .ManageReports-page #manage_report_menu {
    display: inline-block;
    bottom: -5px;
    margin: 0px;
    position: relative; }
  /* line 27, ../sass/pics/templates/report/_manage.scss */
  .ManageReports-page .lt-ie8 #manage_report_menu {
    display: inline; }
  /* line 36, ../sass/pics/templates/report/_manage.scss */
  .ManageReports-page h3 {
    color: #999;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 35px;
    text-align: center; }
  /* line 51, ../sass/pics/templates/report/_manage.scss */
  .ManageReports-page .report-list {
    list-style: none;
    margin: 0px auto 20px;
    text-align: left;
    width: 60%; }
    /* line 58, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .report {
      background: #f1f1f2;
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      margin-bottom: 2px; }
    /* line 66, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .favorite {
      line-height: normal;
      float: left;
      margin: 8px 5px 0px;
      text-decoration: none; }
    /* line 74, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .icon-star {
      color: #ccc;
      font-size: 12px; }
    /* line 80, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .icon-star.selected {
      color: #a84d10; }
    /* line 85, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .summary {
      float: left;
      margin-right: 10px; }
    /* line 91, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .name {
      color: #333;
      float: left;
      font-size: 13px;
      line-height: 30px;
      margin: 0px 10px 0px 0px; }
    /* line 100, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .created-by {
      color: #999;
      font-size: 10px;
      font-style: italic;
      line-height: 30px;
      white-space: nowrap; }
    /* line 109, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .description {
      max-width: 400px; }
    /* line 114, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .options {
      border-left: 1px solid #ccc;
      float: right;
      height: 30px;
      padding: 0px 5px; }
    /* line 122, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .options.open {
      background: #ccc; }
    /* line 127, ../sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .options .dropdown-toggle {
      color: #999;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      line-height: 30px; }
  /* line 136, ../sass/pics/templates/report/_manage.scss */
  .ManageReports-page .lt-ie8 .report-list {
    display: inline; }
  /* line 141, ../sass/pics/templates/report/_manage.scss */
  .ManageReports-page .pagination {
    margin-bottom: 30px; }

/*
 * My Reports
 */
/* line 8, ../sass/pics/templates/report/_list-my-reports.scss */
#ManageReports_myReportsList_page #my_reports_filter {
  margin: 0px 0px 20px;
  text-align: center; }
/* line 14, ../sass/pics/templates/report/_list-my-reports.scss */
#ManageReports_myReportsList_page #my_reports_filter .btn-group {
  display: inline-block; }
/* line 19, ../sass/pics/templates/report/_list-my-reports.scss */
#ManageReports_myReportsList_page .lt-ie8 #my_reports_filter .btn-group {
  display: inline; }

/*
 * Favorites
 */
/* line 6, ../sass/pics/templates/report/_list-favorites.scss */
#ManageReports_favoritesList_page {
 	/*
	 * Excluded Reports
	 */ }
  /* line 12, ../sass/pics/templates/report/_list-favorites.scss */
  #ManageReports_favoritesList_page #report_favorites_list_excluded {
    margin: 0px auto;
    width: 60%; }
    /* line 17, ../sass/pics/templates/report/_list-favorites.scss */
    #ManageReports_favoritesList_page #report_favorites_list_excluded h1 {
      border-bottom: 1px solid #ccc;
      color: #999;
      font-size: 18px;
      margin-bottom: 30px;
      text-align: left; }
    /* line 26, ../sass/pics/templates/report/_list-favorites.scss */
    #ManageReports_favoritesList_page #report_favorites_list_excluded p {
      color: #999;
      font-size: 12px;
      text-align: center; }

/*
 * Search
 */
/* line 6, ../sass/pics/templates/report/_search.scss */
#ManageReports_searchList_page {
  /*
   * Search box
   */ }
  /* line 12, ../sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page #report_search {
    margin: 30px 0px 0px;
    text-align: center; }
  /* line 18, ../sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page #report_search_form {
    display: inline-block;
    margin: 0px 0px 35px; }
    /* line 23, ../sass/pics/templates/report/_search.scss */
    #ManageReports_searchList_page #report_search_form .icon-search {
      color: #666;
      position: relative;
      right: 2px;
      top: 8px; }
    /* line 31, ../sass/pics/templates/report/_search.scss */
    #ManageReports_searchList_page #report_search_form input {
      background: #f1f1f2;
      color: #999;
      height: 18px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px; }
  /* line 40, ../sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page .lt-ie8 #report_search_form {
    display: inline; }
  /* line 47, ../sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page .report-list .report {
    padding: 0px 20px; }
  /* line 52, ../sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page .report-list .summary {
    padding-top: 7px; }
  /* line 58, ../sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page .report-list .name,
  #ManageReports_searchList_page .report-list .created-by {
    line-height: 18px; }
  /* line 63, ../sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page .report-list .number-favorites {
    color: #a84d10;
    font-size: 12px;
    float: right;
    margin: 18px 0px; }

/* line 4, ../sass/pics/contractor-edit/_contractor-edit.scss */
.ContractorEdit-page #vat_wrapper {
  display: none; }
