/*
 * PICS Stylesheet
 *
 * Compiles all 'custom' PICS css into a pics.css file
 *
 * @author: Carey Hinoki
 * @date: 2012-07-09
 */
/* line 2, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/core/_core.scss */
.page-header {
  border: 0px;
  margin: 18px 0px;
  padding: 0px; }

/* line 9, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/core/_core.scss */
h1.title {
  color: #73bbe8;
  font-size: 36px;
  font-weight: normal; }

/* line 16, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/core/_core.scss */
p.subtitle {
  color: #808285;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0px; }

@media (max-width: 767px) {
  /* line 2, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/layout/_layout.scss */
  body {
    padding: 0px; }

  /* line 6, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/layout/_layout.scss */
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px; } }
/*
 * Overrides for Default Buttons
 */
/* line 115, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn {
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top_gradient_color, endColorstr=$bottom_gradient_color, GradientType=0);
  font-size: 18px;
  *margin-left: 0.3em;
  margin-left: 5px;
  padding: 8px 22px;
  color: #333333;
  border-color: #bcbcbc;
  text-shadow: none;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f2), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: -moz-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: -o-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: linear-gradient(#f1f1f2, #dcdcdc); }

/* line 131, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn:hover {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f8), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(#f7f7f8, #ececec);
  background-image: -moz-linear-gradient(#f7f7f8, #ececec);
  background-image: -o-linear-gradient(#f7f7f8, #ececec);
  background-image: linear-gradient(#f7f7f8, #ececec); }

/* line 140, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn.active,
.btn:active {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(100%, #cdcdcd));
  background-image: -webkit-linear-gradient(#dcdcdc, #cdcdcd);
  background-image: -moz-linear-gradient(#dcdcdc, #cdcdcd);
  background-image: -o-linear-gradient(#dcdcdc, #cdcdcd);
  background-image: linear-gradient(#dcdcdc, #cdcdcd); }

/*
 * Overrides for Primary Buttons
 */
/* line 152, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-primary {
  color: white;
  border-color: #226396;
  text-shadow: 0px -1px 1px #226396;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #73bbe8), color-stop(100%, #226396));
  background-image: -webkit-linear-gradient(#73bbe8, #226396);
  background-image: -moz-linear-gradient(#73bbe8, #226396);
  background-image: -o-linear-gradient(#73bbe8, #226396);
  background-image: linear-gradient(#73bbe8, #226396); }

/* line 166, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-primary:hover {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60c9f3), color-stop(100%, #396cc9));
  background-image: -webkit-linear-gradient(#60c9f3, #396cc9);
  background-image: -moz-linear-gradient(#60c9f3, #396cc9);
  background-image: -o-linear-gradient(#60c9f3, #396cc9);
  background-image: linear-gradient(#60c9f3, #396cc9); }

/* line 175, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-primary.active,
.btn-primary:active {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #336f9c), color-stop(100%, #09366f));
  background-image: -webkit-linear-gradient(#336f9c, #09366f);
  background-image: -moz-linear-gradient(#336f9c, #09366f);
  background-image: -o-linear-gradient(#336f9c, #09366f);
  background-image: linear-gradient(#336f9c, #09366f); }

/*
 * Overrides for Warning Buttons
 */
/* line 187, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-warning {
  color: white;
  border-color: #e67e1c;
  text-shadow: 0px -1px 1px #e67e1c;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcc033), color-stop(100%, #e67e1c));
  background-image: -webkit-linear-gradient(#fcc033, #e67e1c);
  background-image: -moz-linear-gradient(#fcc033, #e67e1c);
  background-image: -o-linear-gradient(#fcc033, #e67e1c);
  background-image: linear-gradient(#fcc033, #e67e1c); }

/* line 201, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-warning:hover {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcd100), color-stop(100%, #f1a300));
  background-image: -webkit-linear-gradient(#fcd100, #f1a300);
  background-image: -moz-linear-gradient(#fcd100, #f1a300);
  background-image: -o-linear-gradient(#fcd100, #f1a300);
  background-image: linear-gradient(#fcd100, #f1a300); }

/* line 210, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-warning.active,
.btn-warning:active {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ea9000), color-stop(100%, #d66000));
  background-image: -webkit-linear-gradient(#ea9000, #d66000);
  background-image: -moz-linear-gradient(#ea9000, #d66000);
  background-image: -o-linear-gradient(#ea9000, #d66000);
  background-image: linear-gradient(#ea9000, #d66000); }

/*
 * Overrides for Info Buttons
 */
/* line 222, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-info {
  color: white;
  border-color: #6ca6f6;
  text-shadow: 0px -1px 1px #6ca6f6;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70cfff), color-stop(100%, #6ca6f6));
  background-image: -webkit-linear-gradient(#70cfff, #6ca6f6);
  background-image: -moz-linear-gradient(#70cfff, #6ca6f6);
  background-image: -o-linear-gradient(#70cfff, #6ca6f6);
  background-image: linear-gradient(#70cfff, #6ca6f6); }

/* line 236, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-info:hover {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #73ddff), color-stop(100%, #73d0f6));
  background-image: -webkit-linear-gradient(#73ddff, #73d0f6);
  background-image: -moz-linear-gradient(#73ddff, #73d0f6);
  background-image: -o-linear-gradient(#73ddff, #73d0f6);
  background-image: linear-gradient(#73ddff, #73d0f6); }

/* line 245, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-info.active,
.btn-info:active {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #55a9ff), color-stop(100%, #5599fc));
  background-image: -webkit-linear-gradient(#55a9ff, #5599fc);
  background-image: -moz-linear-gradient(#55a9ff, #5599fc);
  background-image: -o-linear-gradient(#55a9ff, #5599fc);
  background-image: linear-gradient(#55a9ff, #5599fc); }

/*
 * Overrides for Success Buttons
 */
/* line 257, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-success {
  color: white;
  border-color: #229322;
  text-shadow: 0px -1px 1px #229322;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33c033), color-stop(100%, #229322));
  background-image: -webkit-linear-gradient(#33c033, #229322);
  background-image: -moz-linear-gradient(#33c033, #229322);
  background-image: -o-linear-gradient(#33c033, #229322);
  background-image: linear-gradient(#33c033, #229322); }

/* line 271, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-success:hover {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33d000), color-stop(100%, #25b000));
  background-image: -webkit-linear-gradient(#33d000, #25b000);
  background-image: -moz-linear-gradient(#33d000, #25b000);
  background-image: -o-linear-gradient(#33d000, #25b000);
  background-image: linear-gradient(#33d000, #25b000); }

/* line 280, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-success.active,
.btn-success:active {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #299600), color-stop(100%, #1c7600));
  background-image: -webkit-linear-gradient(#299600, #1c7600);
  background-image: -moz-linear-gradient(#299600, #1c7600);
  background-image: -o-linear-gradient(#299600, #1c7600);
  background-image: linear-gradient(#299600, #1c7600); }

/*
 * Overrides for Danger Buttons
 */
/* line 292, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-danger {
  color: white;
  border-color: #ac030c;
  text-shadow: 0px -1px 1px #ac030c;
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6303c), color-stop(100%, #ac030c));
  background-image: -webkit-linear-gradient(#f6303c, #ac030c);
  background-image: -moz-linear-gradient(#f6303c, #ac030c);
  background-image: -o-linear-gradient(#f6303c, #ac030c);
  background-image: linear-gradient(#f6303c, #ac030c); }

/* line 306, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-danger:hover {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f92626), color-stop(100%, #d00900));
  background-image: -webkit-linear-gradient(#f92626, #d00900);
  background-image: -moz-linear-gradient(#f92626, #d00900);
  background-image: -o-linear-gradient(#f92626, #d00900);
  background-image: linear-gradient(#f92626, #d00900); }

/* line 315, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_buttons.scss */
.btn-danger.active,
.btn-danger:active {
  background: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c60c0c), color-stop(100%, #8c0600));
  background-image: -webkit-linear-gradient(#c60c0c, #8c0600);
  background-image: -moz-linear-gradient(#c60c0c, #8c0600);
  background-image: -o-linear-gradient(#c60c0c, #8c0600);
  background-image: linear-gradient(#c60c0c, #8c0600); }

/* Other Button Properties */
/* line 3, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn:first-child {
  *margin-left: 0; }

/* line 7, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

/* line 13, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/* line 24, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* line 33, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn-large .icon {
  margin-top: 1px; }

/* line 37, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px; }

/* line 43, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn-small .icon {
  margin-top: -1px; }

/* line 48, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #226396; }

/* line 53, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #ac030c; }

/* line 55, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn-danger:active, .btn-danger.active {
  background-color: #942a25 \9; }

/* line 60, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #229322; }

/* line 65, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #6ca6f6; }

/* Label Overrides */
/* line 71, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.label {
  padding: 2px 4px 2px;
  font-size: 9px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* line 83, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.label-important {
  background-color: #229322; }

/* line 87, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.label-warning {
  background-color: #e67e1c; }

/* line 91, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.label-success {
  background-color: #ac030c; }

/* line 95, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.label-info {
  background-color: #226396; }

/* Alert Overrides */
/* line 101, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert {
  padding: 8px 36px 8px 16px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf3cc;
  border: 1px solid #e67e1c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 112, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert, .alert-heading {
  color: #e67e1c; }

/* line 116, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px; }

/* line 123, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert-success {
  background-color: #acf5ac;
  border-color: #229322; }

/* line 128, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert-success, .alert-success .alert-heading {
  color: #229322; }

/* line 132, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert-danger, .alert-error {
  background-color: #ffc6c9;
  border-color: #ff969c; }

/* line 140, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #ac030c; }

/* line 144, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert-info {
  background-color: #c3f0f9;
  border-color: #226396; }

/* line 149, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert-info, .alert-info .alert-heading {
  color: #226396; }

/* line 153, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px; }

/* line 158, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert-block > p, .alert-block > ul {
  margin-bottom: 0; }

/* line 162, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.alert-block p + p {
  margin-top: 5px; }

/* line 167, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/custom/_other.scss */
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #e67e1c; }

/* line 4, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/_dropdown.scss */
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #a84d10;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c66603), color-stop(100%, #a84d10));
  background-image: -webkit-linear-gradient(#c66603, #a84d10);
  background-image: -moz-linear-gradient(#c66603, #a84d10);
  background-image: -o-linear-gradient(#c66603, #a84d10);
  background-image: linear-gradient(#c66603, #a84d10); }

/* line 3, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/_pagination.scss */
.pagination li [class^=icon-],
.pagination li [class*=icon-] {
  line-height: 28px;
  width: auto; }

/* line 9, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/_pagination.scss */
.pagination a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f2), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: -moz-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: -o-linear-gradient(#f1f1f2, #dcdcdc);
  background-image: linear-gradient(#f1f1f2, #dcdcdc);
  color: #333; }

/* line 2, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/_tabs.scss */
.nav-tabs {
  border-color: #ccc; }

/* line 7, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/_tabs.scss */
.nav-tabs > li {
  margin-left: 5px;
  margin-right: 5px; }

/* line 13, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/_tabs.scss */
.nav-tabs > li > a {
  background: #eaeaea;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f2), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(#f1f1f2, #eaeaea);
  background-image: -moz-linear-gradient(#f1f1f2, #eaeaea);
  background-image: -o-linear-gradient(#f1f1f2, #eaeaea);
  background-image: linear-gradient(#f1f1f2, #eaeaea);
  border: 1px solid #ccc;
  color: #808285;
  font-size: 16px;
  padding-bottom: 13px;
  padding-top: 13px; }

/* line 24, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/_tabs.scss */
.nav-tabs > li > a:hover {
  background: #f1f1f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f2));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f2);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f2);
  background-image: -o-linear-gradient(#ffffff, #f1f1f2);
  background-image: linear-gradient(#ffffff, #f1f1f2);
  border-color: #ccc #ccc #ccc; }

/* line 32, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/widgets/twitter_bootstrap/_tabs.scss */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background: #fff;
  border-color: #ccc;
  border-bottom-color: transparent;
  color: #333; }

/*
 * Templates
 *
 * Manages all jsp templates based off file structure.
 * Place all page templates in this file, including widget overrides.
 *
 * @author: Carey Hinoki
 * @date: 2012-07-10
 */
/* line 6, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_list .name {
  width: 20%; }
/* line 11, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_list .value {
  width: 70%; }
/* line 16, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_list .actions {
  width: 10%; }
/* line 21, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_list .value p {
  width: 400px;
  word-wrap: break-word; }
/* line 31, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_edit_form .form-actions,
.ManageAppProperty-page #app_property_create_form .form-actions {
  text-align: right;
  width: 220px; }
/* line 37, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/app_property/_app_property.scss */
.ManageAppProperty-page #app_property_edit_form .form-actions .btn,
.ManageAppProperty-page #app_property_create_form .form-actions .btn {
  margin-left: 10px; }

/*
 * Manage Report Controller
 */
/* line 6, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
.ManageReports-page {
  /*
   * Menu
   */
  /*
   * Description
   */
  /*
   * List
   */
  /*.pagination > ul
  {
  	display: inline-block;
  }
  
  .lt-ie8 .pagination > ul
  {
  	display: inline;
  }*/ }
  /* line 11, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
  .ManageReports-page #manage_report_menu_container {
    border-bottom: 1px solid #CCC;
    margin: 0px auto 20px;
    text-align: center;
    width: 60%; }
  /* line 19, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
  .ManageReports-page #manage_report_menu {
    display: inline-block;
    bottom: -5px;
    margin: 0px;
    position: relative; }
  /* line 27, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
  .ManageReports-page .lt-ie8 #manage_report_menu {
    display: inline; }
  /* line 36, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
  .ManageReports-page h3 {
    color: #999;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 35px;
    text-align: center; }
  /* line 51, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
  .ManageReports-page .report-list {
    list-style: none;
    margin: 0px auto 20px;
    text-align: left;
    width: 60%; }
    /* line 58, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .report {
      background: #f1f1f2;
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      margin-bottom: 2px; }
    /* line 66, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .favorite {
      line-height: normal;
      float: left;
      margin: 8px 5px 0px;
      text-decoration: none; }
    /* line 74, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .icon-star {
      color: #ccc;
      font-size: 12px; }
    /* line 80, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .icon-star.selected {
      color: #a84d10; }
    /* line 85, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .summary {
      float: left;
      margin-right: 10px; }
    /* line 91, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .name {
      color: #333;
      float: left;
      font-size: 13px;
      line-height: 30px;
      margin: 0px 10px 0px 0px; }
    /* line 100, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .created-by {
      color: #999;
      font-size: 10px;
      font-style: italic;
      line-height: 30px;
      white-space: nowrap; }
    /* line 109, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .description {
      max-width: 400px; }
    /* line 114, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .options {
      border-left: 1px solid #ccc;
      float: right;
      height: 30px;
      padding: 0px 5px; }
    /* line 122, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .options.open {
      background: #ccc; }
    /* line 127, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
    .ManageReports-page .report-list .options .dropdown-toggle {
      color: #999;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      line-height: 30px; }
  /* line 136, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
  .ManageReports-page .lt-ie8 .report-list {
    display: inline; }
  /* line 141, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_manage.scss */
  .ManageReports-page .pagination {
    margin-bottom: 30px; }

/*
 * My Reports
 */
/* line 8, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_list-my-reports.scss */
#ManageReports_myReportsList_page #my_reports_filter {
  margin: 0px 0px 20px;
  text-align: center; }
/* line 14, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_list-my-reports.scss */
#ManageReports_myReportsList_page #my_reports_filter .btn-group {
  display: inline-block; }
/* line 19, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_list-my-reports.scss */
#ManageReports_myReportsList_page .lt-ie8 #my_reports_filter .btn-group {
  display: inline; }

/*
 * Favorites
 */
/* line 6, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_list-favorites.scss */
#ManageReports_favoritesList_page {
 	/*
	 * Excluded Reports
	 */ }
  /* line 12, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_list-favorites.scss */
  #ManageReports_favoritesList_page #report_favorites_list_excluded {
    margin: 0px auto;
    width: 60%; }
    /* line 17, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_list-favorites.scss */
    #ManageReports_favoritesList_page #report_favorites_list_excluded h1 {
      border-bottom: 1px solid #ccc;
      color: #999;
      font-size: 18px;
      margin-bottom: 30px;
      text-align: left; }
    /* line 26, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_list-favorites.scss */
    #ManageReports_favoritesList_page #report_favorites_list_excluded p {
      color: #999;
      font-size: 12px;
      text-align: center; }

/*
 * Search
 */
/* line 6, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_search.scss */
#ManageReports_searchList_page {
  /*
   * Search box
   */ }
  /* line 12, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page #report_search {
    margin: 30px 0px 0px;
    text-align: center; }
  /* line 18, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page #report_search_form {
    display: inline-block;
    margin: 0px 0px 35px; }
    /* line 23, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_search.scss */
    #ManageReports_searchList_page #report_search_form .icon-search {
      color: #666;
      position: relative;
      right: 2px;
      top: 8px; }
    /* line 31, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_search.scss */
    #ManageReports_searchList_page #report_search_form input {
      background: #f1f1f2;
      color: #999;
      height: 18px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px; }
  /* line 40, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page .lt-ie8 #report_search_form {
    display: inline; }
  /* line 47, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page .report-list .report {
    padding: 0px 20px; }
  /* line 52, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page .report-list .summary {
    padding-top: 7px; }
  /* line 58, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page .report-list .name,
  #ManageReports_searchList_page .report-list .created-by {
    line-height: 18px; }
  /* line 63, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/templates/report/_search.scss */
  #ManageReports_searchList_page .report-list .number-favorites {
    color: #a84d10;
    font-size: 12px;
    float: right;
    margin: 18px 0px; }

/* line 4, C:/Users/JRoos/git/PICSORG/WebContent/v7/sass/pics/contractor-edit/_contractor-edit.scss */
.ContractorEdit-page #vat_wrapper {
  display: none; }
