 .employee-dashboard {
    .assignment-container {
        min-height: 140px;
    }

    .assignment-container:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .assignment {
        .title {
            font-weight: bold;
            margin-bottom: 0px;
            margin-top: 10px;
        }

        .subtitle {
            color: $default_nickel;
        }

        i {
            background: transparent;
            font-size: 36px;
        }

        &:hover {
            i.success {
                color: red;
            }
            i.warning {
                color: blue;
            }
            i.danger {
                color: green;
            }
        }
    }
 }