/* loading */

#loadingPage {
	height: 140px;
    left: 50%;
    margin: -70px 0 0 -90px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 180px;
}
#loadingPage #logo {
    background: url(../images/custom/loading.gif) 0px 0px no-repeat;
    position: absolute;
    display: block;
    top: 25px;
    left: 22px;
    width: 120px;
    height: 120px;
}


/* general */
.ext-icon {
    cursor: pointer;
    cursor: hand;
    height: 16px;
    margin: 4px;
    white-space: nowrap;
    width: 16px;
    zoom: 1;
}
.ext-icon.grid {
    height: 10px;
    width: 10px;
}
.x-action-col-cell .x-grid-cell-inner {
    text-align: right !important;
}
.tooltipIcon {
    background: none;
}

/* header */
#layoutNorth-body {
	border: 0px;
}
#layoutCenter-body {
    border-top: 0px;
}
#layoutHeader {
    background: none;
    border: 0px;
}
#layoutHeader .x-toolbar-text {
    background: none;
    color: #464646;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    
}
#layoutHeader .x-toolbar-text a,
#layoutHeader .x-toolbar-text a:link,
#layoutHeader .x-toolbar-text a:visited {
    color: #343434;
    text-decoration: underline;
}
#layoutHeader .toolbarBold {
    font-weight: bold;
}
#reportHeader {
    background: none;
    border: 0px;
}
#reportHeader h1 {
	color: #000;
    font-size: 25px;
}

#reportHeader .reportEdit {
	background: url(../images/button/gear.png) 0px 0px no-repeat;
	border: 0px;
    height: 56px;
    width: 59px;
}

/* body */
.x-body,
.x-border-layout-ct {
    background: #FFF;
}

/* filters */
#filteroptions .x-panel-header-text {
    font-size: 18px;
}
#filteroptions-body {
	border-bottom: 0px;
}
#filteroptions .x-form-item-label-left {
	font-size: 14px;
	font-weight: bold;
}
#filteroptions .baseFilter .x-btn-default-small {
	border: none;
	background: none;
}
#filteroptions .x-docked-bottom {
	border-top-width: 1px !important;
}
#filteroptions .x-panel-body-docked-bottom {
	border-bottom: 0px;
}

/*Data Grid*/
#dataGrid .x-toolbar-docked-bottom {
    border-bottom: 0px;	
}

/* Footer */
#footer {
    background: none;
}