// report actions - edit
$report_actions_edit_icon_cog_text_color: #666666;


#report_actions
{
	text-align: right;
}

#report_actions .edit,
#report_actions .save
{
	margin-top: 25px;
}

#report_actions .edit
{
	margin-right: 20px;
}

#report_actions .edit button span
{
	font-size: 17px;
	line-height: 41px !important;
}

#report_header .edit .icon-cog
{
	color: $report_actions_edit_icon_cog_text_color;
}

#report_actions .save
{
	margin-right: 10px;
}

#report_actions .save .x-btn-split-right
{
	background-image: url(../../app/resources/images/splitbutton/arrow-green-off.png);
	padding-right: 39px !important;
}

#report_actions .save button span
{
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}