<div class="contractor-dashboard" ng-controller="contractorDashboardCtrl">
    <div class="container">
        <pagetitle title="EmployeeGUARD" subtitle="{{ 'CONTRACTOR.DASHBOARD.PAGE_SUBTITLE' | translate }}"></pagetitle>

        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="/employee-guard/contractor/employee" target="_self">
                            <i class="icon-user icon-large"></i>{{ 'CONTRACTOR.DASHBOARD.SECONDARY_NAV_MENU.EMPLOYEES' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="/employee-guard/contractor/project" target="_self">
                            <i class="icon-map-marker icon-large"></i>{{ 'CONTRACTOR.DASHBOARD.SECONDARY_NAV_MENU.EMPLOYEE_ASSIGNMENTS' | translate }}
                        </a>
                    </li>
                    <li class="nav-divider"></li>
                    <li>
                        <span class="nav-title" translate>{{ 'CONTRACTOR.DASHBOARD.SECONDARY_NAV_MENU.TRAINING_TRACKER'}}</span>
                    </li>
                    <li>
                        <a href="/employee-guard/contractor/employee-group" target="_self">
                            <i class="icon-group icon-large"></i>{{ 'CONTRACTOR.DASHBOARD.SECONDARY_NAV_MENU.EMPLOYEE_GROUPS' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="/employee-guard/contractor/skill" target="_self">
                            <i class="icon-certificate icon-large"></i>{{ 'CONTRACTOR.DASHBOARD.SECONDARY_NAV_MENU.SKILLS' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <section class="employee-guard-section chart-section">
                    <h1>
                        <i class="icon-map-marker icon-large"></i>{{ 'CONTRACTOR.DASHBOARD.EMPLOYEE_ASSIGNMENT_STATUS.TITLE' | translate }}
                    </h1>
                    <div class="content">
                        <div class="row" ng-if="employees > 0">
                            <div class="col-md-4">
                                <div class="current-assignments">
                                    <div class="row success">
                                        <div class="col-xs-6 text-right">
                                            <i class="icon-ok-sign icon-large"></i>
                                        </div>
                                        <div class="col-xs-6">
                                            {{ status.completed + status.pending }}
                                        </div>
                                    </div>
                                    <div class="row warning">
                                        <div class="col-xs-6 text-right">
                                            <i class="icon-warning-sign icon-large"></i>
                                        </div>
                                        <div class="col-xs-6">
                                            {{ status.expiring }}
                                        </div>
                                    </div>
                                    <div class="row danger">
                                        <div class="col-xs-6 text-right">
                                            <i class="danger icon-minus-sign-alt icon-large"></i>
                                        </div>
                                        <div class="col-xs-6">
                                            {{ status.expired }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="chart-container text-center">
                                    <chart type="arc" data="chartData"></chart>
                                    <div class="col-xs-6 col-xs-offset-3 number-of-employees">
                                        <i class="icon-user icon-large"></i>
                                        <a href="/employee-guard/contractor/employee" target="_self" class="employees">
                                            {{ employees }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="employees <= 0">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="alert alert-info">
                                    <h4 translate>{{ 'CONTRACTOR.DASHBOARD.EMPLOYEE_ASSIGNMENT_STATUS.NO_EMPLOYEES.TITLE' }}</h4>
                                    <p translate="CONTRACTOR.DASHBOARD.EMPLOYEE_ASSIGNMENT_STATUS.NO_EMPLOYEES.MESSAGE" translate-values="{url: '/employee-guard/contractor/project', target: '_self'}"></p>
                                    <p>
                                        <a href="#">
                                            <i class="icon-question-sign"></i>
                                            {{ 'CONTRACTOR.DASHBOARD.EMPLOYEE_ASSIGNMENT_STATUS.NO_EMPLOYEES.LEARN_MORE' | translate}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="employee-guard-section contractor-dashboard">
                    <h1>
                        <i class="icon-exclamation icon-large"></i>{{ 'CONTRACTOR.DASHBOARD.STATUS_ALERTS.TITLE' | translate }}
                    </h1>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4 text-center tile-container">
                                <div class="tile primary">
                                    <i class="icon-envelope"></i>
                                    <p class="title">{{ status.requested }}</p>
                                    <p class="subtitle" translate>{{ 'CONTRACTOR.DASHBOARD.STATUS_ALERTS.REQUESTED_EMPLOYEES' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="row beta-section">
                    <div class="col-md-8">
                        <section class="employee-guard-section">
                            <h1>
                                <i class="icon-wrench icon-large"></i>Beta Updates (Thursday 2014-05-29)
                            </h1>
                            <div class="content">
                                <ul class="list-unstyled">
                                    <li class="issue-known">
                                        <span><i class="icon-lemon"></i> Known Issue:</span>
                                        Adding extremely large amounts of text in certain fields can cause an error or not allow items to be deleted.
                                    </li>
                                    <li class="issue-known">
                                        <span><i class="icon-lemon"></i> Known Issue:</span>
                                        Expiring/Incomplete and Expiring skill counts are not displaying on Employees page.
                                    </li>
                                    <li class="issue-known">
                                        <span><i class="icon-lemon"></i> Known Issue:</span>
                                        Can not upload files in Internet Explorer 8.
                                    </li>
                                    <li class="issue-fixed">
                                        <span><i class="icon-smile"></i> Fixed:</span>
                                        All skill updates work correctly.
                                    </li>
                                    <li class="issue-fixed">
                                        <span><i class="icon-smile"></i> Fixed:</span>
                                        Expiring/Incomplete and Expiring skill counts display correctly on Employees page.
                                    </li>
                                    <li class="issue-more">
                                        <a href="/employee-guard/contractor/changelog">
                                            <i class="icon-list"></i> View more update history in the Change Log...
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <betafeedback></betafeedback>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>