// report toolbar
$report_toolbar_background_color: #73bbe8;
$report_toolbar_border_color: #808285;

// report toolbar - header
$report_toolbar_header_text_color: #ffffff;

// report toolbar - add column
$report_toolbar_add_column_icon_plus_text_color: #2caf2c;


#report_toolbar
{
	background: $report_toolbar_background_color;
	border: 1px solid $report_toolbar_border_color !important;
	padding: 10px 20px;
}

#report_toolbar .header
{
	color: $report_toolbar_header_text_color;
	font-size: 18px;
	font-weight: normal;
	top: 6px !important;
}

#report_sorts
{
	padding: 0px;
}

#report_sorts,
#report_sorts .x-toolbar-default
{
	background: none;
}

#report_sorts .x-btn-split-right
{
	background-image: url('../images/button/s-arrow.gif');
	padding-right: 14px !important;
}

#report_sorts .sort button span
{
	font-size: 11px;
	line-height: 24px !important;
}

#report_sorts .x-btn-icon-text-left .x-btn-icon
{
	background-position: center;
	margin-left: 3px;
}

#report_toolbar .add-column
{
	margin-left: 10px;
}

#report_toolbar .add-column em
{
	background-image: url('../images/button/s-arrow.gif');
}

#report_toolbar .add-column button span
{
	font-size: 11px;
	line-height: 24px !important;
}

#report_toolbar .add-column .icon-plus
{
	color: $report_toolbar_add_column_icon_plus_text_color;
	margin-right: 5px;
}