#alert_message
{
	background: #acf5ac;
	border: 1px solid #229322;
	@include box-shadow(none);
	left: auto !important;
	right: 150px !important;
	top: 73px !important;
}

#alert_message_header,
#alert_message-body
{
	background: #acf5ac;
}

#alert_message_header
{
	@include box-shadow(none);
	padding: 5px 5px 0px;
}

#alert_message_header .x-window-header-text,
#alert_message-body
{
	color: #39884c;
	font-size: 13px;
}

#alert_message_header .x-window-header-text
{
	font-weight: bold;
}

#alert_message-body
{
	border: 0px;
	@include border-bottom-left-radius(5px);
	@include border-bottom-right-radius(5px);
	padding: 5px;
}