.x-form-trigger
{
	background-image: url(../../app/resources/images/form/trigger.png);
	border-bottom: 0px;
}

.x-form-date-trigger
{
	background-image: url(../../app/resources/images/form/date-trigger.png);
}