.operator-dashboard {

    .nav-stacked {
        margin-bottom: 20px;
    }

    .current-assignments {
        font-size: 24px;
        font-weight: bold;
        text-align: left;

        .row {
            margin-bottom: 20px;
        }

        .icon-user {
            color: $info_med;
        }

        .success,
        .warning,
        .danger {
            background: transparent;
        }
    }

    .project-assignments {
        .name {
            font-weight: bold;
        }

        .date {
            color: $default_pewter;
            font-size: 12px;
            margin-left: 20px;
        }

        .location {
            color: $default_nickel;
        }

        .row {
            margin-bottom: 15px;
        }

        .list-inline {
            font-size: 18px;
            font-weight: bold;
            text-align: right;

            li {
                margin-right: 10px;

                &.success,
                &.warning,
                &.danger {
                    background: transparent;
                }

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}
