<div class="employee-dashboard" ng-controller="employeeDashboardCtrl">
    <div class="container">
        <pagetitle title="{{ employee.firstName }} {{ employee.lastName }}" subtitle="{{ employee.slug }}"></pagetitle>

        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="/employee-guard/employee/profile/{{ employee.id }}" target="_self">
                            <i class="icon-user icon-large"></i>{{ 'EMPLOYEE.DASHBOARD.SECONDARY_NAV_MENU.PROFILE' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="/employee-guard/employee/skills" target="_self">
                            <i class="icon-certificate icon-large"></i>{{ 'EMPLOYEE.DASHBOARD.SECONDARY_NAV_MENU.SKILLS' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="/employee-guard/employee/file" target="_self">
                            <i class="icon-picture icon-large"></i>{{ 'EMPLOYEE.DASHBOARD.SECONDARY_NAV_MENU.MY_FILES' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <section class="employee-guard-section">
                    <h1>
                        <i class="icon-map-marker icon-large"></i>{{ 'EMPLOYEE.DASHBOARD.ASSIGNMENT_STATUS.TITLE' | translate }}
                    </h1>

                    <div class="content clearfix">
                        <div ng-if="assignments.length" class="col-md-4 text-center tile-container" ng-click="viewAssignedSkills(assignment)" ng-repeat="assignment in assignments | orderBy: 'name'">
                            <div class="tile" ng-class="getSkillClass(assignment.status)">
                                <skillstatusicon status="{{ assignment.status }}"></skillstatusicon>
                                <p class="title">{{ assignment.name }}</p>
                                <p class="subtitle" ng-show="assignment.groups">{{ assignment.groups }}
                                    <span ng-if="assignment.groups <= 1" translate="EMPLOYEE.DASHBOARD.ASSIGNMENT_STATUS.EMPLOYEE_GROUP"></span>
                                    <span ng-if="assignment.groups > 1" translate="EMPLOYEE.DASHBOARD.ASSIGNMENT_STATUS.EMPLOYEE_GROUPS"></span>
                                </p>
                                <p class="subtitle" ng-show="assignment.roles">{{ assignment.roles }}
                                    <span ng-if="assignment.roles <= 1" translate="EMPLOYEE.DASHBOARD.ASSIGNMENT_STATUS.JOB_ROLE"></span>
                                    <span ng-if="assignment.roles > 1" translate="EMPLOYEE.DASHBOARD.ASSIGNMENT_STATUS.JOB_ROLES"></span>
                                </p>
                                <p class="subtitle" ng-show="assignment.site">{{ assignment.site }}</p>
                            </div>
                        </div>
                        <div ng-if="!assignments.length" class="col-md-8 col-md-offset-2">
                            <div class="alert alert-info">
                                <h4 translate="EMPLOYEE.DASHBOARD.ASSIGNMENT_STATUS.NO_ASSIGNMENTS.TITLE"></h4>
                                <p translate="EMPLOYEE.DASHBOARD.ASSIGNMENT_STATUS.NO_ASSIGNMENTS.MESSAGE"></p>
                                <p translate="EMPLOYEE.DASHBOARD.ASSIGNMENT_STATUS.NO_ASSIGNMENTS.MESSAGE2" translate-values="{ url: '/employee-guard/employee/file', target:'_self'}"></p>
                                <p>
                                    <a href="#"><i class="icon-question-sign"></i> {{ 'EMPLOYEE.DASHBOARD.ASSIGNMENT_STATUS.NO_ASSIGNMENTS.LEARN_MORE' | translate }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row beta-section">
                    <div class="col-md-8">
                        <section class="employee-guard-section">
                            <h1>
                                <i class="icon-wrench icon-large"></i>Beta Updates (Thursday 2014-05-29)
                            </h1>
                            <div class="content">
                                <ul class="list-unstyled">
                                    <li class="issue-known">
                                        <span><i class="icon-lemon"></i> Known Issue:</span>
                                        Adding extremely large amounts of text in certain fields can cause an error or not allow items to be deleted.
                                    </li>
                                    <li class="issue-known">
                                        <span><i class="icon-lemon"></i> Known Issue:</span>
                                        Can not upload files in Internet Explorer 8.
                                    </li>
                                    <li class="issue-known">
                                        <span><i class="icon-lemon"></i> Known Issue:</span>
                                        May see skills from site-level assignments in a project.
                                    </li>
                                    <li class="issue-fixed">
                                        <span><i class="icon-smile"></i> Fixed:</span>
                                        Passwords can be reset.
                                    </li>
                                    <li class="issue-fixed">
                                        <span><i class="icon-smile"></i> Fixed:</span>
                                        Trying to add a duplicate now displays an alert.
                                    </li>
                                    <li class="issue-more">
                                        <a href="/employee-guard/employee/changelog">
                                            <i class="icon-list"></i> View more update history in the Change Log...
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <betafeedback></betafeedback>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>