#main
{
    padding: 20px 0px 0px 20px;
}

#page_header
{
    margin: 0px 0px 20px 0px;
}

#page_header h1
{
    border: 0px;
	color: #73BBE8;
	font-size: 30px;
	font-weight: normal;
}

#page_header h2
{
	color: #808285;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
}

#report_menu_container
{
    margin: 0px 0px 20px;
    text-align: center;
}

#report_menu
{
    display:inline-block;
	margin: 0px;
}

.lt-ie7 .nav-pills { display:inline; } /* IE6 */
.lt-ie8 .nav-pills { display:inline; } /* IE7 */

#report_menu a
{
    color: #226396;
}

#report_menu .active a
{
    background-color: #226396;
    color: #FFF;
}

#reports
{
    margin: 0px auto;
    width: 700px;
}

#reports h1
{
    color: #999;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 15px;
	text-align: center;
}

#report_list li
{
    background-color: #f1f1f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    line-height: 30px;
    margin-bottom: 2px;
    min-height: 30px;
    position: relative;
}

.lt-ie7 #report_list li { display:inline; } /* IE6 */
.lt-ie8 #report_list li { display:inline; } /* IE7 */

#report_list .report a.favorite
{
    text-decoration: none;
}

#report_list .report .icon-star
{
    color: #CCC;
    font-size: 13px;
    margin-right: 10px;
    text-decoration: none;
}

#report_list .report .icon-star.favorite
{
    color: #A84D10;
}

#report_list li a.name
{
    color: #000000;
    margin: 0px 20px 0px 0px;
    text-decoration: none;
}

#report_list li a.name:hover
{
    text-decoration: underline;
}

#report_list .report span.created-by
{
	color: #999999;
	font-size: 10px;
	font-style: italic;
}

#report_list .report a.delete
{
    border-left: 1px solid #CCC;
	color: #999;
	padding: 0px 5px;
    position: absolute;
    right: 0px;
}
