
.menuskin{
position:absolute;
width:165px;
background-color:menu;
border:2px solid navy;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
visibility:hidden;
}

.menuskin a{
text-decoration:none;
color:navy;
padding-left:10px;
padding-right:10px;
}

#mouseoverstyle{
background-color:highlight;
}

#mouseoverstyle a{
color:00ff00;
}

.existsFont{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #993300;
	line-height: 23px; 
	height:23px;

}