/** Audit Data ***/

#bodyholder{
	min-width: 1085px;
}

h3.subCategory {
	font-size:22px;
	color: #012142;
}

h4.groupTitle {
	margin-left: 20px;
	margin-top: 10px;
	color: #A84D10;
	font-weight: bold;
}

div.question {
	padding-bottom: 10px;
	padding-top: 10px;
}

span.question {
	float: left;
	padding-left: 20px;
	width: 100%;
	color: #111;
	font-weight: bold;
	line-height: normal;
}

#content div.answer {
	float: left;
	width: 60%;
	/*color: #012142;*/
	padding-left: 20px;
	padding-right: 15px;
	clear: both;
}

#content div.subquestion {
	padding-left: 5%;	
}

#content div.shaded, h4.shaded {
	background-color: #FFFFFF;
	margin-left: 2px;
	margin-right: 2px;
}

span.required {
	background: transparent url(../images/yellow_star.gif) no-repeat
		left top;
	color: #272;
	font-weight: bold;
	zoom: 1;
}

span.printrequired {
	display: none;
}

span.printchecked {
	display: none;
}

div.thinking {
	float: right;
}

#content div.requiredLegend {
	margin: 5px;
	margin-left: 20px;
	padding-left: 20px;
	background: transparent url(../images/yellow_star.gif) no-repeat
		left center;
	color: #272;
	font-weight: bold;
	zoom: 1;
}

input.number {
	text-align: right;
	padding-right: 10px;
}

span.verified {
	color: #272;
	padding-left: 20px;
	background: transparent url(../images/okCheck.gif) no-repeat
		left center;
	zoom: 1;
}

span.unverified {
	color: #900;
	padding-left: 20px;
	background: transparent url(../images/notOkCheck.gif) no-repeat
		left center;
	zoom: 1;
}

span.boxed {
	padding: 3px 5px 3px 5px;
	border: 1px #900 dashed;
}

span.checked {
	padding-left: 20px;
	background: transparent url(../images/checkBoxTrue.gif) no-repeat
		left center;
	zoom: 1;
}

/** END Audit Data ***/

/** Table Report override for Category list **/
table.report tr.na {
	color: #999;
}

table.report tr.na a {
	font-style: italic;
	color: #999;
}

/* Audit Header */

span.refresh {
	float: right; padding-right: 25px;
}

#auditHeader.dirty span.refresh {
	display: inline;	
}	

/** Table for status **/
table.statusOpBox {
	background-color: #fff;
	border: 2px solid #F6F6F0;		
	color: #012142;
	border-collapse:collapse;
	width: 95%;
	margin-bottom: 10px;
	margin-left: 25px;
}
table.statusOpBox td {
	border: 2px solid #F6F6F0;	
	border-collapse:collapse;
	font: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

td.caoStatus a{
	line-height: 12px;
}

table.statusOpBox th {
	border: 2px solid #F6F6F0;	
	border-collapse:collapse;
	text-align: left;
	background-color: #aaa;
	color: white;
	padding-left: 10px;
}
table.statusOpBox td.progress{
	vertical-align: middle;
	padding: 0;
	width: 230px;
}
/** Table for ProgressBar **/
table.progressTable {
	border: 1px solid #012142;
	border-collapse: collapse;
	margin: 0;
	margin-left: 10px;
	margin-right: 20px;
	width: 200px;
	padding: 5px;
	background: #efefef;
}
table.progressTable tr, table.progressTable td {
	border: none;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

td.progressBar{
	background: #5D9BCE;
	height: 19px;
}
.progressPercent{
	left: 25px;
	position:absolute;
	top:-2px;
	color: #3F3F5A;
}
/** Audit Header ***/
#content div.auditHeader {
	border-top: 2px solid #C3C3C3;
	border-bottom: 2px solid #C3C3C3;
	background-color: #F6F6F0;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

div.auditHeader fieldset {
	width: 33%;
	float: left;
}

div.auditHeader ul {
	list-style-type: none;
	margin-left:0px;
}

div.auditHeader li {
	float: left;
	clear: left;
	width: 100%;
	line-height:16px;
	margin-bottom:10px;
	margin-top:8px;
}

div.auditHeader fieldset label {
	float: left;
	line-height: 19px;
	margin-right: .7em;
	margin-top:-2px;
	text-align: right;
	font-weight: bold;
	color: #012142;
}

div.auditHeaderNav ul {
	display: block;
	clear: both;
	float: none;
	text-align: center;
	margin: 0px;
	top: -9px;
	right: -3px;
	position: relative;
	width: 100%;
	white-space: nowrap;
	line-height: normal;
	list-style-type: none;
}

div.auditHeaderNav ul li {
	padding: 5px 4px 5px 0px;
	float: right;
	width: auto;
	clear: none;
}

div.auditHeaderNav a:hover, div.auditHeaderNav a.current {
	background-color: #A84D10;
	color: white;
	text-decoration: none;
}

div.auditHeaderNav a {
	padding: 6px 8px;
	text-decoration: none;
	background-color: #012142;
	font-size: 13px;
	color: white;
}
/** END Audit Header ***/

/** Category Header+Footer Navigation **/
table.footerNav {
	border-top: 2px #A84D10 solid;
	border-bottom: 2px #A84D10 solid;
	width: 100%;
	margin: 5px;
	background-color: #F6F6F6;
}

/*table.footerNav:HOVER {
	border: 1px #A84D10 solid;
	background-color: #F0F0F0;
}*/

table.footerNav td {
	vertical-align: middle;
	padding: 3px;
	font-size: 12px;
	line-height: 130%;
}

table.footerNav td.arrows {
	font-size: 16px;
	text-align: center;
}

table.footerNav td.previous {
	width: 20%;
	text-align: left;
}

table.footerNav td.previous a.prev {
background: url(../images/arrow-left.png) no-repeat left center;
padding-left:16px;
padding-top:2px;
font-weight:bold;
text-decoration:none;
}

table.footerNav td.current {
	width: 20%;
	text-align: center;
	font-weight: bold;
}

table.footerNav td.current a.currentCat {
	display:block;
	background-color:#d8d8d8;
	padding:5px;
	text-decoration:none;
}
table.footerNav td.current a.category_list {
	background: url(../images/arrow-up.png) no-repeat left center;
	padding-left:16px;
}

table.footerNav td.next {
	width: 20%;
	text-align: right;
}

table.footerNav td.next a.nxt {
background: url(../images/arrow-right.png) no-repeat right center;
padding-right:16px;
padding-top:2px;
font-weight:bold;
text-decoration:none;
}
/** END Category Header+Footer Navigation **/
.clickable{
	text-decoration: underline;
	cursor: pointer;
}
/** Audit SideNav **/
ul.vert-toolbar  {
	list-style: none;	
	width: 260px;
	background-color: #F6F6F0;
	border-bottom: 2px solid #bcbcbc;
	margin: 0 30px 20px 0;
}
ul.vert-toolbar li {
	font-size:0.9em;
	color: #012142;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bcbcbc;
}
ul.vert-toolbar li {
	padding-left: 5px;
	position: relative;
	line-height: 16px;
}
ul.vert-toolbar li .cat-percent {
	position: absolute;
	right:5px;
	color: #AEAEAE;
}
ul.vert-toolbar li a {
	text-decoration: none;	
	padding-top: 12px;
	padding-bottom: 12px;
	display: block;
	width: 88%;
}
ul.vert-toolbar li.current {
	background: #5D9BCE;
	color: #fff;
}
ul.vert-toolbar li.current a {
	color: #fff;
	text-decoration: none;
}
.subcat-list {
	display: none;
}
ul.vert-toolbar li.current .subcat-list {
	display: block;
	list-style: none;
}
ul.vert-toolbar li.hover {
	background-color: #e7e7e0;
	border-bottom: 1px solid #ababab;
 	border-top: 1px solid #ababab;
}
ul.vert-toolbar li.hover a {
	color: rgb(168, 77, 16);
}
ul.vert-toolbar li.head {
	padding: 14px 0 12px 10px;
	background-color: #A84D10;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	border: 0;
}
ul.vert-toolbar li.head .hidden-button{
	cursor: pointer;
	display:none;
	font-size: 0.5em;
	position: absolute;
	right:5px;
}
ul.vert-toolbar li.head.hover .hidden-button {
	display: inline;
}
div.addLink{
	float: right;
	padding: 10px 5px 0px 0px;
	color: #012142;
}	
div.addLink.hover{
	float: right;
	padding: 10px 5px 0px 0px;	
	text-decoration: underline;
	cursor: pointer;
	color: #A84D10;
}
#nacatlist{
	display: none;
}
ul.vert-toolbar li.subCatli{
	border: 0 none;	
	padding: 3px 0px;
}
ul.vert-toolbar .currSub{
	padding: 10px 0px 10px 10px;	
	background: #ddd;
}

ul.vert-toolbar li.subhover{
	color: #A84D10;
	text-decoration: underline;	
}
/*** OSHA **/
table.osha {
	margin-top: 10px;
	margin-bottom: 10px;
	table-layout: auto;
	border-collapse: collapse;
	border: 3px solid #A84D10;
}

table.osha tr.location td {
	color:#A84D10;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	font-size:24px;
	font-weight:bold;
	letter-spacing:-1px;
	padding: 10px;
	text-align: left;
}

table.osha th {
	border: 1px solid #444;
	font-size: 16px;
	color: #012142;
	text-align: center;
	padding: 3px;
}

table.osha th.label {
	text-align: left;
}

table.osha td {
	border: 1px solid #444;
	font-family: Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
	color: #4C4D4D;
	text-align: right;
	padding: 3px;
}

input.osha {
	width: 60px;
	text-align: right;
	font-family: courier;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

table.osha tr:hover {
	background-color: #FFFFCC;
}

table.osha tfoot th {
	background-color: #EEE;
}

/*** END OSHA **/

.audit_category {
	margin-bottom: 20px;
}

#audit-layout {
	clear:both;	
}

#audit-layout td {
	vertical-align: top;
}

#auditViewArea{
	background-color: #F6F6F0;
	min-width: 500px;
	width: expression(this.width > 500 ? 500 : true);
	min-height: 300px;
	height: expression(this.width > 300 ? 300 : true);
}

.audit_category h2{
	background-color: #5d9bce;
	margin-bottom: 10px;
	padding: 10px 0 5px 10px;
	color: #FFFFFF;
	letter-spacing: normal;
	font-size: 24px;
	line-height: 28px;
}

.audit_category .audit_category{
	padding-left: 10px;
	margin-right: 6px;
}

.audit_category .audit_category h2{
	font-size: 22px;
	background-color: #AAAAAA;
}

.categoryNumber, .questionNumber{
	float: right;
	padding: 0 18px 5px 15px;
	display: block;
	font-weight: normal;
	font-size: 14px;
}

.categoryNumber{
	color: #386788;
}

.questionNumber{
	color: #8E8D8B;
	padding-right: 29px;
}

.audit_category .audit_category .categoryNumber{
	padding-right: 12px;
	color: #787878;
}

.button{
	width: 72px;
	height: 22px;
	background-image: url(../images/buttons.png);
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
}

.button.yellow{background-position:0px 0px;}
.button.yellow:hover{ background-position: 72px 0px;}

.button.red{background-position:0px 132px;}
.button.red:hover{background-position:72px 132px; }

.button.aqua{background-position:0px 110px;}
.button.aqua:hover{background-position:72px 110px;}

.button.bluegreen{background-position:0px 88px;}
.button.bluegreen:hover{background-position:72px 88px;}

.button.green{background-position:0px 66px;}
.button.green:hover{background-position:72px 66px;}

.button.purple{background-position:0px 44px;}
.button.purple:hover{background-position:72px 44px;}

.button.gray{background-position:0px 22px;}
.button.gray:hover{background-position:72px 22px;}

a.yellow {color: #E7BE32} /*** Pending ***/

a.red {color: #AE5026} /*** Incomplete or Reject ***/

a.aqua {color: #3E979D} /*** Submit ***/

a.bluegreen {color: #41A789;} /*** Resubmit ***/

a.green {color: #689D41;} /*** Complete ***/

a.purple {color: #6C549D;} /*** Approve ***/

a.gray {color: #A4A3A4;} /*** N/A or Expired ***/