/** Audit Data ***/

h3.subCategory {
}

h4.groupTitle {
	margin-left: 25px;
	margin-top: 10px;
	color: #A84D10;
	font-weight: bold;
}

#content div.subCategory {
	margin-top: 15px;
	margin-left: 10px;
	padding-left: 5px;
}

span.question {
	float: left;
	padding-left: 20px;
	padding-right: 15px;
	max-width: 60%;
	color: #111;
}

#content div.answer {
	float: left;
	max-width: 60%;
	font-weight: bold;
	color: #003768;
}

#content div.subquestion {
	padding-left: 5%;	
}

#content div.shaded, h4.shaded {
	background-color: #EEEEEE;
}

span.required {
	background: transparent url(../images/yellow_star.gif) no-repeat
		left top;
	color: #272;
	font-weight: bold;
}

span.printrequired {
	display: none;
}

div.thinking {
	float: right;
}

#content div.requiredLegend {
	margin: 5px;
	margin-left: 20px;
	padding-left: 20px;
	background: transparent url(../images/yellow_star.gif) no-repeat
		left center;
	color: #272;
	font-weight: bold;
}

#content div.tuple {
	margin-left: 10px;
	border-bottom: 1px dashed #A84D10;
	width: 100%;
}

input.number {
	text-align: right;
	padding-right: 10px;
}

span.verified {
	color: #272;
	padding-left: 20px;
	background: transparent url(../images/okCheck.gif) no-repeat
		left center;
}

span.unverified {
	color: #900;
	padding-left: 20px;
	background: transparent url(../images/notOkCheck.gif) no-repeat
		left center;
}

span.boxed {
	padding: 3px 5px 3px 5px;
	border: 1px #900 dashed;
}

span.checked {
	padding-left: 20px;
	background: transparent url(../images/checkBoxTrue.gif) no-repeat
		left center;
}

/** END Audit Data ***/

/** Table Report override for Category list **/
table.report tr.na {
	color: #999;
}

table.report tr.na a {
	font-style: italic;
	color: #999;
}

/** Audit Header ***/
#content div.auditHeader {
	border-top: 2px solid #C3C3C3;
	border-bottom: 2px solid #C3C3C3;
	background-color: #F6F6F0;
	margin-bottom: 10px;
}

div.auditHeader fieldset {
	width: 33%;
	float: left;
}

div.auditHeader ul {
	list-style-type: none;
	margin-left:0px;
}

div.auditHeader li {
	float: left;
	clear: left;
	width: 100%;
}

div.auditHeader fieldset label {
	float: left;
	line-height: 26px;
	margin-right: .7em;
	width: 8em;
	text-align: right;
	font-weight: bold;
	color: #003768;
}

div.auditHeaderNav ul {
	display: block;
	clear: both;
	float: none;
	text-align: center;
	margin: 0px;
	top: -9px;
	right: -3px;
	position: relative;
	width: 100%;
	white-space: nowrap;
	line-height: normal;
	list-style-type: none;
}

div.auditHeaderNav ul li {
	padding: 5px 4px 5px 0px;
	float: right;
	width: auto;
	clear: none;
}

div.auditHeaderNav a:hover, div.auditHeaderNav a.current {
	background-color: #A84D10;
}

div.auditHeaderNav a {
	padding: 6px 8px;
	text-decoration: none;
	background-color: #003768;
	font-size: 13px;
	color: white;
}
/** END Audit Header ***/

div.caoGroup {
	position: relative;
}

/** Category Header+Footer Navigation **/
table.footerNav {
	border: 1px #A84D10 dashed;
	width: 100%;
	margin: 5px;
	background-color: #F6F6F6;
}

table.footerNav:HOVER {
	border: 1px #A84D10 solid;
	background-color: #F0F0F0;
}

table.footerNav td {
	vertical-align: middle;
	padding: 3px;
	font-size: 12px;
	line-height: 130%;
}

table.footerNav td.arrows {
	font-size: 16px;
	text-align: center;
}

table.footerNav td.previous {
	width: 20%;
	text-align: left;
}

table.footerNav td.current {
	width: 30%;
	text-align: center;
	font-weight: bold;
}

table.footerNav td.next {
	width: 20%;
	text-align: right;
}
/** END Category Header+Footer Navigation **/

/*** OSHA **/
table.osha {
	margin-top: 10px;
	margin-bottom: 10px;
	table-layout: auto;
	border-collapse: collapse;
	border: 3px solid #A84D10;
}

table.osha tr.location td {
	color:#A84D10;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	font-size:24px;
	font-weight:bold;
	letter-spacing:-1px;
	padding: 10px;
	text-align: left;
}

table.osha th {
	border: 1px solid #444;
	font-size: 16px;
	color: #003768;
	text-align: center;
	padding: 3px;
}

table.osha th.label {
	text-align: left;
}

table.osha td {
	border: 1px solid #444;
	font-family: Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
	color: #4C4D4D;
	text-align: right;
	padding: 3px;
}

input.osha {
	width: 60px;
	text-align: right;
	font-family: courier;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

table.osha tbody tr:hover {
	background-color: #FFFFCC;
}

table.osha tfoot th {
	background-color: #EEE;
}

/*** END OSHA **/

