#operatorForms {
	overflow: auto;
	background-color: white;
}

#hidden #operatorForms,
.blockMsg
{
	display: none;
}

#email_preview td,
#email_preview th
{
	padding: 5px;
}

#email_preview th
{
	font-weight: bold;
	text-align: right;
}

#email_preview td.body
{
	border: 1px solid #C3C3C3;
	background-color: #F8F8F8;
}

.normal:hover {
	color: #4C4D4D;
	text-decoration: none;
}

#notesPreview,
#addHere
{
	background-color: transparent;
}

pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#addToNotes {
	margin-bottom: 10px;
}

#notesHere {
	background: #FFFF99;
	padding: 10px 5px 10px 5px;
	border-top: 2px solid #4686BF;
	border-bottom: 2px solid #4686BF;
	min-width: 400px;
	z-index: 1;
	position: relative;
}

#notesDiv {
	position: relative;
}

#editRequestNotes {
	position: absolute;
	top: 10px;
	left: 2px;
	z-index: 0;
}

* html #editRequestNotes {
	left: -5px;
}