#content div.column {
	float: left;
	width: 46%;
	margin-right: 2%;
}

#content div.panel_placeholder {
	background:#ECECEC none repeat scroll 0%;
	margin-bottom:5px;
	padding:4px;
}

#content div.panel {
	border: 1px solid #BBB;
	margin:0px;
	padding:0px;
}

#content div.panel_header {
	height: 22px;
	font-size:10pt;
	color: #A84D10;
	font-weight: bold;
	overflow: hidden;
	border-bottom:1px solid #B3B3B3;
	padding: 2px 5px;
	margin:0px;
}

#content div.panel_edit {
	float: right;
	padding: 0px;
	font-size: 9px;
}

a.panel_edit {
	padding: 1px;
	margin: 1px;
	font-weight: bold;
	border: 1px solid #CCC;
	text-decoration: none;
	height: 16px;
	background: #EEE;
	top: 2px;
}

a:hover.panel_edit {
	padding: 1px;
	margin: 1px;
	font-weight: bold;
	border: 1px solid #555;
	background: white;
	text-decoration: none;
	height: 16px;
}

.ContractorView-page div#betaTranslationsAlert
{
	text-align: center;
	margin-bottom: 5px;
}

.ContractorView-page div#betaTranslationsAlert p
{
	font-size: 14px;
    color: #A74D0F;
}

#content div.panel_content {
	background:#FFFFFF none repeat scroll 0%;
	border-bottom:1px solid #B3B3B3;
	font-size:10pt;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:150%;
	overflow:hidden;
	padding: 3px;
	margin: 0px;
}

#content div.panel_footer {
	text-align:center;
	line-height:100%;
	background:#DADADA none repeat scroll 0% 50%;
	border-top:1px solid #EDEDED;
	clear:both;
	height:6px;
	padding:0px;
	margin:0px;
	font-size: 6px;
}

#content div.inprogress {
	background-color: #CCC;
	background-image: url("../images/inprogress.gif");
	background-repeat: no-repeat;
	background-position:  center 50%;
	height:100px;
}

.panel_content label {
	font-weight: bold;
	color: #012142;
}

#trade-cloud {
	border: none;
	padding: inherit;
	background:inherit;	
}

/* con_dashboard.jsp */

div#opTagAjax{
	/*background: #F9F9F9;
	border: 2px solid #012142;
	padding: 3px;
	display: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;*/
}

img.contractor_logo {
	float: left;
	padding: 20px;
	max-width: 180px;
	/* IE Image max-width */
	width: expression(this.width > 180 ? 180 : true);
}

div.co_flag {
	float: left;
	text-align: center;
	margin: 10px 20px 10px 5px;
}

div.co_problems {
	float: left;
}

div.co_select {
	clear: left;
	border-top: 1px solid #cecece;
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.hide_services {
	display: none;
}

ul {
	list-style: none;
}

#conoperator_tags,
#contractor_operator_numbers
{
	padding: 10px;
}

tr.hurdle {
	background-color:Cornsilk;
	display: none;
}

table.report tr.hurdle td {
	font-size: 11px;
}

/* widgets */

.widget.locations .panel_header a
{
	float: right;
}

/* trir */

.trir-popover th
{
	font-size: 12px;
	font-weight: bold;
	padding: 10px 5px;
}

.trir-popover td
{
	font-size: 12px;
	padding: 5px;
}

.trir-popover .activity,
.trir-popover .naics
{
	text-align: right;
}

.trir-popover .average
{
	color: #A84D10;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0px 0px;
	text-align: right;
}

/*PICS CSR Asterisk Note*/
#contractor_dashboard #CSRNote {
	color:#A84D10;
	font-size:75%;
	font-style:italic;
	font-weight: normal;	
	vertical-align: top;
}

/*Contact Info*/
.telecommunications p.tabbed {
    padding-left: 10px;
} 