#environment {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #252525), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#252525, #333333);
  background-image: -moz-linear-gradient(#252525, #333333);
  background-image: -o-linear-gradient(#252525, #333333);
  background-image: linear-gradient(#252525, #333333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff252525', endColorstr='#ff333333', GradientType=0);
  color: #f1f1f2;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
}

#environment a {
  float: right;
  padding: 0 10px;
  color: #ccc;
  text-decoration: none;
}

#environment a:hover {
  color: #f1f1f2;
}

#environment .active.localhost {
  color: #f6303c;
}

#environment .active.alpha {
  color: #33c033;
}

#environment .active.config {
  color: #fcc033;
}

#environment .active.beta {
  color: #73bbe8;
}

#environment .active.qa-beta {
  color: #ff6600;
}

#environment .active.qa-stable {
  color: #996fff;
}