/******************** New Primary class="forms"  ************************/
fieldset.form {
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	border-style: none;
	border-top: 2px solid #003768;
	background-color: #F6F6F0;
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	color: #404245;
}

fieldset.alt {
	background-color: #F0F0F0;
}

fieldset.form h2.formLegend {color: white;font-weight:bold;font-size:125%;display:block;background-color:#003768;padding:0.2em 5px;}


fieldset.form legend {
	color: white;
	font-weight: bold;
	padding: 0;
	display:none;
}

fieldset.form legend span {
	position: absolute;
	margin: 0;
	left: 0;
	top: 0;
	font-size: 125%;
	padding: 0.2em 2%;
	background-color: #003768;
	display: block;
	width: 96%;
}

fieldset.form ol {
	margin: 35px 0 0;
	padding-left: 5px;
	list-style: none;
}

fieldset.form ol li {
	font-size: 15px;
	padding: 4px 5px 12px 10px;
	float: left;
	clear: left;
}

fieldset.submit {
	padding: 1em 5em;
	border-bottom: 2px solid #003768;
	margin-bottom: 10px;
	float: none;
	width: auto;
}

fieldset.submit .picsbutton.positive{
	float: left;	
}
fieldset.submit .picsbutton.negative {
	float: right;	
}

fieldset.bottom {
	border-bottom: 2px solid #003768;
	margin-bottom: 10px;
	float: none;
	width: auto;
}

fieldset.form label {
	float: none;
	width: 100%;
	display: block;
	margin: 0 0 5px 0;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: #003768;
	line-height: 15px;
	white-space: nowrap;
}

fieldset.form label.checkbox {
	float: none;
	width: auto;
	margin-right: auto;
	text-align: left;
	font-size: inherit;
	font-weight: normal;
	color: inherit;
	line-height: inherit;
}

fieldset.form label.input {
	float: none;
	width: inherit;
	margin-right: auto;
	text-align: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	display: inherit;
}

fieldset.form input[type=text],fieldset.form input[type=password] {
	width: 320px;
	font-size: 14px;
	padding: 2px;
	border:1px solid #ccc;
}

fieldset.form input:focus, fieldset.form textarea:focus, fieldset.form select:focus {border:1px solid #ccc;}


/**
* We have to separate these because IE 6 can't see the rules with input[type=text]
**/
fieldset.form select {
	width: 320px;
	font-size: 14px;
	padding: 2px;	
}
fieldset.form input.input-edit-field {
	width: 320px;
	font-size: 14px;
	padding: 2px;
}

/** Sortable list items **/
#list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#list li {
	margin: 5px;
	padding: 10px;
	border: 1px solid #888;
	cursor: move;
	line-height: 1em;
}

/** Field Help **/
fieldset.form ol li.fieldhelp-focused {
	background-color: #FBF2C9;
}

fieldset.form ol li.fieldhelp-focused .fieldhelp {
	position: absolute;
	z-index: 1000;
	width: 250px;
	padding: 10px;
	background-color: #FBF2C9;
	display: block;
	font-size: 12px;
	line-height: 20px;
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 4px #666;
	/* For IE 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')"
		;
	/* For IE 5.5 - 7 */
	filter: progid :     DXImageTransform.Microsoft.Shadow (     Strength =
		    4, Direction =     135, Color =     '#666666' );
}

.fieldhelp {
	display: none;
}

fieldset.form div.fieldhelp ul li {
	font-size: inherit;
	padding: 0;
	width: auto;
}
