/* optiontransferselect */

div.double-list
{
	margin: 10px 0px;
}

div.double-list-left,
div.double-list-action,
div.double-list-right
{
	float: left;
}

div.double-list label
{
	font-size: 13px !important;
	font-weight: normal !important;
}

div.double-list-action
{
	margin: 0px 10px;
}

div.double-list-action input.add-left,
div.double-list-action input.add-right
{
	display: block;
	margin-bottom: 10px;
	position: relative;
	top: 115px;
	width: 75px;
}

/* radio */
 
ul.radio
{
	list-style-type: none;
	margin: 0px;
}

ul.radio.inline li
{
	clear: none !important;
	display: inline !important;
	overflow: hidden;
	padding: 5px 5px 10px 0px !important;
}

ul.radio.inline input,
ul.radio.inline label
{
	float: left !important;
}

ul.radio.inline input
{
	margin-right: 5px;
}

ul.radio.inline label
{
	line-height: 20px !important;
	margin: 0px !important;
}