/******************** New Primary class="forms"  ************************/


form fieldset {
	margin: 0 0 -1em 0;
	padding: 0 0 1em 0;
	border-style: none;
	border-top: 2px solid #C3C3C3;
	background-color: #F6F6F0;
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	color: #404245;
}

form fieldset.alt {
	background-color: #F0F0F0;
}

form fieldset legend {
	color: #A84D10;
	font-weight: bold;
	padding: 0;
}
form fieldset legend span {
	position: absolute;
	margin-top: 0.5em;
	left: 0.74em;
	top: 0;
	font-size: 135%;
}

form fieldset ol {
	margin-top: 3.5em;
	padding-left: 10px;
	list-style: none;
}

form fieldset li {
	float: left;
	clear: left;
	width: 100%;
	padding-bottom: 1em;
	padding-top: 0;
}

form fieldset.submit {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 10em;
	margin-bottom:5px;
	float: none;
	width: auto;
	background-color: white;
	background-image: none;
}

form fieldset label {
	float: left;
	width: 10em;
	margin-right: 1em;
	text-align: right;
	font-size: 15px;
	font-weight: bold;
	color: #003768;
}

form fieldset label.input {
	float: none;
	width: inherit;
	margin-right: auto;
	text-align: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

form fieldset input[type=text], form fieldset select {
	color: #404245;
	font-size: 14px;
	padding: 2px;
	border-style: inset;
}

form fieldset input[type=text]:FOCUS, form fieldset select:FOCUS {
	color: #003768;
	background-color: #FFE;
}

/** Sortable list items **/
#list {
	margin:0px;
	padding:0px;
	list-style-type: none;
}
#list li {
	margin:5px;
	padding:10px;
	border:1px solid #888;
	cursor:move;
	line-height: 1em;
}
