h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #003366;
	line-height: 36px;	
	padding-left:5x;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #993300;
	line-height: 26px;	
	padding-left:10x;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003366;
	line-height: 18px;
	padding-left:15px;
}

p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	padding-left:20px;
	line-height: 16px;
}
ul{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	padding-left:5px;
}
li{
	padding:0px 0px 20px 0px;
}

img {
	border: 2px solid; 
	margin: 10px;
}
.blueMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 23px;
}
.redMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #993300;
	line-height: 23px;
}
