div#maincontainer {
	min-width: 790px;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	background-color: #797b7a;
	font-family: Helvetica , Arial, sans-serif;
	font-size: 14px;
	line-height: 28px;
	color: #f7f7f7;
}

div#maincontainer p{
	font-family: Helvetica , Arial, sans-serif;
	font-size: 14px;
	line-height: 28px;
	color: #f7f7f7;
}


#masthead {
	width: expression((document.body.clientWidth < 892)? "880px" : "auto");
   	min-width: 890px;
}

#bodyholder {
	width: expression((document.body.clientWidth < 892)? "880px" : "auto");
	min-width: 890px;

}

#content {
	width: expression((document.body.clientWidth < 892)? "880px" : "auto");
	min-width: 890px;
}

div#maincontainer {
	width: expression((document.body.clientWidth < 892)? "790px" : "auto");
	min-width: 790px;
	}

#footercontent {
	width: expression((document.body.clientWidth < 892)?  "880px" : "auto");
	min-width: 890px;
}


h1 {
	width: expression((document.body.clientWidth < 892)? "760px" : "auto");
	min-width: 760px;
}

#tab {
	min-width: 890px;
	max-width: 1150px;
	width:expression((document.body.clientWidth < 892)? "890px" : "auto");
}

.sidebox {
	float: right;
	margin: 10px auto;
	height: 30px;
	max-width: 450px;
	background: url(../images/3dsquare-right.jpg) no-repeat bottom right;
	display: inline;
}



