div#maincontainer {
	min-width: 790px;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	background-color: #797b7a;
	font-family: Helvetica , Arial, sans-serif;
	font-size: 14px;
	line-height: 28px;
	color: #f7f7f7;
}

div#maincontainer p{
	font-family: Helvetica , Arial, sans-serif;
	font-size: 14px;
	line-height: 28px;
	color: #f7f7f7;
}

input {
	color: #012142;
}

#search_box, #search_button {
	line-height: 18px !important;
	/* IE 7 hack */
	*line-height: 15px !important;
}

#search_button {
	padding-bottom: 1px !important;
}

#sidebox {
	*padding-right: 20px;
}

#logo {
	*padding-left: 20px;
}

fieldset.form { position: static; }

.fieldhelp {
	*filter:progid:DXImageTransform.Microsoft.DropShadow(Color=#666666, OffX=4, OffY=4);	
}

span.jump-to { position: relative; }

/* 
 * Jump To Styles for form headers - IE7 hack
 */
ul.jump-header-list {
	*top:24px;
}
