/********************  SIDEBOX STYLES - ie6 fixes  ************************/
#helpbox {
	right: 20px;
}

/******* Dashboard Panels ********/
#content div.panel_footer {
	
}

div.caoGroup {
	position: static;
}

#headersearch {
	width: auto;
}

#search_box, #search_button {
	line-height: 18px !important;
}

#search_button {
	padding: 0px !important;
}

fieldset.form h2.formLegend {width: 100%;}

/* 
 * required icon fix
 */
fieldset.form ol li.required {
	background: inherit url(../images/required.gif) no-repeat right 28px;	
}

.required-info {
	background: inherit url(../images/required.gif) no-repeat left center;	
}

/* 
 * Jump To Styles for form headers
 */
ul.jump-header-list {
	top:28px;
}

h2.formLegend span.jump-to {
	background: url(../images/arrow-360.gif) no-repeat right center;
	background-color: #012142;
}

ul.jump-header-list li a.jump-top {
	background: url(../images/arrow-up-top.gif) no-repeat left center;
}

ul.jump-header-list li a.jump-bottom {
	background: url(../images/arrow-down-bottom.gif) no-repeat left center;
}
 
ul.jump-header-list li.hover a.jump-up {
	background: url(../images/arrow-up.gif) no-repeat left center;
}

ul.jump-header-list li.hover a.jump-current {
	background: url(../images/arrow-right.gif) no-repeat left center;
}
 
ul.jump-header-list li.hover a.jump-down {
	background: url(../images/arrow-down.gif) no-repeat left center;
}
 