/********************  SIDEBOX STYLES - ie6 fixes  ************************/
#helpbox {
	right: 20px;
}

/******* Dashboard Panels ********/
#content div.panel_footer {
	
}

div.caoGroup {
	position: static;
}