/********************  SIDEBOX STYLES - ie6 fixes  ************************/
#helpbox {
	right: 20px;
}

#helpbox a.liveperson-chat {
	width: 100px;
}

/******* Dashboard Panels ********/
#content div.panel_footer {
	
}

div.caoGroup {
	position: static;
}

#headersearch {
	width: auto;
}

#search_box,#search_button {
	line-height: 18px !important;
}

#search_button {
	padding: 0px !important;
}

/* 
 * Form fixes
 */
fieldset.form h2.formLegend {
	width: 100%;
}

fieldset.form ol li {
	z-index: 1000;
}

.fieldhelp {
	filter: progid : DXImageTransform.Microsoft.DropShadow ( Color = #666666,
		OffX = 4, OffY = 4 );
}

/* 
 * required icon fix
 */
fieldset.form ol li.required {
	background: url(../images/required.gif) no-repeat right 28px;
	background-color: inherit;
}

.required-info {
	background: url(../images/required.gif) no-repeat left center;
	background-color: inherit;
}

/* 
 * Jump To Styles for form headers
 */
ul.jump-header-list {
	top: 24px;
}

h2.formLegend span.jump-to {
	background: url(../images/arrow-360.gif) no-repeat right center;
	background-color: #012142;
}

ul.jump-header-list li a.jump-top {
	background: url(../images/arrow-up-top.gif) no-repeat left center;
}

ul.jump-header-list li a.jump-bottom {
	background: url(../images/arrow-down-bottom.gif) no-repeat left center;
}

ul.jump-header-list li.hover a.jump-up {
	background: url(../images/arrow-up.gif) no-repeat left center;
}

ul.jump-header-list li.hover a.jump-current {
	background: url(../images/arrow-right.gif) no-repeat left center;
}

ul.jump-header-list li.hover a.jump-down {
	background: url(../images/arrow-down.gif) no-repeat left center;
}

/* BUTTONS */
.picsbutton,a.picsbutton:visited,a.picsbutton:link {
	margin: 0 7px 0 0;
	border-top: 1px;
	border-left: 1px;
	border-bottom: 2px;
	border-right: 2px;
	border-color: #4686BF;
	border-style: solid;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	background-color: #fff;
}

a.picsbutton {
	padding: 5px 11px 4px 12px; /* Links */
}

.picsbutton {
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px; /* IE6 */
}

.buttons button[type] {
	line-height: 17px; /* Safari */
}

* :first-child+html button[type] {
	padding: 4px 10px 3px 7px; /* IE7 */
}

.buttons button img,.buttons a img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

.showPointer {
	cursor: pointer;
}

/* UTILITIES */
.picsbutton:hover,.picsbutton:active,a.picsbutton:hover,a.picsbutton:active
	{
	background-color: #dff4ff;
	border-left: 2px;
	border-right: 1px;
	border-bottom: 1px;
	border-top: 2px;
	margin-top: -1px;
	margin-bottom: 1px;
	border-style: solid;
	border-color: #6990DB;
	color: #336699;
	text-decoration: none;
}

.picsbutton:active,a.picsbutton:active {
	background-color: #6299c5;
	color: #fff;
}

.picsbutton.grey {
	background: #dedede;
	border-color: #ababab;
	color: #ababab;
}

/* POSITIVE */
.positive,a.positive:visited,a.positive:link {
	color: #529214;
}

.positive:hover,a.positive:hover {
	background-color: #E6EFC2;
	border-color: #C6D880;
	color: #529214;
	text-decoration: none;
}

.positive:active,a.positive:active {
	background-color: #529214;
	border-color: #C6D880;
	color: #fff;
}

/* NEGATIVE */
.negative,a.negative:visited,a.negative:link {
	color: #d12f19;
}

.negative:hover,a.negative:hover {
	background: #fbe3e4;
	border-color: #fbc2c4;
	color: #d12f19;
}

.negative:active,a.negative:active {
	background-color: #d12f19;
	border-color: #d12f19;
	color: #fff;
}

.picsbutton[disabled],.picsbutton[disabled]:hover {
	background: #dedede;
	border-width: 1px 2px 2px 1px;
	margin-bottom: -1px;
	border-color: #ababab;
	cursor: default;
	color: #ababab;
}

/* add overflow:visible to (submit) buttons */
input,button {
	overflow: visible;
}

/* STYLE.CSS */

/* IE6 css fixer v0.95: Tue, 08 Nov 2011 20:11:15 +0100 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
.alert-message .close,.close,.modal-footer .btn {
	display: inline;
}

/* fix negative margins */
.alert-message .close,.modal,.twipsy.above .twipsy-arrow,.popover.above .arrow,.twipsy.left .twipsy-arrow,.popover.left .arrow,.twipsy.below .twipsy-arrow,.popover.below .arrow,.twipsy.right .twipsy-arrow,.popover.right .arrow
	{
	position: relative;
	zoom: 1;
}

/* add zoom:1 to overflow:hidden */
.popover .inner {
	zoom: 1;
}

/* add transparancy */
.alert-message .close {
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 20 );
}

.twipsy {
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 80 );
}

.fade {
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 0 );
}

.fade.in {
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 100 );
}

.close {
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 20 );
}

.modal-backdrop.fade {
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 0 );
}

.btn.disabled,.btn[disabled],.picsbutton.disabled,.picsbutton[disabled]
	{
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 65 );
}

.alert-message .close:hover,.close:hover {
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 40 );
}

.twipsy.fade.in,.modal-backdrop,.modal-backdrop.fade.in {
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 80 );
}

/* add zoom:1; display:inline; to inline-block elements */
.btn,.picsbutton {
	zoom: 1;
	display: inline;
}

/* add transparancy */
.fade {
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 0 );
}

.fade.in {
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 100 );
}

/* add overflow:visible to (submit) buttons */
input,button {
	overflow: visible;
}

/* FORM.CSS */

/* IE6 css fixer v0.95: Tue, 08 Nov 2011 20:28:16 +0100 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
div.double-list-left,div.double-list-action,div.double-list-right,ul.radio.inline input,ul.radio.inline label
	{
	display: inline;
}

/* add zoom:1 to overflow:hidden */
ul.radio.inline li {
	zoom: 1;
}

/* add zoom:1 to pos:relative elements */
div.double-list-action input.add-left,div.double-list-action input.add-right
	{
	zoom: 1;
}

/* add overflow:visible to (submit) buttons */
input,button {
	overflow: visible;
}

/* REGISTRATION */

/* IE6 css fixer v0.95: Tue, 13 Dec 2011 02:49:23 +0100 */

/* ============================================= */
/* safe settings                                 */

/* fix negative margins */
.registration-form h1,.make-payment .membership-help section h1 {
	position: relative;
	zoom: 1;
}

/* add zoom:1 to overflow:hidden */
.registration-form li,.client-site-form li,.service-evaluation-form li,.make-payment-form li,.client-site-filter,.client-site .client-site-list li a,.make-payment .policy,.registration-form li,.registration-form .actions
	{
	zoom: 1;
}

/* add zoom:1 to pos:relative elements */
.registration-header h1,.registration-form .errors li,.registration-form .actions input,.registration-side-bar .info-join h1,.registration-step ul,.client-site .client-site-left,.client-site .client-site-right,.client-site .client-site-left .client-site-list-container,.client-site .client-site-right .client-site-list-container,.make-payment table td,.make-payment .invoice .help,.data-import-form input,.make-payment-form img.card,.service-evaluation-form div.separator,.make-payment div.separator
	{
	zoom: 1;
}

/* add overflow:visible to (submit) buttons */
input,button {
	overflow: visible;
}

.registration-form h1 {
	background-color: rgb(197, 98, 26);
}

.registration-side-bar .info-qualify,.registration-side-bar .info-choice
{
	background-color: rgb(145, 192, 224);
}

.registration-side-bar .info-qualify li,
.registration-side-bar .info-choice li
{
	color: #39749B;
}

.registration-form .info-agreement
{
	margin-left: 63px;
}

.registration-form .info-agreement p {
	position: relative;
	right: 50px;
}

.popover {
	position: absolute;
	z-index: 9999;
}

.registration-header .registration-step {
	margin: 0px auto;
	padding: 0px;
	position: relative;
	zoom: 1;
}

.registration-header .registration-step ul {
	margin-top: 15px;
}

.Registration-page .popover .arrow {
	left: 257px;
	width: 10px;
	z-index: 99999;
}

.Registration-page .popover .inner {
	background: #FFFFFF;
	border: 2px solid #404040;
	left: 247px;
	position: relative;
	width: 350px;
}

.Registration-page .popover .inner .content
{
	padding: 7px;
}

.RegistrationAddClientSite-page .client-site-left .client-site-list-container,
.RegistrationAddClientSite-page .client-site-right .client-site-list-container
{
	width: 420px;
}

.RegistrationAddClientSite-page .client-site-list
{
	position: relative;
}

.make-payment .membership
{
	width: 630px;
}

.Registration-page .modal,.RegistrationMakePayment-page .modal
{
	display: none;
}

.RegistrationServiceEvaluation-page .warning
{
	background-color: #EEDC94;
	background-repeat: repeat-x;
	background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
	background-image: linear-gradient(top, #fceec1, #eedc94);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr ='#fceec1', endColorstr = '#eedc94', GradientType = 0 );
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #EEDC94 #EEDC94 #E4C652;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.RegistrationServiceEvaluation-page .warning .warn
{
	background: url(../js/jquery/jquery-ui/images/ui-icons_666666_256x240.png) 0px -144px no-repeat;
}

.RegistrationServiceEvaluation-page .error
{
	background-color: #C43C35;
	background-repeat: repeat-x;
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #C43C35 #C43C35 #882A25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.service-evaluation ul
{
	position: relative;
	zoom: 1;
}

form#RegistrationMakePayment
{
	left: 10px;
	position: relative;
	top: 5px;
	zoom: 1;
}

/* TWITTER MODAL */

* html .modal
{
	position: absolute;
}

.close{float:right;color:#000000;font-size:20px;font-weight:bold;line-height:13.5px;text-shadow:0 1px 0 #ffffff;filter:alpha(opacity=20);-khtml-opacity:0.2;-moz-opacity:0.2;opacity:0.2;}.close:hover{color:#000000;text-decoration:none;filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
.modal{position:fixed;top:50%;left:50%;z-index:11000;width:560px;margin:-250px 0 0 -250px;background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}.modal .close{margin-top:7px;}
.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-ms-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;}
.modal.fade.in{top:50%;}
.modal-header{border-bottom:1px solid #eee;padding:5px 15px;}
.modal-body{padding:15px;}
.modal-footer{background-color:#f5f5f5;padding:14px 15px 15px;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;margin-bottom:0;}.modal-footer:before,.modal-footer:after{display:table;content:"";zoom:1;*display:inline;}
.modal-footer:after{clear:both;}
.modal-footer .btn{float:right;margin-left:5px;}

.modal .modal-body
{
	position: relative;
}