/********************  SIDEBOX STYLES - ie6 fixes  ************************/
#helpbox {
	right: 20px;
}

/******* Dashboard Panels ********/
#content div.panel_footer {
	
}

div.caoGroup {
	position: static;
}

#headersearch {
	width: auto;
}

#search_box, #search_button {
	line-height: 18px !important;
}

#search_button {
	padding: 0px !important;
}

fieldset.form h2.formLegend {width: 100%;}

 ul.jump-header-list li a:link,  ul.jump-header-list li a:visited {
	background-color: transparent;
	color: #464646;
 }

 ul.jump-header-list li a:hover,  ul.jump-header-list li a:active {
 	text-decoration:none;
	background-color: #ffff99;
	color: #000;
 }


 h2.formLegend span.jump-to {
 	background: url(../images/arrow-360.gif) no-repeat right center;
 }

 ul.jump-header-list li.jump-top {
 	background: url(../images/arrow-up-top.gif) no-repeat left center;
 	
 }
 
 ul.jump-header-list li.jump-up a:hover {
 	background: url(../images/arrow-up.gif) no-repeat left center;
 }
 
  ul.jump-header-list li.jump-current {

 }
 
  ul.jump-header-list li.jump-current a:hover {
 	background: url(../images/arrow-right.gif) no-repeat left center;
 }
 
 ul.jump-header-list li.jump-down a:hover {
 	background: url(../images/arrow-down.gif) no-repeat left center;
 }
 
 ul.jump-header-list li.jump-bottom {
 	background: url(../images/arrow-down-bottom.gif) no-repeat left center;
 }