/* REGISTRATION */

.btn
{
	width: 100px !important;
}

.client-site .double-list-action
{
	height: 265px;
	margin: 0px;
	padding: 0px 22px;
	width: 75px;
}

.client-site-filter ul
{
	width: 610px;
}