/******************** New Primary class="forms"  ************************/

body {
	background: #fff url(bg.gif) no-repeat top left;
	padding: 0;
	margin: 0;
}

.clear {
	clear: both;
	height: 0;
}

br.clear {
	clear: both;
	height: 0;
	border-bottom: 1px solid #ccc;
}

#picsInfo {
	margin: 0;
	width: 100mm;
}

#invoice {
	position: absolute;
	left: 2.381mm;
	top: 42.333mm;
	width: 300mm;
	border-bottom: 1px dotted #666;
}

#logo {
	border: 0px;
}

#picsAddress {
	border: 1px dotted #bababa;
	width: auto;
	height: auto;
	padding: 10px;
	position: absolute;
	left: 28.84mm;
	top: 5.556mm;
}

#picsAddress p {
	color: #000;
	font: 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	margin: 0;
	padding: 0;
}

#invoiceTitle {
	font: bold 14pt/20pt  'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	color: #666;
	letter-spacing: 2px;
	display: block;
	border-bottom: 1px dotted #666;
	border-top: 1px dotted #666;
	margin: 15mm 0 5mm 0;
}

#topitems {
	background-color: #eee;
	width: 171mm;
}

.itemTitles {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	background: #ccc;
	color: #5d5d5d;
	border-bottom: 1px dotted #666;
	border-top: 1px dotted #666;
	padding: 5px;
	width: 40mm;
	float: left;
}

.itemDetails {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	background: #eee;
	border-bottom: 1px dotted #666;
	border-top: 1px dotted #666;
	padding: 5px;
	margin: 1px 0 0 0;
	width: 40mm;
	float: left;
}

#feeTitle, #feeAmount {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;
	background: #eee;
	padding: 5px;
	margin-top: 5mm;
	float: left;
}

#feeTitle {
	border-left: 1px dotted #666;
	width: 82mm;
}

#feeAmount {
	border-left: 1px dotted #666;
	width: 25mm;
}

.feeContainer {
	width: 196mm;
	float: right;
}

.fee {
	padding: 0;
	width: 87mm;
	float: left;
}

.fee p {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	padding: 0 0 0 2px;
}

.small {
	font: bold 7pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
}


.feePrice {
	width: 27mm;
	float: left;
}

.feePrice p {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	padding: 0 0 0 2px;
}

#footer {
	width: 99mm;
	position: absolute;
	left: 68px;
	top: 130mm;
}

#footer div.text {
	padding-top: 10px;
	text-align: center;
	font: bold 7pt/9pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	border-top: 1px dotted #666;
}

#invoiceTotal {
	text-align: left;
	margin: 0 0 20px 120mm;
	background: #eee;
	width: 67mm;
	height: auto;
	border: 1px solid #ccc;
}

#invoiceTotal div.invoiceTotalTitle {
	font: bold 11pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	margin: 3px 0;
	color: #666;
	letter-spacing: 4px;
	text-align: center;
}

#invoiceTotalLeft {
	width: 36mm;
	height: 4mm;
	float: left;
	margin: 0;
}

#invoiceTotalRight {
	width: 30mm;
	height: 4mm;
	float: left;
	clear: right;
}

.totalLeft {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	text-align: right;
	width: 125px;
	height: 4mm;
	display: block;	
	border: 1px dotted #999;
	color: #000;
	background: #fff;
	padding: 1px 5px 1px 1px;
	margin: 2px 0;
}

.totalRight {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	text-align: right;
	width: 109px;
	height: 4mm;
	display: block;	
	border: 1px dotted #999;
	color: #000;
	background: #fff;
	padding: 1px 5px 1px 1px;
	margin: 2px 0;
}
