.print-page header
{
	background: #CDE0EF;
	border-bottom: 1px solid #888;
	height: 72px;
}

.print-page a
{
	text-decoration: none;
}

.print-page a.print
{
	float: right;
	position: relative;
	right: 50px;
	text-align: center;
	top: 21px;
	width: 75px;
}

.print-page #main
{
	border: 1px solid #888;
	margin: 50px auto;
	padding: 20px;
	position: relative;
	width: 720px;
}

.print-page #main .logo
{
	margin-bottom: 10px;
}

@media print
{
	.print-page header
	{
		display: none;
	}
	
	.print-page #main
	{
		border: 0px;
		position: static;
	}
}