.blueSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 15px;
}

a.blueSmall:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 15px;
}

a.blueSmall:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6699CC;
	line-height: 15px;
}

.blueSmaller {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	line-height: 9px;
	font-weight: bold;
}

.whiteSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 15px;
}

a.whiteSmall:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 15px;
	font-weight: bold;
}

a.whiteTitle:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 15px;
	font-weight: bold;
}

.blueMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 23px;
}

.redMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #993300;
	line-height: 23px;
}

.registerMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #447744;
	line-height: 23px;
}

.whiteMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 23px;
}

.whiteTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a.whiteTitle:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a.whiteTitle:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a,a:link,a:hover,a:visited,a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 23px;
}

a:link,a:visited {
	color: #003366;
	text-decoration: underline;
}

a:hover {
	color: #6699CC;
	text-decoration: none;
}

.forms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
}

a.forms:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6699CC;
}

.forms2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 15px;
	margin: 0px;
	color: #003366;
	background: #EEEEEE;
	border: 0px;
}

.copyrightInfo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336699;
	line-height: 25px;
	background-color: #003366;
}

a.copyrightInfo:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336699;
	line-height: 25px;
	background-color: #003366;
}

a.copyrightInfo:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336699;
	line-height: 25px;
	background-color: #003366;
}

a.copyrightInfo:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336699;
	line-height: 25px;
	background-color: #003366;
}

.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a.header:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a.header:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #003366;
	line-height: 23px;
	font-weight: bold;
}

.blueHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
	font-weight: bold;
}

a.blueHeader:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
	font-weight: bold;
}

a.blueHeader:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
	font-weight: bold;
}

.buttons {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 18px;
	color: #003366;
}

a.buttons:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 18px;
	color: #003366;
}

a.buttons:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 18px;
	color: #003366;
}

.active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	line-height: 18px;
}

a.active:link {
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
}

a.active:hover {
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
}

.pending {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC9900;
	line-height: 18px;
}

a.pending:link {
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC9900;
}

a.pending:hover {
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC9900;
}

.inactive {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	line-height: 18px;
}

a.inactive:link {
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
}

a.inactive:hover {
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
}

.scheduling {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC9900;
	line-height: 18px;
}

a.scheduling:link {
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC9900;
}

a.scheduling:hover {
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC9900;
}

.cantSee {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #BBBBBB;
	line-height: 18px;
}

a.cantSee:link {
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #BBBBBB;
}

a.cantSee:hover {
	line-height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.whiteTitleSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	font-weight: bold;
}

a.whiteTitleSmall:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	font-weight: bold;
}

a.whiteTitleSmall:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	font-weight: bold;
}

.required {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #993300;
	line-height: 23px;
}

.break {
	page-break-after: always;
}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
}

a.nav:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
}

a.nav:visited {
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
}

a.nav:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
}

a.nav:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
}

.nav1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #996600;
}

a.nav:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #996600;
}

a.nav1:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #996600;
}

.nav2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #996600;
	font-weight: bold;
}

.hdrClients {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #999966;
	font-weight: bold;
}

.nav4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #999966;
}

.flagged {
	color: #990000;
}

.notFlagged {
	color: #006600;
}

.mainBG {
	background-color: #003366;
}

.brownBG {
	background-color: #996600;
}

.clientsBG {
	background-color: #999966;
}

.medBlueBG {
	background-color: #6699cc;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
}

a.title:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
}

a.title:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
}

.loginForms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6699CC;
	text-decoration: none;
}

a.footer:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6699CC;
	text-decoration: none;
}

a.footer:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6699CC;
	text-decoration: underline;
}

a.footer:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6699CC;
	text-decoration: none;
}

.blueHome {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	line-height: 23px;
	padding: 0px 20px;
}

.homeNewsDates {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6699CC;
	text-align: right;
	padding-top: 8px;
	padding-right: 2px;
	font-weight: bold;
}

.homeNews {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #336699;
	text-align: left;
	padding-top: 9px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 7px;
}

a.homeNews:link {
	font-family: Arial, Helvetica, sans-serif;
	color: #6699CC;
	font-size: 10px;
	padding: 0px;
	text-decoration: underline;
	margin: 0px;
}

.blueMainServices {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 23px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #6699CC;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.goldSubheadServices {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #C09600;
	line-height: 23px;
	font-weight: bold;
}

.blueServicePoints {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 23px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.blueClientList {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	line-height: 14px;
	padding: 0px 12px;
}

.articleTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #6699CC;
	font-weight: bold;
}

a.homeNews:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #6699CC;
	font-size: 10px;
	padding: 0px;
	text-decoration: none;
	margin: 0px;
}

a.homeNews:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #6699CC;
	font-size: 10px;
	padding: 0px;
	text-decoration: underline;
	margin: 0px;
}

.blueClientListHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	padding: 0px;
	margin-bottom: 12px;
}

#rotated_text {
	font-family: arial;
	font-size: 10pt;
	writing-mode: tb-rl;
	filter: flipH() flipV();
	height: 150px;
	text-align: left;
}

.blueHome2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	line-height: 23px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.formsNumber {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	text-align: right;
}

.display_off {
	display: none;
}

.display_on {
	display: compact;
}

/*
	 * Validate.js requires us to define styles for the "invalid" class to give
	 * invalid fields a distinct visual appearance that the user will recognize.
	 * We can optionally define styles for valid fields as well.
	 */
input.invalid {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	background: #faa; /* Reddish background for invalid fields */
}

input.valid {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	background: #fff; /* White background for valid fields */
}

/************ Forgot Password *********/
td.forgotpassword {
	text-align: center;
}

td.forgotpassword a,td.forgotpassword a:hover,td.forgotpassword a:visited {
	font-size: 10px;
	font-family: sans-serif;
	line-height: 14px;
}

#logoShow {
	height: 125px;
	width: 140px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	background-color: #FFFFFF;
	border: 1px solid #6699CC;
}
