/* Navigation */
#MainMenu {
	height: 31px;
	background-color: #5D9BCE;
	background-image: url("../images/bmid_022.gif");
	background-repeat: repeat-x;
	margin: 0 0px 20px 0;
	min-width: 1000px;
	border: 0;
}

#tab {
	margin: 0;
	min-width: 890px;
	max-width: 1150px;
}

#navbar {
	margin-left: 20px;
}

#tab ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

#tab li {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	cursor: default;
}

#tab a {
	background: #5D9BCE url("../images/bright_022.gif") no-repeat right top;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
	display: block;
	float: left;
}

#tab a span {
	display: block;
	background: url("../images/bleft_022.gif") no-repeat left top;
	padding: 0 18px 0 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 31px;
}

#tab a:hover,#tab li.item_active a {
	background-position: right bottom;
	border-color: #000000;
}

#tab a:hover span,#tab li.item_active a span {
	background-position: left bottom;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

.dropmenudiv {
	position: absolute;
	top: 0;
	float: left;
	display: block;
	visibility: hidden;
	border: 0 solid #330066;
	background: #FFFFFF url("../images/bmid_022.gif");
	color: #FFFFFF;
	z-index: 100;
	text-decoration: none;
	padding: 0;
}

.dropmenudiv ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dropmenudiv li {
	display: inline;
	margin: 0;
	padding: 0;
}

.dropmenudiv a:link,.dropmenudiv a:visited {
	width: 185px;
	margin: 0;
	padding: 0;
	display: block;
	border: 0 solid #000000;
	color: #FFFFFF;
	background: url("../images/bleft_022.gif") no-repeat left top;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

.dropmenudiv a span {
	float: left;
	display: block;
	line-height: 31px;
	background: url("../images/bright_022.gif") no-repeat right top;
	padding: 0 18px 0 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}

.dropmenudiv a span {
	float: none;
}

.dropmenudiv a:hover {
	border: 0 solid #000000;
	background-position: left bottom;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #ffffff;
}

.dropmenudiv a:hover span {
	background-position: right bottom;
	color: #ffffff;
	font-weight: bold;
}

div.auditSubMenu {
	position: absolute;
	float: left;
	display: block;
	visibility: hidden;
	z-index: 100;
	text-decoration: none;
	padding: 0;
}

div.auditSubMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.auditSubMenu li {
	display: inline;
	margin: 0;
	padding: 0;
}

div.auditSubMenu a, div.auditSubMenu a:link, div.auditSubMenu a:visited {
	margin: 0;
	padding: 0 10px;
	display: block;
	border: 1px solid white;
	color: #FFFFFF;
	background-color: #012142;
	text-decoration: none;
	font-size: 13px;
	line-height: 28px;
}

div.auditSubMenu a.audit {
	padding-left: 18px;
}

div.auditSubMenu a.done {
	background-image: url("../images/okCheck.gif");
	background-repeat: no-repeat;
	background-position: left center;
}

div.auditSubMenu a:hover {
	border: 1px solid white;
	background-color: #A84D10;
	text-decoration: none;
	color: #ffffff;
}

div.auditSubMenu a.current {
	color: #fff;
	background-color: rgb(168, 77, 16);
	text-decoration: none;
}

/************* Toolbox *************/
#toolbox {
	background-color: #79A7D0;
	border-top: 3px solid #4686BF;
	border-bottom: 3px solid #4686BF;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 3px;
	margin-top: 7px;
	line-height: 30px;
}

#toolbox ul {
	text-align: center;
	padding: 0;
	margin: 0;
	display: block;
	white-space: nowrap;
	list-style-type: none;
}

#toolbox li {
	list-style: none;
	display: inline;
	margin: 0;
}

#toolbox a {
	background-repeat: no-repeat;
	background-position: center 3px;
	background-image: url('../images/default.gif');
	background-color: #79A7D0;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	margin: 1px;
	padding-top: 19px;
	padding-bottom: 6px;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid #79A7D0;
	font-weight: bold;
}

#toolbox a:hover {
	text-decoration: none;
	background-color: #C4D5E3;
	font-weight: bold;
	color: #012142;
	border-color: white;
}

#toolbox a.default {
	background-image: url('../images/default.gif');
}

#toolbox a.save {
	background-image: url('../images/save.gif');
}

#toolbox a.exit {
	background-image: url('../images/cross.png');
}

#toolbox a.edit {
	background-image: url('../images/edit_pencil.gif');
}

#toolbox a.system_edit {
	background-image: url('../images/system_edit.gif');
}

#toolbox a.email {
	background-image: url('../images/icon_link_email.gif');
}

#toolbox a.print {
	background-image: url('../images/print_icon.gif');
}

#toolbox a.categories {
	background-image: url('../images/categories.gif');
}

#toolbox a.cancel {
	background-image: url('../images/cross.png');
}

#toolbox a.pay {
	background-image: url('../images/visa.gif');
}

#toolbox a.upgrade {
	background-image: url('../images/upgrade.gif');
}

#toolbox a.void {
	background-image: url('../images/void.gif');
}

#toolbox a.preview {
	background-image: url('../images/preview.gif');
}