body {
	background-color: #eeeeee;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
}

a img {
	border: 0px none;
	margin: 0px;
	padding: 0px;
}

p {
	padding-top: 1px;
	padding-bottom: 5px;
}

#content div.clear {
	float: none;
	clear: both;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.closeButton {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#systemMessage {
	background-color: #FFF6CC;
	border-bottom: 2px solid #A74D0F;
	color: #A74D0F;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 21px;
	padding-top: 5px;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#systemMessage .system-message-container
{
	display: inline;
}

/********************  Header Styles  ************************/
#header {
	width: 100%;
	height: 52px;
	background-color: #fff;
	background-image: none;
	border-bottom: 2px solid #9e9fa3;
	padding: 0 20px;
}

#header td {
	vertical-align: middle;
	white-space: nowrap;
}

/*#logo {
	border: 0px;
	margin: 0;
	width: 120px;
	padding-top: 1px;
}*/

.head-phone {
	color: #80b3da;
	background-image: url(../images/phone-icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 26px;
	margin-right: 20px;
	padding-left: 20px;
	padding-bottom: 6px;
}

#name {
	margin-right: 5px;
	font-size: 12px;
	color: #464646;
	font-weight: bold;
}

#headersearch {
	text-align: right;
	width: 100%;
	padding-right: 25px;
}

/********************  NEW Header Search Styles  ************************/
#search_box {
	background: #fff;
	border: 1px solid #AAA;
	width: auto;
	height: 18px;
	background-image: url(../images/searchimg.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-position-x: 3px;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 22px;
}

#search_box.ac_loading {
	background-image: url(../images/ajax_process.gif);
}

#search_button {
	font-size: 12px;
	font-style: normal;
	color: #555;
	background: url('../images/search_gradient.gif') repeat-x;
	border: 1px solid #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: 22px;
	position: relative;
	cursor: pointer;
	cursor: hand;
	text-shadow: 1px 0px 0 #DDD;
	font-family: Helvetica, Arial, sans-serif;
	padding-top: 2px;
}

/* Hack for Mozilla! */
@
-moz-document url-prefix () { #search_button { padding-bottom:2px;

}

}

.ac_results .accountDeactivated
{
	text-decoration: line-through;
}

.ac_results .accountDemo,
.ac_results .accountPending
{
	font-style: italic;
}

/********************  SIDEBOX STYLES - OLD SMALLNAV  ************************/
#sidebox {
	text-align: right;
	margin: 11px auto 0 auto;
	height: 30px;
	background: none;
}

#sidebox p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464646;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 7px;
}

#sidebox a,#sidebox a:link,#sidebox a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #343434;
	padding: 5px;
	background-color: none;
	text-decoration: underline;
}

#sidebox a:hover,#sidebox a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #343434;
	padding: 5px;
	background-color: #fff;
	text-decoration: none;
}

#profile_summary {
	color: #1B3665;
	background-color: #eeeeee;
	position: absolute;
	top: 38px;
	right: 100px;
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 5px;
	border: white 1px solid;
}

/********************  Main body Styles  ************************/
#bodyholder {
	margin: 0 auto;
	background-color: white;
	border: solid 1px #c3c3c3;
}

#main {
	margin: 0 20px;
}

#content {
	margin: 0;
	padding: 45px;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #4C4D4D;
}

#content button {
	line-height: normal;
}

#content div.container {
	margin: 0px;
	margin-bottom: 5px;
	padding: 15px;
	border: 1px solid #6699CC;
	background-color: white;
}

#companyinfo {
	position: relative;
}

div#maincontainer {
	padding: 40px;
	background-color: #797B7A;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 28px;
	color: #F7F7F7;
}

.left {
	float: left;
}

.right {
	float: right;
	clear: right;
}

/******************** Footer Styles  ************************/
div.footer {
	background-color: #012142;
	padding: 25px;
	margin-top: 35px;
	color: #6699CC;
	font-weight: normal;
	font-family: sans-serif;
	font-size: 11px;
	border-top: 3px solid #4686bf;
}

#footermain {
	margin: 0 10px;
}

#footercontent {
	margin: 0 auto;
}

a.footer:link {
	font-size: 11px;
	color: #6699CC;
	text-decoration: none;
	padding: 2px;
}

a.footer:visited {
	font-size: 11px;
	color: #6699CC;
	text-decoration: none;
	padding: 2px;
}

a.footer:hover {
	font-size: 11px;
	color: rgb(168, 77, 16);
	padding: 2px;
	text-decoration: none;
}

/******************** Headers, Text and Links  ************************/
h1,h2,h3,h4,h5,h6 {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
}

h1 {
	font-size: 32px;
	color: rgb(168, 77, 16);
	padding: 0 0 10px 0;
	line-height: 1em;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	border-bottom: solid 2px rgb(168, 77, 16);
}

h2 {
	font-size: 28px;
	color: rgb(168, 77, 16);
}

h3 {
	font-size: 22px;
	color: rgb(168, 77, 16);
}

h4 {
	font-size: 18px;
	color: #4686bf;
}

h5 {
	font-size: 14px;
	color: #808285;
}

h6 {
	font-size: 12px;
	color: #012142;
}

a:link,a:visited {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #012142;
	text-decoration: underline;
}

a:hover,a:active {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: rgb(168, 77, 16);
	text-decoration: underline;
}

b,strong {
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left: 10px;
}

ul li {

}

.sub { /* used as a sub-header title */
	font-size: 18px;
	display: block;
	margin-top: -5px;
	margin-left: 2px;
	color: #012142;
}

a[href $=".doc"] {
	background: url('../images/icon_link_word.png') no-repeat left center;;
	padding-left: 14px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	zoom: 1;
}

a[href $=".pdf"],a.pdf {
	background: url('../images/icon_link_pdf.png') no-repeat left center;
	padding-left: 14px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	zoom: 1;
}

a[href $=".xls"],a.excel {
	background: url('../images/icon_link_excel.png') no-repeat left center;
	padding-left: 14px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	zoom: 1;
}

a.email {
	background: url('../images/icon_link_email.png') no-repeat right center;
	padding-left: 0;
	padding-right: 15px;
	padding-top: 0;
	padding-bottom: 0;
	zoom: 1;
}

a.ext {
	padding-right: 13px;
	margin-right: 2px;
	background: url('../images/icon_link_ext.png') no-repeat right center;
	zoom: 1;
}

a.print {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/print_icon.gif') no-repeat left center;;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	zoom: 1;
}

a.remove {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/cross.png') no-repeat left center;
	zoom: 1;
}

a.preview {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/preview.gif') no-repeat left center;
	zoom: 1;
}

a.note {
	padding-left: 18px;
	margin-left: 2px;
	background: url('../images/postit.png') no-repeat left center;
	zoom: 1;
}

a.add {
	padding-left: 18px;
	margin-left: 2px;
	background: url('../images/plus.png') no-repeat left center;
	zoom: 1;
}

a.addremove {
	padding-left: 18px;
	margin-left: 5px;
	background: url('../images/add_remove.png') no-repeat left center;
	zoom: 1;
}

a.edit {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/edit_pencil.png') no-repeat left center;
	zoom: 1;
}

a.edit1 {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/edit_pencil1.png') no-repeat left center;
	zoom: 1;
}

a.edit2 {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/edit_pencil2.png') no-repeat left center;
	zoom: 1;
}

a.filter {
	padding-left: 24px;
	margin-left: 5px;
	background: url('../images/filter.png') no-repeat left center;
	zoom: 1;
}

a.calendar {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/calendar.png') no-repeat left center;
	zoom: 1;
}

a.file {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/file.png') no-repeat left center;
	zoom: 1;
}

a.percent {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/percent.png') no-repeat left center;
	zoom: 1;
}

a.uploadreq {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/upload.png') no-repeat left center;
	zoom: 1;
}

a.refresh {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/arrow-360.png') no-repeat left center;
	zoom: 1;
}

a.go {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/arrow-right.gif') no-repeat left center;
	zoom: 1;
}

a.save {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/save.gif') no-repeat left center;
	zoom: 1;
}

a.verify {
	padding-left: 17px;
	margin-left: 5px;
	background: url('../images/okCheck.png') no-repeat left center;
	zoom: 1;
}

a.view {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/edit_pencil.png') no-repeat left center;
	zoom: 1;
}

a.help {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/help.gif') no-repeat left center;
	zoom: 1;
	cursor: help;
}

a.helpBig {
	padding: 5px 12px 12px;
	margin-left: 2px;
	background: url('../images/help-question.png') no-repeat left center;
	zoom: 1;
	cursor: help;
}

a.insurance {
	background: url('../images/icon_insurance.gif') no-repeat left center;
	padding: 3px 0 3px 20px;
	zoom: 1;
}

a.watch {
	background: url('../images/binoculars.png') no-repeat left center;
	padding-left: 17px;
}

a.clearfield {
	background: url('../images/clear.png') no-repeat left center;
	padding-left: 17px;
}

a.up-arrow {
	background: url(../images/arrow-up.png) no-repeat left center;
	padding-left: 20px;
}

a.down-arrow {
	background: url(../images/arrow-down.png) no-repeat left center;
	padding-left: 20px;
}

a.top {
	padding-left: 18px;
	margin-left: 2px;
	background: url('../images/arrow-up-top.png') no-repeat left center;
	zoom: 1;
}

a.processing {
	background: url('../images/ajax_process.gif') no-repeat left center;
}

label.tooltipped {
	background: url('../images/icon_text_alert.png') no-repeat left center;
	zoom: 1;
}

.okayCheck {
	padding-left: 17px;
	margin-left: 2px;
	background: url('../images/okCheck.png') no-repeat left center;
	zoom: 1;
}

/******************** Styles for vCard  ************************/ /*
.vcard p{
 line-height: 15px;
  margin-bottom: -5px;
} */
p.email a {
	background: url('../images/icon_link_email.png') no-repeat right center;;
	padding-left: 0;
	padding-right: 15px;
	padding-top: 0;
	padding-bottom: 0;
	zoom: 1;
}

p.url a {
	padding-right: 13px;
	margin-right: 2px;
	background: url('../images/icon_link_ext.png') no-repeat right center;
	zoom: 1;
}

div.contact {
	position: relative;
	top: -3px;
}

#vcardimage {
	position: absolute;
	left: 650px;
}

.infobox {
	width: 380px;
}

div.message_info {
	width: 380px;
	border: 1px solid black;
}

/******************** Internal Page Navigation  ************************/
#internalnavcontainer {
	height: 30px;
}

ul#navlist {
	float: right;
	position: relative;
	white-space: nowrap;
	display: block;
	padding-top: 0px;
	margin-top: -14px;
	margin-right: 0px;
	line-height: 30px
}

#navlist li
{
	border: 0px;
	display: inline;
	font-size: 13px;
	list-style-type: none;
	margin-left: 3px;
}

#navlist a {
	padding: 8px 10px;
}

#navlist li#last {
	margin-left: 5px;
}

#navlist a:link,#navlist a:visited {
	color: #fff;
	background-color: #012142;
	text-decoration: none;
}

#navlist a:hover,#navlist a:active {
	color: #fff;
	background-color: rgb(168, 77, 16);
	text-decoration: none;
}

#navlist a.dropdown,#navlist a.dropdown:active,#navlist a.dropdown:visited,#navlist a.dropdown:hover
	{
	background-image: url('../images/down.gif');
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 18px;
}

#navlist a.current {
	color: #fff;
	background-color: rgb(168, 77, 16);
	text-decoration: none;
}

#navlist span.inactive {
	color: #FFFFFF;
	background-color: #C0C0C0;
	text-decoration: none;
	font-weight: bold;
	padding: 6px 10px 8px 10px;
}

#navlist a.inactive:hover,#navlist a.inactive:active {
	padding: 8px 10px;
}

#navlist .current {
	color: #fff;
	background-color: rgb(168, 77, 16);
	text-decoration: none;
}

#navlist .inactive {
	color: #FFFFFF;
	background-color: #C0C0C0;
	text-decoration: none;
	font-weight: bold;
}

.accountDemo,table.report td a.accountDemo {
	font-style: italic;
}

.accountPending,table.report td a.accountPending {
	background-color: #FFA;
}

table.report td a.inactive,
table.report td a.accountDeactivated,
table.report td a.accountDeleted,
table.report td a.userActiveNo
{
	color: #4C4D4D;
	text-decoration: line-through;
}

table.report tr.future {
	background-color: #FFA;
	color: #4C4D4D;
}

/************* Search *************/
#search {
	display: block;
	background-color: #EEEEEE;
	border-top: 1px solid #A84D10;
	border-bottom: 1px solid #A84D10;
	padding: 5px;
}

/*** FLAG Colors ***/
.Green {
	color: #272;
}

.Amber {
	color: #770;
}

.Red {
	color: #900;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
	padding: 5px;
}

/********************** Special Styles ******************************/
div#info,div#alert,div#error,div.info,div.alert,div.error,div.helpbox {
	padding: 1em 1em 1em 4em;
	margin: 10px 0;
	width: 86%;
	clear: left;
}

div#info,div.info {
	border-top: 2px solid #b7d2f2;
	border-bottom: 2px solid #b7d2f2;
	background: #dbe7f8 url('../images/icon-info.gif') no-repeat 10px 10px;
	zoom: 1;
}

div#alert,div.alert {
	border-top: 2px solid #D0AE10;
	border-bottom: 2px solid #D0AE10;
	background: #FBF2C9 url('../images/icon-warning.gif') no-repeat 10px
		10px;
	zoom: 1;
}

div#error,div.error {
	border-top: 2px solid #feabab;
	border-bottom: 2px solid #feabab;
	background: #ffdfdf url('../images/icon-error.gif') no-repeat 10px 10px;
	zoom: 1;
}

div.helpbox {
	border-top: 2px solid #F6E385;
	border-bottom: 2px solid #F6E385;
	background: #FBF2C9 url('../images/help-question.png') no-repeat 15px 15px;
	width: auto;
}

td.money,th.money {
	text-align: right;
}

.showPointer {
	cursor: pointer;
}

span.block {
	margin: 0;
	position: relative;
}

span.block span.whatsthis {
	text-decoration: underline;
	color: rgb(0, 55, 104);
}

span.block span.whatsthis:hover {
	color: rgb(168, 77, 16);
}

span.hoverhelp {
	text-align: left;
	width: 190px;
	height: 120px;
	padding: 15px;
	position: absolute;
	bottom: 5px;
	left: -80px;
	display: none;
	margin: 0 auto;
	background-image: url('../images/hovertip.png');
	text-decoration: none !important;
	font-size: 11px;
	line-height: 18px;
	color: #333;
	zoom: 1;
}

span.hoverhelp a {
	width: 90%;
	display: block;
	text-align: right;
}

span.block:hover .hoverhelp {
	display: block;
}

/* PREVIOUS & NEXT */
.navigationButtons
{
	overflow: hidden;
	padding: 10px 0;
}

.navigationButtons .previous
{
	float: left;
}

.navigationButtons .next
{
	float: right;
}

.navigationButtonsBottom
{
	margin-top: 10px;
}

/********************** LIVE HELP BOX ******************************/
#helpbox
{
	background-color: #ECECEC;
	border-bottom: 1px solid #C3C3C3;
	border-left: 1px solid #C3C3C3;
	font-size: 12px;
	line-height: 18px;
	padding: 5px;
	position: absolute;
	right: 21px;
	text-align: right;
	z-index: 9;
}

#helpbox a
{
	background: url('../images/help.gif') no-repeat left center;
	margin-left: 2px;
	padding-left: 17px;
	zoom: 1;
}

#helpbox a.liveperson-chat
{
	background: none;
	clear: both;
	display: none;
	height: 77px;
	margin: 5px 0px 0px;
	padding: 0px;
}

#content div.helpOnRight {
	border-top: 2px solid #b7d2f2;
	border-bottom: 2px solid #b7d2f2;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 5em;
	margin-top: 10px;
	float: right;
	font-size: 12px;
	background: #dbe7f8 url('../images/icon-info.gif') no-repeat 10px 10px;
	width: 25%;
	zoom: 1;
}

#unsupportedBrowser {
	font-size: 11px;
	position: absolute;
	top: 0px;
	left: 150px;
	width: 315px;
	background-color: white;
}

div.pageStats {
	float: right;
	line-height: 14px;
	position: relative;
	top: -8px;
}

/**** Legacy Styles ****/
.blueSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 15px;
}

a.blueSmall:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 15px;
}

.blueMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
}

.redMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(168, 77, 16);
	line-height: 23px;
}

.redMain img {
	padding-right: 2px;
	position: relative;
	top: 4px;
}

.whiteMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
}

.whiteTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a.whiteTitle:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a.whiteTitle:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

a.whiteTitle:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}

.forms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
}

.blueHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
	font-weight: bold;
}

a.blueHeader:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
	font-weight: bold;
}

table.report tr.clickable:hover,table.notes tr.clickable:hover,.tr-hover-clickable
	{
	background-color: #FFC;
	color: black;
	cursor: pointer;
}

button .ui-icon {
	float: left;
	margin-right: 0.5em;
}

/****** No - Linewrap *******/
.nobr {
	white-space: nowrap;
}

.hide {
	display: none;
}

/****** ClearFix *************/
/* float clearing for IE6 */
* html .clearfix {
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix {
	min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

/** blockUI ajaxDialog **/
div.blockDialog {
	display: none;
	cursor: default;
	height: 250px;
	text-align: left;
	padding: 15px 10px;
	overflow-y: auto;
}

/***************** Debugging *******************/

.debug {
	display: none;
}

.debugging .debug {
	display: inline-block;
}

#debug-menu span:after {
	content: " OFF";	
}

.debugging #debug-menu span:after {
	content: " ON";
}

/* locales */

.locales
{
	list-style-type: none;
	margin: 0px 0px 20px 0px;
}

.locales li
{
	display: inline;
	margin-right: 10px;
}

.locales a,
.locales a:visited,
.locales a:hover,
.locales a:active
{
	text-decoration: none;
	font-weight: bold;
	color: #404040;
}

.locales a:hover,
.locales a:active
{
	text-decoration: underline;
}

/* workflow */
.previous-status
{
	color: #AAA;
}

/* email subscriptions */
#tab_subscriptions div
{
	clear: both;
	overflow: hidden;
}

#tab_subscriptions h4
{
	margin-top: 10px;
}

/* Operator Tags */

#operatorTagForm .tag-info
{
	margin: 30px 0px;
}

#operatorTagForm .tag-info ul
{
	margin-left: 20px;
}

#operatorTagForm .table td.tag-id
{
	color: #404040;
	font-weight: bold;
	text-align: right;
}

#operatorTagForm .table td.tag-name
{
	width: 45%;
}

#operatorTagForm .table td.tag-name span.info
{
	float: right;
	padding: 2px 6px;
}

#operatorTagForm .table td.visible-client-site,
#operatorTagForm .table td.visible-contractor,
#operatorTagForm .table td.inherit-client-site
{
	text-align: center;
}

#operatorTagForm .table .actions
{
	white-space: nowrap;
}

#operatorTagForm .table input
{
	height: 20px;
	padding: 0px 3px;
	width: 250px;
}

#operatorTagForm .table .actions a
{
	text-decoration: none;
}

#operatorTagForm .table td.add-new-tag
{
	font-weight: bold;
}

#operatorTagForm .table td.add-new-tag span
{
	display: block;
	margin-bottom: 10px;
}

#operatorTagForm .btn
{
	margin: 0px;
}

#operatorTagForm .table .btn
{
	margin-right: 5px;
	padding: 2px 9px 3px;
}

#operatorTagForm ul.actions
{
	list-style: none;
	margin: 20px 0px;
}

.operator-tag-modal table
{
	margin: 0px !important;
}

/* Contractor Safety Statistics */

.contractor-safety-statistics td span.rate-type
{
	float: left;
}

.contractor-safety-statistics a.rate-type-tooltip
{
	display: block;
	float: right;
	height: 16px;
	width: 16px;
}

.contractor-safety-statistics .panel_header .hurdle-rate
{
	float: right;
}

.contractor-safety-statistics a.weighted-industry-average
{
	float: right;
	margin: 10px;
}

.trir-weighted-industry-average-modal table .trade-name
{
	width: 60%
}

.trir-weighted-industry-average-modal table .naics-average
{
	text-align: right;
}

.trir-weighted-industry-average-modal table tfoot td
{
	font-size: 16px;
	font-weight: bold;
	padding: 14px 7px 13px;
	text-align: right;
}

/* Contractor Flag Matrix */

.contractor-flag-matrix td.green-flag,
.contractor-flag-matrix td.amber-flag,
.contractor-flag-matrix td.red-flag
{
	text-align: center;
}

#content .contractor-flag-matrix div.panel_content
{
	max-height: 300px;
	overflow-y: scroll;
}

.print-contractor-flag-matrix
{
	float: right;
}

/* Translations */

.translation-list
{
	width: 100%;
	word-break: break-word;
}

.translation-list td
{
	vertical-align: top !important;
}

.translation-list .translation-key
{
	width: 20%;
}

.translation-list .translation-from,
.translation-list .translation-to
{
	width: 40%;
}

.translation-list .suggestTranslation
{
	position: absolute;
	text-decoration: none;	
}

.translation-list .view-mode.view-more
{
	cursor: pointer;
}

.translation-list .content
{
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.translation-list .content.view-mode .view
{
	height: 21px;
	overflow: hidden;
}

.translation-list .content.view-mode .view.all
{
	height: auto;
}

.translation-list.dirty .view .text
{
	display: none;
}

.translation-list .content.view-mode .view .text
{
	float: left;
	padding-right: 20px;
	position: relative;
}

.translation-list .content .see-more
{
	line-height: 11px !important;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0px;
	width: 20px;
}

.translation-list .view .actions
{
	float: right;
}

.translation-list .rate
{
	background: #EEDC94;
	border: 1px solid #E4C652;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	font-size: 11px;
	margin-right: 5px;
	overflow: hidden;
	width: 95px;
}

.translation-list .applicable
{
	overflow: hidden;
}

.translation-list .applicable .is-applicable,
.translation-list .applicable label
{
	float: left;
}

.translation-list .applicable .is-applicable
{
	margin: 3px 6px;
}

.translation-list .applicable label
{
	line-height: 19px;
}

.translation-list .quality-rating
{
	display: none;
	margin-top: 10px;
}

.translation-list .quality-rating li
{
	overflow: hidden;
}

.translation-list .content.view-mode .view .text *
{
	line-height: normal;
}

.translation-list .content.edit-mode .edit textarea
{
	height: 150px;
	max-height: 300px;
	max-width: 80%;
	padding: 5px;
	width: 80%;
}

.translation-list .content.edit-mode .edit .actions
{
	list-style-type: none;
	margin: 5px 0px 0px;
	overflow: hidden;
}

.translation-list .content.edit-mode .edit .actions li
{
	float: left;
}

.translation-list .translation-changed
{
	font-size: 11px;
}

.translation-list .translation-changed input
{
	position: relative;
	top: 2px;
}

.translation-list .content.view-mode div.view,
.translation-list .content.edit-mode div.edit
{
	display: block;
}

.translation-list .content.view-mode div.edit,
.translation-list .content.edit-mode div.view
{
	display: none;
}

.translation-list .info
{
	background: #CCCCCC;
	border: 1px solid #AAAAAA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	font-size: 11px;
	list-style-type: none;
	margin: 10px 0px 0px;
	padding: 5px;
	overflow: hidden;
}

.translation-list .info li
{
	line-height: 22px;
}

.translation-list .source
{
	font-weight: bold;
}

/* translation list summary */

.translation-list-summary
{
	border: 1px solid #404040;
}

.translation-list-summary h1
{
	background: #B7D2F2;
	border: 0px;
	border-bottom: 1px solid #404040;
	color: #404040;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0px;
	margin: 0px;
	padding: 5px;
	text-decoration: none;
}

.translation-list-summary ul
{
	list-style-type: none;
}

.translation-list-summary ul,
.translation-list-summary li
{
	float: none !important;
	font-size: 10px !important;
	margin: 0px !important;
	padding: 0px !important;
}

.translation-list-summary li
{
	line-height: normal;
	padding: 5px !important;
}

/* facilities edit */

.operator-approve-relationship-modal
{
	font-size: 13px;
	line-height: 16px;
}

/* profile edit */
#saveProfileForm .change-password
{
	float: right;
	margin-right: 50px;
	text-decoration: none;
}

.ProfileEdit-page .label-inline,
.UsersManage-page .label-inline
{
    color: #404245;
    display: inline;
    font-weight: normal;
    margin-right: 5px;
}

.ProfileEdit-page ul,
.UsersManage-page ul
{
    margin-left: 0px;
    padding: 5px;
    list-style: none;
}

.ProfileEdit-page ul input[type=radio],
.UsersManage-page ul input[type=radio]
{
    margin-right: 0px;
}

.ProfileEdit-page #tab_profile li
{
    font-size: 15px;
    padding: 4px 5px 12px 10px;
}

/* user change password */
#userSavePassword .cancel-password
{
	float: right;
	margin-right: 50px;	
}

/* referral program */

.referral-program img
{
	float: left;
	margin-right: 20px;
}

.referral-program .summary
{
	float: left;
	width: 70%;
}

.referral-program p
{
	font-size: 15px;
	padding: 12px 0px;	
}

.ui-datepicker {
	z-index: 12000 !important;
}

/* line 4, ../sass/pics/contractor-edit/_contractor-edit.scss */
.ContractorEdit-page #vat_wrapper
{
  display: none;
}

.search-result-status.account-demo
{
	font-style: italic;
}

.search-result-status.account-deleted,
.search-result-status.account-deactivated,
.search-result-status.user-inactive,
.search-result-status.employee-inactive,
.search-result-status.employee-deleted
{
	text-decoration: line-through;
}

.search-result-status.account-pending
{
	background-color: #FFA;
}

.ac_over .search-result-status.account-pending
{
	background-color: inherit;
}

/* approve contractor form */
#approveContractorForm #operatorNotes
{
    margin: 10px 0px;
    vertical-align: middle;
}
