.blueSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 15px;
}
a.blueSmall:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 15px;
}

.blueMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 23px;
}
.redMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: rgb(168,77,16);
	line-height: 23px;
}
.whiteMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 23px;
}
.whiteTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}
a.whiteTitle:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}
a.whiteTitle:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}
a.whiteTitle:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 23px;
	font-weight: bold;
}
.forms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
}
.blueHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
	font-weight: bold;
}
a.blueHeader:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	line-height: 23px;
	font-weight: bold;
}
