.center
{
	text-align: center;
	white-space: nowrap !important;
	margin-left: auto;
	margin-right: auto;
	padding: 4px !important;
}

.operatorsheader
{
	background-color: #062541 !important;
	padding: 4px !important;
}

.docuguardheader, .employeeguardheader
{
	background-color: #79b7e0 !important;
	padding: 4px !important;
}

.insureguardheader
{
	background-color: #838486 !important;
	padding: 4px !important;
}

.auditguardheader
{
	background-color: #a75025 !important;
	padding: 4px !important;
}