.noprint {
	display: none;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}

a {
	color: black;
	text-decoration: none;
}

#header {
	display: none;
}

#MainMenu {
	display: none;
}

#navlist {
	display: none;
}

table td.right {
	text-align: right;
}

table.footerNav {
	display: none;
}

div.dropmenudiv,div.auditSubMenu {
	display: none;
}

#auditToolbar {
	display: none;
}

div.footer {
	display: none;
}

.sub { /* used as a sub-header title */
	font-size: 18px;
	display: block;
	padding-left: 10px;
	color: #555;
}

#content div.clear {
	float: none;
	clear: both;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

/** Audit Header ***/
#content div.auditHeader {
	border-top: 2px solid #BBB;
	border-bottom: 2px solid #BBB;
	margin-bottom: 10px;
}

div.auditHeader fieldset{
	line-height: 20px;
	border: 0;
	width: 30%;
	float: left;
}

div.auditHeader ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

label{
	font-weight: bold;
	color: #555;
	padding-right: 5px;
}

thead td, thead th {
	font-weight: bold;
	font-size: 110%;
	background-color: #EEE;
	color: #444;
}

/** Audits **/

table.audit {
	width: 100%;
	border-collapse: collapse;
}

table.audit td {
	padding: 2px;
	margin: 0px;
	vertical-align: top;
	border: 1px solid #BBB;
}

td.question {
	color: #999;
}

span.answer {
	color: black;
	font-weight: bold;
}

input.hidden {
	display: none;
}

table td.right {
	text-align: right;
}

/**
* For reports table
**/
table.report {
	width: 100%;
	border-collapse: collapse;
}

table.report td {
	padding: 2px;
	margin: 0px;
	vertical-align: top;
	border: 1px solid #BBB;
}

.buttons {
	display: none;
}

/**
* For Search Filters
**/
ul.paging {
	display: none;
}

#search {
	display: none;
}

/**
* For Help and Chat Icon
**/
#helpbox {
	display: none;
}

#chatIcon {
	display: none;
}

/**
* For the Home Page
**/
div.panel {
	border: 1px solid #BBB;
	margin: 0px;
	padding: 5px;
}

div.panel_header {
	height: 22px;
	font-size: 10pt;
	color: black;
	font-weight: bold;
	border-bottom: 1px solid #B3B3B3;
}

div.panel_placeholder {
	padding: 20px;
	width: 500px;
}

span.required {
	color: #272;
	font-weight: bold;
}

span.printrequired {
	display: inline;
}

/** Forms **/
fieldset.form ol {
	padding-left: 10px;
	list-style: none;
}

fieldset.form li {
	padding-bottom: 5px;
}
