/* PRINT */

@media screen {
	.debug
	{
		display: none;
	}
}

@media print {
	.debug
	{
		display: none;
	}
}

/* PRINT AUDIT */

/* preview */

@media screen {
	#AuditPrintAjax .debug,
	#AuditPrintAjax .helpBig,
	#AuditPrintAjax .cluetipBox
	{
		display: none;
	}
	
	#AuditPrintAjax #auditviewarea
	{
		background: transparent;	
	}
	
	#AuditPrintAjax h1
	{
		color: #A64D00 !important;
		text-align: center;	
	}
	
	#AuditPrintAjax .audit_category .audit_category {
	    padding: 10px 0 10px 10px;
	}
	
	#AuditPrintAjax .audit_category h2
	{
		padding: 10px 0 5px 10px;	
	}
	
	#AuditPrintAjax .categoryNumber,
	#AuditPrintAjax .questionNumber
	{
		color: #386788;
	    display: block;
	    float: right;
	    font-size: 14px;
	    font-weight: normal;
	}
	
	#AuditPrintAjax a.print
	{
		float: right;
		font-size: 18px;
		line-height: 45px;
	}
	
	#AuditPrintAjax a.print img
	{
		margin-right: 5px;
		position: relative;
		top: 2px;
	}
	
	#AuditPrintAjax .column
	{
		list-style-type: none;	
	}
	
	#AuditPrintAjax .column1
	{
		padding: 0px;	
	}
	
	#AuditPrintAjax .categorynumber,
	#AuditPrintAjax .questionnumber,
	#AuditPrintAjax .audit_category .audit_category .categorynumber
	{
		margin: 0px 0px 0px 15px;
		padding: 0px;
	}
	
	#AuditPrintAjax .audit_category h2
	{
		background: transparent !important;
		color: #5D9BCE !important;
		margin: 0px;
	}
	
	#AuditPrintAjax .audit_category .audit_category h2
	{
		color: #990000 !important;
		text-decoration: none;
	}
	
	#AuditPrintAjax .question
	{
		margin-left: 20px !important;
	}
	
	#AuditPrintAjax .question h3
	{
		color: #111111;
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 20px;
	    margin-bottom: 5px;
		padding: 0px;
	}
	
	#AuditPrintAjax .question .info
	{
		background: transparent;
		font-style: italic;
		margin: 20px 0px 0px;	
	}
}

/* print */

@media print {
	#AuditPrintAjax .debug,
	#AuditPrintAjax .helpBig,
	#AuditPrintAjax .cluetipBox
	{
		display: none;
	}
	
	#AuditPrintAjax #auditviewarea
	{
		background: transparent;	
	}
	
	#AuditPrintAjax h1
	{
		color: #A64D00 !important;
		text-align: center;	
	}
	
	#AuditPrintAjax .audit_category .audit_category {
	    padding: 10px 0 10px 10px;
	}
	
	#AuditPrintAjax .audit_category h2
	{
		padding: 10px 0 5px 10px;	
	}
	
	#AuditPrintAjax .categoryNumber,
	#AuditPrintAjax .questionNumber
	{
		color: #386788;
	    display: block;
	    float: right;
	    font-size: 14px;
	    font-weight: normal;
	}
	
	#AuditPrintAjax a.print
	{
		float: right;
		font-size: 18px;
		line-height: 45px;
	}
	
	#AuditPrintAjax a.print img
	{
		margin-right: 5px;
		position: relative;
		top: 2px;
	}
	
	#AuditPrintAjax .column
	{
		list-style-type: none;	
	}
	
	#AuditPrintAjax .column1
	{
		padding: 0px;	
	}
	
	#AuditPrintAjax .categorynumber,
	#AuditPrintAjax .questionnumber,
	#AuditPrintAjax .audit_category .audit_category .categorynumber
	{
		margin: 0px 0px 0px 15px;
		padding: 0px;
	}
	
	#AuditPrintAjax .audit_category h2
	{
		background: transparent !important;
		color: #5D9BCE !important;
		margin: 0px;
	}
	
	#AuditPrintAjax .audit_category .audit_category h2
	{
		color: #990000 !important;
		text-decoration: none;
	}
	
	#AuditPrintAjax .question
	{
		margin-left: 20px !important;
	}
	
	#AuditPrintAjax .question h3
	{
		color: #111111;
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 20px;
	    margin-bottom: 5px;
		padding: 0px;
	}
	
	#AuditPrintAjax .question .info
	{
		background: transparent;
		font-style: italic;
		margin: 20px 0px 0px;	
	}
}