.noprint {
	display: none;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}

#header {
	display: none;
}

#MainMenu {
	display: none;
}

#navlist {
	display: none;
}

table.footerNav {
	display: none;
}

div.dropmenudiv,div.auditSubMenu {
	display: none;
}

#auditToolbar {
	display: none;
}

div.footer {
	display: none;
}

/** Audits **/
div.auditHeader fieldset {
	float: left;
	width: 30%;
}

div.auditHeader ul {
	list-style-type: none;
	margin-left: 0;
}

table.audit {
	width: 100%;
	border-collapse: collapse;
}

table.audit td {
	padding: 2px;
	margin: 0px;
	vertical-align: top;
	border: 1px solid #BBB;
}

td.question {
	color: #999;
}

span.answer {
	color: black;
	font-weight: bold;
}

input.hidden {
	display: none;
}

table td.right {
	text-align: right;
}

/**
* For reports table
**/
table.report {
	width: 100%;
	border-collapse: collapse;
}

table.report td {
	padding: 2px;
	margin: 0px;
	vertical-align: top;
	border: 1px solid #BBB;
}

table td.right {
	text-align: right;
}

.buttons {
	display: none;
}

/**
* For Search Filters
**/
ul.paging {
	display: none;
}

#search {
	display: none;
}

/**
* For Help and Chat Icon
**/
#helpbox {
	display: none;
}

#chatIcon {
	display: none;
}

/**
* For the Home Page
**/
div.panel {
	border: 1px solid #BBB;
	margin: 0px;
	padding: 5px;
}

div.panel_header {
	height: 22px;
	font-size: 10pt;
	color: black;
	font-weight: bold;
	border-bottom: 1px solid #B3B3B3;
}

div.panel_placeholder {
	padding: 20px;
	width: 500px;
}

span.required {
	color: #272;
	font-weight: bold;
}

span.printrequired {
	display: inline;
}

/** Audit Header ***/
#content div.auditHeader {
	border-top: 2px solid #C3C3C3;
	border-bottom: 2px solid #C3C3C3;
	height: 150px;
}

div.auditHeader li {
	float: left;
	clear: left;
	width: 100%;
}

div.auditHeader label{
	float: left;
	text-align: right;
	font-weight: bold;
	color: #003768;
}

div.auditHeader fieldset{
	line-height: 26px;
	width: 15em;
	border: 0px;
}
/** END Audit Header ***/