#ContractorRegistration-page #main
{
	margin: 0px auto;
	width: 960px;
}

#ContractorRegistration-page .registration
{
	display: inline;
	float: left;
	margin: 0px 10px;
	position: relative;
}

.registration header
{
	border: 0px;
	height: auto;
	margin-bottom: 20px;
	padding: 0px;
}

.registration header h1
{
	color: #A84D10;
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0px;
}

.registration header h2
{
	font-size: 15px;
}

/* registration form */

.registration-form
{
	
}

.registration-form h1
{
	font-size: 20px;
	margin: 10px 0px;
}

.registration-form li
{
	margin-bottom: 5px;
}

.registration-form label
{
	display: block;
	float: left;
	font-size: 13px;
	line-height: 25px;
	margin-right: 10px;
	text-align: right;
	width: 300px;
}

.registration-form .help-text
{
	display: none;
}

.registration-form .help
{
	color: #AAA;
	display: block;
	font-size: 11px;
	left: 310px;
	position: relative;
}

.registration-form .actions
{
	padding-left: 310px;
}

.registration-form .actions p
{
	font-size: 12px;
	line-height: 18px;
	margin: 10px 0px; 
}

/* popover */

#ContractorRegistration-page .popover
{
	font-size: 12px;	
}

#ContractorRegistration-page .popover .inner
{
	width: 300px;
}

#ContractorRegistration-page .popover .inner p
{
	margin-bottom: 10px;
}