.print-page .make-payment .invoice
{
	border: 1px solid #878787;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 20px;
	width: 480px;
}

.print-page .make-payment .invoice th,
.print-page .make-payment .invoice td
{
	padding: 10px 10px 9px;
}

.print-page .make-payment .invoice th
{
	color: #404040;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-top: 9px;
	text-align: left;
}

.print-page .make-payment .invoice td
{
	color: #404040;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.print-page .make-payment .invoice tbody tr:nth-child(odd) th,
.print-page .make-payment .invoice tbody tr:nth-child(odd) td
{
	background: #F9F9F9;
}

.print-page .make-payment .invoice th.price,
.print-page .make-payment .invoice td.price
{
	text-align: right;
}

.print-page .make-payment .invoice th + th,
.print-page .make-payment .invoice td + td
{
	border-left: 1px solid #878787;
}

.print-page .make-payment .invoice td,
.print-page .make-payment .invoice tr + tr th
{
	border-top: 1px solid #878787;
}

.print-page .make-payment .invoice td a.help,
.print-page .make-payment .invoice a.data-import-toggle
{
	display: none;
}

.print-page .make-payment .invoice tfoot td
{
	font-size: 14px;
	text-align: right;
}

.print-page .make-payment .invoice tfoot td span
{
	font-weight: bold;
}