header,footer,section {
	display: block;
}

.Registration-page,.RegistrationAddClientSite-page,.RegistrationServiceEvaluation-page,.RegistrationMakePayment-page
	{
	background: #94c3e1;
}

.Registration-page #container,.RegistrationAddClientSite-page #container,.RegistrationServiceEvaluation-page #container,.RegistrationMakePayment-page #container
	{
	background: #FFFFFF;
}

header {
	border: 0px;
	margin: 0px auto;
	padding: 0px;
	width: 960px;
}

header .chat,header .phone,header .welcome-message {
	float: right;
	margin-top: 15px;
}

header .welcome-message {
	font-size: 14px;
	line-height: 25px;
	margin-right: 20px;
}

header .locale-form {
	float: right;
	margin-top: 12px;
	margin-right: 20px;
}

header .locale-form select {
	padding: 3px;
}

header .chat a,header .phone {
	color: #8fc0e0;
	font-size: 15px;
}

header .header-menu {
	background: #F5F5F5;
	margin: 0px;
	padding: 20px;
}

header .header-menu li {
	margin: 0px;
}

header .phone {
	padding: 5px 0 5px 21px;
	background-image: url('../images/phone-icon.png');
	background-repeat: no-repeat;
	background-position: left;
}

header .chat {
	padding: 5px 0 5px 21px;
	background-image: url('../images/chat-icon.png');
	background-repeat: no-repeat;
	background-position: left;
}

footer {
	background: #A5CEE9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#badbf0),
		to(#94c3e2) );
	background-image: -moz-linear-gradient(top, #badbf0, #94c3e2);
	background-image: -ms-linear-gradient(top, #badbf0, #94c3e2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #badbf0),
		color-stop(100%, #94c3e2) );
	background-image: -webkit-linear-gradient(top, #badbf0, #94c3e2);
	background-image: -o-linear-gradient(top, #badbf0, #94c3e2);
	background-image: linear-gradient(top, #badbf0, #94c3e2);
	background-image: linear-gradient(top, #badbf0, #94c3e2);
	border: 0px;
	height: 115px;
	padding: 0px;
}

footer div.separator {
	border: 0px;
	border-top: 1px solid #FFFFFF;
	margin: 2px 0px 0px;
	padding: 0px;
}

footer .footer-menu {
	color: #6c96b3;
	font-size: 14px;
	font-weight: bold;
	margin: 40px auto;
	text-shadow: #FFFFFF 1px 1px 2px;
	width: 960px;
}

footer .footer-menu li {
	float: none;
	margin-bottom: 10px;
}

footer .footer-menu a {
	color: #6c96b3;
}

.Registration-page .registration,.RegistrationAddClientSite-page .client-site,.RegistrationServiceEvaluation-page .service-evaluation,.RegistrationMakePayment-page .make-payment
	{
	margin: 0px auto;
	width: 960px;
}

/**
 * registration header
 */

/* .registration-header section
{
	background: #A5CEE9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#BFDFF3), to(#91C1E1));
	background-image: -moz-linear-gradient(top, #BFDFF3, #91C1E1);
	background-image: -ms-linear-gradient(top, #BFDFF3, #91C1E1);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BFDFF3), color-stop(100%, #91C1E1));
	background-image: -webkit-linear-gradient(top, #BFDFF3, #91C1E1);
	background-image: -o-linear-gradient(top, #BFDFF3, #91C1E1);
	background-image: linear-gradient(top, #BFDFF3, #91C1E1);
	background-image: linear-gradient(top, #BFDFF3, #91C1E1);
	border-bottom: 7px solid #7BAACA;
	border-top: 2px solid #AEAFB2;
	height: 100px;
	width: auto;
} */
.registration-header section {
	background: url(../images/registration/header_edge_bg.jpg) repeat-x;
	border-bottom: 7px solid #7BAACA;
	border-top: 2px solid #AEAFB2;
	height: 94px;
}

.registration-header header {
	background: url(../images/registration/header_bg.jpg) no-repeat;
	height: 94px;
}

.registration-header h1 {
	color: #FFFFFF;
	font-family: Franklin Gothic Medium, Arial;
	font-size: 40px;
	margin: 0px auto;
	position: relative;
	text-shadow: #39749b 2px 2px 5px;
	text-transform: uppercase;
	top: 40px;
	width: 960px;
}

/**
 * registration
 */
.Registration-page .registration-header header {
	position: relative;
}

.Registration-page .registration-header header .chat {
	position: absolute;
	margin: 0px;
	right: 0px;
	top: 5px;
}

.Registration-page .registration-header header .chat img {
	margin: 0px;
}

.registration-form {
	float: left;
}

.registration-form .company-information,.registration-form .contact-information,.registration-form .account-information
	{
	border: 1px solid #bbd3e3;
	margin-top: 20px;
	width: 588px;
}

.registration-form section {
	background: #F5F5F5;
	margin: 2px;
	padding: 30px 20px;
}

.registration-form h1 {
	background-color: rgb(197, 98, 26);
	background-color: rgba(197, 98, 26, 0.7);
	color: #FFFFFF;
	font-size: 25px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	margin: 0px 0px 20px -33px;
	text-shadow: #a85008 2px 2px 5px;
	width: 450px;
}

.registration-form h1 span {
	background-color: rgb(197, 98, 26);
	font-size: 25px;
	margin: 0px 10px 0px 20px;
	padding: 2px 12px;
}

.registration-form li {
	overflow: hidden;
}

.registration-form #vat_id
{
	display: none;
}

.registration-form .errors {
	float: left;
	margin-left: 10px;
}

.registration-form .errors li,.make-payment-form .errors {
	background: url(../images/registration/cross.png) no-repeat;
	color: #C33107;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0px;
	padding-left: 20px;
	position: relative;
	top: 3px;
}

.make-payment-form .errors {
	display: inline-block;
	height: 20px;
	top: -1px;
}

.registration-form .actions {
	overflow: hidden;
}

.registration-form .contractor-name-duplicate {
	display: none;
}

.registration-form .contractor-name-duplicate div.alert-message {
	font-size: 12px !important;
	line-height: 20px;
	margin: 0px 0px 0px 130px !important;
	width: auto !important;
}

.registration-form .contractor-name-duplicate p {
	line-height: 19px;
	margin-bottom: 10px;
	width: auto;
}

.registration-form .contractor-name-duplicate ul {
	clear: both;
	list-style-type: disc;
	margin-left: 20px;
}

.registration-form .contractor-name-duplicate ul li {
	margin-bottom: 5px;
	overflow: inherit;
}

.registration-form .info-agreement {
	background: url(../images/registration/info_arrow_bg_right2.png) 100%
		no-repeat;
	height: 67px;
	float: left;
	margin: 20px 0px 20px 127px;
	width: 330px;
}

.registration-form .actions p {
	font-size: 12px;
	line-height: 18px;
	padding: 15px 15px 0px;
}

.registration-form .actions a {
	color: #ba6219;
}

/* registration side bar */
.registration-side-bar {
	background: url(../images/registration/bg.png) no-repeat;
	float: left;
	width: 370px;
}

.registration-side-bar .info-join {
	background: url(../images/registration/info_arrow_bg_right1.png)
		no-repeat;
	height: 109px;
	margin: 35px 0px 0px 15px;
}

.registration-side-bar .info-join h1 {
	color: #002D4F;
	font-family: Franklin Gothic Medium, Arial;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	top: 18px;
}

.registration-side-bar .info-qualify,.registration-side-bar .info-choice
	{
	background-color: rgb(145, 192, 224);
	background-color: rgba(145, 192, 224, 0.25);
	padding: 10px 20px 35px;
	margin: 45px 0px 35px 90px;
	width: 220px;
}

.registration-side-bar .info-choice {
	margin: 70px 0px 0px 10px;
	width: 275px;
}

.registration-side-bar .info-qualify h1,.registration-side-bar .info-choice h1
	{
	color: #39749b;
	font-size: 30px;
	font-weight: bold;
	line-height: 33px;
	margin: 20px 0px;
}

.registration-side-bar .info-choice ul {
	list-style-type: square;
	margin-left: 5px;
}

.registration-side-bar .info-qualify li,.registration-side-bar .info-choice li
	{
	color: #76a7c9;
	font-size: 18px;
	font-weight: bold;
	margin: 10px;
	text-shadow: #FFFFFF 1px 1px 2px;
}

.registration-side-bar .info-choice li {
	font-size: 14px;
	line-height: 16px;
}

/* general */
.Registration-page #main .alert-message, .RegistrationAddClientSite-page #main .alert-message, .RegistrationServiceEvaluation-page #main .alert-message, .RegistrationMakePayment-page #main .alert-message
	{
	font-size: 14px;
	margin: 20px auto;
	overflow: hidden;
	padding: 10px 15px;
	width: 930px;
}

.alert-message .icon {
	display: block;
	float: left;
	height: 16px;
	margin: 1px 5px 0px 0px;
	width: 16px;
}

.alert-message .icon.warn {
	background:
		url(../js/jquery/jquery-ui/images/ui-icons_666666_256x240.png) 0px
		-144px no-repeat;
}

.alert-message p {
	float: left;
	line-height: 18px;
	width: 900px;
}

.registration-form li,.client-site-form li,.service-evaluation-form li,.make-payment-form li
	{
	margin-bottom: 10px;
	overflow: hidden;
}

.service-evaluation-form li {
	margin-bottom: 15px;
}

.registration-form label,
.client-site-form label,
.service-evaluation-form label,
.make-payment-form label,
.provide-ssip-details-later-message
	{
	color: #5d5d5d;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 25px;
}

.registration-form label,
.client-site-form label,
.service-evaluation-form label,
.make-payment-form label
{
	float: left;
	text-align: right;
	margin-right: 10px;
	width: 150px;

}

.service-evaluation-form ul.checkbox-list label,.service-evaluation-form ul.radio label,.make-payment-form ul.radio label
	{
	float: left;
	width: auto;
}

.service-evaluation-form ul.radio.inline label,.make-payment-form ul.radio.inline label
	{
	padding: 3px 5px 0px 0px;
}

.registration-form select,.client-site-form select,.service-evaluation-form select,.make-payment-form select
	{
	border: 1px solid #878787;
	margin: 0px;
	padding: 3px;
}

.registration-form p,.client-site-form p,.service-evaluation-form p,.make-payment-form p
	{
	color: #404040;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.registration-form a,.client-site-form a,.service-evaluation-form a,.make-payment-form a
	{
	color: #195F91;
}

.registration-form a:hover,.client-site-form a:hover,.service-evaluation-form a:hover,.make-payment-form a:hover
	{
	text-decoration: none;
}

.registration-form .help-text,.client-site-form .help-text,.service-evaluation-form .help-text,.make-payment-form .help-text
	{
	display: none;
}

.client-site-form .actions p,.service-evaluation-form .actions p,.make-payment-form .actions p
	{
	font-size: 12px;
	line-height: 18px;
	margin: 10px 0px;
}

/* registration step */
.registration-header .registration-step {
	background: url(../images/registration/header_step_bg.jpg) no-repeat;
	height: 94px;
	margin: 0px auto;
	padding-top: 15px;
	width: 960px;
}

.registration-step ul {
	left: 144px;
	position: relative;
}

.registration-step li {
	color: #cde3f2;
	float: left;
	font-family: Franklin Gothic Medium, Arial;
	font-size: 20px;
	text-align: center;
	text-shadow: #39749b 1px 1px 4px;
	width: 232px;
}

.registration-step li.enabled,.registration-step li.current {
	color: #FFFFFF;
}

.registration-step li a,.registration-step li span,.registration-step li.disabled a,.registration-step li.disabled span
	{
	background: #c8e0f1;
	color: #b2d3ea;
	display: block;
	font-family: Franklin Gothic Medium, Arial;
	font-size: 20px;
	line-height: 38px;
	margin: 0px auto 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	width: 40px;
}

.registration-step li.enabled a,.registration-step li.enabled span {
	background: #9cc7e4;
	-webkit-box-shadow: -2px -2px 1px -1px #FFFFFF;
	-moz-box-shadow: -2px -2px 1px -1px #FFFFFF;
	box-shadow: -2px -2px 1px -1px #FFFFFF;
	color: #FFFFFF;
}

.registration-step li.current a,.registration-step li.current span {
	background: #1f4867;
	color: #FFFFFF;
}

/* overwrites */
.service-evaluation hr.separator,.make-payment hr.separator {
	border: 0px;
	border-top: 2px solid #878787;
	clear: both;
	margin: 30px 0px 20px;
}

.client-site h1,.service-evaluation h1,.make-payment h1 {
	color: #bb621a;
	font-family: Franklin Gothic Medium, Arial;
	font-size: 40px;
	line-height: 40px;
	margin: 35px 0px 20px;
}

.service-evaluation-form label,
.make-payment-form label
{
	width: 100px;
}

/* add client site specific */
.client-site-filter {
	background: #fefaee;
	height: 100px;
	overflow: hidden;
	margin: 0px 0px 20px;
	text-align: center;
}

.client-site-filter ul {
	margin: 35px auto 0px;
}

.client-site-filter li {
	display: inline;
}

.client-site-filter .search {
	margin: 5px 10px 0px 0px;
}

.client-site-filter .search label {
	color: #404040;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-right: 10px;
}

.client-site-filter .search input {
	border: 1px solid #878787;
	height: 20px;
	padding: 1px 5px;
	width: 175px;
}

.client-site .client-site-left {
	float: left;
	position: relative;
}

.client-site .client-site-right {
	float: right;
	position: relative;
}

.client-site .client-site-left label,.client-site .client-site-right label
	{
	float: none;
	line-height: 25px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: auto;
}

.client-site .show-all-client-site {
	font-size: 13px;
	line-height: 25px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.client-site .client-site-left .client-site-list-container,.client-site .client-site-right .client-site-list-container
	{
	padding: 20px;
	position: relative;
}

.client-site .client-site-left .client-site-list-container {
	background: #f5f5f5;
}

.client-site .client-site-left .client-site-list-container .arrow {
	background: url(../images/registration/client_site_list_arrow.jpg)
		no-repeat;
	height: 52px;
	position: absolute;
	right: -26px;
	top: 140px;
	width: 26px;
}

.client-site .client-site-right .client-site-list-container {
	background: #ebf4f9;
}

.client-site .client-site-list {
	background: #FFFFFF;
	border: 1px solid #878787;
	clear: both;
	font-size: 13px;
	height: 300px;
	overflow-y: scroll;
	width: 420px;
}

.client-site .client-site-list.loading {
	filter: alpha(opacity = 40);
	-khtml-opacity: 0.4;
	-moz-opacity: 0.4;
	opacity: 0.4;
}

/* loading icon for client site search */
.client-site span.loading {
	background: url(../images/loading.gif);
	display: block;
	height: 75px;
	left: 50%;
	margin: -37px 0px 0px -37px;
	position: absolute;
	top: 50%;
	width: 75px;
}

.client-site .client-site-list li {
	line-height: 16px;
	margin: 0px;
}

.client-site .client-site-list li a {
	color: #404040;
	display: block;
	line-height: 23px;
	overflow: hidden;
	padding: 5px;
	text-decoration: none;
}

.client-site .client-site-list li a:hover {
	background: #F5F5F5;
	cursor: default;
	font-weight: bold;
}

.client-site .client-site-list li a:hover .location {
	display: none;
}

.client-site .client-site-list li a:hover .add,
.client-site .client-site-list li a:hover .remove,
.client-site .client-site-list li a:hover .info
{
	display: block;
}

.client-site .client-site-list .name {
	float: left;
	font-size: 12px;
}

.client-site .client-site-list .location {
	color: #878787;
	float: right;
	font-size: 11px;
	font-weight: normal;
}

.client-site .client-site-list .add,.client-site .client-site-list .remove,.client-site .client-site-list .info
	{
	display: none;
	float: right;
	font-size: 11px;
	padding: 3px 5px;
	text-transform: uppercase;
}

.client-site .client-site-list .info {
	margin-right: 5px;
	text-transform: lowercase;
}

.client-site ul.actions {
	margin: 10px auto;
	padding: 0px;
	width: 116px;
}

.client-site ul.actions li {
	margin: 0px;
	overflow: visible;
}

.client-site .client-site-list li.inspect,.client-site .client-site-list li.inspect a
	{
	background: #FDF5D9;
}

.client-site .client-site-list li.inspect .client-site-info {
	clear: both;
	color: #878787;
	display: block;
}

.client-site .client-site-list .client-site-info {
	display: none;
	font-size: 12px;
	font-weight: normal;
}

.client-site-get-started {
	float: right;
	margin-top: 80px;
	padding: 20px;
	width: 430px;
}

.client-site-get-started section {
	clear: both;
	margin-bottom: 50px;
}

.client-site-get-started h1 {
	color: #A94C0F;
	font-size: 26px;
	line-height: 26px;
	margin: 0px;
}

.client-site-get-started h2 {
	color: #878787;
	font-size: 14px;
	line-height: 18px;
	margin: 10px 0px 20px;
}

.client-site-get-started .information-container {
	float: left;
	width: 345px;
}

.client-site-get-started img {
	float: left;
	margin-right: 20px;
}

.client-site-get-started img.search {
	margin-top: 5px;
}

.client-site-help {
	background: #FFFFFF;
	bottom: 21px;
	left: 21px;
	margin: 0px;
	position: absolute;
	text-align: center;
	width: 403px;
}

.client-site-help h1 {
	color: #A94C0F;
	font-size: 16px;
	margin: 0px;
}

.client-site-help h2 {
	color: #878787;
	font-size: 11px;
}

.client-site-help button {
	margin: 20px 0px;
}

/* service evaluation specific */
.service-evaluation label {
	margin: 20px 30px 0px 0px;
	text-align: left;
	width: 350px;
}

.services-list {
	width: 570px;
}

.services-performed-description p {
	color: #BB621A;
	font-size: 12px;
	line-height: 16px;
	margin: 0px 0px 15px;
}

.service-evaluation-form ul.checkbox-list label,.service-evaluation-form ul.radio label
	{
	margin: 0px 0px 5px;
	width: 510px;
}

.service-evaluation-form ul.radio.inline label {
	margin: 0px;
	width: auto;
}

.service-evaluation-form div.separator {
	background: url(../images/registration/separator_bg.png) -20px -60px
		no-repeat;
	clear: both;
	height: 10px;
	position: relative;
	top: 20px;
}

.service-evaluation-form .actions {
	padding-left: 388px;
}

/* make payment specific */
.make-payment .membership {
	margin-bottom: 30px;
}

.make-payment .membership,.make-payment .membership-help {
	float: left;
}

.make-payment table {
	margin-right: 70px;
	width: 560px;
}

.make-payment table th,.make-payment table td {
	line-height: 20px;
	padding: 20px;
}

.make-payment table th {
	background: #eef6fb;
	color: #002d4f;
	font-size: 18px;
	font-weight: bold;
	text-shadow: #FFFFFF 1px 1px 2px;
}

.make-payment table td {
	background: #fcfdfe;
	color: #5d5d5d;
	font-size: 14px;
	position: relative;
}

.make-payment table th.price,.make-payment table td.price {
	text-align: right;
}

.make-payment .invoice .help {
	bottom: 2px;
	position: relative;
	left: 3px;
}

.make-payment .invoice tr.total td {
	background: #c8e0f0;
	color: #70a7cb;
	font-size: 24px;
	font-weight: bold;
	text-align: right;
	text-shadow: #FFFFFF 1px 1px 2px;
}

.make-payment .invoice tr.total td span {
	color: #5d5d5d;
	font-size: 18px;
	margin-right: 10px;
	text-shadow: #FFFFFF 1px 1px 2px;
}

.make-payment .policy {
	line-height: 16px;
	margin: 20px 0px 0px;
	overflow: hidden;
	text-align: center;
	width: 560px;
}

.make-payment .policy li,
 {
	display: inline;
	margin: 0px 10px;
}

.make-payment .policy li a,.make-payment .membership-help a {
	color: #7f96a7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.make-payment .policy li a:hover,.make-payment .membership-help a:hover
	{
	text-decoration: none;
}

.make-payment .policy a.modal-link {
	vertical-align: top;
	line-height: 200%;
	white-space: nowrap;
}

.make-payment .membership-help {
	background: #eef6fb;
	width: 330px;
}

.make-payment .membership-help section h1 {
	background: #bedbed;
	color: #5d5d5d;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 30px 0px 0px -10px;
	padding: 0px 20px 0px 20px;
	text-shadow: #FFFFFF 1px 1px 2px;
}

.make-payment .membership-help section p {
	clear: both;
	color: #404040;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 10px;
}

/* data import */
.data-import-form {
	display: inline;
}

.data-import-form input {
	bottom: 5px;
	margin-left: 10px;
	padding: 4px 10px;
	position: relative;
}

/* billing information */
.make-payment div.separator {
	background: url(../images/registration/separator_bg.png) -20px -60px
		no-repeat;
	clear: both;
	height: 10px;
	position: relative;
	top: 20px;
}

.make-payment-form .creditcard select {
	margin-bottom: 5px;
}

.make-payment-form img.card {
	display: block;
	left: 110px;
	margin: 5px 0px;
	position: relative;
}

.make-payment-form .actions
{
	padding-left: 110px;
}

.make-payment-form .actions input.btn {
	float: left;
	padding: 10px 20px 12px;
	margin: 1px 10px 0px 0px;
}

.make-payment-form .actions .brain-tree-badge {
	float: left;
}

.make-payment-form .check-note {
	clear: left;
	display: none;
	float: left;
}

.make-payment .process-check-info {
	color: #404040;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.make-payment .process-check-info a {
	color: #7f96a7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.make-payment .processing {
	display: none;
	float: left;
	height: 37px;
	margin: 2px;
}

.make-payment .processing img {
	height: 23px;
	margin: 7px 7px;
	float: left;
}

.make-payment .processing p {
	color: #BB621A;
	float: left;
	font-size: 13px;
	font-weight: bold;
	text-shadow: #D6D6D6 1px 1px 1px;
}

.client-site-modal {
	margin: -250px 0 0 -250px !important;
}

#credit-card-payment-method {
	float: left;
}

#or {
	float: left;
	line-height: 200px;
	margin: 0px 50px 0px 50px;
}

#pro-forma-button {
	float: left;
	margin-top: 88px;	
}

#ccexp {
	display: none;
}

/* Generic Help Text */

#.help {
	font-size: 12px;
}

.popover .arrow {
	left: 60%;
}

.popover .popover-inner {
	left: -80px;
	position: relative;
}

.popover .popover-inner .popover-title {
	display: none;
}

.popover .popover-inner .popover-content {
	background: #faf3ed;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.popover .popover-inner .popover-content p {
	line-height: 18px;
}

#dialect_selection,
#Registration_contractor_countrySubdivision
{
	float: left;
}

.registration-form .company-information input,
.registration-form .contact-information input,
.registration-form .account-information input
	{
	-webkit-box-shadow: inset 0px 2px 3px -1px #878787;
	-moz-box-shadow: inset 0px 2px 3px -1px #878787;
	box-shadow: inset 0px 2px 3px -1px #878787;
}

.registration-form input {
	float: left;
}

.registration-form .actions input {
	float: left;
	left: 22px;
	position: relative;
	top: 35px;
}

.service-evaluation-form input,
.service-evaluation-form select
{
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
}

.registration-form input[type=text],
.client-site-form input[type=text],
.service-evaluation-form input[type=text],
.make-payment-form input[type=text],
.service-evaluation-form select
{
	border: 1px solid #B5B5B5;
	width: 175px;
}


.registration-form input,
.client-site-form input,
.service-evaluation-form input,
.make-payment-form input
	{
	height: 20px;
	padding: 1px 5px;
}

.service-evaluation-form ul.text-input-list li input.year
{
	width: 4em;
}

.service-evaluation-form ul.text-input-list li input.month
{
	width: 2em;
}

.service-evaluation-form ul.text-input-list li input.day
{
	width: 2em;
}

.request-to-provide-ssip-details-container,
.provide-ssip-details-later-message,
.ssip-details-container
{
	display: none;
}

.service-evaluation-form input.checkbox {
	width: auto;
}

.service-evaluation-form ul.checkbox-list,
.service-evaluation-form ul.radio,
.service-evaluation-form ul.text-input-list,
.make-payment-form ul.radio
	{
	float: left;
}

.service-evaluation-form ul.checkbox-list li,
.service-evaluation-form ul.radio li,
.service-evaluation-form ul.text-input-list li
.make-payment-form ul.radio li
	{
	margin: 0px;
}

.service-evaluation-form ul.text-input-list li
{
	display: inline;
}

.service-evaluation-form ul.checkbox-list input,
.service-evaluation-form ul.radio input,
.make-payment-form ul.radio input,
.service-evaluation-form ul.text-input-list input,
.service-evaluation-form select
{
	float: left;
	padding: 4px;
	margin-right: 5px;
	width: auto;
}

.registration-form .actions input,
.registration-form .actions button,
.client-site-form .actions input,
.client-site-form .actions button,
.service-evaluation-form .actions input,
.service-evaluation-form .actions button,
.make-payment-form .actions input,
.make-payment-form .actions button
	{
	height: auto;
	padding: 9px 20px 10px;
	width: auto;
}

.service-evaluation-form ul.checkbox-list,
.service-evaluation-form ul.radio,
.service-evaluation-form ul.text-input-list,
.right-column
{
	background: #eef5fb;
	padding: 20px;
	width: 540px;
}

.right-column
{
	float: right;
}

.service-evaluation-form ul.checkbox-list input 
{
	margin: 3px 6px 3px 0px;
}
#autofill
{
	margin-top: 10px; 
}

.RegistrationMakePayment-page .phone
{
    color: #5d5d5d;
    font-size: 13px;
    margin: 10px 0px;
}