#search {
	display:block;
	background-color:#EEEEEE;
	border-top:1px solid #A84D10;
	border-bottom:1px solid #A84D10;
	width:75%;
	position:relative;
}

/******************** Primary Table class="report"  ************************/

table.report {
	border-collapse: collapse;
	border: 2px solid #003768;
	color: #4C4D4D;
	background: #f9f9f9;
	clear: both;
	margin: 10px;
}
table.report td, table.report th {
	border: thin solid #A84D10;
	padding: 4px;
	font-size: 13px;
}
table.report thead th, table.report thead td {
	border: 1px solid #e0e0e0;
	text-align: center;
	font-weight: bold;
	background: #003768;
	color: #FFF;
}
table.report thead a {
	color: #FFF;
	text-decoration: none;
}
table.report thead a:hover {
	color: #A84D10;
	text-decoration: underline;
}
table.report tbody td a {
	text-decoration: none;
}
table.report tbody td a:hover {
	text-decoration: underline;
}
table.report tbody tr:hover {
	background: #EEE;
	color: #A84D10;
}

table.report td.center {
	text-align: center;
	float: none;
}
table.report td.right {
	text-align: right;
	float: none;
}


/******************** Paging and Alpha Search  ************************/

ul.alpha {
	display:block;
	white-space:nowrap;
	vertical-align: middle;
}
ul.paging {
	display:block;
	white-space:nowrap;
	vertical-align: middle;
	margin-left: 30px;
}
ul.alpha li, ul.paging li {
	display:inline;
	list-style-type:none;
}
ul.alpha li a, ul.paging li a {
	margin:1px;
	padding:2px;
	border: 1px solid #003768;
	font-size:14px;
	font-weight: bold;
	text-decoration: none;
	color: #003768;
}
ul.alpha li a:hover, ul.paging li a:hover {
	margin:1px;
	padding:2px;
	font-size:14px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	background-color: #A84D10;
	border:1px solid #A84D10;
}

ul.alpha li a.current, ul.paging li a.current {
	margin:1px;
	padding:2px;
	font-size:14px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	background-color: #A84D10;
	border:1px solid #A84D10;
}
