/******************** Primary Table class="report"  ************************/
table.report {
	border-collapse: collapse;
	border: 2px solid #003768;
	color: #4C4D4D;
	background: #f9f9f9;
	clear: both;
	margin-bottom: 10px;
	position: relative;
	z-index: 10;
}

table.report td,table.report th {
	border: 1px solid #A84D10;
	vertical-align: middle;
	padding: 4px;
	font-size: 13px;
	line-height: 15px;
}

table.report td.icon {
	padding-top: 2px;
	padding-bottom: 0px;
}

table.report thead th,table.report thead td {
	border: 1px solid #e0e0e0;
	text-align: center;
	font-weight: bold;
	background: #003768;
	color: #FFF;
}

table.report thead a {
	color: #FFF;
	text-decoration: none;
	background: url('../images/arrow.gif') no-repeat right center;
	padding-left: 0;
	padding-right: 12px;
	padding-top: 0;
	padding-bottom: 0;
}

table.report thead a:hover {
	text-decoration: underline;
}

table.report td a, table.report td a:visited {
	text-decoration: none;
}

table.report td a:hover {
	text-decoration: underline;
}

table.report tr:hover, .tr-hover {
	background: #EEE;
	color: #A84D10;
}

table.report td.center,table.report th.center {
	text-align: center;
	float: none;
}

table.report td.right,table.report th.right {
	text-align: right;
	float: none;
}

table.noshade tr:hover {
	color: #4C4D4D;
	background: #f9f9f9;
}

table.report tr.highlight {
	background: #FFC;
	color: #000;
}

/******************** Primary Table class="tablestyle"  ************************/
table.tablestyle {
	border-collapse: collapse;
	border: none;
	color: #8C8C8C;
	background-color: #F1F5FB;
	clear: both;
	margin: 10px;
}

table.tablestyle td,table.tablestyle th {
	border-right: thin solid #D8D8D8;
	padding: 10px;
	font-size: 13px;
}

table.tablestyle thead th,table.tablestyle thead td {
	border-right: 1px solid #A3A3A3;
	text-align: center;
	font-weight: bold;
	background: #CECECE;
	background-image: url(../images/background-header-table-gradient.jpg);
	background-repeat: repeat-x;
	color: #333333;
}

table.tablestyle thead a {
	color: #8C8C8C;
	text-decoration: none;
}

table.tablestyle thead a:hover {
	text-decoration: underline;
	color: #003366;
}

table.tablestyle tr {
	background-color: white;
}

table.tablestyle tr.odd {
	background-color: #F1F5FA;
}

table.tablestyle td a {
	text-decoration: none;
	color: #8C8C8C;
}

table.tablestyle td a:hover {
	text-decoration: underline;
	color: #003366;
}

table.tablestyle tr:hover,table.tablestyle td:hover {
	background: #C7E5F7;
	color: #003366;
}

table.tablestyle td.center {
	text-align: center;
	float: none;
}

table.tablestyle td.right {
	text-align: right;
	float: none;
}

/******************** Inner Table Class="inner"  ************************/
table.inner,table.inner tr,table.inner td {
	border: none;
	padding: 0px 2px 0px 2px;
}

/******************** Paging and Alpha Search  ************************/
ul.alpha {
	display: block;
	white-space: nowrap;
	vertical-align: middle;
	margin-left: 0px;
}

ul.paging {
	display: block;
	white-space: nowrap;
	vertical-align: middle;
	margin-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

ul.alpha li,ul.paging li {
	display: inline;
	list-style-type: none;
}

ul.alpha li a,ul.paging li a {
	margin: 1px;
	padding: 2px;
	border: 1px solid #003768;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #003768;
}

ul.alpha li a:hover,ul.paging li a:hover {
	margin: 1px;
	padding: 2px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	background-color: #A84D10;
	border: 1px solid #A84D10;
}

ul.alpha li a.current,ul.paging li a.current {
	margin: 1px;
	padding: 2px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	background-color: #A84D10;
	border: 1px solid #A84D10;
}

ul.filterRight {
	position: absolute;
	line-height: 12px;
	top: 11px;
	left: 200px;
}

div.filterOption {
	margin: 1px;
	padding: 1px 6px;
	position: relative;
	float: left;
	border: 1px #EFEFEF solid;
}

div.filterOption:hover {
	background-color: white;
	border: 1px #888 dashed;
}

div.filterOption a,div.filterOption span {
	font-size: 11px;
}

a.clearLink {
	border-width: 1px;
	font-size: 10px;
	line-height: 10px;
	padding: 0px;
	margin: 0px;
}

/******************** Primary Table class="jobReport"  ************************/
table.jobReport {
	border-collapse: collapse;
	color: #4C4D4D;
	background: #FFF;
	clear: both;
	margin-bottom: 10px;
	position: relative;
	z-index: 10;
}

table.jobReport td,table.jobReport th {
	vertical-align: middle;
	padding: 4px;
	font-size: 13px;
	line-height: 15px;
}

table.jobReport td.icon {
	padding-top: 2px;
	padding-bottom: 0px;
}

table.jobReport thead th,table.jobReport thead td {
	text-align: center;
	font-weight: bold;
	background: #003768;
	color: #FFF;
}

table.jobReport thead a {
	color: #FFF;
	text-decoration: none;
	background: url('../images/arrow.gif') no-repeat right center;
	padding-left: 0;
	padding-right: 12px;
	padding-top: 0;
	padding-bottom: 0;
}

table.jobReport thead a:hover {
	text-decoration: underline;
}

table.jobReport td a {
	text-decoration: none;
}

table.jobReport td.center,table.jobReport th.center {
	text-align: center;
	float: none;
}

table.jobReport td.right,table.jobReport th.right {
	text-align: right;
	float: none;
}

td.and, tr.and {
	color:#330099;
	font-family:monospace;
	font-weight:bold;
}

td.or, tr.or {
	background:lightgrey;
	color:#FF0000;
	font-family:monospace;
	font-weight:bold;
}


/******************** Flag Status Report Page  ************************/

table.report tbody .Red td {color:#900;}
table.report tbody .Amber td {color:#770;}
table.report tbody .Green td {color:#272;}


#content div.panel_placeholder {
	background:#ECECEC none repeat scroll 0%;
	margin-bottom:5px;
	padding:4px;
}
#content div.panel {
	border: 1px solid #BBB;
	margin:0px;
	padding:0px;
}
#content div.panel_header {
	height: 22px;
	font-size:10pt;
	color: #A84D10;
	font-weight: bold;
	overflow: hidden;
	border-bottom:1px solid #B3B3B3;
	padding:2px;
	padding-left: 5px;
	margin:0px;
}

#content div.panel .bigFlagIcon {display:block;margin:10px;float:left;}
#content div.panel .FlagCriteriaContent {display:block;margin:10px;float:left;}

