a.trade, a.trade:hover, a.trade:active {
	text-decoration: none;
	white-space: nowrap;
}
#trade-cloud {
	position: relative;
	background-color: Snow;
	border: 2px solid #A84D10;
	padding: 1em;
}

#trade-cloud h4 {
	position: absolute;
	top: -30px;
	left: 0;
}

#trade-cloud a.trade {
	padding: 3px;
	margin-right: 1em;
	color: #012142;
}

#trade-cloud a.trade-cloud-1 { font-size: 8px; }
#trade-cloud a.trade-cloud-2 { font-size: 10px; }
#trade-cloud a.trade-cloud-3 { font-size: 12px; }
#trade-cloud a.trade-cloud-4 { font-size: 14px; }
#trade-cloud a.trade-cloud-5 { font-size: 16px; }
#trade-cloud a.trade-cloud-6 { font-size: 18px; }
#trade-cloud a.trade-cloud-7 { font-size: 21px; font-weight: bold; }
#trade-cloud a.trade-cloud-8 { font-size: 24px; font-weight: bold; }
#trade-cloud a.trade-cloud-9 { font-size: 28px; font-weight: bold; }
#trade-cloud a.trade-cloud-10 { font-size: 32px; font-weight: bold; }

#trade-cloud a.trade:hover {
	color: white;
	background-color: #012142;
}

#trade-nav {
	float: left;
	width: 50%;
}

#trade-nav {
	border: 2px solid #4686BF;
}

#trade-nav .ui-tabs-panel {
	background-color: #E0EEFF;
	height: 500px;
	overflow: auto;
}

#trade-view {
	float: right;
	width: 45%
}

#trade-view ul, #trade-view ol {
	list-style: none;
}

#trade-view ol > li {
	padding: 5px;
}

#trade-view-single {
	margin-top: 1em;
    border: 2px solid #4686BF;
    padding: 1em;
}

#trade-view-single.current {
    border-color: #A84D10;
}

#trade-view-single .buttons {
	float: right;
}

#trade-view-single .hierarchy {
	border: 2px solid #DDDDDD;
	height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
}

.fieldoption {
	padding: 10px;
	width: 100%;
}

#suggest input.searchText {
    border: 1px solid #CCCACA;
    border-radius: 15px 15px 15px 15px;
    color: #CACCCD;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    height: 29px;
    padding: 2px 13px;
    width: 495px;
}

#suggest input.searchButton {
    background: url("../images/btn-search.png") no-repeat scroll right top transparent;
    border: medium none;
    cursor: pointer;
    height: 34px;
    left: -49px;
    position: relative;
    text-indent: -9999px;
    top: -2px;
    width: 49px;
}

.jstree li {
	line-height: 20px !important;
	margin-left: 20px !important;
}

h4 {
	font: bold 24px/28px Helvetica, Arial, sans-serif;
	color: #A0A1A1;
	letter-spacing: -1.5px;
}

h3.new {
	color: #4686BF;
}