a.trade,a.trade:hover,a.trade:active {
	text-decoration: none;
}

#trade-cloud {
	overflow: hidden;
	position: relative;
	background-color: Snow;
	border: 2px solid #A84D10;
	padding: 1em;
	position: relative;
}

#trade-view h4 {
	position: absolute;
	top: -30px;
	left: 0;
}

#trade-cloud a.trade {
	background-color: #EFF0FF;
	border-color: #DDDDDD;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 2px;
	display: block;
	float: left;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	padding: 1px 3px;
	color: #012142;
	margin-bottom: 2px;
	margin-right: 5px;
	text-decoration: none;
	white-space: normal;
}

#trade-cloud a.trade-cloud-1 {
	color: rgba(0, 45, 84, 0.40);
	font-size: 10px;
}

#trade-cloud   a.trade-cloud-2 {
	color: rgba(0, 45, 84, 0.5);
	font-size: 12px;
}

#trade-cloud a.trade-cloud-3 {
	color: rgba(0, 45, 84, 0.6);
	font-size: 14px;
}

#trade-cloud a.trade-cloud-4 {
	color: rgba(0, 45, 84, 0.7);
	font-size: 16px;
}

#trade-cloud a.trade-cloud-5 {
	color: rgba(0, 45, 84, 0.8);
	font-size: 18px;
}

#trade-cloud a.trade-cloud-6 {
	color: rgba(0, 45, 84, 0.9);
	font-size: 20px;
}

#trade-cloud a.trade-cloud-7 {
	color: rgba(0, 45, 84, 1);
	font-size: 22px;
}

#trade-cloud a.trade-cloud-8 {
	color: rgba(0, 45, 84, 1);
	font-size: 24px;
	font-weight: bold;
}

#trade-cloud a.trade-cloud-9 {
	color: rgba(0, 45, 84, 1);
	font-size: 26px;
	font-weight: bold;
}

#trade-cloud a.trade-cloud-10 {
	color: rgba(0, 45, 84, 1);
	font-size: 28px;
	font-weight: bold;
}

#trade-cloud a.trade:hover {
	color: white;
	background-color: rgba(0, 45, 84, 0.75);
	border-radius: 10px;
	border-color: rgba(0, 45, 84, 0.75);
}

#trade-cloud a.current:hover, #trade-cloud a.current, #trade-cloud a.trade:active, #trade-cloud a.trade:after {
	color: white;
	background-color: rgba(0, 45, 84, 0.75);
	border-color: yellow;
}

#trade-nav {
	float: left;
	width: 50%;
}

#trade-nav {
	border: 2px solid #4686BF;
}

#trade-nav .ui-tabs-panel {
	background-color: white;
}

#trade-section-nav {
	padding: 5px;
	background-color: white;
}

#trade-section-nav li {
	display: inline;
	padding: 2px;
}

.trade-section {
	line-height: 100%;
	}

#trade_description {
	padding-left: 1em;
}

#trade_children {
	border: 1px solid #DDDDDD;
	height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}

li.trade-child {
	list-style: disc;
	list-style-position: inside;
}

#search-tree,#browse-tree {
	height: 500px;
	overflow: auto;
	padding: 1em;
}

#search-tree {
	height: 464px;
}

#trade-view {
	float: right;
	width: 45%;
	position: relative;
}

#trade-view ul,#trade-view ol {
	list-style: none;
}

#trade-view ol>li {
	padding: 5px;
}

#trade-view-single {
	margin-top: 1em;
	border: 2px solid #4686BF;
	padding: 1em;
}

#trade-view-single.current {
	border-color: #A84D10;
}

#trade-view-single .buttons {
	float: right;
}

#trade-view-single .hierarchy {
	border: 2px solid #DDDDDD;
	height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
}

.fieldoption {
	padding: 10px;
	width: 100%;
}

#suggest {
	white-space: nowrap;
	width: 100%;
}

#suggest input.searchText {
	border: 1px solid #BBB;
	border-radius: 0px 15px 15px 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	height: 34px;
	padding: 0px 30px 0px 10px;
	width: 350px;
}

#suggest input.searchText:focus {
	outline: none;
}

#suggest input.searchButton {
	background: url("../images/btn-search.png") no-repeat scroll right top
		transparent;
	border: medium none;
	cursor: pointer;
	height: 37px;
	left: -52px;
	position: relative;
	text-indent: -9999px;
	top: 0px;
	width: 49px;
}

#suggest .filter {
	
}

.jstree li {
	line-height: 20px !important;
	margin-left: 20px !important;
}

h4 {
	font: bold 24px/28px Helvetica, Arial, sans-serif;
	color: #A0A1A1;
	letter-spacing: -1.5px;
}

h3.new {
	color: #4686BF;
}

img.trade {
	border: 2px solid #A0A1A1;
	float: right;
	height: 100px;
	width: 100px;
	margin: 2px;
}

#browse-tab, #search-tab {
	padding: 1em 0 0 1em;
}

#trade-nav li.matching > a {
	font-weight: bold;
	font-style: italic;
}
