/* trade search */
#trade-nav
{
	float: left;
	width: 50%;
}

#trade-nav
{
	border: 2px solid #4686BF;
}

#trade-nav .ui-tabs-panel
{
	background-color: white;
}

#trade_description
{
	font-style: italic;
	padding-left: 1em;
}

#search-tree,
#browse-tree,
#search-list
{
	height: 500px;
	overflow: auto;
}

#search-list ul
{
	margin: 0px;
}

/* trade view */
#trade-view
{
	float: right;
	position: relative;
	width: 45%;
}

#trade-view.fullwidth
{
	margin-left: 0px;
	margin-top: 20px;
	width: 100%;
}

#trade-view h4 {
	left: 0px;
	position: absolute;
	top: -30px;
}

#trade-view ul,
#trade-nav ul,
#trade-view ol
{
	list-style: none;
}

#trade-view ol > li {
	padding: 5px;
}

#trade_instructions {
	margin-bottom: 20px;
}

#trade_instructions p {
	font-size: 13px;
	padding: 0px;
}

/* trade cloud */

#trade_cloud
{
	border: 2px solid #A84D10;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}

#trade_cloud ul
{
	margin: 10px 0px 0px 10px;
}

#trade_cloud li
{
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	_height: 25px;
	margin: 0px 10px 10px 0px;
	min-height: 25px;
	vertical-align: top;
	zoom: 1;
}

#trade_cloud a.trade {
	float: left;
	text-decoration: none;
}

#trade_cloud a.trade-cloud-1 {
	font-size: 10px;
}

#trade_cloud   a.trade-cloud-2 {
	font-size: 12px;
}

#trade_cloud a.trade-cloud-3 {
	font-size: 14px;
}

#trade_cloud a.trade-cloud-4 {
	font-size: 16px;
}

#trade_cloud a.trade-cloud-5 {
	font-size: 18px;
}

#trade_cloud a.trade-cloud-6 {
	font-size: 20px;
}

#trade_cloud a.trade-cloud-7 {
	font-size: 22px;
}

#trade_cloud a.trade-cloud-8 {
	font-size: 24px;
	font-weight: bold;
}

#trade_cloud a.trade-cloud-9 {
	font-size: 26px;
	font-weight: bold;
}

#trade_cloud a.trade-cloud-10 {
	font-size: 28px;
	font-weight: bold;
}

/* single trade */

#trade-view-single
{
	border: 2px solid #4686BF;
	padding: 10px;
}

#trade-view-single img.trade
{
	border: 2px solid #404040;
	float: left;
	height: 100px;
	margin: 0px 10px 10px 0px;
	padding: 2px;
	width: 100px;
}

#trade-view-single.current {
	border-color: #A84D10;
}

#trade-view-single .trade-section a
{
	color: #404040;
	font-weight: bold;
	text-decoration: none;
}

#trade-view-single .trade-section a:hover
{
	text-decoration: underline;
}

#trade-view-single h3
{
	color: #4686BF;
	margin-bottom: 20px;
}

#trade-view-single.current h3
{
	color: #A84D10; 
}

#trade-view-single .buttons {
	float: right;
}

#trade-view-single .hierarchy {
	border: 2px solid #DDDDDD;
	height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
}

.trade-information
{
	clear: both;
	position: relative;	
}

.trade-information p
{
	padding: 0px;
}

.trade-information .edit,
.trade-information .view
{
	position: absolute;
	right: 0px;
	top: 0px;
}

#trade-section-nav
{
	margin-top: 10px;
}

#trade-section-nav a
{
	text-decoration: none;
}

#trade-section-nav a span
{
	color: #777;
	font-size: 9px;
	letter-spacing: 1px;
	margin-left: 5px;
	position: relative;
	bottom: 1px;
	zoom: 1;
}

#trade-form select
{
	
}

#trade-form #activityPercent,
#trade-form #tradeOptions
{
	margin-bottom: 10px;
}

#trade_children
{
	border: 1px solid #404040;
	margin-top: 10px;
	padding: 0px 5px;
}

#trade_children h5
{
	background: #404040;
	color: #FFF;
	letter-spacing: 0px;
	margin: 0px -5px;
	padding: 0px 5px;
}

#trade_children ul
{
	margin: 0px;
}

#trade-view-single #trade_children.trade-section a
{
	font-weight: normal;	
}





.fieldoption {
	padding: 10px;
	width: 100%;
}

#suggest {
	white-space: nowrap;
	width: 100%;
}

#suggest input.searchText {
	border: 1px solid #BBB;
	border-radius: 0px 15px 15px 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	height: 34px;
	padding: 0px 30px 0px 10px;
	width: 350px;
}

#suggest input.searchText:focus {
	outline: none;
}

#suggest input.searchButton {
	background: url("../images/btn-search.png") no-repeat scroll right top
		transparent;
	border: medium none;
	cursor: pointer;
	height: 37px;
	left: -52px;
	position: relative;
	text-indent: -9999px;
	top: 0px;
	width: 49px;
}

#suggest .filter {
	
}

.searchType-list #search-tree {
	display: none;
}

.searchType-tree #search-list {
	display: none;
}

.jstree li {
	line-height: 20px !important;
	margin-left: 20px !important;
}

h4 {
	font: bold 24px/28px Helvetica, Arial, sans-serif;
	color: #A0A1A1;
	letter-spacing: -1.5px;
}

h3.new {
	color: #4686BF;
}

#browse-tab,
#search-tab
{
	padding: 10px;
}

#trade-nav li.matching > a {
	font-weight: bold;
	font-style: italic;
}

#alternateName {
	width: 200px;
}

#alternateCategory {
	width: 200px;
}

.service,
.product,
.product-service,
.transportation {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 16px;
	padding-right: 4px;
}

.service {
	background-image: url(../images/icon_box_blue.png);
}

.product {
	background-image: url(../images/icon_box_orange.png);
}

.product-service,
.transporation-service {
	background-image: url(../images/icon_box_combo.png);
}

.transportation {
    background-image: url(../images/icon_box_dark_blue.png);
}

/* load area icon */

.load-area
{
	background: url(../images/loading.gif);
	height: 75px;
	margin: -40px auto 0px !important;
	position: relative;
	top: 50%;
	width: 75px;
}

/* trade preview */

.trade-preview img
{
	float: left;
	margin: 0px 10px 10px 0px;	
}

.trade-preview .trade-section
{
	font-size: 14px;
	margin-bottom: 10px;
} 

.trade-preview #activityPercent
{
	clear: both;
}

