#report_data
{
	.x-grid-cell-inner
	{
		.icon-ok
		{
			color: #;
		}
		
		.icon-flag.green
		{
			color: #229322;
		}
		
		.icon-flag.red
		{
			color: #AC030C;
		}
		
		.icon-flag.amber
		{
			color: #F1A300;
		}
	}
}