#report_data
{
	.x-grid-cell-inner
	{
		.icon-ok
		{
			color: #;
		}
		
		.icon-flag
		{
			.green
			{
				color: #;
			}
			
			.red
			{
				color: #;
			}
			
			.yellow
			{
				color: #;
			}
		}
	}
}