// data table paging toolbar
$data_table_paging_toolbar_background_color: #73bbe8;
$data_table_paging_toolbar_text_color: #fff;

// data table paging toolbar - icon
$data_table_paging_toolbar_icon_text_color: #f1f1f2;

$data_table_paging_toolbar_icon_over_text_color: #fff;

$data_table_paging_toolbar_icon_disabled_text_color: #96ccff;

// data table paging toolbar - separator
$data_table_paging_toolbar_separator_border_color_left: #96ccff;

// data table paging toolbar - add column
$data_table_paging_toolbar_add_column_icon_plus_text_color: #2caf2c;


#data_table
{
	.paging-toolbar
	{
		background: $data_table_paging_toolbar_background_color;
		padding: 0px 10px;
		
		.x-disabled span
		{
			opacity: 1;
		}
		
		.x-toolbar-separator
		{
			border: 0px;
			border-left: 1px solid $data_table_paging_toolbar_separator_border_color_left;
		}
		
		.x-toolbar-text
		{
			color: $data_table_paging_toolbar_text_color;
			font-size: 14px;
		}
		
		.x-form-text
		{
			height: 24px;
			padding-left: 3px;
		}
		
		.limit
		{
			margin-left: 5px;
		}
		
		.x-form-trigger
		{
			height: 24px;
		}
	}
	
	.paging-icon
	{
		span
		{
			color: $data_table_paging_toolbar_icon_text_color;
			font-size: 18px;
		}
	}

	.paging-icon.over
	{
		span
		{
			color: $data_table_paging_toolbar_icon_over_text_color;
		}
	}

	.paging-icon.pressed
	{
		span
		{
			color: $data_table_paging_toolbar_icon_over_text_color;
		}
	}

	.paging-icon.x-disabled
	{
		span
		{
			color: $data_table_paging_toolbar_icon_disabled_text_color !important;
		}
	}
	
	.add-column
	{
		margin-left: 10px;
		
		em
		{
			background-image: url('../images/button/s-arrow.gif');
		}
		
		button span
		{
			font-size: 11px;
			line-height: 24px !important;
		}
		
		.icon-plus
		{
			color: $data_table_paging_toolbar_add_column_icon_plus_text_color;
			margin-right: 4px;
			position: relative;
			top: 1px;
		}
	}
}

.lt-ie9
{
	#data_table
	{
		.add-column
		{
			.icon-plus
			{
				margin-right: 0;
			}
		}
	}
}