// report data paging toolbar
$report_data_paging_toolbar_background_color: #73bbe8;
$report_data_paging_toolbar_text_color: #fff;

// report data paging toolbar - icon
$report_data_paging_toolbar_icon_text_color: #f1f1f2;

$report_data_paging_toolbar_icon_over_text_color: #fff;

$report_data_paging_toolbar_icon_disabled_text_color: #96ccff;

// report data paging toolbar - separator
$report_data_paging_toolbar_separator_border_color_left: #96ccff;

// report data paging toolbar - add column
$report_data_paging_toolbar_add_column_icon_plus_text_color: #2caf2c;


#report_data
{
	.paging-toolbar
	{
		background: $report_data_paging_toolbar_background_color;
		padding: 0px 10px;
		
		.x-disabled span
		{
			opacity: 1;
		}
		
		.x-toolbar-separator
		{
			border: 0px;
			border-left: 1px solid $report_data_paging_toolbar_separator_border_color_left;
		}
		
		.x-toolbar-text
		{
			color: $report_data_paging_toolbar_text_color;
			font-size: 14px;
		}
		
		.x-form-text
		{
			height: 24px;
			padding-left: 3px;
		}
		
		.rows-per-page
		{
			margin-left: 5px;
		}
		
		.x-form-trigger
		{
			height: 24px;
		}
	}
	
	.paging-icon
	{
		span
		{
			color: $report_data_paging_toolbar_icon_text_color;
			font-size: 18px;
		}
	}

	.paging-icon.over
	{
		span
		{
			color: $report_data_paging_toolbar_icon_over_text_color;
		}
	}

	.paging-icon.pressed
	{
		span
		{
			color: $report_data_paging_toolbar_icon_over_text_color;
		}
	}

	.paging-icon.x-disabled
	{
		span
		{
			color: $report_data_paging_toolbar_icon_disabled_text_color !important;
		}
	}
	
	.add-column
	{
		margin-left: 10px;
		
		em
		{
			background-image: url('../images/button/s-arrow.gif');
		}
		
		button span
		{
			font-size: 11px;
			line-height: 24px !important;
		}
		
		.icon-plus
		{
			color: $report_data_paging_toolbar_add_column_icon_plus_text_color;
			margin-right: 5px;
			position: relative;
			top: 1px;
		}
	}
}