// data table column - boolean
$data_table_column_boolean_text_color: #666;

#data_table
{
	.x-grid-cell-inner
	{
		.icon-ok
		{
			color: $data_table_column_boolean_text_color;
		}
		
		.icon-flag.clear
		{
			color: #CCC;
		}
		
		.icon-flag.green
		{
			color: #229322;
		}
		
		.icon-flag.red
		{
			color: #AC030C;
		}
		
		.icon-flag.amber
		{
			color: #F1A300;
		}
	}
}