/*
 * Favorites
 */
 
#ManageReports_favorites_page
{
	.report-list
	{
		.icon-pushpin
		{
			color: #999;
		}
	}
	
    /*
     * Excluded Reports
     */
    
    #favorite_reports_overflow h1
    {
        border-bottom: 1px solid #ccc;
        color: #999;
        font-size: 18px;
        margin: 30px 0 20px;
        text-align: left;
    }
}