/*
 * Manage Report Controller
 */
 
.ManageReports-page
{
    /*
     * Description
     */
     
    .report-subtitle
    {
        color: #a84310;
        font-size: 14px;
        font-style: italic;
        font-weight: normal;
        line-height: 1;
        margin: 0 0 20px;
    }
    
    #manage_report_filter
	{
		display: block;
		margin: 0px 0px 20px;
		text-align: center;
	}
    
    /*
     * List
     */
    
    .report-list
    {
        margin-bottom: 20px;
        text-align: left;
        
        .report
        {
            background: #f1f1f2;
            border: 1px solid #ccc;
            @include border-radius(4px);
            line-height: 35px;
            margin-bottom: 2px;
        }
        
        .favorite-icon
        {
            float: left;
            margin: 0 5px;
            text-decoration: none;
        }
        
        .icon-star
        {
            color: #ccc;
            font-size: 12px;
            vertical-align: 5%;
        }
        
        .icon-star.selected
        {
            color: #a84d10;
        }
        
        .icon-edit
        {
        	color: #ccc;
            font-size: 14px;
            position: relative;
            top: 2px;
        }
        
        .name
        {
            color: #333;
            float: left;
            font-size: 14px;
            font-weight: bold;
            margin-right: 10px;
        }
        
        .created-by
        {
            color: #999;
            font-size: 12px;
            font-style: italic;
            white-space: nowrap;
        }
    }
}

@import 'favorites';
@import 'search';