#ManageReports_share_page
{
	#report_share_search
	{
		margin: 30px 0px 40px;
        text-align: center;
	}
	
	#report_share_search_form
	{
		input
        {
            background: #f1f1f2;
            padding-left: 30px;
        }
        
        .icon-search
        {
            color: #666;
            left: -312px;
            margin-left: -14px;
            position: relative;
        }
        
        input:focus + .icon-search
        {
        	color: #73bbe8;
        }
	}
	
	.lt-ie8 #report_share_search_form
    {
        display: inline;
    }
    
    .user-list
    {
    	margin-bottom: 20px;
    	
    	.user
    	{
    		background: #f1f1f2;
            border: 1px solid #ccc;
            @include border-radius(4px);
            line-height: 20px;
            margin-bottom: 2px;
            padding: 0 9px 0 20px;
    	}
    	
    	.summary
        {
        	margin: 0 60px 0 0px;
            padding: 6px 0 8px;
        }
    	
    	.name
        {
        	color: #454545;
            font-size: 14px;
            font-weight: bold;
            margin-right: 10px;
        }
        
        .name:hover
        {
        	color: $pics_light_blue;
        }
        
        .description
        {
            font-size: 12px;
            line-height: 14px;
            margin: 0;
            overflow: hidden;
        	text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        .btn-group
        {
        	line-height: 48px;
        	
        	.caret
        	{
        		margin-left: 10px;
        	}
        }
    }
}

@media (min-width: 1200px) {
	#ManageReports_share_page
	{
		#report_share_search_form
	    {
	        .icon-search
	        {
	        	left: -382px;
	        }
        }
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	#ManageReports_share_page
	{
		#report_share_search_form
	    {
	        .icon-search
	        {
	            left: -242px;
	        }
        }
	}
}

@media (max-width: 767px) {
	#ManageReports_share_page
	{
		#report_share_search_form
	    {
	    	input
	    	{
		    	padding-left: 14px;
	    	}
	    	
	        .icon-search
	        {
	            display: none;
	        }
        }
	}
}