#report_settings_modal
{
	background: #eaeaea;
	border: 1px solid #333333;
	@include border-radius(0px);
}

#report_settings_modal_header
{
	background: #454545;
	border-bottom: 1px solid #333333 !important;
	@include border-radius(0px);
	@include box-shadow(none);
	height: 45px;
	padding: 13px;

	.icon-info-sign
	{
		color: #CCC;
		font-size: 20px;
		position: relative;
		left: -3px;
	}

	#settings_modal_report_info_button
	{
		background-color: #454545;
		border-color: #454545;
	}

	.x-btn-over .icon-info-sign
	{
		color: #999;
	}

	.x-btn.active .icon-info-sign
	{
		color: #73BBE8;
	}

	#settings_modal_report_info_button-btnEl
	{
	  background-color: #454545;
	}
}

#report_settings_modal_header span
{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

#report_settings_modal-body
{
	border: 0px;
	background: #eaeaea;
}

#report_settings_modal-body .x-panel-body-default
{
	background: #eaeaea;
	border: 0px !important;
}

#report_settings_modal-body .x-form-field,
#report_settings_modal-body .x-form-display-field
{
	margin-bottom: 7px;
}

.coming-soon
{
	text-align: center;

	i,
	p
	{
		color: #999;
	}
	
	i
	{
		display: block;
		font-size: 26px;
		margin: 60px 0px 10px;
	}
	
	p
	{
		font-size: 24px;
	}
}

/***
 * Tab Content
 */

#report_edit,
#report_copy,
#report_share
{
	padding: 8px 10px 10px;
}

#report_edit-body,
#report_copy-body,
#report_share-body
{
	height: auto !important;
}

#report_edit .x-toolbar,
#report_copy .x-toolbar,
#report_share .x-toolbar
{
	top: auto !important;
}

#report_settings_modal .cancel button span,
#report_settings_modal .edit button span,
#report_settings_modal .copy button span,
#report_settings_modal .share button span
{
	padding: 0px 7px;
}

#report_edit,
#report_copy,
#report_edit_no_permission
{
	.favorite,
	.private
	{
		color: #ccc;
		cursor: pointer;
		font-size: 18px;
		position: relative;
		text-decoration: none;
		top: -5px;
	}

    .selected
	{
	   color: #A84D10;
	}

	strong
	{
		font-weight: bold;
	}

	input[type="text"]
	{
	   padding: 1px 3px;
	}
}

#report_edit_no_permission
{
	p
	{
		color: #333;
		font-size: 13px;
		margin: 0px auto;
		text-align: center;
		width: 85%;
	}
	
	.permission-info
	{
		font-weight: bold;
		margin-bottom: 15px;
		margin-top: 25px;
	}
	
	.duplicate-info
	{
		color: #666;
		margin-bottom: 20px;
	}
}

#report_share
{
	a
	{
		color: #226396;
		text-decoration: none;
	}
	
	a:hover
	{
		color: #73bbe8;
	}
	
	strong
	{
		font-weight: bold;
	}
	
	.selected-account
	{
		background-color: #f1f1f2;
		border: 1px solid #ccc;
		@include border-radius(5px);
		
		.selected-account-id
		{
			display: none;
		}
	}
	
	.icon-edit
	{
		color: #ccc;
		cursor: pointer;
		font-size: 22px;
		margin-left: 10px;
	}
	
	.icon-edit.selected
	{
		color: #35c13d;
	}

	p
	{
		margin-left: 10px;
	}
	
	.share-searchbox
	{
		label
		{
			line-height: 14px;
			padding: 7px 0px 0px !important;
		}
		
		.icon-search
		{
			color: $site_menu_search_icon_search_text_color;
			font-size: 14px;
			@include text-shadow(0px -1px 0px $site_menu_search_icon_search_text_shadow_color);
		}
		
		.x-form-text
		{
		    @include border-radius(15px);
		    height: 25px !important;
		    padding: 0px 7px;
		}
	}

	.share-searchbox-list
	{
		border: 1px solid $site_menu_search_list_border_color;
		@include border-radius(5px);
		
		li:first-child
		{
			@include border-top-left-radius(4px);
			@include border-top-right-radius(4px);
		}
		
		li:last-child
		{
			@include border-bottom-left-radius(4px);
			@include border-bottom-right-radius(4px);
		}
		
		.even
		{
		    background: $site_menu_search_item_even_background_color;
		}
		
		.x-boundlist-item
		{
			border: 1px solid transparent;
		}
		
		.x-boundlist-item-over
		{
			background: $site_menu_search_item_background_color;
			@include background-image(linear-gradient($site_menu_search_item_gradient_color_top, $site_menu_search_item_gradient_color_bottom));
			border: 0px;
			border-bottom: 1px solid $site_menu_search_item_border_color_bottom;
			border-top: 1px solid $site_menu_search_item_border_color_top;
			color: $site_menu_search_item_text_color;
		}
		
		.search-item
		{
		    line-height: 15px;
		    overflow: hidden;
		    padding: 5px 15px;
		
		    div
		    {
		        clear: both;
		    }
		
		    em
		    {
		        font-weight: bold;
		    }
		
		    .name,
		    .location
		    {
		        float: left;
		        width: 175px;
		    }
		
		    .id
		    {
		        float: right;
		    }
		
		    .type
		    {
		        float: right;
		        font-style: italic;
		    }
		}
		
		.more-results
		{
			color: $site_menu_search_more_results_text_color;
			font-weight: bold;
		}
}
	
}

#report_share_no_permission
{
	p
	{
		color: #333;
		font-size: 13px;
		margin: 0px auto;
		text-align: center;
		width: 90%;
	}
	
	strong
	{
		font-weight: bold;
	}
	
	.permission-info
	{
		font-weight: bold;
		margin-bottom: 15px;
		margin-top: 25px;
	}
	
	.duplicate-info
	{
		color: #666;
		margin-bottom: 20px;
	}
}

/***
 * Tabs
 */
 
#report_settings_modal_tabbar
{
	background: #454545;
}

#report_settings_modal_tabbar .x-tab
{
	border: 0px;
	border-right: 1px solid #333333;
	border-top: 1px solid #333333;
	padding: 5px;
}

#report_settings_modal_tabbar .x-tab button
{
	background: #454545;
	border: 0px;
	cursor: pointer;
	padding: 0px;
}

#report_settings_modal_tabbar .x-tab span
{
	color: #cccccc;
}

#report_settings_modal_tabbar .x-over span
{
	color: #ffffff;
}

#report_settings_modal_tabbar .x-active
{
	background: #eaeaea;
	border-top: 0px;
}

#report_settings_modal_tabbar .x-active button
{
	background: #eaeaea;
	cursor: auto;
}

#report_settings_modal_tabbar .x-active span
{
	color: #666666;
}

#report_settings_modal_tabbar .x-tab button i.icon-large
{
	display: block;
	font-size: 17px;
}

#report_export .x-btn i,
#report_print .x-btn i
{
	position: relative;
	top: 2px;
}

#report_export .x-btn-inner span,
#report_print .x-btn-inner span
{
	margin-left: 10px;
}

.report-info
{
	background: #EAEAEA;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;

	ul
	{
		padding: 15px;
	}

	li
	{
		margin-bottom: 10px;
	}

	label
	{
		color: #999;
		font-weight: bold;
		margin-right: 5px;
	}

	.update-info 
	{
		label
		{
			float: left;
		}

		span
		{
			display: inline-block;
		}
	}
}