<div ng-controller="addressConfirmation">
    <basic-menu></basic-menu>

    <div class="container">
        <pagetitle title="Please Confirm Your Address"></pagetitle>
        
        <address>
            <span ng-repeat-start="line in addressLines">
                {{ line }}
            </span>
            <br ng-repeat-end>
        </address>

        <div class="actions">
            <button ng-click="onConfirmClick()" class="btn btn-success" tabindex="1">Confirm</button>
            <button
                ng-click="onEditClick()"
                class="btn btn-default"
                tabindex="2">
                {{ addressUserRejectionCount > 1 ? 'Advanced Edit' : 'Edit'  }}
            </button>

        </div>
    </div>
    
    <ugly-footer></ugly-footer>
</div>