                       <div id="messages-header">
                            <div id="messages-settings" class="floatLeft">
                                <a><h1>Messages<img src="static/my-account/images/icons/down-arrow.png" ></h1></a>
                            </div>
                           <div id="messages-notifications" class="floatLeft">
                               <ul>
                                   <li id="rcvd" class="selected-notify"> Received <span>(2)</span></li>
                                   <li id="schd"> Scheduled <span>(0)</span></li>
                               </ul>
                           </div>
                       </div>
                       <div id="email-body-container">
                           <div id = "left-pane" class="floatLeft">
                               <div class="row">
                                   <div class="subject-sender floatLeft">
                                       <div class="sender-name">
                                           <h1>Marian Smith</h1>
                                       </div>
                                       <div class="sender-subject">
                                         YOUR FIRST DRIVER LICENSE
                                       </div>
                                       <div class="sender-message">
                                         iam so glad to see that u r finally the age where you will be
                                         driving . driving is a fun experience.
                                       </div>
                                   </div>
                                   <div class="avatar floatLeft">
                                       <span style="background: url('static/my-account/images/temp-pics/man.png') no-repeat scroll center center rgba(0, 0, 0, 0);position:relative; display:inline-block;width: 50px; height: 50px;" class="image-wrap ">
                                           <img src="static/my-account/images/temp-pics/man.png" style="opacity: 0;">
                                        </span>

                                   </div>

                               </div>

                           </div>
                           <div id = "right-pane" class="floatLeft">

                           </div>
                       </div>