#typography
{
	.example
	{
		.lowercase,
		.uppercase
		{
			font-size: 32px;
			line-height: 1.2;
		}
	}
	.lowercase
	{
		text-transform: lowercase;
	}
	
	.uppercase
	{
		text-transform: uppercase;
	}
}