<div id="company-finder" ng-controller="companyFinderCtrl" class="container">
    <div class="page-header pics">
        <h1 class="title">Company Finder</h1>
    </div>

    <div class="row">
        <div class="col-md-5">
            <section class="employee-guard-section filter-results-section" ng-show="filterEditMode">
                <h1>
                    <div class="row">
                        <div class="col-md-12">
                            Filters
                        </div>
                    </div>
                </h1>

                <div ng-show="filterEditMode || selectedTrade" class="content">
                    <form ng-show="filterEditMode" ng-submit="onUpdateClick()" name="" action="" autocomplete="off" role="form">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label name="trade">Trades</label>
                                <input
                                    tabindex="tabindex"
                                    autocomplete-select
                                    on-keyup="onTradeKeyup"
                                    list-items="trades"
                                    select2-el="tradeSelect2El">
                                </input>
                            </div>
                        </div>

                        <div class="row" ng-show="!basicSearchMode">
                            <div class="col-md-12">
                                <div class="panel-group control-spacer">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                Additional Filters
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <toggle-filter ng-model="safetySensitiveEnabled" filter-label="Safety Sensitive" toggle-model='safetySensitive'></toggle-filter>
                                            <toggle-filter ng-model="soleOwnerEnabled" filter-label="Sole Owner" toggle-model='soleOwner'></toggle-filter>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row control-spacer" ng-show="!basicSearchMode">
                            <div class="col-md-12">
                                <a href="#" ng-click="onBasicSearchClick($event);" class="search-toggle">Basic Search</a>
                            </div>
                        </div>

                        <div class="row control-spacer" ng-show="basicSearchMode">
                            <div class="col-md-12">
                                <a href="#" ng-click="onAdvancedSearchClick($event);" class="search-toggle">Advanced Search</a>
                            </div>
                        </div>

                        <div class="row control-spacer">
                            <div class="form-group col-md-12">
                                <button name="update" type="submit" class="btn btn-primary">Search</button>
                                <button ng-click="onCancelClick()" name="cancel" type="button" class="btn btn-default cancel">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section class="employee-guard-section search-results-section" ng-show="!filterEditMode">
                <h1>
                    <div class="row">
                        <div class="col-md-10 col-xs-10">
                            Results
                            <span class="badge badge-info">{{ locationCount }}</span>
                        </div>
                        <div class="col-md-2 col-xs-2 text-right">
                            <i ng-click="onEditClick()"class="icon-filter icon-large" tooltip title="Filter Results"></i>
                        </div>
                    </div>
                </h1>

                <div class="content">
                    <ul class="result-list list-unstyled">
                        <li ng-repeat="location in locationsUnclustered">
                            <div class="row result" ng-show="selectedResult != $index" ng-click="onResultClick($event)" ng-mouseover="onResultMouseOver($event)" ng-mouseout="onResultMouseOut($event)" id="{{ $index }}">
                                <div class="col-md-1">
                                    <div class="text-center" ng-class="getMarkerClass(location.flagColor);">{{ $index + 1 }}</div>
                                </div>
                                <div class="col-md-10">
                                    <p class="contractor-name"><a href="{{ location.link }}" target="_blank">{{ location.name }}</a></p>
                                    <p class="primary-trade">{{ location.primaryTrade }}</p>
                                </div>
                                <div class="col-md-1" ng-show="location.worksForOperator">
                                    <i class="icon-link" tooltip title="Connected"></i>
                                </div>
                            </div>
                        </li>

                        <p ng-show="locationCount == 0" class="results-label">
                            No results found
                        </p>

                        <p ng-show="locationCount > 0 && locationsUnclustered == 0" class="results-label">
                            Please click into a cluster
                        </p>
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-md-7">
            <section class="employee-guard-section map-section">
                <form name="" action="" class="search-query" role="form">
                    <fieldset>
                        <div class="col-md-7">
                            <h1><i class="icon-map-marker icon-large"></i> Map</h1>
                        </div>
                        <div class="search-wrapper col-md-5">
                            <input google-maps-autocomplete="autocomplete" name="searchQuery" ng-model="searchQuery" type="text" ng-Keyup="onSearchQueryKeyup($event)" class="form-control" placeholder="Search Location" value=""/>
                            <i class="icon-search"></i>
                            <ul id="" class="search-results"></ul>
                        </div>
                    </fieldset>
                </form>

                <marker-cluster-map google-map-config="googleMapConfig" marker-clusterer-config="markerClustererConfig"></marker-cluster-map>
            </section>
        </div>
    </div>
</div>
